Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*

feat(FA): :sparkles: implement time_windows
  backend/src/fa/dto/update-fa.dto.ts
  backend/src/fa/fa.service.ts
  backend/src/time_windows/dto/create-time_window.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(Front): Change auto scroll without js
  frontend/components/organisms/form/FormSidebar.vue
  frontend/pages/fa/_fa.vue
  frontend/utils/models/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(FA): :truck: better electricity type enum
  backend/prisma/migrations/20221124090308_add_fa/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :sparkles: init electricity_needs ressource
  backend/src/app.module.ts
  backend/src/fa_electricity_needs/dto/create-fa_electricity_need.dto.ts
  backend/src/fa_electricity_needs/dto/update-fa_electricity_need.dto.ts
  backend/src/fa_electricity_needs/fa_electricity_needs.controller.ts
  backend/src/fa_electricity_needs/fa_electricity_needs.module.ts
  backend/src/fa_electricity_needs/fa_electricity_needs.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style(Back): ✍ Linted backend files
  backend/src/fa_electricity_needs/dto/update-fa_electricity_need.dto.ts
  backend/src/fa_electricity_needs/fa_electricity_needs.module.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

test(Front): :art: Lint FA store
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Add Check if FA exist
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :zap: Teams & Validators in FA
  frontend/pages/fa/_fa.vue
  frontend/pages/fa/index.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): :rotating_light: disable warning
  frontend/store/FT.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): :heavy_minus_sign: remove non-use import
  frontend/pages/listeconflits.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): :heavy_minus_sign: remove pre commit deps
  frontend/commitlint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): :arrow_up: run `npx browserslist@latest --update-db`
  frontend/package-lock.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :zap: Change getter validators in FA
  frontend/components/atoms/ValidatorsIcons.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/fa/index.vue
  frontend/pages/ft/index.vue
  frontend/store/team.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Set mFa & Update Name mFa
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/pages/fa/_fa.vue
  frontend/store/FA.ts
  frontend/store/_FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat: :sparkles: Add UpdateFA in Store
  frontend/store/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Update Store in Basic components
  frontend/components/organisms/form/fa/FADetailCard.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/SecurityCard.vue
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :sparkles: Responsive page _fa
  frontend/components/organisms/form/FormSummary.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :bug: Responsive FA
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Flex + Responsive FA index
  frontend/pages/fa/index.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat: :sparkles: Add comments
  frontend/components/organisms/form/CommentCard.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/signup.vue
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/utils/models/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): :heavy_minus_sign: remove chartjs
  frontend/components/overBarChart.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): ⬆️ bump prettier to 2.7.1
  frontend/components/organisms/userNotifications.vue
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): :bookmark: update version
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(FA): :sparkles: now can add electricity needs
  backend/src/fa/dto/update-fa.dto.ts
  backend/src/fa/fa.service.ts
  backend/src/fa_electricity_needs/dto/create-fa_electricity_need.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat: :hammer: adding a script to delete old dependabot branches
  tools/get-branch-to-delete.sh
Due: none

refactor(FA): :recycle: rework FA typing
  backend/src/fa/dto/update-fa.dto.ts
  backend/src/fa/fa.service.spec.ts
  backend/src/fa/fa.service.ts
  backend/src/fa/testData.ts
  backend/src/fa_comment/dto/create-fa_comment.dto.ts
  backend/src/fa_electricity_needs/dto/create-fa_electricity_need.dto.ts
  backend/src/fa_signa_needs/dto/create-fa_signa_need.dto.ts
  backend/src/time_windows/dto/create-time_window.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(Front): :sparkles: Add store Signa
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/pages/fa/_fa.vue
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :art: adding new team authors
  frontend/layouts/default.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Add store ElecNeeds + Fix store Signa
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

ci(Back): :test_tube: adding testing job
  .gitlab-ci.yml
  .gitlab/ci/backend_test.gitlab-ci.yml
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style: :white_check_mark: all tests pass
  backend/src/app.controller.spec.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(catalog): get all category trees. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/category.repository.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(catalog): update category. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/category.repository.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(catalog): Add a gear to catalog. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/gear.repository.ts
  backend/src/catalog/repositories/index.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(catalog): delete category. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/category.repository.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(catalog): delete gear from catalog. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/gear.repository.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(catalog): change Team interface with slug. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/category.service.spec.ts
  backend/src/catalog/category.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/team.repository.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(catalog): Find and update gears. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/gear.repository.ts
  backend/src/common/services/slugify.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(catalog): add types and exceptions. #611
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/category.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

documentation(catalog): Add category dto. #611
  backend/src/catalog/dto/categoryCreationRequest.dto.ts
  backend/src/catalog/dto/categoryDeleteRequest.dto.ts
  backend/src/catalog/dto/categoryFindRequest.dto.ts
  backend/src/catalog/dto/categoryUpdateRequest.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend
