Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

chore(deps): update node update to v22.12.0
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v9.15.0
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(festival-event): all selection in status filter #2310
  apps/web/components/molecules/festival-event/FestivalEventFilterCard.vue
  apps/web/utils/http/url-params.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2310
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-event): all selection in status filter #2310
  apps/web/components/molecules/festival-event/FestivalEventFilterCard.vue
  apps/web/package.json
  apps/web/utils/http/url-params.utils.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-event): allows line breaks in comments and refusals #2318
  apps/web/components/molecules/festival-event/review/AskRejectReasonDialogCard.vue
  apps/web/components/organisms/festival-event/FeedbackCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2318
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-event): allows line breaks in comments and refusals #2318
  apps/web/components/molecules/festival-event/review/AskRejectReasonDialogCard.vue
  apps/web/components/organisms/festival-event/FeedbackCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.19.2
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish

fix: test name #2316
  domains/festival-event/src/festival-task/review/review.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: add WILL_NOT_REVIEW review status #2316
  domains/festival-event/src/common/review.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: ignore NOT_ASKING_TO_REVIEW #2316
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

prefeat(ft): allow elec reviewer to ignore ft review #2316
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/festival-event/src/festival-task/festival-task.fake.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(ft): reviews types #2316
  .gitignore
  apps/api/prisma/migrations/20241209200348_add_ft_review_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-event/activity/common/repository/festival-activity.builder.ts
  apps/api/src/festival-event/activity/common/repository/festival-activity.query.ts
  apps/api/src/festival-event/activity/review/dto/reviews.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviews.response.dto.ts
  apps/api/src/festival-event/task/common/repository/festival-task.builder.ts
  apps/api/src/festival-event/task/common/repository/festival-task.query.ts
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/components/organisms/festival-event/festival-task/FtFilter.vue
  apps/web/utils/festival-event/festival-activity/festival-activity.filter.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.utils.ts
  apps/web/utils/festival-event/festival-event.utils.ts
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
  domains/festival-event/src/common/review.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: remove throw #2316
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions #2316
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(ft): enable elec ignore #2316
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/domain-event/domain-event.service.ts
  apps/api/src/festival-event/task/review/dto/review.request.dto.ts
  apps/api/src/festival-event/task/review/festival-task-review.controller.ts
  apps/api/src/festival-event/task/review/festival-task-review.service.ts
  apps/web/assets/style.scss
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/repositories/festival-event/festival-task.repository.ts
  apps/web/stores/festival-event/festival-task.ts
  utils/domain-events/src/domain-events.ts
  utils/domain-events/src/festival-task.ts
  utils/domain-events/src/index.ts
  utils/http/src/festival-event/festival-activity.ts
  utils/http/src/festival-event/festival-event.ts
  utils/http/src/festival-event/festival-task.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: rename test #2316
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update postgres docker tag to v17
  docker/docker-compose.yml
Due: none

fix: web utils #2316
  apps/web/components/atoms/chip/FestivalEventReviewerChips.vue
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/pages/ft/index.vue
  apps/web/utils/festival-event/festival-activity/festival-activity.filter.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.utils.ts
  apps/web/utils/festival-event/festival-event.utils.ts
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
  domains/festival-event/src/festival-task/review/review.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  apps/web/pages/ft/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add filters in inventory #2292
  apps/api/src/logistic/catalog/repositories/in-memory/gear.repository.inmemory.ts
  apps/api/src/logistic/common/dto/gear-search.request.dto.ts
  apps/api/src/logistic/common/gear-search.builder.ts
  apps/api/src/logistic/common/inventory-record-search.builder.filter.ts
  apps/api/src/logistic/inventory/dto/inventory-grouped-record-search.request.dto.ts
  apps/api/src/logistic/inventory/inventory.controller.ts
  apps/api/src/logistic/inventory/inventory.service.spec.ts
  apps/api/src/logistic/inventory/inventory.service.ts
  apps/api/src/logistic/inventory/repositories/inventory.repository.inmemory.ts
  apps/api/src/logistic/inventory/repositories/inventory.repository.prisma.ts
  apps/web/components/molecules/logistic/GearFilter.vue
  apps/web/components/organisms/logistic/catalog/CatalogGearListingCard.vue
  apps/web/components/organisms/logistic/inventory/InventoryListingCard.vue
  apps/web/repositories/logistic/catalog.repository.ts
  apps/web/repositories/logistic/inventory.repository.ts
  apps/web/stores/logistic/inventory.ts
  utils/http/src/index.ts
  utils/http/src/logistic/inventory.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(ci): opnssl error in api_e2e_test
  .gitlab/ci/test.gitlab-ci.yml
Due: none

chore: update versions
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: move script
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

fix(ci): opnssl error in api_e2e_test
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(ft): allow elec reviewer to ignore ft review #2316
  .gitignore
  apps/api/package.json
  apps/api/prisma/migrations/20241209200348_add_ft_review_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-event/activity/common/repository/festival-activity.builder.ts
  apps/api/src/festival-event/activity/common/repository/festival-activity.query.ts
  apps/api/src/festival-event/activity/review/dto/reviews.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviews.response.dto.ts
  apps/api/src/festival-event/task/common/repository/festival-task.builder.ts
  apps/api/src/festival-event/task/common/repository/festival-task.query.ts
  apps/web/components/atoms/chip/FestivalEventReviewerChips.vue
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/components/organisms/festival-event/festival-task/FtFilter.vue
  apps/web/package.json
  apps/web/pages/ft/index.vue
  apps/web/utils/festival-event/festival-activity/festival-activity.filter.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.utils.ts
  apps/web/utils/festival-event/festival-event.utils.ts
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
  domains/festival-event/package.json
  domains/festival-event/src/common/review.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/festival-event/src/festival-task/festival-task.fake.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test
