Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

backend_scan_preprod:
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:pre-prod
    DOCKERFILE_PATH: backend/Dockerfile
  stage: docker-scan

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  script:
  - docker build ./frontend

lintage-frontend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

lintage-backend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

lint(Front) :writing_hand: fix most of the warnings.
  frontend/components/Needs.vue
  frontend/components/NeedsCard.vue
  frontend/components/ShowCalendar.vue
  frontend/components/atoms/TimeslotDialog.vue
  frontend/components/molecules/notificationCard.vue
  frontend/components/organisms/EquipmentProposalDialog.vue
  frontend/components/organisms/form/CommentCard.vue
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/components/organisms/form/FTCard.vue
  frontend/components/organisms/form/LogisticsCard.vue
  frontend/components/organisms/form/LogisticsTable.vue
  frontend/components/organisms/userCard.vue
  frontend/components/overField.vue
  frontend/components/overForm.vue
  frontend/index.d.ts
  frontend/middleware/user.js
  frontend/pages/config.vue
  frontend/pages/creneaux.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/fa/index.vue
  frontend/pages/ft/index.vue
  frontend/pages/humans.vue
  frontend/pages/inventory.vue
  frontend/pages/organeeds.vue
  frontend/pages/overTinder.vue
  frontend/pages/passsecu.vue
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/store/assignment.ts
  frontend/store/config.ts
  frontend/store/user.ts
  frontend/utils/models/FA.ts
  frontend/utils/models/FT.ts
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fixup! lint(Front) :writing_hand: fix most of the warnings.
  frontend/utils/models/FA.ts
  frontend/utils/models/FT.ts
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Secu) :lock: replace v-html. #608
  frontend/pages/listeconflits.vue
  frontend/utils/models/conflicts.ts
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(backend): :recycle: better way to get user id
  backend/src/app.controller.ts
  backend/src/transaction/transaction.controller.ts
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(transaction): :recycle: better way to check if user exists
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

fix(transaction): :fire: Use BadRequestException instead of Http
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor(transaction): :recycle: better foreach
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(transaction): :zap: securize hard route to only allow transfer
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

fix(User): :fire: change getAllUsernames to match the description
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

WIP front
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Team works
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Add store for team in order to delete team in config in the futur
  backend/src/team/team.controller.ts
  backend/src/team/team.service.ts
  frontend/components/organisms/userInformation.vue
  frontend/repositories/repoFactory.ts
  frontend/repositories/teamRepo.ts
  frontend/store/team.ts
  frontend/utils/models/repo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

feat(Back): :hammer: first version of script
  tools/someUser.sh
Due: none

Remove useless validation pipe
  backend/src/main.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Update store
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Auth): :bug: Harmonize terms and remove unnecessary declarations
  backend/src/app.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor(Back): :coffin: remove someUser.sh
  tools/someUser.sh
Due: none

feat(Back): :seedling: adding seed files and command
  backend/package-lock.json
  backend/package.json
  backend/prisma/seed.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

fix(Front): :art: update front for new role
  backend/src/config/config.service.ts
  frontend/pages/humans.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

refactor(transaction): :recycle: Cahnge names and exceptions
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor(transaction): :lock: change from check
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor(backend): :recycle: change denomination
  backend/src/transaction/transaction.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

fix(frontend): :ambulance: change user model to match new DB
  frontend/utils/models/repo.ts
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(backend): :sparkles: add all teams to type
  backend/src/app.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor(transaction): :recycle: change denomination
  backend/src/transaction/transaction.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

style(Back): 🌱 use promise instead of for loop
  backend/prisma/seed.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Fix Shagasse #1
  backend/src/auth/entities/JwtPayload.entity.ts
  backend/src/auth/team-auth.guard.ts
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

chore: :art: no auto commit
  .vscode/project.code-workspace
Due: none

style: :art: Little clean in humans page
  frontend/pages/humans.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Fix Shagasse #2
  backend/src/team/team.controller.ts
  backend/src/team/team.service.ts
  frontend/components/organisms/userInformation.vue
  frontend/repositories/teamRepo.ts
  frontend/store/team.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

ci: :construction_worker: scan now image from MR
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/container_scan.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
Due: none

ci: :construction_worker: add jobs dependancies
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
Due: none

Fix Tit #1
  backend/src/main.ts
  backend/src/team/team.controller.ts
  backend/src/team/team.service.ts
  frontend/components/organisms/userInformation.vue
  frontend/store/team.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

Remove is_deleted from Team & User_Team
  backend/prisma/migrations/20221022123850_remove_is_deleted_from_Team_&_User_Team/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

fix(Back): :seedling: no more log role
  backend/prisma/seed.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor(transaction): :zap: add omit to type in transfer
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Feat(Back): 🌱 add seeding
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/container_scan.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  .vscode/project.code-workspace
  backend/package-lock.json
  backend/package.json
  backend/prisma/seed.ts
  backend/src/config/config.service.ts
  frontend/pages/humans.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

fix(Docker): :ambulance: change start:prod script
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(Back): :pushpin: version in root path
  backend/src/app.service.ts
  backend/tsconfig.json
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
