Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-api_docker_build:
  needs:
  - overbookd-api_docker_pre_build
  variables:
    APP_PATH: apps/api
    APP_NAME: api

chore(deps): update dependency pnpm to v10.9.0
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(admission): set table columns width to be equal and always fit to screen
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(registration): changing method for enrollment in infodialog
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(registration): fixing infodialog buttons
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

style: buttons #2474
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(registration): UI style
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(registration): :lipstick: multiple row selection removed and action buttons moved
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2474
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(admission): Make the volunteer action buttons always visible #2474
  apps/web/package.json
  apps/web/pages/registrations/volunteer.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.42.0
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(slugify-service): slugify more chars #2237
  libraries/slugify/src/slugify.spec.ts
  libraries/slugify/src/slugify.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

fix: use a unic id when creating an event and add assigment details click #2237
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/stores/user.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(task-orga): add funnel dialog card #2237
  apps/web/components/molecules/assignment/calendar/CandidateForAssignmentHeader.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResumeCalendarHeader.vue
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/pages/need-help.vue
  apps/web/utils/assignment/funnel.ts
  apps/web/utils/calendar/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: correct mistakes from comments #2237
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/team/team.service.ts
  apps/api/src/user/user.service.ts
  apps/web/assets/calendar.scss
  apps/web/components/molecules/assignment/calendar/CandidateForAssignmentHeader.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResumeCalendarHeader.vue
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/pages/need-help.vue
  apps/web/stores/user.ts
  apps/web/utils/sort/sort-teams.utils.ts
  constants/team-constants/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: delete useless function
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2237
  apps/api/package.json
  apps/web/package.json
  constants/team-constants/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/festival-event/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: use onMounted for async function #2237
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/utils/assignment/funnel.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: change name of team code #2237
  constants/team-constants/src/index.ts
Due: overbookd/format, overbookd/prune, install

fix: change team name in whole project #2237
  apps/old-web/utils/sort/sort-teams.ts
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/utils/sort/sort-teams.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: remove old web update #2237
  apps/old-web/utils/sort/sort-teams.ts
Due: overbookd/format, overbookd/prune, install

feat(task-orga): add funnel dialog card #2237
  apps/api/package.json
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/team/team.service.ts
  apps/api/src/user/user.service.ts
  apps/web/assets/calendar.scss
  apps/web/components/molecules/assignment/calendar/CandidateForAssignmentHeader.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResumeCalendarHeader.vue
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/package.json
  apps/web/pages/assignment/task-orga.vue
  apps/web/pages/need-help.vue
  apps/web/stores/user.ts
  apps/web/utils/calendar/volunteer.ts
  apps/web/utils/sort/sort-teams.utils.ts
  constants/team-constants/package.json
  constants/team-constants/src/index.ts
  domains/assignment/package.json
  domains/charisma/package.json
  domains/festival-event/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  libraries/slugify/package.json
  libraries/slugify/src/slugify.spec.ts
  libraries/slugify/src/slugify.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(csv): add lib to handle csv generation #2414
  apps/api/package.json
  apps/web/package.json
  libraries/csv/package.json
  libraries/csv/src/csv.builder.spec.ts
  libraries/csv/src/csv.builder.ts
  libraries/csv/src/index.ts
  libraries/csv/tsconfig.build.json
  libraries/csv/tsconfig.json
  libraries/csv/tsup.config.json
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
  tsconfig.cross-modules-import.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(csv): link header type to items. #2424
  libraries/csv/src/csv.builder.spec.ts
  libraries/csv/src/csv.builder.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

fix: remove old class #2424
  libraries/csv/src/csv.builder.spec.ts
  libraries/csv/src/csv.builder.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

feat(csv): translate columns. #2424
  libraries/csv/src/csv.builder.spec.ts
  libraries/csv/src/csv.builder.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

fix: replace foreach by some #2414
  libraries/csv/src/csv.builder.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

chore: update versions #2414
  apps/api/package.json
  apps/web/package.json
  libraries/csv/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test

test(csv): undefined is not latest property. 2424
  libraries/csv/src/csv.builder.spec.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

feat(csv): add lib to handle csv generation #2414
  apps/api/package.json
  apps/web/package.json
  libraries/csv/package.json
  libraries/csv/src/csv.builder.spec.ts
  libraries/csv/src/csv.builder.ts
  libraries/csv/src/index.ts
  libraries/csv/tsconfig.build.json
  libraries/csv/tsconfig.json
  libraries/csv/tsup.config.json
  package.json
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
  tsconfig.cross-modules-import.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(assignment): :lipstick: filters field is expansible filters are not cropped anymore
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
  apps/web/components/molecules/assignment/filter/TaskFilters.vue
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(assignment): :lipstick: showing all ft teamchips in orga task mode
  apps/web/components/molecules/assignment/resume/AssignmentResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(assignment): :lipstick: changing teamchip opacity on hover
  apps/web/components/molecules/assignment/resume/AssignmentResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2403
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

style: add clickable cursor #2403
  apps/web/components/molecules/assignment/resume/AssignmentResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(orga-task): better rendering of teamchips and filters for assignment #2403
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
  apps/web/components/molecules/assignment/filter/TaskFilters.vue
  apps/web/components/molecules/assignment/resume/AssignmentResume.vue
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

refactor: extract assignment and task calendar event generation. #2486
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/utils/planning/event.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(ci): use newly declared dto. #2486
  apps/api/src/user/user.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat(planning): allow break period removal. #2486
  apps/api/src/assignment/common/dto/assignment-event.response.dto.ts
  apps/api/src/assignment/common/dto/planning-task.response.dto.ts
  apps/api/src/assignment/common/repository/planning.prisma.ts
  apps/api/src/user/user.service.ts
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/domain/common/break-events.ts
  apps/web/repositories/planning.repository.ts
  apps/web/repositories/user.repository.ts
  apps/web/stores/user.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/planning.ts
  domains/assignment/src/index.ts
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions. #2486
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(planning): allow break period removal. #2486
  apps/api/package.json
  apps/api/src/assignment/common/dto/assignment-event.response.dto.ts
  apps/api/src/assignment/common/dto/planning-task.response.dto.ts
  apps/api/src/assignment/common/repository/planning.prisma.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/domain/common/break-events.ts
  apps/web/package.json
  apps/web/repositories/planning.repository.ts
  apps/web/repositories/user.repository.ts
  apps/web/stores/user.ts
  apps/web/utils/planning/event.ts
  domains/assignment/package.json
  domains/assignment/src/assign-task-to-volunteer/funnel/planning.ts
  domains/assignment/src/index.ts
  package.json
  pnpm-lock.yaml
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
