Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fix(festival-task): do not clear approved status when asking for review #1622
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-festival-task.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(festival-task): implement validation #1621
  apps/api/package.json
  apps/api/src/festival-event/task/common/repository/festival-task.builder.ts
  apps/api/src/festival-event/task/review/festival-task-review.controller.ts
  apps/api/src/festival-event/task/review/festival-task-review.service.ts
  apps/web/assets/style.scss
  apps/web/package.json
  apps/web/pages/ft/_ftId.vue
  apps/web/repositories/festival-task.repository.ts
  apps/web/store/festivalTask.ts
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/review/review.ts
  package.json
  utils/domain-events/package.json
  utils/domain-events/src/festival-task.ts
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): list registered volunteers. #1615
  apps/api/src/registration/dto/newcomer.response.dto.ts
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.query.ts
  apps/api/src/registration/repository/enroll-newcomers.repository.ts
  apps/web/pages/registrations/soft.vue
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

refactor(registration): rename newcomer as adherent when needed. #1615
  apps/api/src/registration/dto/newcomer.response.dto.ts
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.repository.ts
  apps/web/pages/registrations/hard.vue
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
  domains/registration/src/newcomer.ts
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions. #1615
  apps/api/package.json
  apps/web/package.json
  domains/registration/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(web): enrollable volunteer cast with birthdate. #1615
  apps/web/store/registration.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(registration): list registered volunteers. #1615
  apps/api/package.json
  apps/api/src/registration/dto/newcomer.response.dto.ts
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.query.ts
  apps/api/src/registration/repository/enroll-newcomers.repository.ts
  apps/web/package.json
  apps/web/pages/registrations/hard.vue
  apps/web/pages/registrations/soft.vue
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
  domains/registration/package.json
  domains/registration/src/newcomer.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): indicate membership on form. #1626
  apps/web/pages/register.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1626
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(registration): indicate membership on form. #1626
  apps/web/package.json
  apps/web/pages/register.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-task): implement in charge init #1618
  apps/api/src/festival-event/task/sections/instructions/dto/init-in-charge.request.dto.ts
  apps/api/src/festival-event/task/sections/instructions/instructions-section.controller.ts
  apps/api/src/festival-event/task/sections/instructions/instructions-section.service.ts
  apps/web/components/molecules/festival-event/instructions/InitInChargeInstructionsCard.vue
  apps/web/repositories/festival-task.repository.ts
  apps/web/store/festivalTask.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/prepare/sections/instructions.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
  utils/http/src/festival-event/festival-task.model.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): add init in charge instructions form #1618
  apps/web/components/molecules/festival-event/instructions/InitInChargeInstructionsCard.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1618
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: improve dto #1618
  apps/api/src/festival-event/task/sections/instructions/dto/init-in-charge.request.dto.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

refactor: tests and web check #1618
  apps/web/components/molecules/festival-event/instructions/InitInChargeInstructionsCard.vue
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/index.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/domains_unit_test

fix(availabilities): remove page permission #1629
  apps/web/utils/pages/pages-list.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore :update versions #1629
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(availabilities): remove permission #1629
  apps/api/prisma/seeders/permissions.ts
  domains/permission/src/permission.model.ts
  domains/permission/src/permissions.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix(festival-task): link inquiry drive #1624
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.controller.ts
  apps/api/src/festival-event/common/dto/link-inquiry-drive.request.dto.ts
  apps/api/src/festival-event/task/sections/inquiry/inquiry-section.controller.ts
  apps/api/src/festival-event/task/sections/inquiry/inquiry-section.service.ts
  apps/web/components/molecules/festival-event/logistic/inquiry/FaLinkDriveFormCard.vue
  apps/web/components/molecules/festival-event/logistic/inquiry/InquiryTable.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-task/FtInquiryCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/repositories/festival-task.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/store/festivalTask.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.model.ts
  domains/festival-event/src/common/inquiry-request.error.ts
  domains/festival-event/src/common/inquiry-request.ts
  domains/festival-event/src/festival-activity/preparation/inquiry-section-preparation.spec.ts
  domains/festival-event/src/festival-activity/preparation/prepare-draft-festival-activity.ts
  domains/festival-event/src/festival-activity/preparation/prepare-festival-activity.model.ts
  domains/festival-event/src/festival-activity/preparation/section-aggregates/inquiries.ts
  domains/festival-event/src/festival-task/prepare/prepare-inquiries-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/prepare/sections/inquiries.ts
  domains/festival-event/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #1624
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: request body description #1624
  apps/api/src/festival-event/task/sections/inquiry/inquiry-section.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(release): ⬆️ bump to 2.20.0
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

fix(festival-task): add await #1618
  apps/web/components/molecules/festival-event/instructions/InitInChargeInstructionsCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: add check #1618
  apps/web/components/molecules/festival-event/instructions/InitInChargeInstructionsCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-task): add init in charge instructions form #1618
  apps/api/package.json
  apps/api/src/festival-event/task/sections/instructions/dto/init-in-charge.request.dto.ts
  apps/api/src/festival-event/task/sections/instructions/instructions-section.controller.ts
  apps/api/src/festival-event/task/sections/instructions/instructions-section.service.ts
  apps/web/components/molecules/festival-event/instructions/InitInChargeInstructionsCard.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
  apps/web/package.json
  apps/web/repositories/festival-task.repository.ts
  apps/web/store/festivalTask.ts
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/prepare/sections/instructions.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/http/src/festival-event/festival-task.model.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(alerts): add friendsAlert in dto and re-write texts #1604
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/dto/alerts.response.dto.ts
  apps/web/components/atoms/alerts/FriendsAlert.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(alerts): repaired the problem of friends notification not existing when it should #1604
  apps/api/src/alert/repository/friends-alerting.prisma.ts
  apps/web/components/atoms/alerts/FriendsAlert.vue
  apps/web/components/molecules/alerts/AlertListing.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(alerts): add a notification when you did not add friends #1604
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/repository/friends-alerting.prisma.ts
  apps/web/components/atoms/alerts/FriendsAlert.vue
  apps/web/components/molecules/alerts/AlertListing.vue
  utils/alerts/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(friends): code simplification #1604
  apps/web/components/organisms/user/UserCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(alerts): change the text for the friends alert #1604
  apps/web/components/atoms/alerts/FriendsAlert.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(friends): change message displayed for friends related content #1604
  apps/web/components/atoms/alerts/FriendsAlert.vue
  apps/web/components/molecules/friend/FriendsCard.vue
  apps/web/components/organisms/user/UserCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(friends): change text and display #1604
  apps/web/components/atoms/field/search/SearchFriend.vue
  apps/web/components/organisms/user/UserCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(friends): change text and display #1604
  apps/web/components/atoms/alerts/FriendsAlert.vue
  apps/web/components/atoms/field/search/SearchFriend.vue
  apps/web/components/molecules/friend/FriendsCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1604
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/alerts/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(alerts): add a notification when you do not have friends #1604
  apps/api/package.json
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/dto/alerts.response.dto.ts
  apps/api/src/alert/repository/friends-alerting.prisma.ts
  apps/web/components/atoms/alerts/FriendsAlert.vue
  apps/web/components/atoms/field/search/SearchFriend.vue
  apps/web/components/molecules/alerts/AlertListing.vue
  apps/web/components/molecules/friend/FriendsCard.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/package.json
  package.json
  utils/alerts/package.json
  utils/alerts/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(availabilities): remove page permission #1629
  apps/api/prisma/seeders/permissions.ts
  apps/web/package.json
  apps/web/utils/pages/pages-list.ts
  domains/permission/src/permission.model.ts
  domains/permission/src/permissions.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 2.20.1
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

fix(festival-task): link inquiry drive #1624
  apps/api/package.json
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.controller.ts
  apps/api/src/festival-event/common/dto/link-inquiry-drive.request.dto.ts
  apps/api/src/festival-event/task/sections/inquiry/inquiry-section.controller.ts
  apps/api/src/festival-event/task/sections/inquiry/inquiry-section.service.ts
  apps/web/components/molecules/festival-event/logistic/inquiry/FaLinkDriveFormCard.vue
  apps/web/components/molecules/festival-event/logistic/inquiry/InquiryTable.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-task/FtInquiryCard.vue
  apps/web/package.json
  apps/web/repositories/festival-activity.repository.ts
  apps/web/repositories/festival-task.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/store/festivalTask.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.model.ts
  domains/festival-event/package.json
  domains/festival-event/src/common/inquiry-request.error.ts
  domains/festival-event/src/common/inquiry-request.ts
  domains/festival-event/src/festival-activity/preparation/inquiry-section-preparation.spec.ts
  domains/festival-event/src/festival-activity/preparation/prepare-draft-festival-activity.ts
  domains/festival-event/src/festival-activity/preparation/prepare-festival-activity.model.ts
  domains/festival-event/src/festival-activity/preparation/section-aggregates/inquiries.ts
  domains/festival-event/src/festival-task/prepare/prepare-inquiries-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/prepare/sections/inquiries.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): better comment section explanation. #1627
  apps/web/components/atoms/field/comment/CommentField.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/pages/register.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1627
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
