Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(config): change prisma generated output path #2487
  apps/api/.gitignore
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/alert/repository/contributions.prisma.ts
  apps/api/src/alert/repository/permissions.prisma.ts
  apps/api/src/festival-event/activity/common/repository/festival-activity.query.ts
  apps/api/src/festival-event/task/common/repository/festival-task.query.ts
  apps/api/src/orga-needs/orga-needs.service.ts
  apps/api/src/permission/permission.service.ts
  apps/api/src/prisma.service.ts
  apps/api/src/user/planning/repository/task.repository.prisma.ts
  apps/api/src/volunteer-availability/volunteer-availability.service.ts
  apps/api/tsconfig.json
  eslint.config.mjs
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(config): set output for prisma generated client #2487
  .devcontainer/devcontainer.json
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/.gitignore
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/alert/repository/contributions.prisma.ts
  apps/api/src/alert/repository/permissions.prisma.ts
  apps/api/src/festival-event/activity/common/repository/festival-activity.query.ts
  apps/api/src/festival-event/task/common/repository/festival-task.query.ts
  apps/api/src/orga-needs/orga-needs.service.ts
  apps/api/src/permission/permission.service.ts
  apps/api/src/prisma.service.ts
  apps/api/src/user/planning/repository/task.repository.prisma.ts
  apps/api/src/volunteer-availability/volunteer-availability.service.ts
  apps/api/tsconfig.json
  eslint.config.mjs
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(web): add pagination to multi calendar and refactor need-help filters #2561
  apps/web/components/atoms/pagination/Pagination.vue
  apps/web/components/molecules/assignment/filter/TaskFilters.vue
  apps/web/components/molecules/need-help/NeedHelpFilterCard.vue
  apps/web/components/molecules/timeline/TimelineEvents.vue
  apps/web/components/molecules/timeline/TimelineFormCards.vue
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/package.json
  apps/web/pages/need-help.vue
  apps/web/stores/need-help.ts
  apps/web/stores/timeline.ts
  apps/web/utils/need-help/need-help.pagination.ts
  apps/web/utils/timeline/mode.ts
  apps/web/utils/timeline/timeline-placement.utils.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: prisma generation in docker
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: prisma generation in docker #2487
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: multer update
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update traefik docker tag to v3.4.4
  docker/docker-compose.yml
Due: none

chore(deps): update dependency pnpm to v10.13.1
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update docker docker tag to v28.3.2
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

chore(deps): update dependency jose to v6
  domains/registration/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(planning): add multi planning page #2566
  apps/api/src/app.module.ts
  apps/api/src/multi-planning/dto/multi-planning-volunteer.response.dto.ts
  apps/api/src/multi-planning/multi-planning.controller.ts
  apps/api/src/multi-planning/multi-planning.module.ts
  apps/api/src/multi-planning/multi-planning.service.ts
  apps/api/src/multi-planning/volunteer.repository.prisma.ts
  apps/web/components/atoms/search/SearchUsers.vue
  apps/web/components/molecules/multi-planning/MultiPlanningFilterCard.vue
  apps/web/components/molecules/multi-planning/MultiPlanningVolunteerResumeCalendarHeader.vue
  apps/web/pages/multi-planning.vue
  apps/web/repositories/multi-planning.repository.ts
  apps/web/stores/multi-planning.ts
  apps/web/utils/http/http-param.ts
  apps/web/utils/navigation/pages/volunteer.ts
  constants/web-page/src/index.ts
  utils/http/src/index.ts
  utils/http/src/multi-planning.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(api): fix array query params #2566
  apps/api/src/multi-planning/multi-planning.controller.ts
  apps/api/src/orga-needs/orga-needs.controller.ts
  apps/web/pages/orga-need.vue
  apps/web/utils/http/http-param.spec.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2566
  apps/api/package.json
  apps/web/package.json
  constants/web-page/package.json
  domains/charisma/package.json
  domains/registration/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(planning): add multi planning permission #2566
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/multi-planning/dto/multi-planning-volunteer.response.dto.ts
  apps/api/src/multi-planning/multi-planning.controller.ts
  apps/api/src/multi-planning/volunteer.repository.prisma.ts
  apps/api/src/need-help/dto/helping-volunteer.response.dto.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/web/components/molecules/multi-planning/MultiPlanningVolunteerResumeCalendarHeader.vue
  apps/web/components/molecules/need-help/NeedHelpVolunteerResumeCalendarHeader.vue
  apps/web/utils/navigation/pages/volunteer.ts
  constants/permission/src/index.ts
  utils/http/src/multi-planning.ts
  utils/http/src/need-help.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(planning): add multi planning page #2566
  apps/api/package.json
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/app.module.ts
  apps/api/src/multi-planning/dto/multi-planning-volunteer.response.dto.ts
  apps/api/src/multi-planning/multi-planning.controller.ts
  apps/api/src/multi-planning/multi-planning.module.ts
  apps/api/src/multi-planning/multi-planning.service.ts
  apps/api/src/multi-planning/volunteer.repository.prisma.ts
  apps/api/src/orga-needs/orga-needs.controller.ts
  apps/web/components/atoms/search/SearchUsers.vue
  apps/web/components/molecules/multi-planning/MultiPlanningFilterCard.vue
  apps/web/components/molecules/multi-planning/MultiPlanningVolunteerResumeCalendarHeader.vue
  apps/web/package.json
  apps/web/pages/multi-planning.vue
  apps/web/pages/orga-need.vue
  apps/web/repositories/multi-planning.repository.ts
  apps/web/stores/multi-planning.ts
  apps/web/utils/http/http-param.spec.ts
  apps/web/utils/http/http-param.ts
  apps/web/utils/navigation/pages/volunteer.ts
  constants/permission/src/index.ts
  constants/web-page/package.json
  constants/web-page/src/index.ts
  domains/charisma/package.json
  domains/registration/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/http/src/index.ts
  utils/http/src/multi-planning.ts
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(planning): save multi planning params in url #2567
  apps/web/components/molecules/multi-planning/MultiPlanningFilterCard.vue
  apps/web/pages/multi-planning.vue
  apps/web/pages/need-help.vue
  apps/web/utils/multi-planning/multi-planning.filter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2567
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(planning): save multi planning params in url #2567
  apps/web/components/molecules/multi-planning/MultiPlanningFilterCard.vue
  apps/web/package.json
  apps/web/pages/multi-planning.vue
  apps/web/pages/need-help.vue
  apps/web/utils/multi-planning/multi-planning.filter.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): fix vuetify theme warning #2568
  apps/web/layouts/default.vue
  apps/web/layouts/header/HeaderProfile.vue
  apps/web/layouts/header/Logo.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2568
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): fix vuetify theme warning #2568
  apps/web/layouts/default.vue
  apps/web/layouts/header/HeaderProfile.vue
  apps/web/layouts/header/Logo.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(deps): update gitlab ci dependencies
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

chore(deps): update traefik docker tag to v3.5.0
  docker/docker-compose.yml
Due: none
