Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

backend_scan_preprod:
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:pre-prod
    DOCKERFILE_PATH: backend/Dockerfile
  stage: docker-scan

containerize-frontend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-frontend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

fix(Back): :bug: conflit once again
  backend/src/services/conflict.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(modif-dispo): :sparkles: availability supression working !
  backend/src/routes/Users.ts
  frontend/components/organisms/TimeslotEditor.vue
  frontend/components/organisms/userInformation.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/repo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix(modif-dispo): :fire: remove logger
  backend/src/routes/Users.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(modif-dispo): :zap: remove log
  frontend/components/organisms/TimeslotEditor.vue
  frontend/store/user.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix(modif-dispo): :zap: remove unnecessary code
  frontend/components/organisms/TimeslotEditor.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(validation): :fire: remove validation row
  frontend/pages/humans.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(modif-dispo): :sparkles: adding snackbar feedback
  frontend/components/organisms/TimeslotEditor.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(modif-dispo): :sparkles: first version for deletion working
  frontend/components/organisms/TimeslotEditor.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(modif-dispo): :sparkles: remove footer
  frontend/components/organisms/TimeslotEditor.vue
Due: containerize-frontend, merge_requests_containerize-frontend

crrect pb role
  frontend/pages/listeconflits.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Suppressions des dispos
  backend/src/routes/Users.ts
  backend/src/routes/index.ts
  frontend/components/organisms/ModificationCard.vue
  frontend/components/organisms/TimeslotEditor.vue
  frontend/components/organisms/userInformation.vue
  frontend/layouts/default.vue
  frontend/pages/humans.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

add log on conflicts errors
  backend/src/routes/Conflict.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Fix equipment deete first
  frontend/components/organisms/form/LogisticsTable.vue
  frontend/store/FT.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix(userInformation): :ambulance: remove access to non-humans/admin
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(affect): :bug: only display validated user
  frontend/components/filtredUsers.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(affect): :bug: remove toValidate role to the people who still have it
  frontend/components/organisms/UserResume.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(FT): :art: lint
  frontend/pages/ft/_ft.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(FT): :art: lint
  frontend/components/organisms/form/CompleteTimeframeCard.vue
  frontend/components/organisms/form/CompleteTimeframeTable.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(ci): :green_heart: clean up pipelines
  .gitlab/ci/clean.sh
  .gitlab/ci/clean_up_pipelines.gitlab-ci.yml
Due: none

fix(FT): :bug: Now yoou can only require validated users on ft
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/components/overField.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(FT): :fire: remove console log
  frontend/pages/ft/_ft.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "472-liste-orga-affect"
  frontend/components/filtredUsers.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/form/CompleteTimeframeCard.vue
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/components/overField.vue
  frontend/pages/ft/_ft.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(ft): ⚠️ fix ready for affect displaying for everybody
  frontend/components/Needs.vue
  frontend/components/atoms/TimeslotSnackBar.vue
  frontend/components/listTasks.vue
  frontend/components/molecules/friendsCard.vue
  frontend/components/organisms/TimeslotAdder.vue
  frontend/components/organisms/TimeslotTable.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/components/organisms/userInformation.vue
  frontend/components/overCalendar.vue
  frontend/layouts/default.vue
  frontend/pages/assignment.vue
  frontend/pages/availabilities.vue
  frontend/pages/listeconflits.vue
  frontend/pages/planning.vue
  frontend/repositories/ftRepo.ts
  frontend/store/assignment.ts
  frontend/utils/models/Assignment.ts
  frontend/utils/models/FT.ts
  frontend/utils/models/timeframe.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix(fa): 🔨 resolve #473
  frontend/store/FA.ts
Due: containerize-frontend, merge_requests_containerize-frontend

Unassign
  backend/src/routes/index.ts
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(back): :zap: add backend protection
  backend/src/middleware/auth.ts
  backend/src/routes/index.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(assignment): 🔨 added UsersAssignedToTimeSpan to UI
  frontend/components/unassignDialog.vue
  frontend/store/assignment.ts
  frontend/utils/models/TimeSpan.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix(affect): :art: location are show & close button
  frontend/components/unassignDialog.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "[GLOBAL] Amélioration UX pop-up"
  frontend/components/unassignDialog.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(affect): :sparkles: Timespan viewer
  frontend/layouts/default.vue
  frontend/pages/creneaux.vue
Due: containerize-frontend, merge_requests_containerize-frontend

style(affect): :art: width for table in crenaux page
  frontend/pages/creneaux.vue
Due: containerize-frontend, merge_requests_containerize-frontend

merge
  frontend/pages/creneaux.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "[Affectation] Créneau maker"
  frontend/layouts/default.vue
  frontend/pages/creneaux.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(right): :bug: admin can do things
  backend/src/middleware/auth.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(right): :bug: now hard don't view "recalculer conflits"
  frontend/pages/listeconflits.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(creneaux): :bug: TS
  frontend/pages/creneaux.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
