Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(registration): better comment section explanation. #1627
  apps/web/components/atoms/field/comment/CommentField.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/package.json
  apps/web/pages/register.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

style(web): better display on profile page. #1634
  apps/web/components/molecules/friend/FriendsCard.vue
  apps/web/components/organisms/user/UserCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(profile): better display for friends. #1634
  apps/web/components/molecules/friend/FriendsCard.vue
  apps/web/components/organisms/user/UserCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/organisms/user/UserCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1634
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(profile): better display for friends. #1634
  apps/web/components/molecules/friend/FriendsCard.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency eslint to v8.57.0
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency @types/jsonwebtoken to v9.0.6
  domains/registration/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(festival-task): don't reset approval on refused task without approval. #1635
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions. #1635
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): don't reset approval on refused task without approval. #1635
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 2.20.2
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

style(registration): adapt register description to membership. #1636
  apps/web/pages/register.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1636
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style(registration): adapt register description to membership. #1636
  apps/web/package.json
  apps/web/pages/register.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(registration): display volunteer details information. #1628
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.query.ts
  apps/web/components/molecules/availabilities/AvailabilitiesSumupV2.vue
  apps/web/pages/notifications.vue
  apps/web/pages/registrations/soft.vue
  apps/web/pages/registrations/staff.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/utils/pages/pages-list.ts
  apps/web/utils/user/user.utils.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions. #1628
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(web): use defineComponent. #1628
  apps/web/components/molecules/availabilities/AvailabilitiesSumupV2.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(registration): display volunteer details information. #1628
  apps/api/package.json
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.query.ts
  apps/web/components/molecules/availabilities/AvailabilitiesSumupV2.vue
  apps/web/package.json
  apps/web/pages/notifications.vue
  apps/web/pages/registrations/soft.vue
  apps/web/pages/registrations/staff.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/utils/pages/pages-list.ts
  apps/web/utils/user/user.utils.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(web): :sparkles: start adding image to basic signage edit form
  apps/web/components/molecules/logistic/SignageForm.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): :art: finally fix correct display for signa
  apps/web/components/molecules/logistic/SignageForm.vue
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/components/molecules/signa/SignaImageDialog.vue
  apps/web/components/organisms/logistic/SignageListing.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: change image from undefined to null #1397
  apps/web/components/molecules/logistic/SignageForm.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): :bug: fix inconsistent type
  apps/web/components/molecules/logistic/SignageForm.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): :bug: rewrite path
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/components/organisms/logistic/SignageListing.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): :art: fix display image code
  apps/web/components/organisms/logistic/SignageListing.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): :zap: update the catalog
  apps/web/components/molecules/logistic/SignageForm.vue
  apps/web/store/catalogSignage.ts
  apps/web/utils/rules/input.rules.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(signa): :sparkles: update some things
  apps/web/components/molecules/logistic/SignageForm.vue
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/components/organisms/logistic/SignageListing.vue
  apps/web/store/catalogSignage.ts
  apps/web/utils/rules/input.rules.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/store/catalogSignage.ts
  apps/web/utils/rules/input.rules.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/molecules/signa/SignageForm.vue
  apps/web/components/molecules/user/ProfilePictureDialog.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(signa): :art: keep mounted otherwise it fails :(
  apps/web/components/molecules/signa/DisplayImageSigna.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(signa): :art: uniformize coding
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/components/molecules/signa/SignageForm.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(signa): :art: improve some code
  apps/web/components/molecules/logistic/SignageForm.vue
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/store/catalogSignage.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): :bug: update store and image display
  apps/web/components/molecules/logistic/SignageForm.vue
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/store/catalogSignage.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style(signa): :art: change how to check type
  apps/web/components/molecules/signa/SignageForm.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

refactor(signa): :truck: move signa to ... signa folder
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/components/molecules/signa/SignageForm.vue
  apps/web/components/organisms/signa/SignageListing.vue
  apps/web/pages/signa/catalog.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style(signa): :lipstick: slighty style image
  apps/web/components/molecules/signa/DisplayImageSigna.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

refactor(signa): :art: update rules
  apps/web/components/molecules/logistic/SignageForm.vue
  apps/web/components/molecules/signa/DisplayImageSigna.vue
  apps/web/components/molecules/user/ProfilePictureDialog.vue
  apps/web/store/catalogSignage.ts
  apps/web/utils/rules/file-image.rules.ts
  apps/web/utils/rules/input.rules.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test
