Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*

feat(catalog): display ponctual usage on gear listing. #769
  frontend/components/organisms/GearListing.vue
  frontend/components/organisms/form/GearForm.vue
  frontend/domain/inventory/test-helper.ts
  frontend/store/catalog.ts
  frontend/utils/models/catalog.model.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(catalog): add is ponctual usage field on gears. #769
  backend/prisma/migrations/20230112204825_add_is_ponctual_usage_to_gears/migration.sql
  backend/prisma/migrations/20230112212633_add_index_on_is_ponctual_usage_column/migration.sql
  backend/prisma/schema.prisma
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/dto/gearFormRequest.dto.ts
  backend/src/catalog/dto/gearResponse.dto.ts
  backend/src/catalog/dto/gearSearchRequest.dto.ts
  backend/src/catalog/gear.controller.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/in-memory/gear.repository.inmemory.ts
  backend/src/catalog/repositories/prisma/gear.repository.prisma.ts
  backend/src/fa/gear-requests/dto/gearRequestResponse.dto.ts
  backend/src/fa/gear-requests/gearRequests.service.spec.ts
  backend/src/fa/gear-requests/repositories/gearRequest.repository.prisma.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(fa): display only permanent gears. #769
  backend/package-lock.json
  frontend/components/atoms/SearchGear.vue
  frontend/components/organisms/form/LogisticsCard.vue
  frontend/pages/fa/_fa.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: update version. #769
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(catalog): handle ponctual usage gears. #769
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230112204825_add_is_ponctual_usage_to_gears/migration.sql
  backend/prisma/migrations/20230112212633_add_index_on_is_ponctual_usage_column/migration.sql
  backend/prisma/schema.prisma
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/dto/gearFormRequest.dto.ts
  backend/src/catalog/dto/gearResponse.dto.ts
  backend/src/catalog/dto/gearSearchRequest.dto.ts
  backend/src/catalog/gear.controller.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/in-memory/gear.repository.inmemory.ts
  backend/src/catalog/repositories/prisma/gear.repository.prisma.ts
  backend/src/fa/gear-requests/dto/gearRequestResponse.dto.ts
  backend/src/fa/gear-requests/gearRequests.service.spec.ts
  backend/src/fa/gear-requests/repositories/gearRequest.repository.prisma.ts
  frontend/components/atoms/SearchGear.vue
  frontend/components/organisms/GearListing.vue
  frontend/components/organisms/form/GearForm.vue
  frontend/components/organisms/form/LogisticsCard.vue
  frontend/domain/inventory/test-helper.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/_fa.vue
  frontend/store/catalog.ts
  frontend/utils/models/catalog.model.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Move groupBy from service to export fonction
  backend/src/common/common.module.ts
  backend/src/common/services/group-by.service.ts
  backend/src/common/services/stats.service.ts
  backend/src/common/util/group-by.ts
  backend/src/fa/fa.service.ts
  frontend/components/molecules/StatsRow.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: Implement the stats for FAs
  backend/src/common/common.module.ts
  backend/src/common/services/group-by.service.ts
  backend/src/common/services/stats.service.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.module.ts
  backend/src/fa/fa.service.ts
  frontend/components/Needs.vue
  frontend/components/NeedsCard.vue
  frontend/layouts/default.vue
  frontend/pages/stats.vue
  frontend/repositories/faRepo.ts
  frontend/store/FA.ts
  frontend/utils/models/stats.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Refactor stats service
  backend/src/common/services/stats.service.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.service.ts
  frontend/components/Needs.vue
  frontend/layouts/default.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Front review
  frontend/assets/style.scss
  frontend/assets/variables.scss
  frontend/components/NeedsCard.vue
  frontend/components/atoms/StatsCard.vue
  frontend/components/molecules/StatsRow.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/stats.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat: :sparkles: Implement the stats for FAs
  backend/src/common/common.module.ts
  backend/src/common/services/group-by.service.ts
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

Front review
  frontend/components/molecules/StatsRow.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

Refactor stats service
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

Move groupBy from service to export fonction
  backend/src/common/common.module.ts
  backend/src/common/services/group-by.service.ts
  backend/src/fa/fa.service.ts
  frontend/components/molecules/StatsRow.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor: :recycle: Create a store for the stats
  frontend/pages/stats.vue
  frontend/store/FA.ts
  frontend/store/index.ts
  frontend/store/stats.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor: :recycle: Change components to TS
  frontend/components/molecules/StatsRow.vue
  frontend/pages/stats.vue
  frontend/utils/models/stats.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor: :recycle: Apply review comments
  backend/src/common/services/stats.service.ts
  backend/src/common/util/group-by.ts
  backend/src/fa/fa.service.ts
  frontend/assets/style.scss
  frontend/components/atoms/StatsCard.vue
  frontend/components/molecules/StatsRow.vue
  frontend/pages/fa/_fa.vue
  frontend/store/team.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

docs: :pushpin: Version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor: :white_check_mark: Make the test pass
  backend/src/common/services/stats.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :bug: remove null from allFt return type
  backend/src/ft/ft.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :zap: add missing apiquery
  backend/src/ft/ft.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :bug: correct enum error in dto
  backend/src/ft/dto/ftResponse.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :bug: remove retrun type from delete
  backend/src/ft/ft.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :zap: fix remove func
  backend/src/ft/ft.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :zap: add missing team code and change case
  backend/prisma/migrations/20230114134442_add_missign_teame_code/migration.sql
  backend/prisma/schema.prisma
  backend/src/ft/dto/ftResponse.dto.ts
  backend/src/ft/dto/ftSearchRequest.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :zap: remove useless api decorator
  backend/src/ft/ft.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :sparkles: add apiresponse decorator to all endpoints
  backend/src/ft/ft.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

refactor(FT): :recycle: add private func at the end of th clqss
  backend/src/ft/ft.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :sparkles: use dto in swagger decorators
  backend/src/ft/dto/ftResponse.dto.ts
  backend/src/ft/ft.controller.ts
  backend/src/ft/ft.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :adhesive_bandage: add lissing optional
  backend/prisma/migrations/20230110220327_add_missing_optional/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :sparkles: beginning of dto rework
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/dto/ftResponse.dto.ts
  backend/src/ft/ft.controller.ts
  backend/src/ft/ft.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :bug: change type of id in controller
  backend/src/ft/ft.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :bug: remove isDeleted from update dto
  backend/src/ft/dto/update-ft.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :art: better description in dto
  backend/src/ft/dto/ftResponse.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :bug: remove status from update dto
  backend/src/ft/dto/update-ft.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :sparkles: setup DTO
  backend/src/ft/dto/create-ft.dto.ts
  backend/src/ft/dto/update-ft.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :sparkles: ft controller and services
  backend/src/ft/ft.controller.ts
  backend/src/ft/ft.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

style(FA): :pencil2: lint
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :sparkles: Generate resource
  backend/package-lock.json
  backend/src/app.module.ts
  backend/src/ft/dto/create-ft.dto.ts
  backend/src/ft/dto/update-ft.dto.ts
  backend/src/ft/ft.controller.ts
  backend/src/ft/ft.module.ts
  backend/src/ft/ft.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(FT): :sparkles: add missing FtStatus
  backend/src/ft/ft.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(FT): :sparkles: add select in api calls
  backend/src/ft/ft.controller.ts
  backend/src/ft/ft.service.ts
  backend/src/ft/ftTypes.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend
