Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fix: GearDetail type #1729
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-inquiry.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/sum-quantity.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: remove unused var in dto #1729
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1729
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(bug): remove comment from template #1734
  apps/web/utils/bug-report/bug-report.constant.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1734
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(bug): remove comment from template #1734
  apps/web/package.json
  apps/web/utils/bug-report/bug-report.constant.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: remove period utils. #1582
  apps/api/src/utils/period.ts
  apps/api/src/volunteer-planning/domain/storedTask.ts
  apps/api/src/volunteer-planning/domain/task.repository.inmemory.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: inline unnecessary funtcion. #1582
  domains/volunteer-availability/src/period-orchestrator.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

style: better english variable name. #1582
  apps/api/src/volunteer-planning/domain/storedTask.ts
  domains/volunteer-availability/src/availabilities.ts
  domains/volunteer-availability/src/period-orchestrator.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

chore: relly on Period object. #1582
  apps/api/src/utils/period.ts
  apps/api/src/volunteer-planning/domain/planning.ts
  apps/api/src/volunteer-planning/domain/storedTask.ts
  domains/volunteer-availability/src/availabilities.ts
  domains/volunteer-availability/src/period-orchestrator.ts
  libraries/period/src/period.ts
Due: overbookd/api_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions. #1582
  apps/api/package.json
  apps/web/package.json
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/permission/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: move permission from domains to constants. #1582
  .eslintrc.json
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/tsconfig.json
  constants/permission/package.json
  constants/permission/src/index.ts
  constants/permission/src/permission.model.ts
  constants/permission/src/permissions.ts
  constants/permission/tsconfig.build.json
  constants/permission/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
  tsconfig.all-modules-import.json
  tsconfig.cross-modules-import.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(volunteer-planning): use Period library to compute tasks. #1582
  apps/api/package.json
  apps/api/src/utils/period.ts
  apps/api/src/volunteer-planning/domain/planning.ts
  apps/api/src/volunteer-planning/domain/storedTask.ts
  apps/api/src/volunteer-planning/domain/task.repository.inmemory.ts
  apps/web/package.json
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/permission/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  domains/volunteer-availability/src/availabilities.ts
  domains/volunteer-availability/src/period-orchestrator.ts
  libraries/event/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/period/src/period.ts
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  apps/api/Dockerfile
  apps/web/Dockerfile
  docker/Dockerfile
  docker/docker-compose.yml
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(deps): update gitlab ci dependencies
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

prefeat(logistic-purchase): create table #1673
  apps/web/components/organisms/logistic/borrow/BorrowTable.vue
  apps/web/components/organisms/logistic/purchase/PurchaseTable.vue
  apps/web/pages/logistic/borrow/index.vue
  apps/web/pages/logistic/purchase/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1673
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(logistic-purchase): create table #1673
  apps/web/components/organisms/logistic/borrow/BorrowTable.vue
  apps/web/components/organisms/logistic/purchase/PurchaseTable.vue
  apps/web/package.json
  apps/web/pages/logistic/borrow/index.vue
  apps/web/pages/logistic/purchase/index.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

test(ci): remove default tsconfig extends. #1582
  tsconfig.json
Due: none

fix(user): change main path. #1582
  domains/user/package.json
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions. #1582
  apps/api/package.json
  apps/web/package.json
  constants/permission/package.json
  domains/contribution/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/user/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

test(config): remove cross-module config on independant packages. #1582
  constants/permission/tsconfig.build.json
  constants/permission/tsconfig.json
Due: none

docs: explain each folder purpose in a dedicated README. #1582
  apps/README.md
  constants/README.md
  domains/README.md
  libraries/README.md
  utils/README.md
Due: overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: create constants directory. #1582
  .eslintrc.json
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  apps/README.md
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/tsconfig.json
  constants/README.md
  constants/permission/package.json
  constants/permission/src/index.ts
  constants/permission/src/permission.model.ts
  constants/permission/src/permissions.ts
  constants/permission/tsconfig.build.json
  constants/permission/tsconfig.json
  domains/README.md
  domains/contribution/package.json
  domains/permission/tsconfig.build.json
  domains/permission/tsconfig.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/user/package.json
  libraries/README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
  tsconfig.all-modules-import.json
  tsconfig.cross-modules-import.json
  tsconfig.json
  utils/README.md
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(dashboard-logistic): implement borrow in details in api #1729
  apps/api/src/logistic/dashboard/repository/dashboard-gear-inquiry.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock-discrepancy.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: GearBorrow type & dto #1729
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: optimize function #1729
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock-discrepancy.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(dashboard-logistic): implement borrow in details in api #1729
  apps/api/package.json
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-inquiry.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock-discrepancy.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
  apps/api/src/logistic/dashboard/repository/sum-quantity.ts
  apps/web/package.json
  package.json
  utils/http/package.json
  utils/http/src/index.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: explain volunteer brief availability. #1736
  apps/api/src/mail/templates/volunteer-enrolled.ejs
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions. #1736
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: explain volunteer brief availability. #1736
  apps/api/package.json
  apps/api/src/mail/templates/volunteer-enrolled.ejs
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(release): ⬆️ bump to 2.24.2
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
