Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*

refactor(Front): :art: fix old user model in components #865
  frontend/components/molecules/ProfilePictureDialog.vue
  frontend/components/molecules/TransferDialog.vue
  frontend/components/molecules/notifications/NotificationCard.vue
  frontend/utils/models/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: user function name #865
  frontend/components/organisms/UserInformation.vue
  frontend/utils/models/user.ts
  frontend/utils/user/userUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: clean UserInformation & fix fields permission #865
  frontend/components/atoms/DateTimeField.vue
  frontend/components/molecules/timeframe/CharismaPeriodForm.vue
  frontend/components/molecules/timeframe/FTTimeWindowForm.vue
  frontend/components/organisms/UserInformation.vue
  frontend/pages/humans.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/date/dateUtils.ts
  frontend/utils/user/userUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(Front): :bug: UserNotifications type #865
  frontend/components/organisms/UserNotifications.vue
  frontend/store/permission.ts
  frontend/utils/models/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Back): :art: remove charisma if author has not perm #865
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/components/organisms/UserInformation.vue
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

style(Back): ✍ Linted backend files
  backend/src/user/user.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix: :art: refactor update user update request #865
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/components/atoms/DateField.vue
  frontend/components/organisms/UserInformation.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): :art: cast user date #865
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor: :art: user permission in request #865
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/components/atoms/DateField.vue
  frontend/components/organisms/UserInformation.vue
  frontend/pages/humans.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: Update version #865
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): :art: move UserInformation data in store #865
  frontend/components/organisms/UserCard.vue
  frontend/components/organisms/UserInformation.vue
  frontend/pages/humans.vue
  frontend/repositories/teamRepo.ts
  frontend/store/team.ts
  frontend/store/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: use isHard computed instead of method #865
  frontend/components/organisms/UserInformation.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

style(Front): ✍ Linted frontend files
  frontend/components/organisms/UserCard.vue
  frontend/pages/humans.vue
  frontend/repositories/teamRepo.ts
  frontend/store/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(Front): :bug: undefined team array #865
  frontend/components/organisms/UserInformation.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor: :art: delete user and csv export #865
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/components/organisms/UserInformation.vue
  frontend/pages/humans.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/rules/inputRules.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Front): :art: user type in store and manage-cp perm #865
  frontend/pages/humans.vue
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix: User update in human page
  backend/package-lock.json
  backend/package.json
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/components/atoms/DateTimeField.vue
  frontend/components/atoms/SearchFriend.vue
  frontend/components/molecules/ProfilePictureDialog.vue
  frontend/components/molecules/TransferDialog.vue
  frontend/components/molecules/availabilities/AvailabilitiesSumup.vue
  frontend/components/molecules/friends/FriendsCard.vue
  frontend/components/molecules/notifications/NotificationCard.vue
  frontend/components/molecules/timeframe/CharismaPeriodForm.vue
  frontend/components/molecules/timeframe/FTTimeWindowForm.vue
  frontend/components/organisms/UserCard.vue
  frontend/components/organisms/UserInformation.vue
  frontend/components/organisms/UserNotifications.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/humans.vue
  frontend/repositories/teamRepo.ts
  frontend/repositories/userRepo.ts
  frontend/store/permission.ts
  frontend/store/team.ts
  frontend/store/user.ts
  frontend/utils/date/dateUtils.ts
  frontend/utils/models/repo.ts
  frontend/utils/models/user.ts
  frontend/utils/rules/inputRules.ts
  frontend/utils/user/userUtils.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor: :construction: Update _calendar page
  frontend/components/atoms/OverCalendarV2.vue
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(calendar): bind date to calendar. #857
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor: :recycle: Finissions des disponibilitées sur la page _calendar
  frontend/pages/calendar/_calendar.vue
  frontend/store/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

review
  frontend/components/atoms/OverCalendarV2.vue
  frontend/components/molecules/availabilities/AvailabilitiesPickCalendar.vue
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

review
  frontend/pages/calendar/_calendar.vue
  frontend/pages/humans.vue
  frontend/store/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

review
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/calendar/_calendar.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

allow hard to see calendar button
  frontend/pages/humans.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

style(Front): ✍ Linted frontend files
  frontend/pages/humans.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor: :construction: Update _calendar page
  backend/package-lock.json
  backend/package.json
  frontend/components/atoms/OverCalendarV2.vue
  frontend/components/molecules/availabilities/AvailabilitiesPickCalendar.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/calendar/_calendar.vue
  frontend/pages/humans.vue
  frontend/store/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(security): display generic success message on reset password. #876
  backend/src/auth/auth.service.ts
  frontend/pages/forgot.vue
  frontend/utils/api/calls.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: update versions. #876
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(security): display generic success message on reset password. #876
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/forgot.vue
  frontend/utils/api/calls.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.10.1
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): auto assign reviewer on ft submission. #879
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/ft.service.ts
  backend/src/ft/ftTypes.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: update versions. #879
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): auto assign reviewer on ft submission. #879
  backend/package-lock.json
  backend/package.json
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/ft.service.ts
  backend/src/ft/ftTypes.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Secu): :fire: change `replaceAll` fro `replace`
  frontend/pages/fa/index.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(Secu): :bug: correct permission
  frontend/pages/fa/index.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(Secu): :zap: usernam func and permissions
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/index.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(secu): typo
  frontend/pages/fa/index.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(secu): ✨ add csv export for number of pass
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/form/fa/SecurityCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/index.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(Docker): :whale: add some label
  .gitlab/ci/docker-build.gitlab-ci.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend
