Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

backend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - backend_install
  before_script:
  - cd backend
  script:
  - npm run build

frontend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - frontend_install
  before_script:
  - cd frontend
  script:
  - npm run build:ci

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

chore(deps-dev): bump eslint-plugin-cypress in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump sass-loader from 10.4.1 to 13.2.2 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump ts-jest from 29.0.5 to 29.1.0 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump typescript from 5.0.2 to 5.0.3 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Back): :sparkles: return category task count in response #951
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat: :art: refactor request response & display stat #951
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/VolunteerResume.vue
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Back): :fire: remove console.log #951
  backend/src/assignment/volunteer.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: Update version #951
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor: shagasse proposal. #951
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/VolunteerList.vue
  frontend/components/molecules/assignment/VolunteerResume.vue
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): :art: add accent #951
  frontend/components/molecules/assignment/VolunteerResume.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :fire: remove unused funciton #951
  frontend/components/molecules/assignment/VolunteerList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat[Affect] (Tache-Orga): Indiquer le nombre de creneau assigne au benevole du meme type que la FT selectionnee
  backend/package-lock.json
  backend/package.json
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/atoms/TeamIconChip.vue
  frontend/components/molecules/assignment/FtList.vue
  frontend/components/molecules/assignment/FtTimespanList.vue
  frontend/components/molecules/assignment/VolunteerList.vue
  frontend/components/molecules/assignment/VolunteerResume.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps): bump backend deps
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

style: :art: Improve icons style
  frontend/components/molecules/assignment/VolunteerResume.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

Display if user has compatible friends on Task-Orga mode
  backend/src/assignment/assignment.service.ts
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/VolunteerResume.vue
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix: remove duplicated friends icon. #950
  frontend/components/molecules/assignment/VolunteerResume.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

review
  backend/src/assignment/assignment.service.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/VolunteerResume.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: Update version #950
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Resolve "[Affect] (Tache-Orga) Indiquer si un benevole a des amis disponible sur le meme creneau"
  backend/package-lock.json
  backend/package.json
  backend/src/assignment/assignment.service.ts
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/VolunteerResume.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): :sparkles: show friends in User information #959
  frontend/components/organisms/UserInformation.vue
  frontend/store/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #959
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): ✨ show friends in User information #959
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/UserInformation.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/store/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): :fire: remove unused check #952
  frontend/components/organisms/assignment/FilterableFtList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: opti filter functions & move in folders #952
  frontend/components/molecules/assignment/filter/AssignmentFilters.vue
  frontend/components/molecules/assignment/list/FtList.vue
  frontend/components/molecules/assignment/list/FtTimespanList.vue
  frontend/components/molecules/assignment/list/VolunteerList.vue
  frontend/components/molecules/assignment/resume/VolunteerResume.vue
  frontend/components/organisms/assignment/FilterableFtList.vue
  frontend/components/organisms/assignment/FilterableTimespanList.vue
  frontend/components/organisms/assignment/FilterableVolunteerList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Front): :sparkles: add category filter #952
  frontend/components/molecules/assignment/AssignmentFilters.vue
  frontend/utils/models/ftTimespan.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: split assignment filters #952
  frontend/components/molecules/assignment/filter/FtTimespanFilters.vue
  frontend/components/molecules/assignment/filter/VolunteerFilters.vue
  frontend/components/organisms/assignment/FilterableFtList.vue
  frontend/components/organisms/assignment/FilterableTimespanList.vue
  frontend/components/organisms/assignment/FilterableVolunteerList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Front): :sparkles: filter ft by category & priority #952
  frontend/components/organisms/assignment/FilterableFtList.vue
  frontend/utils/models/ftTimespan.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #952
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): :sparkles: add category & priority filter #952
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/assignment/filter/FtTimespanFilters.vue
  frontend/components/molecules/assignment/filter/VolunteerFilters.vue
  frontend/components/molecules/assignment/list/FtList.vue
  frontend/components/molecules/assignment/list/FtTimespanList.vue
  frontend/components/molecules/assignment/list/VolunteerList.vue
  frontend/components/molecules/assignment/resume/VolunteerResume.vue
  frontend/components/organisms/assignment/FilterableFtList.vue
  frontend/components/organisms/assignment/FilterableTimespanList.vue
  frontend/components/organisms/assignment/FilterableVolunteerList.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/models/ftTimespan.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): :art: volunteer resume style
  frontend/components/molecules/assignment/filter/FtTimespanFilters.vue
  frontend/components/molecules/assignment/list/VolunteerList.vue
  frontend/components/molecules/assignment/resume/VolunteerResume.vue
  frontend/components/organisms/assignment/FilterableVolunteerList.vue
  frontend/pages/assignment/task-orga.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #965
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): :art: volunteer list style #965
  frontend/components/molecules/assignment/filter/VolunteerFilters.vue
  frontend/components/organisms/assignment/FilterableVolunteerList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :fire: remove double & #965
  frontend/components/organisms/assignment/FilterableVolunteerList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Affect): volunteer resume style & fix volunteer counter
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/assignment/filter/FtTimespanFilters.vue
  frontend/components/molecules/assignment/filter/VolunteerFilters.vue
  frontend/components/molecules/assignment/list/VolunteerList.vue
  frontend/components/molecules/assignment/resume/VolunteerResume.vue
  frontend/components/organisms/assignment/FilterableVolunteerList.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/assignment/task-orga.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: Add alert icon on volunteer with unfinished FT
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/resume/VolunteerResume.vue
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

rename variable
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/resume/VolunteerResume.vue
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Resolve "[Affect] (Tache-Orga) Indiquer si un benevole est requis sur une FT qui n'est pas encore passee en pret pour affectation"
  backend/package-lock.json
  backend/package.json
  backend/src/assignment/dto/volunteerResponse.dto.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/molecules/assignment/resume/VolunteerResume.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/models/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(register): :sparkles: lower case email at registration. #899
  backend/src/auth/auth.service.ts
  backend/src/user/user.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*
