Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(borrow): allow borrow sorting by name #1751
  apps/web/pages/logistic/borrow/_borrowId.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1751
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(borrow): allow borrow sorting by name #1751
  apps/web/package.json
  apps/web/pages/logistic/borrow/_borrowId.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: add team assignment migration #1740
  apps/api/prisma/schema.prisma
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(assignment): revert old files in specific folder #1740
  apps/api/src/assignment/old/assignment.controller.ts
  apps/api/src/assignment/old/assignment.service.ts
  apps/api/src/assignment/old/dto/assignment-stats.response.dto.ts
  apps/api/src/assignment/old/dto/volunteer.response.dto.ts
  apps/api/src/assignment/old/ft-time-span.service.ts
  apps/api/src/assignment/old/model/assignment.model.ts
  apps/api/src/assignment/old/model/ft-time-span.model.ts
  apps/api/src/assignment/old/model/volunteer.model.ts
  apps/api/src/assignment/old/volunteer.service.ts
  apps/api/src/ft/dto/ft.response.dto.ts
  apps/api/src/ft/ft-types.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/utils/assignment.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: prune #1740
  apps/api/src/assignment/old/assignment.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(assignment): add some tests #1740
  apps/api/prisma/migrations/20240408165609_add_assignee_team/migration.sql
  apps/api/src/assignment/repository/task.query.ts
  apps/api/src/assignment/repository/tasks.prisma.ts
  apps/api/src/assignment/repository/volunteers.prisma.ts
  apps/api/src/assignment/task.service.ts
  domains/assignment/package.json
  domains/assignment/src/task.ts
  domains/assignment/src/unassigned-team.test-utils.ts
  domains/assignment/src/unassigned-team.ts
  domains/assignment/src/unassigned-teams.spec.ts
  domains/assignment/src/volunteer-assignment-duration.spec.ts
  domains/assignment/src/volunteer-assignment-duration.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix(assignment): return volunteer note #1740
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.controller.ts
  apps/api/src/assignment/volunteer-to-task/dto/volunteer-with-assignment-duration.response.dto.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteer.query.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteers.prisma.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

refactor(assignment): rename test variables #1740
  domains/assignment/src/unassigned-team.test-utils.ts
  domains/assignment/src/unassigned-teams.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(assignment): clean types and request #1740
  apps/api/src/assignment/assignment.module.ts
  apps/api/src/assignment/repository/task-period.query.ts
  apps/api/src/assignment/repository/task-periods.prisma.ts
  apps/api/src/assignment/repository/task.query.ts
  apps/api/src/assignment/repository/tasks.prisma.ts
  apps/api/src/assignment/repository/volunteer.query.ts
  apps/api/src/assignment/repository/volunteers.prisma.ts
  apps/api/src/assignment/task-period.service.ts
  apps/api/src/assignment/task.service.ts
  apps/web/pages/assignment/task-orga.vue
  domains/assignment/src/task-period.ts
  domains/assignment/src/task.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(assignment): new api #1740
  apps/api/src/assignment/assignment.module.ts
  apps/api/src/assignment/common/assignment.module.ts
  apps/api/src/assignment/model/assignment.model.ts
  apps/api/src/assignment/model/ft-time-span.model.ts
  apps/api/src/assignment/model/volunteer.model.ts
  apps/api/src/assignment/old/assignment.controller.ts
  apps/api/src/assignment/old/assignment.service.ts
  apps/api/src/assignment/old/dto/assignment-stats.response.dto.ts
  apps/api/src/assignment/old/dto/assignment.request.dto.ts
  apps/api/src/assignment/old/dto/assignment.response.dto.ts
  apps/api/src/assignment/old/dto/ft-time-span.response.dto.ts
  apps/api/src/assignment/old/dto/volunteer.response.dto.ts
  apps/api/src/assignment/old/ft-time-span.service.ts
  apps/api/src/assignment/old/volunteer.service.ts
  apps/api/src/assignment/repository/assignees.prisma.ts
  apps/api/src/assignment/task-to-volunteer/dto/missing-assignment-task.response.dto.ts
  apps/api/src/assignment/task-to-volunteer/repository/task.query.ts
  apps/api/src/assignment/task-to-volunteer/repository/tasks.prisma.ts
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.controller.ts
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.module.ts
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.service.ts
  apps/api/src/assignment/task.service.ts
  apps/api/src/assignment/volunteer-to-task/dto/volunteer-with-assignment-duration.response.dto.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteer.query.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteers.prisma.ts
  apps/api/src/assignment/volunteer-to-task/volunteer-to-task.controller.ts
  apps/api/src/assignment/volunteer-to-task/volunteer-to-task.module.ts
  apps/api/src/assignment/volunteer-to-task/volunteer-to-task.service.ts
  apps/api/src/ft/ft-types.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: prune #1740
  apps/api/src/assignment/repository/tasks.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(assignment): get task with periods #1740
  apps/api/src/assignment/assignment.module.ts
  apps/api/src/assignment/repository/task-period.query.ts
  apps/api/src/assignment/repository/task-periods.prisma.ts
  apps/api/src/assignment/task-period.service.ts
  domains/assignment/package.json
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

prefeat(assignment): implement domain in api #1740
  apps/api/src/assignment/assignment.controller.ts
  apps/api/src/assignment/assignment.module.ts
  apps/api/src/assignment/assignment.service.ts
  apps/api/src/assignment/dto/volunteer.response.dto.ts
  apps/api/src/assignment/model/volunteer.model.ts
  apps/api/src/assignment/repository/assigned-task.query.ts
  apps/api/src/assignment/repository/assigned-tasks.prisma.ts
  apps/api/src/assignment/repository/assignee.query.ts
  apps/api/src/assignment/repository/assignees.prisma.ts
  apps/api/src/assignment/repository/tasks.prisma.ts
  apps/api/src/assignment/repository/volunteers.prisma.ts
  apps/api/src/assignment/task.service.ts
  apps/api/src/assignment/volunteer.service.ts
  domains/assignment/src/index.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix(assignment): remove unused files from domain #1740
  apps/api/src/assignment/repository/assigned-task.query.ts
  domains/assignment/src/task.ts
  domains/assignment/src/unassigned-team.test-utils.ts
  domains/assignment/src/unassigned-team.ts
  domains/assignment/src/unassigned-teams.spec.ts
  domains/assignment/src/volunteer-assignment-duration.spec.ts
  domains/assignment/src/volunteer-assignment-duration.ts
  domains/assignment/src/volunteer.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix(constants): add team & rename status folder #1740
  apps/api/src/assignment/dto/volunteer.response.dto.ts
  apps/api/src/assignment/model/volunteer.model.ts
  apps/api/src/assignment/repository/task-period.query.ts
  apps/api/src/assignment/repository/task-periods.prisma.ts
  apps/api/src/assignment/repository/volunteer.query.ts
  apps/api/src/assignment/repository/volunteers.prisma.ts
  apps/api/src/assignment/task-period.service.ts
  apps/api/src/assignment/volunteer.service.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  domains/assignment/src/assignment.ts
  domains/assignment/src/task-period.ts
  domains/assignment/src/volunteer.ts
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

prefeat(assignment): add domain and volunteer repository #1740
  apps/api/src/assignment/assignment.module.ts
  apps/api/src/assignment/assignment.service.ts
  apps/api/src/assignment/repository/volunteer.query.ts
  apps/api/src/assignment/repository/volunteers.prisma.ts
  apps/api/src/assignment/volunteer.service.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  domains/assignment/src/assignment.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix: prune again #1740
  apps/api/src/assignment/volunteer-to-task/repository/volunteer.query.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1740
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(assignment): get new assignment data in api #1740
  apps/api/package.json
  apps/api/prisma/migrations/20240408165609_add_assignee_team/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/assignment/assignment.module.ts
  apps/api/src/assignment/common/assignment.module.ts
  apps/api/src/assignment/old/assignment.controller.ts
  apps/api/src/assignment/old/assignment.service.ts
  apps/api/src/assignment/old/dto/assignment-stats.response.dto.ts
  apps/api/src/assignment/old/dto/assignment.request.dto.ts
  apps/api/src/assignment/old/dto/assignment.response.dto.ts
  apps/api/src/assignment/old/dto/ft-time-span.response.dto.ts
  apps/api/src/assignment/old/dto/volunteer.response.dto.ts
  apps/api/src/assignment/old/ft-time-span.service.ts
  apps/api/src/assignment/old/model/assignment.model.ts
  apps/api/src/assignment/old/model/ft-time-span.model.ts
  apps/api/src/assignment/old/model/volunteer.model.ts
  apps/api/src/assignment/old/volunteer.service.ts
  apps/api/src/assignment/task-to-volunteer/dto/missing-assignment-task.response.dto.ts
  apps/api/src/assignment/task-to-volunteer/repository/task.query.ts
  apps/api/src/assignment/task-to-volunteer/repository/tasks.prisma.ts
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.controller.ts
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.module.ts
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.service.ts
  apps/api/src/assignment/volunteer-to-task/dto/volunteer-with-assignment-duration.response.dto.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteer.query.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteers.prisma.ts
  apps/api/src/assignment/volunteer-to-task/volunteer-to-task.controller.ts
  apps/api/src/assignment/volunteer-to-task/volunteer-to-task.module.ts
  apps/api/src/assignment/volunteer-to-task/volunteer-to-task.service.ts
  apps/api/src/ft/dto/ft.response.dto.ts
  apps/api/src/ft/ft-types.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/utils/assignment.ts
  apps/web/package.json
  apps/web/pages/assignment/task-orga.vue
  domains/assignment/package.json
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.ts
  domains/assignment/src/index.ts
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(orga-needs): change available and assigned computation. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

style(orga-needs): better code format. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(orga-needs): retrieve all volunteers at least available during period. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
  libraries/period/src/period.ts
Due: overbookd/api_build, overbookd/libraries_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/libraries_unit_test

fix(orga-needs): count volunteers with membership as requested ones. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(orga-needs): remove team condition on requested volunteer when no team selected. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(orga-needs): use period library instead of custom functions. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(orga-needs): take all team requested in mobilizations when no team specified in filter. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions. #1737
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/registration/package.json
  domains/volunteer-availability/package.json
  libraries/period/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

style: fix typo. #1737
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

test(period): add test cases for removing period. #1737
  libraries/period/src/period.spec.ts
  libraries/period/src/period.test-utils.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

fix(orga-needs): change counter computation. #1737
  apps/api/package.json
  apps/api/src/orga-needs/orga-needs.service.ts
  apps/web/package.json
  domains/assignment/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/registration/package.json
  domains/volunteer-availability/package.json
  libraries/period/package.json
  libraries/period/src/period.spec.ts
  libraries/period/src/period.test-utils.ts
  libraries/period/src/period.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(orga-needs): stack available with assigned in graph. #1752
  apps/web/components/organisms/orga-needs/OrgaNeedsChart.vue
  apps/web/utils/graph/graph.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1752
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(orga-needs): stack available with assigned in graph. #1752
  apps/web/components/organisms/orga-needs/OrgaNeedsChart.vue
  apps/web/package.json
  apps/web/utils/graph/graph.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.24.6
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

fix(orga-needs): dynamic max limit on graph. #1753
  apps/web/components/organisms/orga-needs/OrgaNeedsChart.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1753
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(orga-needs): dynamic max limit on graph. #1753
  apps/web/components/organisms/orga-needs/OrgaNeedsChart.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.24.7
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

fix(assignment): use adapted requests in web #1740-2
  apps/api/src/assignment/old/assignment.controller.ts
  apps/web/components/molecules/assignment/list/TaskList.vue
  apps/web/components/molecules/assignment/resume/TaskResume.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/repositories/assignment.repository.ts
  apps/web/store/assignment.ts
  apps/web/utils/assignment/task-period.ts
  constants/festival-event-constants/src/category.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test
