Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, configurator, frontend_scan, backend_scan, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/web_lint:
  stage: check
  interruptible: true
  image: node:16-alpine
  before_script:
  - apk update
  - apk add openssh git
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  ...

overbookd/api_lint:
  stage: check
  interruptible: true
  image: node:18-alpine
  before_script:
  - apk update
  - apk add openssh git
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  ...

overbookd/api_prune:
  stage: check
  interruptible: true
  image: node:18-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run --filter @overbookd/api find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

feat(ci): setup pre-commit hook. #1130
  .pre-commit-config.yaml
Due: none

chore: update versions. #1130
  apps/api/package.json
  apps/web/package.json
  domains/volunteer-availability/package.json
  libraries/list/package.json
  libraries/period/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(ci): add secret detection. #1130
  .pre-commit-config.yaml
Due: none

fix: bot lint commit #1171
  .gitlab/ci/check.gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/check.gitlab-ci.yml
Due: none

fix: Renommer les commits de lint du bot #1171
  .gitlab/ci/check.gitlab-ci.yml
Due: none

fix(api): import assets correctly. #1175
  apps/api/nest-cli.json
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1175
  apps/api/package.json
  package.json
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

fix(api): import assets correctly. #1175
  apps/api/nest-cli.json
  apps/api/package.json
  package.json
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: rename permissions #1168
  apps/api/prisma/seeders/permissions.ts
  apps/web/utils/pages/pagesList.ts
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: perms in all files #1168
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/assignment/assignment.controller.ts
  apps/api/src/catalog/category.controller.ts
  apps/api/src/catalog/gear.controller.ts
  apps/api/src/charisma-period/charisma-period.controller.ts
  apps/api/src/ft-review/ft-review.controller.ts
  apps/api/src/ft-review/ft-review.service.ts
  apps/api/src/ft/ft.service.ts
  apps/api/src/inventory/inventory.controller.ts
  apps/api/src/need-help/need-help.controller.ts
  apps/api/src/timeline/timeline.controller.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/volunteer-availability/volunteer-availability.controller.ts
  apps/web/components/molecules/availabilities/AvailabilitiesSumup.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepsCard.vue
  apps/web/components/organisms/festivalEvent/FestivalEventBottomBar.vue
  apps/web/components/organisms/festivalEvent/ft/FtDetailCard.vue
  apps/web/components/organisms/logistic/CategoriesTreeView.vue
  apps/web/components/organisms/logistic/GearListing.vue
  apps/web/components/organisms/planning/PlanningDownloadCard.vue
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/layouts/default.vue
  apps/web/middleware/routing.ts
  apps/web/pages/catalog.vue
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
  apps/web/pages/humans.vue
  apps/web/pages/index.vue
  apps/web/store/user.ts
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(Api): clean ft service #1168
  apps/api/src/ft/ft.service.ts
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: remove can admin #1168
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: perm name #1168
  apps/web/pages/ft/index.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Api): replace hasPermission by can #1168
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/authentication/permissions-auth.guard.ts
  apps/api/src/ft-review/ft-review.service.ts
  apps/api/src/ft/ft.service.ts
  apps/api/src/user/user.service.ts
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: show all perms in config #1168
  apps/web/components/organisms/permission/PermissionsCard.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

fix(Web): function name #1168
  apps/web/pages/ft/index.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

chore: Update version #1168
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: permissions name #1168
  apps/api/package.json
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/assignment/assignment.controller.ts
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/authentication/permissions-auth.guard.ts
  apps/api/src/catalog/category.controller.ts
  apps/api/src/catalog/gear.controller.ts
  apps/api/src/charisma-period/charisma-period.controller.ts
  apps/api/src/ft-review/ft-review.controller.ts
  apps/api/src/ft-review/ft-review.service.ts
  apps/api/src/ft/ft.service.ts
  apps/api/src/inventory/inventory.controller.ts
  apps/api/src/need-help/need-help.controller.ts
  apps/api/src/timeline/timeline.controller.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/api/src/volunteer-availability/volunteer-availability.controller.ts
  apps/web/components/molecules/availabilities/AvailabilitiesSumup.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepsCard.vue
  apps/web/components/organisms/festivalEvent/FestivalEventBottomBar.vue
  apps/web/components/organisms/festivalEvent/ft/FtDetailCard.vue
  apps/web/components/organisms/logistic/CategoriesTreeView.vue
  apps/web/components/organisms/logistic/GearListing.vue
  apps/web/components/organisms/permission/PermissionsCard.vue
  apps/web/components/organisms/planning/PlanningDownloadCard.vue
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/layouts/default.vue
  apps/web/middleware/routing.ts
  apps/web/package.json
  apps/web/pages/catalog.vue
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
  apps/web/pages/humans.vue
  apps/web/pages/index.vue
  apps/web/store/user.ts
  apps/web/utils/pages/pagesList.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: missing e in bot comment
  .gitlab/triage_policies/rules/0.6.0.add_QoL_milestone.yml
Due: none

fix: missing e in bot comment #1177
  .gitlab/triage_policies/rules/0.6.0.add_QoL_milestone.yml
Due: none

chore: update versions. #1179
  apps/api/package.json
  apps/web/package.json
  domains/volunteer-availability/package.json
  libraries/period/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style(Api): ✍ Linted api files
  apps/api/src/assignment/assignment.service.ts
  apps/api/src/ft-user-request/ft-user-request.service.ts
  apps/api/src/need-help/need-help.service.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/orga-needs/orga-needs.service.ts
  apps/api/src/timeline/timeline.service.ts
  apps/api/src/user/user.service.ts
  apps/api/src/utils/period.ts
  apps/api/src/volunteer-planning/domain/storedTask.ts
  apps/api/src/volunteer-planning/render/pdf-render-strategy.ts
  apps/api/src/volunteer-planning/task.repository.prisma.ts
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

chore: :whale: update traefik version to 2.10.4
  docker/docker-compose.yml
Due: none

ci(renovate): Add renovate.json
  renovate.json
Due: none

ci(renovate): :rocket: update renovate config
  .vscode/settings.json
  renovate.json
Due: none

chore: remove dependabot triage rules
  .gitlab/triage_policies/rules/1.5.put_lables_on_dependabot_mr.yml
  renovate.json
Due: none

feat(chore): add dev in container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env
  .gitignore
  .pre-commit-config.yaml
  docker/.env
  docker/docker-compose.yml
  package.json
Due: none

ci(renovate): 🎉 Configure Renovate
  .gitlab/triage_policies/rules/1.5.put_lables_on_dependabot_mr.yml
  .vscode/settings.json
  docker/docker-compose.yml
  renovate.json
Due: none

refactor: dev.env to .env #1182
  docker/README.md
  package.json
Due: none

fix: Remplacer dev.env par .env dans les commandes du package.json
  docker/README.md
  package.json
Due: none

refactor: public animation table #1169
  apps/api/prisma/migrations/20230803155747_public_animation_table_name/migration.sql
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

fix: cast public animation with date #1169
  apps/web/pages/comcom.vue
  apps/web/store/publicAnimation.ts
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

style(Front): ✍ Linted frontend files
  apps/web/components/organisms/festivalEvent/fa/FaDetailCard.vue
  apps/web/repositories/faRepo.ts
  apps/web/store/publicAnimation.ts
  apps/web/utils/models/fa.ts
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

chore: Update version #1169
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  overbookd/web_lint: any of: apps/web/**/*
  overbookd/api_lint: any of: apps/api/**/*
  overbookd/api_prune: any of: apps/api/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
