Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

ci(docker): :whale: loa new archive in publish job
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

feat(web): add personal-account and notification repo. #1955
  apps/web/package.json
  apps/web/repositories/notification.repository.ts
  apps/web/repositories/personal-account.repository.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add alert repo and store. #1946
  apps/web/package.json
  apps/web/repositories/alert.repository.ts
  apps/web/stores/alert.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add meal-sharing and transaction repo. #1951
  apps/api/package.json
  apps/api/src/transaction/dto/transaction.response.dto.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transaction.service.ts
  apps/web/package.json
  apps/web/repositories/meal-sharing.repository.ts
  apps/web/repositories/transaction.repository.ts
  domains/personal-account/package.json
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transaction.model.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(web): add personal-account and notification stores. #1962
  apps/web/package.json
  apps/web/stores/notification.ts
  apps/web/stores/personal-account.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): logistic borrow, purchase and inventory repositories migration #1950
  apps/web/package.json
  apps/web/repositories/logistic/borrow.repository.ts
  apps/web/repositories/logistic/inventory.repository.ts
  apps/web/repositories/logistic/purchase.repository.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): update dependency typescript to v5.5.2
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update node.js to v20.15.0
  apps/api/package.json
  apps/old-web/package.json
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team/package.json
  domains/assignment/package.json
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(web): festival-activity store #1963
  apps/web/package.json
  apps/web/repositories/festival-event/festival-activity.repository.ts
  apps/web/stores/festival-event/festival-activity.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.utils.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): update dependency pnpm to v9.4.0
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/old-web/Dockerfile
  apps/old-web/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team/package.json
  docker/Dockerfile
  domains/assignment/package.json
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(web): add festival-task store #1966
  apps/web/package.json
  apps/web/stores/festival-event/festival-activity.ts
  apps/web/stores/festival-event/festival-task.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): update traefik docker tag to v3.0.3
  docker/docker-compose.yml
Due: none

feat(web): add side nav and bug report components. #1964 #1965
  apps/web/components/atoms/card/AskQuestion.vue
  apps/web/components/atoms/card/BugReport.vue
  apps/web/layouts/default.vue
  apps/web/layouts/parts/side-nav.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

docs(web): add README in folders #1969
  apps/web/assets/README.md
  apps/web/components/README.md
  apps/web/domain/README.md
  apps/web/layouts/README.md
  apps/web/middleware/04.team.global.ts
  apps/web/middleware/README.md
  apps/web/package.json
  apps/web/pages/README.md
  apps/web/plugins/README.md
  apps/web/public/README.md
  apps/web/repositories/README.md
  apps/web/stores/README.md
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add meal-sharing & contribution stores #1968
  apps/web/package.json
  apps/web/stores/contribution.ts
  apps/web/stores/meal-sharing.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add transaction & public holiday stores #1971
  apps/api/package.json
  apps/web/package.json
  apps/web/repositories/french-gov-public-holiday.repository.ts
  apps/web/stores/alert.ts
  apps/web/stores/public-holiday.ts
  apps/web/stores/transaction.ts
  package.json
  utils/http/package.json
  utils/http/src/index.ts
  utils/http/src/planning/public-holiday.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(web): add signa stores & rename isHttpError function #1967
  apps/web/middleware/01.auth.global.ts
  apps/web/package.json
  apps/web/repositories/assignment/assignments.repository.ts
  apps/web/repositories/assignment/availabilities.repository.ts
  apps/web/repositories/assignment/break-periods.repository.ts
  apps/web/repositories/assignment/planning.repository.ts
  apps/web/repositories/location.repository.ts
  apps/web/stores/alert.ts
  apps/web/stores/auth.ts
  apps/web/stores/configuration.ts
  apps/web/stores/contribution.ts
  apps/web/stores/festival-event/festival-activity.ts
  apps/web/stores/festival-event/festival-task.ts
  apps/web/stores/location.ts
  apps/web/stores/logistic/catalog-signage.ts
  apps/web/stores/meal-sharing.ts
  apps/web/stores/notification.ts
  apps/web/stores/personal-account.ts
  apps/web/stores/registration.ts
  apps/web/stores/team.ts
  apps/web/stores/transaction.ts
  apps/web/stores/user.ts
  apps/web/utils/http/api-fetch.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add logistic stores #1973
  apps/web/domain/inventory/inventory-record.ts
  apps/web/package.json
  apps/web/repositories/logistic/inventory.repository.ts
  apps/web/stores/logistic/catalog-signage.ts
  apps/web/stores/logistic/catalog.ts
  apps/web/stores/logistic/catalogGear.ts
  apps/web/stores/logistic/inventory.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): update node.js to v20.15.0
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  apps/api/Dockerfile
  apps/old-web/Dockerfile
  apps/web/Dockerfile
  docker/Dockerfile
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(deps): update dependency @types/node to v20.14.8
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(web): add permission store. #1980
  apps/api/package.json
  apps/api/src/permission/dto/permission-link.request.dto.ts
  apps/api/src/permission/permission.controller.ts
  apps/web/package.json
  apps/web/repositories/permission.repository.ts
  apps/web/stores/permission.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(web): fix font import and add meta tags. #1970
  apps/web/nuxt.config.ts
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add logistic-dashboard and festival-event-stats stores plus some renaming. #1977
  apps/web/package.json
  apps/web/repositories/festival-event/festival-activity.repository.ts
  apps/web/repositories/festival-event/festival-task.repository.ts
  apps/web/stores/festival-event/festival-event-stats.ts
  apps/web/stores/logistic/catalog-gear.ts
  apps/web/stores/logistic/logistic-dashboard.ts
  apps/web/stores/personal-account.ts
  apps/web/stores/snack-notification.ts
  apps/web/utils/festival-event/stats.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add register page & replace jsonwebtoken by jose #1934
  apps/api/package.json
  apps/api/prisma/seeders/teams.ts
  apps/api/src/registration/registration.controller.ts
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/atoms/field/CommentField.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/layouts/parts/side-nav.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/middleware/02.user.global.ts
  apps/web/middleware/03.routing.global.ts
  apps/web/package.json
  apps/web/pages/login.vue
  apps/web/pages/register.vue
  apps/web/plugins/safe-html.client.ts
  apps/web/plugins/vuetify.client.ts
  apps/web/stores/registration.ts
  apps/web/utils/http/api-fetch.ts
  apps/web/utils/pages/logout-pages.ts
  apps/web/utils/pages/pages-navigation.ts
  domains/registration/package.json
  domains/registration/src/enroll/index.ts
  domains/registration/src/forget-member/index.ts
  domains/registration/src/index.ts
  domains/registration/src/invite-staff/index.ts
  domains/registration/src/invite-staff/invite-staff.spec.ts
  domains/registration/src/invite-staff/invite-staff.ts
  domains/registration/src/newcomer-repository.inmemory.ts
  domains/registration/src/newcomer.ts
  domains/registration/src/register-form/fields/index.ts
  domains/registration/src/register-form/index.ts
  domains/registration/src/register-newcomer.spec.ts
  domains/registration/src/register-newcomer.ts
  package.json
  pnpm-lock.yaml
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(web): add preference repo. #1957
  apps/web/package.json
  apps/web/repositories/preference.repository.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add tiptap component #1987
  apps/web/components/atoms/field/TipTap.vue
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(web): add preference and volunteer-availability stores. #1979
  apps/web/package.json
  apps/web/repositories/volunteer-availability.repository.ts
  apps/web/stores/preference.ts
  apps/web/stores/volunteer-availability.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add Money field #1991
  apps/web/components/atoms/field/money/MoneyField.vue
  apps/web/package.json
  apps/web/utils/rules/money.utils.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): remove safe-html #1994
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/package.json
  apps/web/plugins/safe-html.client.ts
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(web): add admin configuration page #1986
  apps/web/components/atoms/card/ConfirmationMessage.vue
  apps/web/components/atoms/chip/TeamChip.vue
  apps/web/components/atoms/field/TipTap.vue
  apps/web/components/atoms/field/date/DateField.vue
  apps/web/components/atoms/search/SearchTeam.vue
  apps/web/components/molecules/team/TeamForm.vue
  apps/web/components/organisms/permission/PermissionList.vue
  apps/web/components/organisms/team/TeamList.vue
  apps/web/package.json
  apps/web/pages/configuration.vue
  apps/web/repositories/permission.repository.ts
  apps/web/stores/permission.ts
  apps/web/utils/pages/pages-navigation.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add staff registration page #1988
  apps/api/package.json
  apps/api/src/contribution/contribution.controller.ts
  apps/api/src/personal-account/personal-account.controller.ts
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/web/components/molecules/registration/RegistrationConfiguration.vue
  apps/web/components/organisms/volunteer/VolunteerList.vue
  apps/web/package.json
  apps/web/pages/registrations/staff.vue
  apps/web/pages/volunteers.vue
  apps/web/stores/registration.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(web): add password reset & fix registration comment field #1938
  apps/api/package.json
  apps/api/src/authentication/authentication.controller.ts
  apps/web/components/atoms/field/CommentField.vue
  apps/web/components/molecules/login/ForgotPasswordCard.vue
  apps/web/components/molecules/login/LoginHelp.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/layouts/parts/side-nav.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/middleware/02.user.global.ts
  apps/web/middleware/03.routing.global.ts
  apps/web/package.json
  apps/web/pages/login.vue
  apps/web/pages/reset/[token].vue
  apps/web/repositories/auth.repository.ts
  apps/web/stores/auth.ts
  apps/web/utils/pages/navigation.ts
  apps/web/utils/pages/unauthenticated.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(web): add volunteer information in volunteers #1961
  apps/web/components/atoms/image/ProfilePicture.vue
  apps/web/components/atoms/search/SearchFriend.vue
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/components/organisms/user/VolunteerInformation.vue
  apps/web/components/organisms/volunteer/VolunteerList.vue
  apps/web/package.json
  apps/web/pages/volunteers.vue
  apps/web/stores/auth.ts
  apps/web/stores/user.ts
  apps/web/utils/user/user-information.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): comment unused pages in navigation #1996
  apps/web/package.json
  apps/web/utils/pages/navigation.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(web): add profile page. #1985
  apps/api/package.json
  apps/api/src/user/repository/preferences.prisma.ts
  apps/web/components/atoms/field/CommentField.vue
  apps/web/components/atoms/search/SearchFriend.vue
  apps/web/components/molecules/friend/FriendsCard.vue
  apps/web/components/molecules/user/ProfilePictureDialog.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/package.json
  apps/web/pages/profile.vue
  apps/web/pages/volunteers.vue
  apps/web/stores/user.ts
  apps/web/utils/http/api-fetch.ts
  apps/web/utils/rules/input.rules.ts
  apps/web/utils/user/user-information.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

prefeat(web): add settings in sg page #1993
  apps/api/package.json
  apps/api/src/transaction/dto/create-transaction.request.dto.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transaction.service.ts
  apps/web/components/atoms/field/money/MoneyField.vue
  apps/web/components/organisms/personal-account/BarrelsForm.vue
  apps/web/domain/volunteer-consumption/drink-consumption.ts
  apps/web/error.vue
  apps/web/package.json
  apps/web/pages/configuration.vue
  apps/web/pages/registrations/staff.vue
  apps/web/pages/sg.vue
  apps/web/repositories/transaction.repository.ts
  apps/web/stores/personal-account.ts
  apps/web/stores/transaction.ts
  domains/personal-account/package.json
  domains/personal-account/src/transaction/shared-meal/shared-meal.spec.ts
  domains/personal-account/src/transaction/shared-meal/shared-meal.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/http/src/index.ts
  utils/http/src/transaction.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(web): remove all useless onMounted #1997
  apps/web/components/atoms/search/SearchFriend.vue
  apps/web/components/atoms/search/SearchTeam.vue
  apps/web/components/atoms/search/SearchTeams.vue
  apps/web/components/molecules/registration/RegistrationConfiguration.vue
  apps/web/components/organisms/permission/PermissionList.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/components/organisms/team/TeamList.vue
  apps/web/package.json
  apps/web/pages/configuration.vue
  apps/web/pages/registrations/staff.vue
  apps/web/pages/volunteers.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test
