Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(festival-activity): hide deleted linked festival tasks #1597
  apps/api/src/festival-event/activity/common/repository/festival-activity.query.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1597
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

style: ✍ run format and lint on all modules
  apps/web/pages/ft/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-task): display reviewers color in list #1586
  apps/web/package.json
  apps/web/pages/ft/index.vue
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.model.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.17.0
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

feat(festival-task): add reviewers filter. #1589
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/components/organisms/festival-event/festival-task/FtFilter.vue
  apps/web/pages/ft/index.vue
  apps/web/utils/festival-event/festival-activity/festival-activity.utils.ts
  apps/web/utils/festival-event/festival-event.utils.ts
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1589
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-activity): hide deleted linked festival tasks #1597
  apps/api/package.json
  apps/api/src/festival-event/activity/common/repository/festival-activity.query.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(festival-task): fix copy paste leftover
  apps/web/pages/ft/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(festival-task): add reviewers filter. #1589
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/components/organisms/festival-event/festival-task/FtFilter.vue
  apps/web/package.json
  apps/web/pages/ft/index.vue
  apps/web/utils/festival-event/festival-activity/festival-activity.utils.ts
  apps/web/utils/festival-event/festival-event.utils.ts
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(festival-task): enable reject. #1586
  domains/festival-event/src/common/review.error.ts
  domains/festival-event/src/common/review.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing-festival-activities.inmemory.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing.error.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing.spec.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing.ts
  domains/festival-event/src/festival-task/festival-task.event.ts
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/festival-task.ts
  domains/festival-event/src/festival-task/review/festival-tasks-for-review.inmemory.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
  domains/festival-event/src/festival-task/volunteer-conflicts.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

test(festival-task): fix api build issue. #1586
  apps/api/prisma/migrations/20240221185150_add_reject_and_refused_on_festival_task/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-event/task/common/repository/ask-for-review.prisma.ts
  apps/api/src/festival-event/task/common/repository/festival-task.query.ts
  apps/api/src/statistics/repository/festival-tasks.prisma.ts
  domains/festival-event/src/festival-activity/festival-activity.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review-tasks.inmemory.ts
  domains/festival-event/src/festival-task/create/create.ts
  domains/festival-event/src/festival-task/festival-task.builder.ts
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.ts
  domains/festival-event/src/index.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix(festival-event): build issues caused by new type. #1586
  domains/festival-event/src/festival-event.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/festival-task.builder.ts
  domains/festival-event/src/festival-task/festival-task.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  domains/festival-event/src/festival-task/review/festival-tasks-for-review.inmemory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

style(festival-event): add and remove spaces. #1586
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/review/festival-tasks-for-review.inmemory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(web): build issues. #1586
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
  apps/web/utils/festival-event/festival-task/reviewable.ts
  utils/http/src/festival-event/festival-task.model.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: build tests. #1586
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions. #1586
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(festival-task): enable reject. #1586
  apps/api/package.json
  apps/api/prisma/migrations/20240221185150_add_reject_and_refused_on_festival_task/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/repository/ask-for-review.prisma.ts
  apps/api/src/festival-event/task/common/repository/festival-task.query.ts
  apps/api/src/statistics/repository/festival-tasks.prisma.ts
  apps/web/package.json
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
  apps/web/utils/festival-event/festival-task/reviewable.ts
  domains/festival-event/package.json
  domains/festival-event/src/common/review.error.ts
  domains/festival-event/src/common/review.ts
  domains/festival-event/src/festival-activity/festival-activity.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing-festival-activities.inmemory.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing.error.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing.spec.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing.ts
  domains/festival-event/src/festival-event.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review-tasks.inmemory.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/create/create.ts
  domains/festival-event/src/festival-task/festival-task.builder.ts
  domains/festival-event/src/festival-task/festival-task.event.ts
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/festival-task.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/review/festival-tasks-for-review.inmemory.ts
  domains/festival-event/src/festival-task/review/review.spec.ts
  domains/festival-event/src/festival-task/review/review.ts
  domains/festival-event/src/festival-task/volunteer-conflicts.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/http/src/festival-event/festival-task.model.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): add in review status in filter #1599
  apps/web/components/organisms/festival-event/festival-task/FtFilter.vue
  apps/web/utils/models/ft.model.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1599
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-task): add in review status in filter #1599
  apps/web/components/organisms/festival-event/festival-task/FtFilter.vue
  apps/web/package.json
  apps/web/utils/models/ft.model.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(festival-event): add helper for building refused tasks. #1595
  domains/festival-event/src/festival-task/festival-task.factory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

prefeat(festival-event): allow ask for review on refused tasks. #1595
  domains/festival-event/src/common/review.error.ts
  domains/festival-event/src/festival-activity/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-activity/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-activity/festival-activity.error.ts
  domains/festival-event/src/festival-activity/festival-activity.ts
  domains/festival-event/src/festival-event.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review-tasks.inmemory.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/index.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions. #1595
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  domains/festival-event/src/festival-activity/ask-for-review/ask-for-review.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

style(festival-event): test naming. #1595
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor(festival-event): move convert to in review logic to dedicated file. #1595
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-festival-task.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

prefeat(festival-event): allow ask for review on refused tasks. #1595
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/common/review.error.ts
  domains/festival-event/src/festival-activity/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-activity/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-activity/festival-activity.error.ts
  domains/festival-event/src/festival-activity/festival-activity.ts
  domains/festival-event/src/festival-event.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review-tasks.inmemory.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-festival-task.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

refactor(festival-task): tests #1594
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-general-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-inquiries-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-mobilizations-list.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor(festival-task): merge tests #1594
  domains/festival-event/src/festival-task/prepare/prepare-mobilizations-list.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: prune #1594
  domains/festival-event/src/festival-task/festival-task.test-util.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

test(festival-task): add general section test if task is refused #1594
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-general-section.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

test(festival-task): add instructions tests #1594
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-general-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions #1594
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): tests #1594
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-inquiries-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-mobilizations-list.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

test(festival-task): add general section test if task is refused #1594
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-general-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-inquiries-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-mobilizations-list.spec.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): filter on task status. #1600
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test
