Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

fix(ci): update deps to fix build on web. #1102
  apps/web/nuxt.config.js
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build

style(Front): ✍ Linted frontend files
  apps/web/index.d.ts
Due: @overbookd/web_build

fix(ci): update web dependencies. #1102
  apps/web/index.d.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build

[WIP] test(ci): overrides webpackdependency. #1102
  package.json
Due: none

[WIP]refactor(ci): adapt docker steps. #1102
  .gitlab/ci/docker-build.gitlab-ci.yml
Due: none

chore(monorepo): enforce pnpm usage. #1102
  package.json
Due: none

chore(deps): bump @nestjs/swagger from 7.0.6 to 7.0.12 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps): bump @prisma/client from 4.16.1 to 4.16.2 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps): bump nuxt from 2.15.8 to 3.6.1 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump @nestjs/cli from 10.0.5 to 10.1.1 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @types/node from 20.3.1 to 20.3.3 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @typescript-eslint/eslint-plugin in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @typescript-eslint/parser in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump eslint from 8.43.0 to 8.44.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump prisma from 4.16.1 to 4.16.2 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump ts-loader from 9.4.3 to 9.4.4 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump typescript from 5.1.3 to 5.1.6 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump eslint and @nuxtjs/eslint-config-typescript
  frontend/package-lock.json
  frontend/package.json
Due: frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump ts-jest from 29.1.0 to 29.1.1 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump typescript from 5.1.3 to 5.1.6 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: bump frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: bump backend deps
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fixup! [WIP]refactor(ci): adapt docker steps. #1102
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
Due: none

refactor: add faReponse Type #1120
  backend/src/fa/dto/faResponse.dto.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.model.ts
  backend/src/fa/fa.service.ts
  backend/src/fa/faTypes.ts
  backend/src/fa_signa_needs/fa_signa_needs.controller.ts
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
  frontend/components/organisms/festivalEvent/fa/FAGeneralCard.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Back): remove redundant await
  backend/src/catalog/repositories/prisma/category.repository.prisma.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.service.ts
  backend/src/fa/faTypes.ts
  backend/src/fa_electricity_needs/fa_electricity_needs.service.ts
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
  backend/src/fa_time_windows/fa_time_windows.service.ts
  backend/src/team/team.service.ts
  frontend/domain/inventory/inventory-import.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Back): lite fa response dto #1126
  backend/src/fa/dto/completeFaResponse.dto.ts
  backend/src/fa/dto/liteFaResponse.dto.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.model.ts
  backend/src/fa/fa.service.ts
  backend/src/fa/faTypes.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

refactor(Back): remove waterFlowRequired in fa #1126
  backend/prisma/migrations/20230702115758_remove_unused_fa_type/migration.sql
  backend/prisma/schema.prisma
  backend/src/fa/dto/completeFaResponse.dto.ts
  backend/src/fa/dto/updateFa.dto.ts
  backend/src/fa/fa.model.ts
  backend/src/fa/faTypes.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*
