Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*

chore: update versions. #1078
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): display task priority. #1078
  backend/package-lock.json
  backend/package.json
  backend/src/timeline/dto/timelineEventResponse.dto.ts
  backend/src/timeline/timeline.model.ts
  backend/src/timeline/timeline.service.ts
  frontend/components/molecules/timeline/TimelineEvents.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/models/timeline.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): add caps #1082
  backend/src/volunteer-planning/render/pdf/introduction.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: Update version #1082
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Planning): Ajouter des majuscules à "plan bénévole" dans le header
  backend/package-lock.json
  backend/package.json
  backend/src/volunteer-planning/render/pdf/introduction.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.15.1
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): send time windows. #1083
  backend/src/timeline/dto/timelineEventResponse.dto.ts
  backend/src/timeline/timeline.model.ts
  backend/src/timeline/timeline.service.ts
  frontend/components/molecules/timeline/TimelineEvents.vue
  frontend/store/timeline.ts
  frontend/utils/models/timeline.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: update versions. #1083
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): select only overlapping timewindows. #1083
  backend/src/timeline/timeline.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix(timeline): send time windows. #1083
  backend/package-lock.json
  backend/package.json
  backend/src/timeline/dto/timelineEventResponse.dto.ts
  backend/src/timeline/timeline.model.ts
  backend/src/timeline/timeline.service.ts
  frontend/components/molecules/timeline/TimelineEvents.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/store/timeline.ts
  frontend/utils/models/timeline.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): display time windows. #1084
  frontend/components/molecules/timeline/TimelineEvents.vue
  frontend/utils/timeline/placement.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #1084
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): use color as variable. #1084
  frontend/assets/variables.scss
  frontend/components/molecules/timeline/TimelineEvents.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(timeline): display time windows. #1084
  backend/package-lock.json
  backend/package.json
  frontend/assets/variables.scss
  frontend/components/molecules/timeline/TimelineEvents.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/timeline/placement.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): display timespan assignees on click. #1085
  frontend/components/molecules/timeline/TimelineEvents.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #1085
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(timeline): update variable names. #1085
  frontend/components/molecules/timeline/TimelineEvents.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(timeline): display timespan assignees on click. #1085
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/timeline/TimelineEvents.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): more readable task title. #1087
  frontend/components/molecules/timeline/TimelineEvents.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #1087
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(timeline): more readable task title. #1087
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/timeline/TimelineEvents.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.15.2
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(need-help): build need help page. #1088
  frontend/components/atoms/field/date/DateTimeField.vue
  frontend/components/molecules/need-help/NeedCard.vue
  frontend/components/molecules/need-help/VolunteerList.vue
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
  frontend/layouts/default.vue
  frontend/pages/need-help.vue
  frontend/utils/models/needHelp.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #1088
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(need-help): remove autofocus and update type. #1088
  frontend/components/molecules/need-help/NeedCard.vue
  frontend/utils/models/needHelp.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(need-help): build need help page. #1088
  backend/package-lock.json
  backend/package.json
  frontend/components/atoms/field/date/DateTimeField.vue
  frontend/components/molecules/need-help/NeedCard.vue
  frontend/components/molecules/need-help/VolunteerList.vue
  frontend/components/molecules/timeline/TimelineForm.vue
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
  frontend/layouts/default.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/need-help.vue
  frontend/utils/models/needHelp.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(need-help): expose available volunteers via endpoint. #1089
  backend/src/app.module.ts
  backend/src/need-help/dto/volunteerResponse.dto.ts
  backend/src/need-help/needHelp.controller.ts
  backend/src/need-help/needHelp.model.ts
  backend/src/need-help/needHelp.module.ts
  backend/src/need-help/needHelp.service.ts
  backend/src/need-help/volunteer.repository.prisma.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: update versions. #1089
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(need-help): expose available volunteers via endpoint. #1089
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/need-help/dto/volunteerResponse.dto.ts
  backend/src/need-help/needHelp.controller.ts
  backend/src/need-help/needHelp.model.ts
  backend/src/need-help/needHelp.module.ts
  backend/src/need-help/needHelp.service.ts
  backend/src/need-help/volunteer.repository.prisma.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(need-help): fetch and display available users. #1090
  frontend/assets/variables.scss
  frontend/components/molecules/need-help/NeedCard.vue
  frontend/components/molecules/need-help/VolunteerList.vue
  frontend/components/molecules/timeline/TimelineAxis.vue
  frontend/repositories/needHelp.repository.ts
  frontend/repositories/repoFactory.ts
  frontend/repositories/timeline.repository.ts
  frontend/store/index.ts
  frontend/store/needHelp.ts
  frontend/store/timeline.ts
  frontend/utils/date/dateUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #1090
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(need-help): fetch and display available users. #1090
  backend/package-lock.json
  backend/package.json
  frontend/assets/variables.scss
  frontend/components/molecules/need-help/NeedCard.vue
  frontend/components/molecules/need-help/VolunteerList.vue
  frontend/components/molecules/timeline/TimelineAxis.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/needHelp.repository.ts
  frontend/repositories/repoFactory.ts
  frontend/repositories/timeline.repository.ts
  frontend/store/index.ts
  frontend/store/needHelp.ts
  frontend/store/timeline.ts
  frontend/utils/date/dateUtils.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(need-help): enable filters on date range, name and team. #1091
  frontend/components/molecules/need-help/NeedCard.vue
  frontend/components/molecules/need-help/VolunteerList.vue
  frontend/pages/need-help.vue
  frontend/store/needHelp.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #1091
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(need-help): add forgotten file. #1091
  frontend/components/molecules/need-help/NeedHelpFormCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(need-help): enable filters on date range, name and team. #1091
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/need-help/NeedHelpFormCard.vue
  frontend/components/molecules/need-help/VolunteerList.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/need-help.vue
  frontend/store/needHelp.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): change explanation wording. #1092
  frontend/components/organisms/planning/PlanningCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #1092
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): change explanation wording. #1092
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/planning/PlanningCard.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.16.0
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend
