Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

chore: update versions #1319
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: add spaces #1319
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: install

prefeat(festival-activity): Add inquiry time windows in domain #1319
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(festival-activity): type bug & add missing tests #1320
  domains/festival-activity/src/ask-for-review/ask-for-review.test-utils.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
Due: install

feat: add inquiry requests #1320
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  domains/festival-activity/src/festival-activity.error.ts
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): inquiry creation #1320
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/adherent-repository.prisma.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions #1320
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: wrong inquiry id #1320
  domains/festival-activity/src/ask-for-review/ask-for-review.test-utils.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: install

fix(festival-activity): clean inquiry functions #1320
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

refactor(festival-activity): id to slug in inquiry #1320
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  domains/festival-activity/src/ask-for-review/ask-for-review.test-utils.ts
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: prune InquiryOwner #1320
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
Due: install

refactor: clean code & tests #1320
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
Due: install

refactor(festival-activity): remove tests #1320
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
Due: install

refactor: clean tests #1320
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
Due: install

refactor(festival-activity): add function #1320
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
Due: install

refactor: upgrade function type #1320
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
Due: install

fix: dto #1321
  apps/api/src/festival-activity/dto/contractor.response.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: signa tests #1322
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
Due: install

fix: signage dto #1322
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): test signa remove #1322
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
Due: install

feat(festival-activity): add signage tests #1322
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
Due: install

feat(festival-activity): add signage functions #1322
  domains/festival-activity/src/festival-activity.error.ts
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

fix(festival-activity): update tests #1322
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
Due: install

chore: update versions #1322
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

prefeat(festival-activity): add gear inquiries in domain #1320
  apps/api/package.json
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/adherent-repository.prisma.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/ask-for-review/ask-for-review.test-utils.ts
  domains/festival-activity/src/festival-activity.error.ts
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): use right id type. 1321
  domains/festival-activity/src/ask-for-review/ask-for-review.ts
  domains/festival-activity/src/ask-for-review/festival-activities.inmemory.ts
  domains/festival-activity/src/creation/creation.ts
  domains/festival-activity/src/preparation/festival-activities.inmemory.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: install

fix(festival-activity): remove fa id in items id #1321
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
Due: install

fix(festival-activity): id brand in ask for review #1321
  domains/festival-activity/src/ask-for-review/ask-for-review.test-utils.ts
Due: install

fix: remove unused exports #1321
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
Due: install

fix: inquiry time window test #1321
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
Due: install

chore: update versions. #1321
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): rework id to remove faId occurence. #1321
  apps/api/package.json
  apps/api/src/festival-activity/dto/contractor.response.dto.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/ask-for-review/ask-for-review.test-utils.ts
  domains/festival-activity/src/ask-for-review/ask-for-review.ts
  domains/festival-activity/src/ask-for-review/festival-activities.inmemory.ts
  domains/festival-activity/src/creation/creation.ts
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/festival-activities.inmemory.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: use object id in test #1322
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
Due: install

prefeat(festival-activity): Add signage needs in domain #1322
  apps/api/package.json
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/festival-activity.error.ts
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(festival-activity): group cases in spec files
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
Due: install

refactor(festival-activity): general section spec files
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
Due: install

fix(festival-activity): signa update only comment on signage
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
Due: install

fix(festival-activity): electricity supply comment update
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/supply-section-preparation.spec.ts
Due: install

chore(festival-activity): reword security section spec title
  domains/festival-activity/src/preparation/security-section-preparation.spec.ts
Due: install

chore: update versions
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test
