Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix: remove unused emit #1655
  apps/web/components/molecules/registration/VolunteerDetails.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

refactor: merge 2 forget functions #1655
  apps/web/pages/registrations/staff.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/store/registration.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: emit events #1655
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/components/organisms/user/VolunteerInformation.vue
  apps/web/components/organisms/user/VolunteerList.vue
  apps/web/pages/volunteers.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): blink effect on rich editor when formated as header 1/2. #1571
  apps/web/components/atoms/field/tiptap/RichEditor.vue
  apps/web/components/molecules/festival-event/instructions/InitInChargeInstructionsCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
  apps/web/package.json
  apps/web/pages/config.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/store/registration.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: update tests with right stock #1677
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(logistic-dashboard): return consumed instead of stock discrepancy #1677
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
  utils/http/src/index.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(logistic-dashboard): add stock discrepancy in consumable gear details #1677
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: substract stock with consumed #1677
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1677
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(registration): staff link generation with perm #1652
  apps/api/package.json
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.module.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/configuration-repository.prisma.ts
  apps/api/src/registration/repository/configurations.repository.ts
  apps/web/package.json
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
  domains/configuration/package.json
  domains/configuration/src/index.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): staff invitation link fetch #1652
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/configuration-repository.prisma.ts
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(registration): staff invitation link fetch #1652
  apps/api/package.json
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/configuration-repository.prisma.ts
  apps/web/package.json
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(rich-editor): remove non-functional menu item #1665
  apps/web/components/atoms/field/tiptap/TiptapMenu.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/pages/SG.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

refactor(repo-factory): remove it and use static repo #1376
  apps/web/components/organisms/personal-account/OverTransactions.vue
  apps/web/package.json
  apps/web/pages/SG.vue
  apps/web/pages/forgot.vue
  apps/web/pages/reset/_token.vue
  apps/web/pages/transactions.vue
  apps/web/repositories/repo-factory.ts
  apps/web/store/alert.ts
  apps/web/store/assignment.ts
  apps/web/store/catalog.ts
  apps/web/store/catalogGear.ts
  apps/web/store/charismaPeriod.ts
  apps/web/store/configuration.ts
  apps/web/store/contribution.ts
  apps/web/store/ft.ts
  apps/web/store/gearRequest.ts
  apps/web/store/index.ts
  apps/web/store/inventory.ts
  apps/web/store/needHelp.ts
  apps/web/store/notification.ts
  apps/web/store/orgaNeeds.ts
  apps/web/store/permission.ts
  apps/web/store/planning.ts
  apps/web/store/signa.ts
  apps/web/store/team.ts
  apps/web/store/timeline.ts
  apps/web/store/transaction.ts
  apps/web/store/user.ts
  apps/web/store/volunteerAvailability.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/api/src/logistic/catalog/catalog.service.ts
  apps/web/components/atoms/field/search/SearchGear.vue
  apps/web/components/atoms/field/search/SearchSignaLocation.vue
  apps/web/components/atoms/field/search/SearchSignage.vue
  apps/web/components/atoms/field/search/SearchTeam.vue
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/molecules/friend/FriendsCard.vue
  apps/web/components/molecules/logistic/GearFilter.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/components/organisms/assignment/calendar/OrgaTaskCalendar.vue
  apps/web/components/organisms/assignment/list/FilterableTimeSpanList.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/contribution/ContributionsTable.vue
  apps/web/components/organisms/logistic/CategoriesTreeView.vue
  apps/web/components/organisms/logistic/GearListing.vue
  apps/web/components/organisms/logistic/InventoryListing.vue
  apps/web/components/organisms/personal-account/CreateTransferForm.vue
  apps/web/components/organisms/signa/SignageListing.vue
  apps/web/components/organisms/user/VolunteerList.vue
  apps/web/pages/forget/index.vue
  apps/web/pages/logistic/dashboard.vue
  apps/web/pages/my-personal-account.vue
  apps/web/pages/public-animations.vue
  apps/web/pages/register.vue
  apps/web/pages/registrations/staff.vue
  apps/web/pages/signa/location.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

refactor: opti function & add test #1677
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat:loan-sheet): add model in db #1682
  apps/api/prisma/schema.prisma
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(loan-sheet): add model in utils #1682
  utils/http/src/logistic/loan-sheet.model.ts
Due: none

refactor: function #1677
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(loan-sheet): creation in domain #1683
  domains/logistic/package.json
  domains/logistic/src/index.ts
  domains/logistic/src/loan-sheet/create/create.spec.ts
  domains/logistic/src/loan-sheet/create/create.ts
  domains/logistic/src/loan-sheet/create/loan-sheet.inmemory.ts
  domains/logistic/src/loan-sheet/loan-sheet.model.ts
  domains/logistic/tsconfig.build.json
  domains/logistic/tsconfig.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(loan-sheet): await inmemoty function #1683
  domains/logistic/src/loan-sheet/create/create.spec.ts
  domains/logistic/src/loan-sheet/create/create.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: implement in web & api #1683
  apps/api/package.json
  apps/web/package.json
  apps/web/tsconfig.json
  domains/logistic/src/index.ts
  domains/logistic/src/loan-sheet/create/create.ts
  domains/logistic/src/loan-sheet/create/loan-sheet.inmemory.ts
  domains/logistic/src/loan-sheet/loan-sheet.ts
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions #1683
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

refactor: loan to borrow #1683
  domains/logistic/package.json
  domains/logistic/src/borrow/borrow.ts
  domains/logistic/src/borrow/create/borrow.inmemory.ts
  domains/logistic/src/borrow/create/create.spec.ts
  domains/logistic/src/borrow/create/create.ts
  domains/logistic/src/index.ts
  domains/logistic/src/loan-sheet/create/create.spec.ts
  domains/logistic/src/loan-sheet/create/create.ts
  domains/logistic/src/loan-sheet/create/loan-sheet.inmemory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor: create to init #1683
  domains/logistic/src/borrow/create/create.spec.ts
  domains/logistic/src/borrow/init/borrow.inmemory.ts
  domains/logistic/src/borrow/init/init.spec.ts
  domains/logistic/src/borrow/init/init.ts
  domains/logistic/src/index.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: import #1683
  domains/logistic/src/index.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: prune #1685
  domains/logistic/src/loan-sheet/loan-sheet.error.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor: loan to borrow #1685
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  domains/logistic/src/borrow/borrow.error.ts
  domains/logistic/src/borrow/borrow.test-utils.ts
  domains/logistic/src/borrow/remove/borrow.inmemory.ts
  domains/logistic/src/borrow/remove/remove.spec.ts
  domains/logistic/src/borrow/remove/remove.ts
  domains/logistic/src/borrow/update/borrow.inmemory.ts
  domains/logistic/src/borrow/update/update.spec.ts
  domains/logistic/src/borrow/update/update.ts
  domains/logistic/src/loan-sheet/loan-sheet.error.ts
  domains/logistic/src/loan-sheet/loan-sheet.test-utils.ts
  domains/logistic/src/loan-sheet/remove/loan-sheet.inmemory.ts
  domains/logistic/src/loan-sheet/remove/remove.spec.ts
  domains/logistic/src/loan-sheet/remove/remove.ts
  domains/logistic/src/loan-sheet/update/loan-sheet.inmemory.ts
  domains/logistic/src/loan-sheet/update/update.spec.ts
  domains/logistic/src/loan-sheet/update/update.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix: sheet to borrow #1685
  domains/logistic/src/borrow/borrow.test-utils.ts
  domains/logistic/src/borrow/remove/remove.spec.ts
  domains/logistic/src/borrow/update/update.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

prefeat(loan-sheet): add removal #1685
  domains/logistic/src/loan-sheet/remove/loan-sheet.inmemory.ts
  domains/logistic/src/loan-sheet/remove/remove.spec.ts
  domains/logistic/src/loan-sheet/remove/remove.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

prefeat(loan-sheet): implement update #1685
  domains/festival-event/src/festival-activity/festival-activity.error.ts
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/logistic/src/loan-sheet/loan-sheet.error.ts
  domains/logistic/src/loan-sheet/loan-sheet.test-utils.ts
  domains/logistic/src/loan-sheet/remove/remove.spec.ts
  domains/logistic/src/loan-sheet/remove/remove.ts
  domains/logistic/src/loan-sheet/update/loan-sheet.inmemory.ts
  domains/logistic/src/loan-sheet/update/update.spec.ts
  domains/logistic/src/loan-sheet/update/update.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor: remove to cancel #1685
  domains/logistic/src/borrow/cancel/borrow.inmemory.ts
  domains/logistic/src/borrow/cancel/cancel.spec.ts
  domains/logistic/src/borrow/cancel/cancel.ts
  domains/logistic/src/borrow/remove/remove.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions #1685
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: remove find for remove #1685
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/logistic/src/borrow/cancel/borrow.inmemory.ts
  domains/logistic/src/borrow/cancel/cancel.spec.ts
  domains/logistic/src/borrow/cancel/cancel.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor: des trucs #1685
  domains/logistic/src/borrow/cancel/cancel.spec.ts
  domains/logistic/src/borrow/init/init.spec.ts
  domains/logistic/src/borrow/plan/borrow.inmemory.ts
  domains/logistic/src/borrow/plan/plan.spec.ts
  domains/logistic/src/borrow/plan/plan.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor: rename function #1685
  domains/logistic/src/borrow/plan/plan.spec.ts
  domains/logistic/src/borrow/plan/plan.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor: optimize function #1677
  apps/web/components/organisms/logistic/DashboardGearDetailsGraph.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test
