Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/constants_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{constants/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-web_docker_pre_build:
  variables:
    APP_PATH: apps/web
    APP_NAME: web

chore: update versions #2778
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(registration): do not empty email on check unauthenticated #2778
  apps/web/components/organisms/registration/RegistrationStepper.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(assignment): can display past tasks in task-orga #2751
  apps/api/src/assignment/task-to-volunteer/dto/missing-assignment-task.response.dto.ts
  apps/api/src/assignment/task-to-volunteer/repository/tasks.prisma.ts
  apps/web/components/molecules/assignment/filter/TaskFilters.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/stores/assignment/task-to-volunteer.ts
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.ts
  domains/assignment/src/assign-task-to-volunteer/task.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #2751
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(deps): update node.js to v24.21.0
  .devcontainer/devcontainer.json
  apps/api/package.json
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-code/package.json
  constants/web-page/package.json
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/oidc/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v12
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-code/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  pnpm-lock.yaml
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/oidc/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(registration): add application switch in web #2777
  apps/api/src/user/planning/render/pdf/talkie-frequencies.ts
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/atoms/assignment/AssignmentVolunteerIcons.vue
  apps/web/components/molecules/registration/RegistrationConfigurationCard.vue
  apps/web/components/molecules/volunteer/AssignmentVolunteerStats.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/pages/register.vue
  apps/web/pages/registrations/staff.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/repositories/registration/membership-application.repository.ts
  apps/web/stores/registration/membership-application.ts
  apps/web/utils/navigation/pages/management.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteer-funnel.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(registration): add application switch in domain and api #2777
  apps/api/src/registration/index/registration.service.ts
  apps/api/src/registration/membership-application/common/repository/candidates.prisma.ts
  apps/api/src/registration/membership-application/common/repository/users.prisma.ts
  apps/api/src/registration/membership-application/common/repository/users.ts
  apps/api/src/registration/membership-application/staff/staff-membership-application.controller.ts
  apps/api/src/registration/membership-application/staff/staff-membership-application.module.ts
  apps/api/src/registration/membership-application/staff/staff-membership-application.service.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.controller.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.module.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.service.ts
  apps/web/pages/registrations/staff.vue
  apps/web/stores/registration/membership-application.ts
  domains/registration/src/index.ts
  domains/registration/src/membership-application/apply-for.spec.ts
  domains/registration/src/membership-application/apply-for.ts
  domains/registration/src/membership-application/candidate.test-utils.ts
  domains/registration/src/membership-application/candidates.inmemory.ts
  domains/registration/src/membership-application/candidates.ts
  domains/registration/src/membership-application/candidature.error.ts
  domains/registration/src/membership-application/reject.spec.ts
  domains/registration/src/membership-application/reject.ts
  domains/registration/src/membership-application/switch.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  domains/registration/src/membership-application/switch.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

feat(registration): add application switch domain tests #2777
  domains/registration/src/membership-application/switch.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions #2777
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  domains/registration/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(registration): fix tests #2777
  domains/registration/src/membership-application/apply-for.spec.ts
  domains/registration/src/membership-application/reject.spec.ts
  domains/registration/src/membership-application/switch.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(registration): close dialog on candidate update #2777
  apps/web/components/organisms/volunteer/VolunteerListHeader.vue
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(user): update zitadel user on profile update #2780
  apps/api/src/mail/templates/festival-activity-rejected.ejs
  apps/api/src/mail/templates/festival-activity-validated.ejs
  apps/api/src/mail/templates/festival-task-rejected.ejs
  apps/api/src/registration/index/registration.service.ts
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/user.service.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/pages/ft/420.vue
  domains/personal-account/src/meal-sharing/meal-sharing.error.ts
  utils/user/src/user-form.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #2780
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(api): handle user being logged out from zitadel but not overbookd #2779
  apps/api/src/authentication-zitadel/guards/zitadel.auth.guard.ts
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/composable/useOidcUtils.ts
  apps/web/middleware/01.auth.global.ts
  apps/web/pages/login.vue
  apps/web/utils/http/api-fetch.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2779
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(api): handle user being logged out from zitadel but not overbookd #2779
  apps/api/package.json
  apps/api/src/authentication-zitadel/guards/zitadel.auth.guard.ts
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/composable/useOidcUtils.ts
  apps/web/middleware/01.auth.global.ts
  apps/web/package.json
  apps/web/pages/login.vue
  apps/web/utils/http/api-fetch.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(registration): prefill user information when registering with existing ob account #2778
  apps/web/components/organisms/registration/RegistrationStepper.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(registration): prefill user information when registering with existing ob account #2778
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(assignment): can display past tasks in task-orga #2751
  apps/api/package.json
  apps/api/src/assignment/task-to-volunteer/dto/missing-assignment-task.response.dto.ts
  apps/api/src/assignment/task-to-volunteer/repository/tasks.prisma.ts
  apps/web/components/molecules/assignment/filter/TaskFilters.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/package.json
  apps/web/stores/assignment/task-to-volunteer.ts
  domains/assignment/package.json
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.ts
  domains/assignment/src/assign-task-to-volunteer/task.ts
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(user): update zitadel user on profile update #2780
  apps/api/package.json
  apps/api/src/mail/templates/festival-activity-rejected.ejs
  apps/api/src/mail/templates/festival-activity-validated.ejs
  apps/api/src/mail/templates/festival-task-rejected.ejs
  apps/api/src/registration/index/registration.service.ts
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/user.service.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/package.json
  apps/web/pages/ft/420.vue
  domains/personal-account/package.json
  domains/personal-account/src/meal-sharing/meal-sharing.error.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
  utils/user/src/user-form.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): make phone numbers international #2781
  apps/web/components/molecules/festival-event/festival-activity/contractor/ContractorForm.vue
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  domains/registration/src/index.ts
  domains/registration/src/phone-number/phone-number.spec.ts
  domains/registration/src/phone-number/phone-number.ts
  domains/registration/src/register-form/fields/mobile-phone-field.ts
  domains/registration/src/register-form/register-form.spec.ts
  domains/registration/src/register-newcomer.spec.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #2781
  apps/api/package.json
  apps/web/package.json
  domains/registration/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): make phone numbers international #2781
  apps/api/package.json
  apps/web/components/molecules/festival-event/festival-activity/contractor/ContractorForm.vue
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/package.json
  domains/registration/package.json
  domains/registration/src/index.ts
  domains/registration/src/phone-number/phone-number.spec.ts
  domains/registration/src/phone-number/phone-number.ts
  domains/registration/src/register-form/fields/mobile-phone-field.ts
  domains/registration/src/register-form/register-form.spec.ts
  domains/registration/src/register-newcomer.spec.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): save staff token for zitadel login #2782
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/organisms/home-dashboard/PersonalFaHomeCard.vue
  apps/web/components/organisms/home-dashboard/PersonalFtHomeCard.vue
  apps/web/components/organisms/home-dashboard/ToDoAsVolunteerHomeCard.vue
  apps/web/components/organisms/logistic/dashboard/DashboardGearDetailsDialogCard.vue
  apps/web/components/organisms/orga-need/OrgaNeedDetailsDialogCard.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/layouts/header/Logo.vue
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
  apps/web/pages/login.vue
  apps/web/pages/register.vue
  apps/web/utils/registration/staff-token.ts
  domains/registration/src/invite-staff/invite-staff.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): lint #2782
  apps/web/pages/login.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2782
  apps/api/package.json
  apps/web/package.json
  domains/registration/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): save staff token for zitadel login #2782
  apps/api/package.json
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/organisms/home-dashboard/PersonalFaHomeCard.vue
  apps/web/components/organisms/home-dashboard/PersonalFtHomeCard.vue
  apps/web/components/organisms/home-dashboard/ToDoAsVolunteerHomeCard.vue
  apps/web/components/organisms/logistic/dashboard/DashboardGearDetailsDialogCard.vue
  apps/web/components/organisms/orga-need/OrgaNeedDetailsDialogCard.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/layouts/header/Logo.vue
  apps/web/package.json
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
  apps/web/pages/login.vue
  apps/web/pages/register.vue
  apps/web/utils/registration/staff-token.ts
  domains/registration/package.json
  domains/registration/src/invite-staff/invite-staff.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(ci): deploy pipeline #2784
  .gitlab/ci/deploy.gitlab-ci.yml
Due: none

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
