Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-frontend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs:
  - lintage-frontend
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE/frontend:builder || true
  ...

lintage-frontend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

lintage-backend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

feat(catalog): add searchGear by owner #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/gear.repository.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

ci: ✨ opti des pipelines et update des dockerfile
  .gitlab-ci.yml
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/clean_up_pipelines.gitlab-ci.yml
  .gitlab/ci/configurator.gitlab-ci.yml
  .gitlab/ci/configurator.sh
  .gitlab/ci/container_scan.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  .gitlab/ci/security_rules.gitlab-ci.yml
  .gitlab/ci/triage.gitlab-ci.yml
  .gitlab/ci/unconfidentializer.gitlab-ci.yml
  .gitlab/triage_policies/rules/0.6.0.add_QoL_milestone.yml
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
  .gitlab/triage_policies/rules/1.4.no_closed_issues_in_mr.yml
  .vscode/project.code-workspace
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/package.json
  config/config.json
  docker/compose.sh
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dev
  tools/migrateUsers.py
Due: containerize-backend, merge_requests_containerize-backend, configurator, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

feat(FA Backend): ✨ creation dto for fa_signa
  backend/src/app.module.ts
  backend/src/fa_signa_needs/dto/create-fa_signa_need.dto.ts
  backend/src/fa_signa_needs/dto/update-fa_signa_need.dto.ts
  backend/src/fa_signa_needs/entities/fa_signa_need.entity.ts
  backend/src/fa_signa_needs/fa_signa_needs.controller.spec.ts
  backend/src/fa_signa_needs/fa_signa_needs.controller.ts
  backend/src/fa_signa_needs/fa_signa_needs.module.ts
  backend/src/fa_signa_needs/fa_signa_needs.service.spec.ts
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(Front): :art: Refactor FA forms in components
  frontend/components/organisms/form/fa/FADetailCard.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/PrestaCard.vue
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :art: Rectification link components
  frontend/components/organisms/ModificationCard.vue
  frontend/components/organisms/form/fa/PassSecuCard.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
  frontend/components/overTransactions.vue
  frontend/pages/SG.vue
  frontend/pages/availabilities.vue
  frontend/pages/createavailibility.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/fa/_fa_old.vue
  frontend/pages/humans.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(CP): :bug: fixe amout to 2
  .vscode/project.code-workspace
  frontend/pages/SG.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

chore(Front): :bookmark: update version
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): ✍ Linted frontend files
  frontend/package-lock.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :art: Fix Components v-model error
  frontend/components/organisms/form/fa/FADetailCard.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/PrestaCard.vue
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(catalog): :sparkles: search gears by owner. #611
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/catalog.service.ts
  backend/src/catalog/dto/gearResponse.dto.ts
  backend/src/catalog/dto/gearSearchRequest.dto.ts
  backend/src/catalog/gear.controller.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/gear.repository.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(CP): :bug: fixe amout to 2
  .vscode/project.code-workspace
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/SG.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Update migration to avoid failure
  backend/prisma/migrations/20221031202924_add_id_on_team/migration.sql
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

Update migration to avoid migration failure
  backend/prisma/migrations/20221031202924_add_id_on_team/migration.sql
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(Front): :fire: Modif FA form pour test
  frontend/pages/fa/-_fa_old.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(FA): :truck: change team reference from name to id
  .vscode/project.code-workspace
  backend/prisma/schema.prisma
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(FA): :recycle: finish merging new team
  backend/prisma/migrations/20221110114513_add_fa/migration.sql
  backend/src/fa/fa.service.ts
  backend/src/fa/testData.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :fire: remove pass secu
  backend/prisma/migrations/20221110122142_add_fa/migration.sql
  backend/prisma/schema.prisma
  backend/src/security_pass/dto/create-security_pass.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

test(FA): :white_check_mark: improve test
  backend/src/fa/fa.service.spec.ts
  backend/src/fa/testData.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(Front): :art: Recup data new components dans fa
  frontend/components/organisms/form/fa/FADetailCard.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/PrestaCard.vue
  frontend/components/organisms/form/fa/SecurityCard.vue
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
  frontend/pages/-_fa_old.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :zap: Add auto-scroll
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :bug: RichEditor in FA Detail
  frontend/components/atoms/RichEditor.vue
  frontend/components/organisms/form/fa/FADetailCard.vue
  frontend/components/overField.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

build(deps): bump node in /backend
  backend/Dockerfile
  backend/Dockerfile.dev
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style(Front): :art: Change Grid to Flex
  frontend/components/atoms/RichEditor.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

test(FA): :white_check_mark: improve fa tests
  backend/src/fa/fa.service.spec.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :sparkles: update DTO to make certain fiels optional
  backend/src/fa/dto/create-fa.dto.ts
  backend/src/fa/testData.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :zap: update service to deal with optional values
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(FA): :recycle: refator FA create method for better readability
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(FA): :lock: make utils func private
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

test(FA): :white_check_mark: add collaborator test
  backend/src/collaborator/dto/create-collaborator.dto.ts
  backend/src/fa/fa.service.spec.ts
  backend/src/fa/testData.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(FA): :truck: rename number of pass to avoid problem with TS
  backend/prisma/migrations/20221111110307_add_fa/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

test(FA): :white_check_mark: add test about security pass
  backend/src/fa/fa.service.spec.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(FA): :recycle: rework creation dto for optional values
  backend/src/fa/dto/create-fa.dto.ts
  backend/src/fa/testData.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor: :rocket: Ajout des teams vehicule
  backend/prisma/seed.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor: :rocket: Ajout des teams véhicule
  backend/prisma/seed.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix: :bug: Suppression de l'appel /logout lors d'une déconnection
  frontend/nuxt.config.js
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(Front): :art: Creation Sidebar component
  frontend/components/organisms/form/FormSidebar.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(User): :art: add password verification on backend
  backend/src/user/dto/userCreation.dto.ts
  backend/src/user/user.controller.ts
  frontend/pages/login.vue
  frontend/pages/signup.vue
  frontend/repositories/userRepo.ts
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

fix(User): :memo: update user DTO
  backend/src/user/dto/common.ts
  backend/src/user/dto/userModification.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style(Front): :art: improve error pages UI
  frontend/layouts/error.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :dizzy: use snackbare instead of alert
  frontend/pages/signup.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
