Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

fix(ci): add release step. #1276
  .gitlab-ci.yml
Due: none

fix(ci): pass variables through variables.env. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

test(ci): trigger on MR release creation. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

fix(ci): yaml is not valid. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

test(ci): is yaml valid?. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

fix(ci): set prepare_release image to alpine. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

fix(ci): get variables from prepare release. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

fix(ci): don't use protected variable name. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

test(ci): compute current commit anyway. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

fix(ci): first evaluate variable then use those. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

fix(ci): use single quotes inside double quotes. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

chore(ci): rename to CURRENT_TAG. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

test(ci): remove changelog variable. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

fix(ci): generate changelog for description in release phase. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

chore(ci): use reference syntax on format steps. #1276
  .gitlab/ci/check.gitlab-ci.yml
Due: none

chore(ci): remove testing purpose rules. #1276
  .gitlab/ci/create-release.gitlab-ci.yml
Due: none

feat(ci): automate release generation on tag creation. #1276
  .gitlab-ci.yml
  .gitlab/ci/bump-version.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/create-release.gitlab-ci.yml
  .gitlab/ci/setup-git.gitlab-ci.yml
Due: none

refactor: Add Nickname field #1281
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat: :sparkles: show nickname field only if canMangeUser. #1281
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: :wrench: set nickname as null. #1281
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: :wrench: error when clearing field + nickname field layout. #1281
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/utils/models/user.model.ts
  domains/user/src/user-form.model.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: :package: update versions. #1281
  apps/api/package.json
  apps/web/package.json
  domains/user/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat: modify surname in VolunteerInformation. #1281
  apps/api/package.json
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/package.json
  apps/web/utils/models/user.model.ts
  domains/user/package.json
  domains/user/src/user-form.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat: add cp page display #1247
  apps/web/assets/variables.scss
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/layouts/default.vue
  apps/web/layouts/parts/header.vue
  apps/web/layouts/parts/side-nav.vue
  apps/web/pages/contributions.vue
  apps/web/pages/index.vue
  apps/web/pages/my-personal-account.vue
  apps/web/repositories/user.repository.ts
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: import #1247
  apps/api/package.json
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/package.json
  apps/web/repositories/transaction.repository.ts
  apps/web/store/transaction.ts
  apps/web/tsconfig.json
  apps/web/utils/pages/pages-list.ts
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transaction.model.ts
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
  utils/transactions/package.json
  utils/transactions/src/index.ts
  utils/transactions/src/transaction.utils.ts
  utils/transactions/tsconfig.build.json
  utils/transactions/tsconfig.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(web): add in page list #1247
  apps/web/pages/my-personal-account.vue
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): sort personal account componente #1247
  apps/web/components/organisms/personal-account/OverTransactions.vue
  apps/web/components/organisms/personal-account/PersonalAccountCard.vue
  apps/web/components/organisms/personal-account/SgConfigForm.vue
  apps/web/components/organisms/user/CommentEditionCard.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/components/organisms/user/VolunteerInformation.vue
  apps/web/components/organisms/user/VolunteerList.vue
  apps/web/pages/SG.vue
  apps/web/pages/my-transactions.vue
  apps/web/pages/profile.vue
  apps/web/pages/transactions.vue
  apps/web/pages/volunteers.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: components path #1247
  apps/web/components/organisms/personal-account/OverTransactions.vue
  apps/web/components/organisms/user/VolunteerInformation.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: use new transaction type #1247
  apps/api/package.json
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/package.json
  apps/web/repositories/transaction.repository.ts
  apps/web/store/transaction.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/web/pages/my-personal-account.vue
  utils/transactions/src/transaction.model.ts
  utils/transactions/src/transaction.utils.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: clean transactions in web #1247
  apps/web/components/molecules/user/TransferDialog.vue
  apps/web/components/organisms/personal-account/PersonalAccountCard.vue
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/pages/my-transactions.vue
  apps/web/repositories/transaction.repository.ts
  apps/web/store/transaction.ts
  pnpm-lock.yaml
  utils/transactions/package.json
  utils/transactions/src/index.ts
  utils/transactions/src/transaction.model.ts
  utils/transactions/src/transaction.utils.ts
  utils/transactions/tsconfig.build.json
  utils/transactions/tsconfig.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: improve cp page #1247
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/pages/my-personal-account.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat: add message if no transaction #1247
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/store/transaction.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: update page perm #1247
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update version #1247
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(Comptes-persos): Faire une page dédiée #1247
  apps/api/package.json
  apps/web/assets/variables.scss
  apps/web/components/molecules/user/TransferDialog.vue
  apps/web/components/organisms/personal-account/OverTransactions.vue
  apps/web/components/organisms/personal-account/SgConfigForm.vue
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/components/organisms/user/CommentEditionCard.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/components/organisms/user/VolunteerInformation.vue
  apps/web/components/organisms/user/VolunteerList.vue
  apps/web/components/organisms/user/personalAccount/PersonalAccountCard.vue
  apps/web/layouts/default.vue
  apps/web/layouts/parts/header.vue
  apps/web/layouts/parts/side-nav.vue
  apps/web/package.json
  apps/web/pages/SG.vue
  apps/web/pages/contributions.vue
  apps/web/pages/index.vue
  apps/web/pages/my-personal-account.vue
  apps/web/pages/my-transactions.vue
  apps/web/pages/profile.vue
  apps/web/pages/transactions.vue
  apps/web/pages/volunteers.vue
  apps/web/repositories/transaction.repository.ts
  apps/web/repositories/user.repository.ts
  apps/web/store/transaction.ts
  apps/web/utils/pages/pages-list.ts
  domains/personal-account/package.json
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transaction.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat: implement transfer in domain #1247
  apps/api/prisma/migrations/20231012211947_refactor_transaction/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/registration/repository/member-repository.prisma.ts
  apps/api/src/transaction/dto/create-transfer.request.dto.ts
  apps/api/src/transaction/dto/transaction.response.dto.ts
  apps/api/src/transaction/repository/member-repository.prisma.ts
  apps/api/src/transaction/repository/transfer-repository.prisma.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transaction.module.ts
  apps/api/src/transaction/transaction.query.ts
  apps/api/src/transaction/transaction.service.ts
  apps/api/src/transaction/transfer.service.ts
  apps/web/components/organisms/personal-account/OverTransactions.vue
  apps/web/pages/transactions.vue
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transfer/index.ts
  domains/personal-account/src/transaction/transfer/payor.ts
  domains/personal-account/src/transaction/transfer/transfer.spec.ts
  domains/registration/src/forget-member/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: use Payor for transfers #1247
  apps/api/src/transaction/repository/transfer-repository.prisma.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transfer.service.ts
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transfer/index.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update version #1247
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(api): transaction repo #1247
  apps/api/src/transaction/dto/my-transaction.response.dto.ts
  apps/api/src/transaction/repository/transaction-repository.prisma.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transaction.module.ts
  apps/api/src/transaction/transaction.service.ts
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/pages/my-personal-account.vue
  apps/web/repositories/transaction.repository.ts
  apps/web/store/transaction.ts
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transaction.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test
