Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

feat(personal-account): implement transfer in web #1287
  apps/web/components/organisms/personal-account/CreateTransferForm.vue
  apps/web/pages/my-personal-account.vue
  apps/web/repositories/transaction.repository.ts
  apps/web/store/transaction.ts
  apps/web/store/user.ts
  apps/web/store/volunteerAvailability.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(transfer): add error filter #1287
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transfer-error.filter.ts
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transfer/index.ts
  domains/personal-account/src/transaction/transfer/transfer.error.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(user): profile picture fetch if no user #1287
  apps/web/components/organisms/personal-account/CreateTransferForm.vue
  apps/web/store/user.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1287
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(transfer): add amount example in dto #1287
  apps/api/src/transaction/dto/create-transfer.request.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat(personal-account): Implement transfer in web #1287
  apps/api/package.json
  apps/api/src/transaction/dto/create-transfer.request.dto.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transfer-error.filter.ts
  apps/web/components/organisms/personal-account/CreateTransferForm.vue
  apps/web/package.json
  apps/web/pages/my-personal-account.vue
  apps/web/repositories/transaction.repository.ts
  apps/web/store/transaction.ts
  apps/web/store/user.ts
  apps/web/store/volunteerAvailability.ts
  domains/personal-account/package.json
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transfer/index.ts
  domains/personal-account/src/transaction/transfer/transfer.error.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(release): ⬆️ bump to 2.5.0
  CHANGELOG.md
Due: none

ci(release): fix package.json bump
  .releaserc.json
  package.json
Due: none

fix: remove user data when logout #1266
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/layouts/parts/header.vue
  apps/web/store/user.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1266
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(user): Clean user data when logout #1266
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/layouts/parts/header.vue
  apps/web/package.json
  apps/web/store/user.ts
  package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(forgot-password): mail tempalte link #1292
  apps/api/src/mail/mail.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1292
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(forgot-password): envoi du mail #1292
  apps/api/package.json
  apps/api/src/mail/mail.service.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(need-help): request erro #1293
  apps/api/src/need-help/volunteer.repository.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions #1293
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(need-help): team in format volunteer #1293
  apps/api/src/need-help/volunteer.repository.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(need-help): Fix une erreur 500 #1293
  apps/api/package.json
  apps/api/src/need-help/volunteer.repository.prisma.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(release): ⬆️ bump to 2.5.1
  CHANGELOG.md
  package.json
Due: none

feat(festival-activity): add general section domain #1291
  domains/festival-activity/src/preparation/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: install

refactor(festival-activity): inmemory function & new test #1291
  domains/festival-activity/package.json
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/preparation/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  pnpm-lock.yaml
Due: install

chore: update version #1291
  apps/api/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): draft class #1291
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/preparation/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: install

fix(festival-activity): test & list update #1291
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/preparation/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
Due: install

chore(festival-activity): add general section domain #1291
  apps/api/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/preparation/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): move inmemory in domain & add general section preparation in api #1291
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  domains/festival-activity/src/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/festival-activity.repository.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions #1291
  apps/api/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): dto & error #1291
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  apps/api/src/festival-activity/dto/period.dto.ts
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  domains/festival-activity/src/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/festival-activity.error.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): Preview type #1291
  domains/festival-activity/src/festival-activity.model.ts
Due: install

fix(festival-activity): optional fileds in dto request #1291
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): error message #1291
  apps/api/src/festival-activity/festival-activity.service.ts
  domains/festival-activity/src/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/festival-activity.error.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(festival-activity): implement general section in api #1291
  apps/api/package.json
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  apps/api/src/festival-activity/dto/period.dto.ts
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
  domains/festival-activity/package.json
  domains/festival-activity/src/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/festival-activity.error.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/festival-activity.repository.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/preparation/general-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(web): wait for my information before ask for profile picture. #1295
  apps/web/store/user.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1295
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): wait for my information before ask for profile picture. #1295
  apps/web/package.json
  apps/web/store/user.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: rename assigned errors. #1294
  domains/registration/src/forget-member/forget-member.error.ts
  domains/registration/src/forget-member/forget-member.spec.ts
Due: install

feat(web): display forget him button on registrations page. #1294
  apps/web/pages/registrations.vue
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(registration): enable forget about not validated user. #1294
  apps/api/src/registration/registration.service.ts
  domains/registration/src/forget-member/forget-member.error.ts
  domains/registration/src/forget-member/forget-member.spec.ts
  domains/registration/src/forget-member/forget-member.ts
  domains/registration/src/forget-member/member-repository.inmemory.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(api): implement member repository. #1294
  apps/api/src/registration/repository/member-repository.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat(api): expose forget him endpoint. #1294
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test
