Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*

feat(FT) : add timeWindows routes
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/ftTypes.ts
  backend/src/ft_time_windows/dto/ftTimeWindowsResponse.dto.ts
  backend/src/ft_time_windows/dto/upsertFtTimeWindows.dto.ts
  backend/src/ft_time_windows/ft_time_windows.controller.ts
  backend/src/ft_time_windows/ft_time_windows.module.ts
  backend/src/ft_time_windows/ft_time_windows.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): ✨ Update FTTimeWIndow in front #787
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/config/config.service.ts
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/dto/update-ft.dto.ts
  backend/src/ft/ftTypes.ts
  backend/src/ft_time_windows/dto/upsertFtTimeWindows.dto.ts
  backend/src/ft_time_windows/ft_time_windows.controller.ts
  backend/src/ft_time_windows/ft_time_windows.service.ts
  frontend/components/atoms/RichEditor.vue
  frontend/components/atoms/SearchFA.vue
  frontend/components/atoms/SearchSignaLocation.vue
  frontend/components/molecules/timeframe/FTTimeWindowForm.vue
  frontend/components/molecules/timeframe/FTTimeWindowTable.vue
  frontend/components/molecules/timeframe/FTVolunteerRequirementForm.vue
  frontend/components/organisms/form/fa/ChildFTCard.vue
  frontend/components/organisms/form/ft/FTDetailCard.vue
  frontend/components/organisms/form/ft/FTGeneralCard.vue
  frontend/components/organisms/form/ft/FTTimeWindowCard.vue
  frontend/components/organisms/form/ft/ParentFACard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/ft/index.vue
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/festivalEvent/ftUtils.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/review.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(fa): add seeker in gear requests. #792
  backend/package-lock.json
  backend/package.json
  backend/src/fa/gear-requests/dto/gearRequestResponse.dto.ts
  backend/src/fa/gear-requests/gearRequests.service.spec.ts
  backend/src/fa/gear-requests/gearRequests.service.ts
  backend/src/fa/gear-requests/repositories/gearRequest.repository.prisma.ts
  frontend/components/molecules/logistics/LogisticTimeWindow.vue
  frontend/components/molecules/logistics/LogisticsTable.vue
  frontend/components/organisms/form/fa/GearRequestsValidation.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/faRepo.ts
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
  frontend/utils/models/gearRequests.ts
  frontend/utils/rules/faValidationRules.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.7.1
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Resolve "Fix FA timeWIndow"
  frontend/components/molecules/timeframe/FestivalEventCalendar.vue
  frontend/components/molecules/timeframe/TimeframeForm.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
  frontend/store/FA.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat: add feedbacks routes
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230130122700_refactor_ft_comments_to_ft_feedbacks/migration.sql
  backend/prisma/migrations/20230130180614_rename_ft_feedback_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/ft/ftTypes.ts
  backend/src/ft_feedback/dto/createFtFeedback.dto.ts
  backend/src/ft_feedback/dto/ftFeedbackResponse.dto.ts
  backend/src/ft_feedback/ft_feedback.controller.ts
  backend/src/ft_feedback/ft_feedback.module.ts
  backend/src/ft_feedback/ft_feedback.service.ts
  frontend/components/organisms/form/FeedbackCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/models/feedback.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): Display FA gear requests in FT
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/logistics/CompleteLogisticsTable.vue
  frontend/components/molecules/logistics/LogisticTimeWindow.vue
  frontend/components/organisms/form/ft/ParentFACard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/ftRepo.ts
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/utils/models/FA.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/gearRequests.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(log): fetch gear requests from database. #792
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.module.ts
  backend/src/gear-requests/dto/gearRequestApproveFormRequest.dto.ts
  backend/src/gear-requests/dto/gearRequestFormRequest.dto.ts
  backend/src/gear-requests/dto/gearRequestResponse.dto.ts
  backend/src/gear-requests/dto/gearRequestUpdateFormRequest.dto.ts
  backend/src/gear-requests/gearRequests.controller.ts
  backend/src/gear-requests/gearRequests.module.ts
  backend/src/gear-requests/gearRequests.service.spec.ts
  backend/src/gear-requests/gearRequests.service.ts
  backend/src/gear-requests/repositories/animation.repository.inmemory.ts
  backend/src/gear-requests/repositories/animation.repository.prisma.ts
  backend/src/gear-requests/repositories/gearRequest.repository.inmemory.ts
  backend/src/gear-requests/repositories/gearRequest.repository.prisma.ts
  backend/src/gear-requests/repositories/period.repository.inmemory.ts
  backend/src/gear-requests/repositories/period.repository.prisma.ts
  frontend/components/GearRequestListing.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/gearRequestRepo.ts
  frontend/repositories/repoFactory.ts
  frontend/store/gearRequest.ts
  frontend/store/inventory.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps): bump frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(ft): add and remove gear request on ft. #795
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230129182210_update_gear_request_model/migration.sql
  backend/prisma/migrations/20230129182532_update_gear_request_on_delete_behaviour/migration.sql
  backend/prisma/migrations/20230129182741_update_gear_request_table_name/migration.sql
  backend/prisma/schema.prisma
  backend/src/gear-requests/gearRequests.module.ts
  backend/src/gear-requests/gearRequests.service.spec.ts
  backend/src/gear-requests/gearRequests.service.ts
  backend/src/gear-requests/repositories/gearRequest.repository.prisma.ts
  backend/src/gear-requests/repositories/task.repository.inmemory.ts
  backend/src/gear-requests/repositories/task.repository.prisma.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: add Feedback, Validation, UserRequests & TeamRequests in store & repo
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/festivalEvent/ftUtils.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/review.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(ft): update gear request according to timewindow. #795
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/form/ft/FTTimeWindowCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/utils/functions/gearRequest.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): Ajouter la détection d'erreur des FT (avec la fenêtre avant soumission). #788
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/form/fa/FACheckBeforeSubmitCard.vue
  frontend/components/organisms/form/ft/FTCheckBeforeSubmitCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
  frontend/utils/rules/ftValidationRules.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(log): Add static gear request listing. #792
  backend/package-lock.json
  backend/package.json
  frontend/components/GearRequestListing.vue
  frontend/layouts/default.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/logistic/index.vue
  frontend/store/gearRequest.ts
  frontend/store/index.ts
  frontend/utils/models/gearRequests.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps): bump backend dependencies
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix: ChildFTCard in FA
  backend/package-lock.json
  backend/package.json
  backend/src/fa/fa_types.ts
  backend/src/ft/dto/create-ft.dto.ts
  frontend/assets/style.scss
  frontend/components/molecules/NewFTCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/models/ft.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): add gear request in form. #795
  backend/package-lock.json
  backend/package.json
  backend/src/ft/ft.controller.ts
  backend/src/ft/ft.module.ts
  backend/src/gear-requests/gearRequests.service.spec.ts
  backend/src/gear-requests/gearRequests.service.ts
  backend/src/gear-requests/repositories/gearRequest.repository.prisma.ts
  backend/src/gear-requests/repositories/task.repository.prisma.ts
  frontend/components/molecules/logistics/FALogisticsTable.vue
  frontend/components/molecules/logistics/FTLogisticsTable.vue
  frontend/components/organisms/form/FALogisticsCard.vue
  frontend/components/organisms/form/FTLogisticsCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
  frontend/repositories/ftRepo.ts
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/utils/functions/gearRequest.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps) bump backend dependencies
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(ft): Suppression d'un User_Request qui n'existe pas encore. #807
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/timeframe/FTVolunteerRequirementForm.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): handle user and team requests. #801
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230204105410_fix_quantity_team_request/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/ftTypes.ts
  backend/src/ft_team_request/dto/create-ft_team_request.dto.ts
  backend/src/ft_team_request/dto/deleteFtTeamRequest.dto.ts
  backend/src/ft_team_request/dto/ftTeamRequestResponse.dto.ts
  backend/src/ft_team_request/ft_team_request.controller.ts
  backend/src/ft_team_request/ft_team_request.module.ts
  backend/src/ft_team_request/ft_team_request.service.ts
  backend/src/ft_user_request/dto/ftUserRequestResponse.dto.ts
  backend/src/ft_user_request/dto/ft_user_request.dto.ts
  backend/src/ft_user_request/ft_user_request.controller.ts
  backend/src/ft_user_request/ft_user_request.module.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.8.1
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps): bump backend deps.
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(ft): add color card and disability. #789
  backend/package-lock.json
  backend/package.json
  backend/src/ft_reviews/ft_reviews.controller.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  frontend/components/atoms/SearchFA.vue
  frontend/components/atoms/SearchSignaLocation.vue
  frontend/components/atoms/SearchTeam.vue
  frontend/components/atoms/SearchUser.vue
  frontend/components/molecules/CardErrorList.vue
  frontend/components/molecules/timeframe/FTTimeWindowTable.vue
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
  frontend/components/organisms/form/ft/FTCheckBeforeSubmitCard.vue
  frontend/components/organisms/form/ft/FTDetailCard.vue
  frontend/components/organisms/form/ft/FTGeneralCard.vue
  frontend/components/organisms/form/ft/FTTimeWindowCard.vue
  frontend/components/organisms/form/ft/ParentFACard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/models/ft.ts
  frontend/utils/rules/ftValidationRules.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Front): :bug: btn submitted disabled in draft #805
  frontend/components/organisms/form/FestivalEventBottomBar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(ft): udpate gear request rental period on timewindow update. #799
  backend/package-lock.json
  backend/package.json
  backend/src/ft/ft.controller.ts
  backend/src/gear-requests/gearRequests.service.spec.ts
  backend/src/gear-requests/gearRequests.service.ts
  backend/src/gear-requests/repositories/gearRequest.repository.prisma.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): fix user & team requests. #803
  backend/package-lock.json
  backend/package.json
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft_team_request/dto/deleteFtTeamRequest.dto.ts
  backend/src/ft_team_request/ft_team_request.controller.ts
  backend/src/ft_team_request/ft_team_request.service.ts
  backend/src/ft_user_request/dto/ftUserRequestResponse.dto.ts
  backend/src/ft_user_request/ft_user_request.controller.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  backend/src/transaction/transaction.service.ts
  backend/src/user/user.service.ts
  frontend/components/atoms/SearchTeam.vue
  frontend/components/atoms/SearchUser.vue
  frontend/components/atoms/SearchUsers.vue
  frontend/components/molecules/timeframe/FTTimeWindowTable.vue
  frontend/components/molecules/timeframe/FTVolunteerRequirementForm.vue
  frontend/layouts/default.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/models/ft.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): set drive when approving gear request. #802
  backend/package-lock.json
  backend/package.json
  backend/src/fa/fa.controller.ts
  backend/src/ft/ft.controller.ts
  backend/src/gear-requests/gearRequests.service.spec.ts
  backend/src/gear-requests/gearRequests.service.ts
  backend/src/gear-requests/repositories/gearRequest.repository.prisma.ts
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/components/organisms/form/GearRequestsValidation.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
  frontend/repositories/faRepo.ts
  frontend/repositories/ftRepo.ts
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/utils/models/gearRequests.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: Add Validation & Refusal routes
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/ft/ft.controller.ts
  backend/src/ft/ft.service.ts
  backend/src/ft/ftTypes.ts
  backend/src/ft_reviews/dto/upsertFtReviews.dto.ts
  backend/src/ft_reviews/ft_reviews.controller.ts
  backend/src/ft_reviews/ft_reviews.module.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  frontend/assets/style.scss
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/components/organisms/form/FestivalEventSidebar.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/ft/_ft.vue
  frontend/pages/login.vue
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/festivalEvent/ftUtils.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/review.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.8.0
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix: Remove min & max in Datefield
  backend/package-lock.json
  backend/package.json
  frontend/components/atoms/DateField.vue
  frontend/components/molecules/timeframe/FTTimeWindowForm.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(ft): demande de soft se supprime si on change heure de la FT
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/store/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(ft): compute volunteer also required by ft. #798
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230205181450_add_indexes_on_timewindow_dates/migration.sql
  backend/prisma/schema.prisma
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/ft.module.ts
  backend/src/ft/ft.service.ts
  backend/src/ft/ftTypes.ts
  backend/src/ft_reviews/ft_reviews.module.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  backend/src/ft_user_request/dto/ftUserRequestResponse.dto.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  backend/src/gear-requests/gearRequests.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(front): display good transaction icon. #811
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/comptesPersosCard.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.8.2
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps): bump frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore(deps): bump nestjs backend dependencies.
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Trombi): adding Interceptor
  backend/package-lock.json
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(frontend): :sparkles: set trombi to working items :)
  frontend/layouts/default.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test
