Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-api_docker_build:
  needs:
  - overbookd-api_docker_pre_build
  variables:
    APP_PATH: apps/api
    APP_NAME: api

chore: update versions #2558
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(planning): center task details chips #2558
  apps/web/components/molecules/planning/TaskDetailsDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(planning): improve task details chips #2558
  apps/api/package.json
  apps/api/src/user/planning/render/pdf-render-strategy.ts
  apps/web/components/molecules/planning/TaskDetailsDialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(sleep): apply suggestions
  apps/web/components/organisms/sleep/BedListCard.vue
  apps/web/components/organisms/sleep/CreateSleeperCard.vue
  apps/web/pages/sleep.vue
  apps/web/stores/sleep.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore(deps): update dependency pnpm to v10.12.1
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency jose to v6
  domains/registration/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies (major)
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: pnpm 10.12.2
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: pnpm-lock
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(web): first batch of adding aria-label and title attributes to icon buttons #2563
  apps/web/components/atoms/card/DialogCard.vue
  apps/web/components/molecules/assignment/calendar/CandidateForAssignmentHeader.vue
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/molecules/charisma/CharismaPeriodTable.vue
  apps/web/components/molecules/festival-event/FaTimeWindowTable.vue
  apps/web/components/molecules/festival-event/festival-activity/contractor/ContractorTable.vue
  apps/web/components/molecules/festival-event/festival-activity/signage/FaSignageTable.vue
  apps/web/components/molecules/festival-event/festival-activity/supply/ElectricitySupplyTable.vue
  apps/web/components/molecules/festival-event/festival-task/mobilization/MobilizationTable.vue
  apps/web/components/molecules/festival-event/logistic/InquiryTable.vue
  apps/web/components/molecules/personal-account/ManageBarrelsDialogCard.vue
  apps/web/components/molecules/planning/DownloadLeafletsCard.vue
  apps/web/components/molecules/registration/RegistrationConfigurationCard.vue
  apps/web/components/molecules/signa/signage/SignageImageDisplayDialogCard.vue
  apps/web/components/molecules/timeline/TimelineFormCards.vue
  apps/web/components/organisms/volunteer/VolunteerListCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(web): second batch of adding aria-label and title attributes to icon buttons #2563
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/pages/signa/location.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(web): third batch of adding aria-label and title attributes to icon buttons #2563
  apps/web/components/molecules/team/TeamFormDialogCard.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/home-dashboard/PlanningDownloadHomeCard.vue
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/components/organisms/logistic/borrow/BorrowTableCard.vue
  apps/web/components/organisms/logistic/catalog/CatalogGearListingCard.vue
  apps/web/components/organisms/logistic/catalog/CategoriesTreeViewCard.vue
  apps/web/components/organisms/logistic/purchase/PurchaseTableCard.vue
  apps/web/components/organisms/permission/PermissionList.vue
  apps/web/components/organisms/personal-account/AllTransactionsListCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/components/organisms/signa/SignageListingCard.vue
  apps/web/components/organisms/team/TeamList.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerListHeader.vue
  apps/web/pages/charisma/events/list.vue
  apps/web/pages/fa/dashboard/logistic.vue
  apps/web/pages/fa/index.vue
  apps/web/pages/fa/to-publish.vue
  apps/web/pages/ft/index.vue
  apps/web/pages/logistic/borrow/[borrowId].vue
  apps/web/pages/logistic/borrow/index.vue
  apps/web/pages/logistic/purchase/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(web): fourth batch of adding aria-label and title attributes to icon buttons #2563
  apps/web/components/atoms/card/ConfirmationDialogCard.vue
  apps/web/components/atoms/page/DesktopPageTitle.vue
  apps/web/components/atoms/snack/SnackBar.vue
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/molecules/planning/TaskDetailsDialogCard.vue
  apps/web/components/molecules/timeline/TimelineAssignmentDetailsDialogCard.vue
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
  apps/web/components/organisms/eula/EULADialogCard.vue
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-task/FtInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
  apps/web/components/organisms/festival-event/festival-task/MobilizationCard.vue
  apps/web/components/organisms/festival-event/festival-task/ParentFaCard.vue
  apps/web/pages/ft/[id].vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(web): add alt text to images #2563
  apps/api/src/mail/templates/volunteer-enrolled.ejs
  apps/web/components/molecules/festival-event/festival-activity/supply/ElectricitySupplyFormDialogCard.vue
  apps/web/components/molecules/volunteer/ForgotPasswordDialogCard.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/error.vue
  apps/web/layouts/header/Logo.vue
  apps/web/pages/configuration.vue
  apps/web/pages/ft/420.vue
  apps/web/pages/login.vue
  apps/web/pages/register.vue
  apps/web/pages/reset/[token].vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2563
  apps/api/package.json
  apps/web/package.json
  constants/festival-event-constants/package.json
  domains/assignment/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(assignment): add a shortcut from volunteers stats to orga-task assignment #1862
  apps/web/components/molecules/assignment/card/AssignmentVolunteerFriendsCard.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/pages/assignment/orga-task.vue
  apps/web/utils/assignment/volunteer.select.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #1862
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(assignment): add a shortcut from volunteers stats to orga-task assignment #1862
  apps/web/components/molecules/assignment/card/AssignmentVolunteerFriendsCard.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/package.json
  apps/web/pages/assignment/orga-task.vue
  apps/web/utils/assignment/volunteer.select.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(timeline): save filters in url #2559
  apps/web/components/molecules/timeline/TimelineFormCards.vue
  apps/web/components/organisms/volunteer/VolunteerListHeader.vue
  apps/web/layouts/navigation/DesktopSideNav.vue
  apps/web/layouts/navigation/MobileBottomNav.vue
  apps/web/layouts/navigation/SideNavSearchField.vue
  apps/web/pages/fa/[id].vue
  apps/web/pages/ft/[id].vue
  apps/web/pages/logistic/borrow/[borrowId].vue
  apps/web/pages/logistic/purchase/[purchaseId].vue
  apps/web/utils/easter-egg/flip-content.ts
  apps/web/utils/http/url-params.utils.ts
  apps/web/utils/login.utils.ts
  apps/web/utils/navigation/router.utils.ts
  apps/web/utils/timeline/timeline.filter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2559
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(timeline): fix filter period button style #2559
  apps/web/components/molecules/timeline/TimelineFormCards.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): handle null in SideNavSearchField instead of parent #2559
  apps/web/layouts/navigation/DesktopSideNav.vue
  apps/web/layouts/navigation/SideNavSearchField.vue
  apps/web/utils/easter-egg/flip-content.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): empty string on clear in SideNavSearchField #2559
  apps/web/layouts/navigation/DesktopSideNav.vue
  apps/web/layouts/navigation/SideNavSearchField.vue
  apps/web/utils/easter-egg/flip-content.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
