Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

style: ✍ run format and lint on all modules
  apps/web/components/organisms/home-dashboard/UsefulLinksHomeCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2609
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/configuration/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(config): Save useful links in database #2609
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/web/components/organisms/home-dashboard/UsefulLinksHomeCard.vue
  apps/web/middleware/05.store-data.global.ts
  apps/web/package.json
  apps/web/pages/configuration.vue
  apps/web/stores/configuration.ts
  apps/web/utils/navigation/url.constant.ts
  package.json
  utils/configuration/package.json
  utils/configuration/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(configuration): add permissions on keys #2757
  apps/api/src/configuration/configuration.controller.ts
  apps/api/src/configuration/configuration.service.ts
  apps/web/stores/configuration.ts
  apps/web/utils/availabilities/calendar-event-periods.ts
  utils/configuration/package.json
  utils/configuration/src/index.ts
  utils/configuration/src/keys.ts
  utils/configuration/src/permissions.ts
  utils/configuration/src/types.ts
  utils/team/src/index.ts
  utils/team/src/team.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: pnpm-lock #2757
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: pnpm-lock again #2757
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: ci #2757
  utils/configuration/src/permissions.ts
  utils/configuration/src/types.ts
Due: none

style: ✍ run format and lint on all modules
  apps/api/src/configuration/configuration.controller.ts
  apps/api/src/configuration/configuration.service.ts
  utils/configuration/src/index.ts
  utils/configuration/src/permissions.ts
  utils/configuration/src/types.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: api check #2757
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/configuration/configuration.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

style: ✍ run format and lint on all modules
  apps/api/src/configuration/configuration.controller.ts
  apps/api/src/configuration/configuration.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: ci #2757
  apps/api/src/configuration/configuration.controller.ts
  apps/web/stores/registration/membership-application.ts
  utils/configuration/src/permissions.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(deps): update docker docker tag to v29.6.1
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

fix: again #2757
  apps/api/src/configuration/configuration.service.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.controller.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.service.ts
  apps/web/pages/configuration.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2757
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/configuration/package.json
  utils/team/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: config fetch #2757
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/authentication/permissions-auth.guard.ts
  apps/api/src/configuration/configuration.controller.ts
  apps/api/src/configuration/configuration.service.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.controller.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.service.ts
  apps/web/components/organisms/home-dashboard/UsefulLinksHomeCard.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/middleware/05.store-data.global.ts
  apps/web/pages/registrations/volunteer.vue
  apps/web/repositories/configuration.repository.ts
  apps/web/repositories/registration/membership-application.repository.ts
  apps/web/stores/configuration.ts
  apps/web/stores/registration/membership-application.ts
  utils/configuration/src/permissions.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: remove unused method #2757
  apps/api/src/configuration/configuration.service.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: oidc auth #2569
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  apps/web/nuxt.config.ts
  apps/web/plugins/init-auth.client.ts
  docker/docker-compose.yml
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: add oidc package & zitadel utils in api #2569
  apps/api/package.json
  apps/api/prisma/migrations/20260619214842_add_zitadel_id/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/app.module.ts
  apps/api/src/authentication-zitadel/decorators/authenticated-user.decorator.ts
  apps/api/src/authentication-zitadel/decorators/index.ts
  apps/api/src/authentication-zitadel/decorators/public.decorator.ts
  apps/api/src/authentication-zitadel/decorators/roles.decorator.ts
  apps/api/src/authentication-zitadel/guards/index.ts
  apps/api/src/authentication-zitadel/guards/roles.guard.ts
  apps/api/src/authentication-zitadel/guards/zitadel.auth.guard.ts
  apps/api/src/authentication-zitadel/zitadel-auth.module-definition.ts
  apps/api/src/authentication-zitadel/zitadel-auth.module.ts
  apps/api/src/authentication-zitadel/zitadel-types.ts
  apps/api/src/authentication-zitadel/zitadel.strategy.ts
  apps/api/src/authentication/authentication.controller.ts
  apps/api/src/authentication/authentication.service.ts
  apps/api/src/authentication/dto/forgot-password.request.dto.ts
  apps/api/src/authentication/dto/refresh-access.request.dto.ts
  apps/api/src/authentication/dto/reset-password.request.dto.ts
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/user/entities/user-metadata.entity.ts
  apps/api/src/user/entities/zitade-api-roles.entity.ts
  apps/api/src/user/entities/zitadel-api-metadata.entity.ts
  apps/api/src/user/entities/zitadel-api-user-created.entity.ts
  apps/api/src/user/entities/zitadel-api-user.entity.ts
  apps/api/src/user/zitadel.service.ts
  docker/docker-compose.yml
  libraries/time/src/date/date.ts
  libraries/time/src/date/format-date.utils.ts
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
  utils/oidc/package.json
  utils/oidc/src/index.ts
  utils/oidc/src/roles.ts
  utils/oidc/src/utils.ts
  utils/oidc/tsconfig.build.json
  utils/oidc/tsconfig.json
  utils/oidc/tsup.config.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: add env vars in dockerfile #2569
  apps/web/Dockerfile
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: update api url #2569
  apps/api/src/app.controller.spec.ts
  apps/api/src/app.service.ts
  apps/api/src/main.ts
  apps/web/middleware/01.auth.global.ts
  apps/web/nuxt.config.ts
  apps/web/utils/http/http-client.ts
  apps/web/utils/http/image.repository.ts
  docker/docker-compose.yml
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: refactor #2569
  apps/api/src/user/user.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(sso): implement zitadel connection #2569
  apps/web/.gitignore
  apps/web/components/molecules/volunteer/ForgotPasswordDialogCard.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/middleware/02.user.global.ts
  apps/web/middleware/03.membership-application.global.ts
  apps/web/middleware/04.routing.global.ts
  apps/web/middleware/05.store-data.global.ts
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/pages/login.vue
  apps/web/utils/navigation/pages/unauthenticated.ts
  docker/.env
  docker/docker-compose.yml
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: oidc composable #2569
  apps/web/composable/oidc-utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: add user sync request #2569
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat: web store #2569
  apps/web/composable/oidc-utils.ts
  apps/web/stores/authenticated-user.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: migration #2569
  apps/api/prisma/migrations/20260621121205_add_zitadel_id/migration.sql
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: packages #2569
  utils/oidc/package.json
Due: none

fix: ci #2569
  apps/api/src/user/dto/common.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/components/molecules/personal-account/BalanceGraphCards.vue
  apps/web/components/organisms/home-dashboard/PersonalAccountHomeCard.vue
  apps/web/components/organisms/home-dashboard/PersonalFaHomeCard.vue
  apps/web/components/organisms/home-dashboard/PersonalFtHomeCard.vue
  apps/web/components/organisms/personal-account/PastSharedMealCard.vue
  apps/web/components/organisms/personal-account/PastSharedMealsListCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/components/organisms/signa/SignageListingCard.vue
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/pages/availabilities.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(web): put portion cost in a computed #2251
  apps/web/components/organisms/personal-account/PastSharedMealCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(shared-meal): mobile display issue & add portion cost #2251
  apps/web/components/organisms/personal-account/PastSharedMealCard.vue
  apps/web/components/organisms/personal-account/PastSharedMealsListCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/pages/shared-meals/index.vue
  domains/personal-account/src/transaction/shared-meal/shared-meal.spec.ts
  domains/personal-account/src/transaction/shared-meal/shared-meal.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #2251
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(shared-meal): mobile display issue & add portion cost #2251
  apps/api/package.json
  apps/web/components/organisms/personal-account/PastSharedMealCard.vue
  apps/web/components/organisms/personal-account/PastSharedMealsListCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/package.json
  apps/web/pages/shared-meals/index.vue
  domains/personal-account/package.json
  domains/personal-account/src/transaction/shared-meal/shared-meal.spec.ts
  domains/personal-account/src/transaction/shared-meal/shared-meal.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat: add common module #2569
  apps/api/src/authentication-zitadel/guards/roles.guard.ts
  apps/api/src/authentication-zitadel/guards/zitadel.auth.guard.ts
  apps/api/src/authentication-zitadel/zitadel-types-utils.ts
  apps/api/src/common/common.module.ts
  apps/api/src/common/common.service.ts
  apps/api/src/main.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  apps/web/middleware/01.auth.global.ts
  apps/web/nuxt.config.ts
  apps/web/utils/http/api-fetch.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test
