Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

backend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - backend_install
  before_script:
  - cd backend
  script:
  - npm run build

frontend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - frontend_install
  before_script:
  - cd frontend
  script:
  - npm run build:ci

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

fix(Front): :bug: filter by validator status
  frontend/pages/fa/index.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix: Update version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(Front): :sparkles: Add new electricity type
  backend/prisma/schema.prisma
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat: :sparkles: Add new fields in Elec Need
  backend/prisma/schema.prisma
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

Resolve "Tri des FA dans page index ne fonctionne pas"
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/index.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

build(deps-dev): bump cypress from 12.1.0 to 12.2.0 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

build(deps): bump core-js from 3.26.1 to 3.27.0 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Add Electricity Type Label
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat: Upgrade back remove validation
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.service.ts
  frontend/utils/rules/faValidationRules.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

build(deps): :tada: front update
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat: :sparkles: Add new fields in DB (request error) & change image
  backend/prisma/migrations/20221228174117_fa_electricity_needs_device_with_count/migration.sql
  backend/prisma/schema.prisma
  backend/src/fa_electricity_needs/dto/create-fa_electricity_need.dto.ts
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/repositories/faRepo.ts
  frontend/static/img/log/plugs.jpeg
  frontend/static/img/log/plugs.png
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

perf(Back): Opti validation request
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.service.ts
  frontend/repositories/faRepo.ts
  frontend/store/FA.ts
  frontend/utils/rules/faValidationRules.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(Back): :art: Add function to deleteMany fa validation
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, ts-prune-backend

Update Version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(Front): Confirmation Message
  frontend/components/atoms/ConfirmationMessage.vue
  frontend/components/molecules/timeframe/TimeframeForm.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): Update ConfirmationMessage
  frontend/components/atoms/ConfirmationMessage.vue
  frontend/components/molecules/timeframe/TimeframeForm.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Add ElecLogisticForm
  backend/src/fa/fa_types.ts
  frontend/components/molecules/logistics/ElecLogisticForm.vue
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

refactor(Front): Opti time window
  frontend/components/molecules/timeframe/TimeframeForm.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Change validationStatus params
  frontend/components/molecules/logistics/LogisticTimeWindow.vue
  frontend/components/organisms/form/LogisticsCard.vue
  frontend/components/organisms/form/fa/CollaboratorCard.vue
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/FADetailCard.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/SecurityCard.vue
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
  frontend/pages/fa/_fa.vue
  frontend/utils/fa/faUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(Back): :zap: improve backend request code
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, ts-prune-backend

refactor(Front): :art: name function in faValidationRules
  frontend/components/molecules/CardErrorList.vue
  frontend/components/organisms/form/CheckBeforeSubmitCard.vue
  frontend/utils/rules/faValidationRules.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(Front): :art: Confirmation Message
  frontend/components/atoms/ConfirmationMessage.vue
  frontend/components/molecules/timeframe/TimeframeForm.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Add confirmation to add Matos timewindow
  frontend/components/molecules/timeframe/TimeframeForm.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Workflow btn & Confirmation message
  frontend/pages/fa/_fa.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :bug: Time Window type
  frontend/components/molecules/timeframe/TimeframeForm.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

perf(Back): Add trnsaction in refuse FA
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, ts-prune-backend

refactor(Front): :art: Refacto Array to []
  frontend/components/molecules/timeframe/TimeframeForm.vue
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/pages/fa/_fa.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(Front): :art: Opti MR
  frontend/components/atoms/ValidatorsIcons.vue
  frontend/components/molecules/CardErrorList.vue
  frontend/components/molecules/logistics/LogisticTimeWindow.vue
  frontend/components/organisms/form/fa/FADetailCard.vue
  frontend/pages/fa/_fa.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Back): request to add & edit elec need
  backend/src/fa_electricity_needs/fa_electricity_needs.service.ts
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(Front): Change subtitle elec
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :fire: remove console.log
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :fire: console.log bis
  frontend/components/organisms/form/fa/SignaCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :bug: Display date in form
  frontend/components/molecules/timeframe/TimeframeForm.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :fire: Remove type in time window form
  frontend/components/molecules/timeframe/TimeframeForm.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor: Update Version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(Front): :sparkles: Edit & Add elec need
  frontend/components/molecules/logistics/ElecLogisticForm.vue
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/utils/models/FA.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :fire: modif in timeframeForm
  frontend/components/molecules/timeframe/TimeframeForm.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Add toggle collaborator
  frontend/components/organisms/form/fa/CollaboratorCard.vue
  frontend/utils/rules/faValidationRules.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: fix Toggle & add collaborator
  frontend/components/organisms/form/fa/CollaboratorCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  ts-prune-backend: any of: backend/**/*
