Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

backend_scan_preprod:
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:pre-prod
    DOCKERFILE_PATH: backend/Dockerfile
  stage: docker-scan

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  script:
  - docker build ./frontend

Bug fix, user with only affected task can see their planning
  backend/src/routes/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Add a view to see rapidly the calendar of a user
  frontend/components/filtredUsers.vue
  frontend/components/listTasks.vue
  frontend/components/organisms/FriendInformation.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/userInformation.vue
  frontend/pages/calendar/_calendar.vue
  frontend/repositories/ftRepo.ts
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "Optimisation tache-orga"
  backend/src/routes/FT.ts
  frontend/components/filtredUsers.vue
  frontend/components/listTasks.vue
  frontend/components/organisms/FriendInformation.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/userInformation.vue
  frontend/pages/calendar/_calendar.vue
  frontend/repositories/ftRepo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Optimisation des requêtes plus ajout d'une pop up une fois le chargement terminé
  frontend/components/usersList.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Add user team in _calendar view
  frontend/pages/calendar/_calendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

addsnack message on user load
  backend/src/routes/TimeSpan.ts
  frontend/components/overCalendar.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix(docker): :art: add TLS to traefik
  docker/docker-compose-preprod.yml
  docker/docker-compose.yml
  docker/docker-compose_utils.yml
Due: none

Add cursor + Richt click on a friend show calendar
  frontend/components/listFT.vue
  frontend/components/overTasks.vue
  frontend/components/unassignDialog.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Fixed
  frontend/components/overCalendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Can bypass roles for tache orga
  backend/src/routes/TimeSpan.ts
  frontend/components/filtredUsers.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat: switch to friend planning. #545
  frontend/components/molecules/friendsDisplay.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Export Planning): :sparkles: sos part done
  backend/src/routes/Planning.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(Export Planning): :sparkles: numbers are now in the config
  backend/src/assets/map_ps.pdf
  backend/src/assets/psmap.png
  backend/src/pre-start/init_configs.json
  backend/src/routes/Planning.ts
  config/config.json
Due: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod

Rapid bug fix - User without unaffected timeframes aren't in the planning view.
  backend/src/routes/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

add possibility to add availability to user
  backend/src/routes/Users.ts
  backend/src/routes/index.ts
  frontend/components/organisms/TimeslotEditor.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix #564
  frontend/components/organisms/UserResume.vue
  frontend/components/overTasks.vue
  frontend/pages/creneaux.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix #502
  backend/src/entities/FA.ts
  backend/src/entities/Timeslot.ts
  backend/src/routes/Assignment.ts
  backend/src/routes/Conflict.ts
  backend/src/routes/FA.ts
  backend/src/routes/FT.ts
  backend/src/routes/TimeSpan.ts
  backend/src/routes/Timeslot.ts
  backend/src/routes/index.ts
  frontend/components/listFT.vue
  frontend/components/overFT.vue
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix #542
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix #551
  config/config.json
  frontend/components/overCalendar.vue
  frontend/store/assignment.ts
Due: configurator, containerize-frontend, merge_requests_containerize-frontend

Fix p1 issues
  backend/src/entities/FA.ts
  backend/src/entities/Timeslot.ts
  backend/src/routes/Assignment.ts
  backend/src/routes/Conflict.ts
  backend/src/routes/FA.ts
  backend/src/routes/FT.ts
  backend/src/routes/TimeSpan.ts
  backend/src/routes/Timeslot.ts
  backend/src/routes/index.ts
  config/config.json
  frontend/components/listFT.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/overCalendar.vue
  frontend/components/overFT.vue
  frontend/components/overTasks.vue
  frontend/pages/creneaux.vue
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

open new tab on task right click
  frontend/components/listFT.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix: property used but not defined
  frontend/components/overCalendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat: add toggle to show non validated user in orga mode
  frontend/components/filtredUsers.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

chore: delete switch
  frontend/components/filtredUsers.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Change simple-table to data-table in order to sort by date the ft in listFT
  frontend/components/listTasks.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Small visual correction
  frontend/components/organisms/UserResume.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Change simple-table to data-table in order to sort by date the ft in listFT
  frontend/components/listTasks.vue
  frontend/components/organisms/UserResume.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Add right click open the FT in orga-tache mode
  frontend/components/listTasks.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Export Planning): :sparkles: structure for all timespans
  backend/src/routes/Planning.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(Export Planning): :sparkles: better way to get fta
  backend/src/routes/Planning.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix obsucre bug and relabel switch
  frontend/components/overFT.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

show numbers of orga/tache in different component
  frontend/components/filtredUsers.vue
  frontend/components/listFT.vue
  frontend/components/overTasks.vue
Due: containerize-frontend, merge_requests_containerize-frontend

not update user on change other user availability
  frontend/store/user.ts
Due: containerize-frontend, merge_requests_containerize-frontend

show different color for team type orga-tache
  frontend/components/overCalendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(fa): :zap: FT in FA
  backend/src/routes/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(Export Planning): :sparkles: TImespan finally works
  backend/src/routes/Planning.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
