Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*

style(Front): ✍ Linted frontend files
  frontend/components/organisms/comptesPersosCard.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

:ambulance: fix transactions
  backend/src/auth/team-auth.guard.ts
  backend/src/transaction/transaction.controller.ts
  backend/src/transaction/transaction.service.ts
  backend/src/user/user.controller.ts
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/comptesPersosCard.vue
  frontend/components/overTransactions.vue
  frontend/layouts/default.vue
  frontend/pages/SG.vue
  frontend/pages/humans.vue
  frontend/pages/transactions.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

Fix Shagasse #4
  backend/src/main.ts
  backend/src/team/team.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Apply 1 suggestion(s) to 1 file(s)
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Fix
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Add team system
  backend/prisma/migrations/20221022123850_remove_is_deleted_from_Team_&_User_Team/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/entities/JwtPayload.entity.ts
  backend/src/auth/team-auth.guard.ts
  backend/src/team/dto/createTeam.dto.ts
  backend/src/team/dto/linkTeamUser.dto.ts
  backend/src/team/team.controller.ts
  backend/src/team/team.module.ts
  backend/src/team/team.service.ts
  backend/src/user/user.controller.ts
  docker/docker-compose-dev.yml
  frontend/components/organisms/userInformation.vue
  frontend/repositories/repoFactory.ts
  frontend/repositories/teamRepo.ts
  frontend/store/team.ts
  frontend/utils/models/repo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

fix(front sg): :ambulance: change Permission for button, Change round
  frontend/pages/SG.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Update userInformation.vue
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

add fix
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Fix Hublot
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat: :sparkles: init resource
  backend/src/app.module.ts
  backend/src/fa/dto/create-fa.dto.ts
  backend/src/fa/dto/update-fa.dto.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.module.ts
  backend/src/fa/fa.service.spec.ts
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(FA Backend): :sparkles: creation dto
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(FA Backend): :zap: Better DTO with Class validator
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

fix(FA Backend): :bug: fix fa creation DTO
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(FA Backend): :sparkles: Beggining of schema and update DTO to match it
  backend/prisma/schema.prisma
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

rollback fix
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(FA Backend): :sparkles: end of schema prisma
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(FA Backend): :construction: first migration
  backend/prisma/migrations/20221027132357_adding_fa/migration.sql
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Fix some bug on teams
  backend/prisma/migrations/20221026203518_set_default_value_for_context_field_in_transaction/migration.sql
  backend/prisma/schema.prisma
  backend/src/team/team.controller.ts
  backend/src/transaction/transaction.service.ts
  frontend/components/molecules/transferDialog.vue
  frontend/components/overTransactions.vue
  frontend/pages/SG.vue
  frontend/store/transaction.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

Beautify code & fix other bug
  backend/src/transaction/transaction.controller.ts
  backend/src/transaction/transaction.service.ts
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/comptesPersosCard.vue
  frontend/components/overTransactions.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

feat(FA Backend): :sparkles: Update controller with swagger and guards
  backend/src/fa/fa.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Fix Shagasse
  backend/src/transaction/transaction.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

test: :art: Init commit + suppression "__v" config
  backend/src/config/config.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor: :art: Replacement Overform in Signup Page
  frontend/pages/signup.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Make ui dynamic
  backend/prisma/schema.prisma
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/comptesPersosCard.vue
  frontend/pages/SG.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

Fix some bug on transactions
  backend/prisma/migrations/20221026203518_set_default_value_for_context_field_in_transaction/migration.sql
  backend/prisma/schema.prisma
  backend/src/team/team.controller.ts
  backend/src/transaction/transaction.controller.ts
  backend/src/transaction/transaction.service.ts
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/comptesPersosCard.vue
  frontend/components/overTransactions.vue
  frontend/pages/SG.vue
  frontend/store/transaction.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

feat(FA Backend): :fire: update DTO to match DB
  backend/src/fa/dto/create-fa.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

feat(FA Backend): :sparkles: start services
  backend/src/fa/dto/create-fa.dto.ts
  backend/src/fa/fa.service.spec.ts
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

fix(User): :bug: repare filter cotisation
  frontend/components/organisms/userInformation.vue
  frontend/pages/humans.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Docker): :art: Update node version, non-root images & refacto docker back
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/package.json
  docker/compose.sh
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

ci(Config): :fire: remove config files and configurator
  .gitlab/ci/configurator.gitlab-ci.yml
  .gitlab/ci/configurator.sh
  config/config.json
Due: configurator

ci(Config): :fire: remove config files and configurator
  .gitlab-ci.yml
Due: none

ci: :art: rename docker scan jobs
  .gitlab/ci/container_scan.gitlab-ci.yml
Due: none

ci(Docker): :zap: using docker cache
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

ci: :art: tagging image for front
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
Due: none

Fix typo
  frontend/pages/SG.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Fix hard ne peux pas voir la liste des personnes à qui faire les virements
  backend/src/user/user.controller.ts
  frontend/components/organisms/comptesPersosCard.vue
  frontend/components/overForm.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

refactor(Front): :art: Refonte form transferDialog
  frontend/components/molecules/transferDialog.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(Back): :fire: Remove _id config
  backend/src/config/config.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

Fix transfer
  backend/src/user/user.controller.ts
  frontend/components/organisms/comptesPersosCard.vue
  frontend/components/overForm.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend
