Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

chore: update versions #2766
  apps/api/package.json
  apps/web/package.json
  domains/charisma/package.json
  package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(sso): revert optional birth date & update phone one Zitadel #2766
  apps/api/prisma/migrations/20260728205611_revert_optional_birth_date/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/schema.puml
  apps/api/src/authentication-zitadel/request-hydrated-user.ts
  apps/api/src/authentication-zitadel/zitadel-types.ts
  apps/api/src/registration/membership-application/common/repository/enroll-candidates.prisma.ts
  apps/api/src/registration/membership-application/common/repository/enroll-candidates.query.ts
  apps/api/src/registration/membership-application/volunteer/dto/volunteer-candidate.response.ts
  apps/api/src/user/dto/user-personal-data.response.dto.ts
  apps/api/src/user/planning/planning.controller.ts
  apps/api/src/user/planning/planning.service.ts
  apps/api/src/user/user.service.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/components/organisms/volunteer/trombinoscope/Trombinoscope.vue
  apps/web/pages/index.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/pages/volunteers.vue
  apps/web/stores/registration/membership-application.ts
  apps/web/utils/http/cast-date/user.utils.ts
  utils/http/src/registration.ts
  utils/user/src/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(sso): revert optional birth date & update phone on Zitadel #2766
  apps/api/package.json
  apps/api/prisma/migrations/20260728205611_revert_optional_birth_date/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/schema.puml
  apps/api/src/authentication-zitadel/request-hydrated-user.ts
  apps/api/src/authentication-zitadel/zitadel-types.ts
  apps/api/src/registration/membership-application/common/repository/enroll-candidates.prisma.ts
  apps/api/src/registration/membership-application/common/repository/enroll-candidates.query.ts
  apps/api/src/registration/membership-application/volunteer/dto/volunteer-candidate.response.ts
  apps/api/src/user/dto/user-personal-data.response.dto.ts
  apps/api/src/user/user.service.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/components/organisms/volunteer/trombinoscope/Trombinoscope.vue
  apps/web/package.json
  apps/web/pages/index.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/pages/volunteers.vue
  apps/web/stores/registration/membership-application.ts
  apps/web/utils/http/cast-date/user.utils.ts
  domains/charisma/package.json
  package.json
  utils/http/package.json
  utils/http/src/registration.ts
  utils/user/package.json
  utils/user/src/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(api): docker build
  apps/api/Dockerfile
  apps/api/package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: phone number #2767
  tools/python-script/zitadel/migrate_accounts.py
Due: none

fix: check is_deleted #2767
  tools/python-script/zitadel/migrate_accounts.py
Due: none

fix: remove useless if #2767
  tools/python-script/zitadel/migrate_accounts.py
Due: none

fix: script #2767
  tools/python-script/zitadel/migrate_accounts.py
Due: none

fix: update_missing_user_data #2767
  tools/python-script/zitadel/migrate_accounts.py
Due: none

feat: add scriptti migrate overbookd users to zitadel #2767
  tools/python-script/zitadel/migrate_accounts.py
Due: none

chore: add script to migrate overbookd users to zitadel #2767
  tools/python-script/zitadel/migrate_accounts.py
Due: none

fix: remove text-uppercase
  apps/web/plugins/vuetify.client.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: remove useless css
  apps/web/assets/style.scss
  apps/web/plugins/vuetify.client.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: some components
  apps/web/components/atoms/search/SearchCategory.vue
  apps/web/components/atoms/search/SearchGear.vue
  apps/web/components/atoms/search/SearchTeam.vue
  apps/web/components/atoms/search/SearchTeams.vue
  apps/web/components/organisms/orga-need/OrgaNeedChart.vue
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/pages/stats.vue
  apps/web/plugins/vuetify.client.ts
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency vuetify to v4
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: add css
  apps/web/assets/style.scss
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: script
  tools/python-script/zitadel/migrate_accounts.py
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(api): add zitadel roles on organizer enrolled #2769
  apps/api/src/domain-event/domain-event.service.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.controller.ts
  apps/api/src/logistic/dashboard/dashboard.controller.ts
  apps/api/src/mail/mail.service.ts
  apps/api/src/transaction/transaction.service.ts
  apps/api/src/user/zitadel-roles.service.ts
  apps/api/src/volunteer-availability/volunteer-availability.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: format #2769
  apps/api/src/domain-event/domain-event.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #2769
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(api): add zitadel roles on organizer enrolled #2769
  apps/api/package.json
  apps/api/src/domain-event/domain-event.service.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.controller.ts
  apps/api/src/logistic/dashboard/dashboard.controller.ts
  apps/api/src/mail/mail.service.ts
  apps/api/src/transaction/transaction.service.ts
  apps/api/src/user/zitadel-roles.service.ts
  apps/api/src/volunteer-availability/volunteer-availability.service.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(deps): update dependency jsdom to v30
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update traefik docker tag to v3.7.10
  docker/docker-compose.yml
Due: none

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update docker docker tag to v29.7.0
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

chore(deps): update root package dependencies (major)
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(charisma): remove user dependency from charisma package #2755
  domains/charisma/package.json
  domains/charisma/src/charisma-event/charisma-event-participations.inmemory.ts
  domains/charisma/src/charisma-event/charisma-event.error.ts
  domains/charisma/src/charisma-event/charisma-event.ts
  domains/charisma/src/charisma-event/edit-participation.spec.ts
  domains/charisma/src/charisma-event/take-part.spec.ts
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions #2755
  apps/api/package.json
  apps/web/package.json
  domains/charisma/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(charisma): remove user dependency from charisma package #2755
  apps/api/package.json
  apps/web/package.json
  domains/charisma/package.json
  domains/charisma/src/charisma-event/charisma-event-participations.inmemory.ts
  domains/charisma/src/charisma-event/charisma-event.error.ts
  domains/charisma/src/charisma-event/charisma-event.ts
  domains/charisma/src/charisma-event/edit-participation.spec.ts
  domains/charisma/src/charisma-event/take-part.spec.ts
  package.json
  pnpm-lock.yaml
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: gitignore #2770
  docker/.gitignore
Due: none

fix(docker): rename .env to .env.example #2770
  docker/.env.example
Due: none

fix: update README #2770
  .gitignore
  docker/.gitignore
  docker/README.md
Due: none

fix(docker): rename .env to .env.example #2770
  .gitignore
  docker/.env.example
  docker/README.md
Due: none

fix: clean ols tools scripts #2768
  tools/.gitignore
  tools/gitlab-script/moveIssues.py
  tools/python-script/README.md
  tools/python-script/example/example.py
  tools/python-script/migrate_accounts_to_zitadel.py
  tools/python-script/old/adding-fa_ft-validators.py
  tools/python-script/old/availability/addAvailabilityBriefing.py
  tools/python-script/old/catalog/Catalog_add.csv
  tools/python-script/old/catalog/catalog-consummable.csv
  tools/python-script/old/catalog/catalog-fa-after-inventory.csv
  tools/python-script/old/catalog/catalog-fa.csv
  tools/python-script/old/catalog/catalog-ft-after-inventory.csv
  tools/python-script/old/catalog/insertConsummableGearsAndCategories.py
  tools/python-script/old/catalog/insertGearsAndCategories.py
  tools/python-script/old/catalog/insertNewGearsAndCategories.py
  tools/python-script/old/fa/move-is-major-column.py
  tools/python-script/old/fa/update-to-multi-rental-period.py
  tools/python-script/old/ft/assign-reviewer.py
  tools/python-script/old/migrateUsers.py
  tools/python-script/old/signaLocations/migrate-location.py
  tools/python-script/old/signaLocations/update-location_2022_12_23.py
  tools/python-script/old/signaLocations/update-location_2023_01_08.py
  tools/python-script/old/signaLocations/update-location_2023_01_19.py
  tools/python-script/old/signaLocations/update-location_2023_02_24.py
  tools/python-script/old/signaLocations/update-location_2023_03_21.py
  tools/python-script/old/signaLocations/update-location_2023_04_02.py
  tools/python-script/old/signaLocations/utils.py
  tools/python-script/old/teamUpdate/readme.md
  tools/python-script/old/teamUpdate/setTeamTable.py
  tools/python-script/old/teamUpdate/setUserTeamTable.py
  tools/python-script/old/teamUpdate/teamConfig.json
  tools/python-script/old/user/updateMail.py
  tools/python-script/overbookd/__init__.py
  tools/python-script/overbookd/overbookd.py
  tools/python-script/setup.py
  tools/requirements.txt
Due: none
