Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix: add migration #2771
  apps/api/prisma/migrations/20260805203527_remove_user_soft_delete/migration.sql
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: lock forget if user has positive balance #2771
  apps/api/src/user/repository/member-repository.prisma.ts
  domains/registration/src/forget-member/forget-member.error.ts
  domains/registration/src/forget-member/forget-member.spec.ts
  domains/registration/src/forget-member/forget-member.ts
  domains/registration/src/forget-member/member-repository.inmemory.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix: deletion confition #2771
  apps/api/prisma/migrations/20260805203527_remove_user_soft_delete/migration.sql
  apps/api/prisma/migrations/20260806165850_remove_user_soft_delete/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/user/repository/forget-member-repository.prisma.ts
  domains/registration/src/forget-member/forget-member.error.ts
  domains/registration/src/forget-member/forget-member.spec.ts
  domains/registration/src/forget-member/forget-member.ts
  domains/registration/src/forget-member/member-repository.inmemory.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

feat: add confirmation dialogs #2771
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/web/components/atoms/card/ConfirmationDialogCard.vue
  apps/web/components/molecules/festival-event/festival-task/mobilization/AddTeamInMobilizationDialogCard.vue
  apps/web/components/molecules/festival-event/festival-task/mobilization/AddVolunteerInMobilizationDialogCard.vue
  apps/web/components/molecules/festival-event/review/ResetApprovalsDialogCard.vue
  apps/web/components/molecules/planning/DeleteBreakPeriodFialogCard.vue
  apps/web/components/molecules/volunteer/AnonymizeUserDialogCard.vue
  apps/web/components/molecules/volunteer/DeleteUserDialogCard.vue
  apps/web/components/organisms/logistic/catalog/CatalogGearListingCard.vue
  apps/web/components/organisms/logistic/catalog/CategoriesTreeViewCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/components/organisms/signa/SignageListingCard.vue
  apps/web/components/organisms/team/TeamList.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
  apps/web/pages/signa/location.vue
  apps/web/pages/volunteers.vue
  apps/web/repositories/user.repository.ts
  apps/web/stores/user.ts
  apps/web/utils/http/api-fetch.ts
  apps/web/utils/http/http-client.ts
  domains/registration/src/forget-member/forget-member.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: remove useless member type #2771
  domains/registration/src/forget-member/forget-member.ts
  domains/registration/src/index.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

ci(triage): remove old QoL triage
  triage.json
Due: none

ci(triage): remove old QoL rules
  triage.json
Due: none

chore(deps): update dependency corepack to v0.36.0
  .gitlab/ci/check.gitlab-ci.yml
Due: none

chore(deps): update node.js to v24.20.0
  .devcontainer/devcontainer.json
  apps/api/package.json
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-code/package.json
  constants/web-page/package.json
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/oidc/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: remove user creation from user sync #2572
  apps/api/src/team/team.utils.ts
  apps/api/src/user/user.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat: update registration stepper #2572
  apps/web/components/organisms/registration/RegistrationStepper.vue
  domains/registration/src/register-form/fields/comment-field.ts
  domains/registration/src/register-form/fields/email-field.ts
  domains/registration/src/register-form/fields/first-name-field.ts
  domains/registration/src/register-form/fields/last-name-field.ts
  domains/registration/src/register-form/fields/mobile-phone-field.ts
  domains/registration/src/register-form/fields/nickname-field.ts
  domains/registration/src/register-form/register-form.spec.ts
  domains/registration/src/register-form/register-form.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/domains_unit_test

feat: add check in middleware #2572
  apps/web/middleware/01.auth.global.ts
  apps/web/stores/authenticated-user.ts
  apps/web/utils/easter-egg/jaune-audio.ts
  apps/web/utils/navigation/pages/unauthenticated.ts
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: registration form #2572
  apps/api/src/registration/index/dto/registration-step.response.dto.ts
  apps/api/src/registration/index/dto/registration.request.dto.ts
  apps/api/src/registration/index/registration.controller.ts
  apps/api/src/registration/index/registration.module.ts
  apps/api/src/registration/index/registration.service.ts
  apps/api/src/registration/index/repository/newcomer-repository.prisma.ts
  apps/api/src/registration/index/repository/user-repository.prisma.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/middleware/02.user.global.ts
  apps/web/middleware/03.membership-application.global.ts
  apps/web/stores/registration/registration.ts
  apps/web/utils/navigation/pages/unanthenticated.ts
  domains/registration/src/index.ts
  domains/registration/src/newcomer-repository.inmemory.ts
  domains/registration/src/register-form/fields/password-field.ts
  domains/registration/src/register-form/fulfilled-registration.ts
  domains/registration/src/register-form/password-requirement.ts
  domains/registration/src/register-form/register-form.spec.ts
  domains/registration/src/register-form/register-form.ts
  domains/registration/src/register-form/registration.error.ts
  domains/registration/src/register-newcomer.spec.ts
  domains/registration/src/register-newcomer.ts
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: tests #2572
  domains/registration/src/register-form/register-form.spec.ts
  domains/registration/src/register-newcomer.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: tests #2572
  apps/api/src/registration/index/registration.service.ts
  domains/registration/src/register-newcomer.spec.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

feat: add auth section in registration form #2572
  apps/api/src/registration/index/dto/registration-step.response.dto.ts
  apps/api/src/registration/index/registration.controller.ts
  apps/api/src/registration/index/registration.service.ts
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/repositories/registration/registration.repository.ts
  apps/web/stores/authenticated-user.ts
  apps/web/stores/registration/registration.ts
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: upgrade code #2572
  apps/api/src/registration/index/dto/registration.request.dto.ts
  apps/api/src/registration/index/registration.controller.ts
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/middleware/02.user.global.ts
  apps/web/middleware/03.membership-application.global.ts
  apps/web/repositories/registration/registration.repository.ts
  apps/web/stores/registration/registration.ts
  apps/web/utils/navigation/pages/unauthenticated.ts
  domains/registration/src/register-form/register-form.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: ZitadelAuthGuard #2572
  apps/api/prisma/seed.ts
  apps/api/src/authentication-zitadel/guards/zitadel.auth.guard.ts
  apps/api/src/registration/index/registration.controller.ts
  apps/api/src/team/team.service.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/middleware/01.auth.global.ts
  apps/web/repositories/registration/registration.repository.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: remove membership application from web #2572
  apps/api/src/registration/membership-application/common/dto/has-application.response.dto.ts
  apps/api/src/registration/membership-application/common/repository/enroll-candidates.prisma.ts
  apps/api/src/registration/membership-application/common/repository/enroll-candidates.ts
  apps/api/src/registration/membership-application/staff/dto/staff-candidate-token.request.dto.ts
  apps/api/src/registration/membership-application/staff/staff-membership-application.controller.ts
  apps/api/src/registration/membership-application/staff/staff-membership-application.service.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.controller.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.service.ts
  apps/web/middleware/03.membership-application.global.ts
  apps/web/middleware/03.routing.global.ts
  apps/web/middleware/04.store-data.global.ts
  apps/web/pages/login.vue
  apps/web/repositories/registration/membership-application.repository.ts
  apps/web/stores/registration/membership-application.ts
  apps/web/utils/registration/membership-application.utils.ts
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: get nickname from zitadel #2572
  apps/api/src/authentication-zitadel/request-hydrated-user.ts
  apps/api/src/authentication-zitadel/zitadel-types.ts
  apps/api/src/user/user.service.ts
  apps/web/components/organisms/registration/RegistrationStepper.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: test #2572
  domains/registration/src/register-newcomer.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: not required query param in check request #2572
  apps/api/src/registration/index/registration.controller.ts
  apps/web/repositories/registration/registration.repository.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: move check in registration store #2572
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/stores/authenticated-user.ts
  apps/web/stores/registration/registration.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: applyFor after registration #2572
  apps/api/src/registration/index/registration.module.ts
  apps/api/src/registration/index/registration.service.ts
  domains/registration/src/register-newcomer.spec.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/organisms/registration/RegistrationStepper.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/api/src/registration/index/registration.controller.ts
  apps/web/repositories/registration/registration.repository.ts
  domains/registration/src/register-form/register-form.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: registration #2572
  apps/api/src/registration/index/registration.service.ts
  domains/registration/src/register-newcomer.spec.ts
  domains/registration/src/register-newcomer.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

prefeat: add prefilledUserData #2572
  apps/web/middleware/01.auth.global.ts
  apps/web/stores/authenticated-user.ts
  apps/web/stores/registration/registration.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/api/src/registration/index/registration.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(deps): update dependency pnpm to v11
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-code/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/oidc/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency typescript to v7
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: some code #2572
  apps/api/src/authentication-zitadel/request-hydrated-user.ts
  apps/api/src/registration/index/registration.service.ts
  apps/api/src/registration/index/repository/user-repository.prisma.ts
  apps/api/src/user/user.service.ts
  apps/api/src/user/zitadel.service.ts
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/pages/register.vue
  apps/web/plugins/vuetify.client.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test
