Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

overbookd-web_docker_pre_build:
  stage: docker-build
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs: []
  script:
  - docker build --target installer --tag $CI_REGISTRY_IMAGE/$APP_NAME:installer --file $APP_PATH/Dockerfile .
  ...

preprod_overbookd-web_docker_build:
  stage: docker-build
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs:
  - overbookd-web_docker_pre_build
  before_script:
  - apk update
  - apk add jq
  - VERSION=$(jq -r '.version' ./${APP_PATH}/package.json)
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

fix(festival-activity): open details on new tab. #1429
  apps/web/package.json
  apps/web/pages/fa/index.vue
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): add security dashboard. #1417
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/previews.prisma.ts
  apps/api/src/festival-activity/repository/previews.query.ts
  apps/web/pages/fa/dashboard/security.vue
  apps/web/pages/fa/index.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/utils/festival-event/festival-activity.utils.ts
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/festival-activities.inmemory.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  utils/http/src/festival-activity.model.ts
  utils/http/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style(festival-activity): undo preview festival activity rename. #1417
  domains/festival-activity/src/festival-activity.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/festival-activities.inmemory.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: install

style: ✍ run format and lint on all modules
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
Due: install

style(api): type import. #1417
  apps/api/src/festival-activity/festival-activity.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(api): set freePass type to number in dto. #1417
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1417
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(festival-activity): add security dashboard. #1417
  apps/api/package.json
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/previews.prisma.ts
  apps/api/src/festival-activity/repository/previews.query.ts
  apps/web/package.json
  apps/web/pages/fa/dashboard/security.vue
  apps/web/pages/fa/index.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/utils/festival-event/festival-activity.utils.ts
  domains/festival-activity/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/http/src/festival-activity.model.ts
  utils/http/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(web): calendar previous and next date. #1431
  apps/web/components/molecules/calendar/OverCalendar.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1431
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): calendar previous and next date. #1431
  apps/web/components/molecules/calendar/OverCalendar.vue
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(release): ⬆️ bump to 2.11.6
  CHANGELOG.md
  package.json
Due: none

fix(personal-account): filter out deleted transactions. #1433
  apps/api/src/transaction/repository/transaction-repository.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1433
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): don't generate time window when one already exist during to public activity switch. #1434
  apps/web/components/molecules/festival-event/public-activity/AskPublicDataFormCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1434
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(personal-account): filter out deleted transactions. #1433
  apps/api/package.json
  apps/api/src/transaction/repository/transaction-repository.prisma.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): don't generate time window when one already exist during to public activity switch. #1434
  apps/web/components/molecules/festival-event/public-activity/AskPublicDataFormCard.vue
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): remove sort on inquiry table action column. #712
  apps/web/components/molecules/festival-event/logistic/inquiry/InquiryTable.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #712
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): remove sort on inquiry table action column. #712
  apps/web/components/molecules/festival-event/logistic/inquiry/InquiryTable.vue
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(release): ⬆️ bump to 2.11.7
  CHANGELOG.md
  package.json
Due: none

fix(festival-activity): filter out deleted ones from statistics. #1435
  apps/api/src/statistics/repository/festival-activities.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1435
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): filter out deleted ones from statistics. #1435
  apps/api/package.json
  apps/api/src/statistics/repository/festival-activities.prisma.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(deps): update dependency eslint-plugin-security to v2
  package.json
  pnpm-lock.yaml
Due: install

fix(festival-activity): allow filter on adherent in charge. #1402
  apps/web/components/molecules/festival-event/filter/FestivalEventFilter.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/pages/fa/index.vue
  apps/web/utils/festival-event/festival-activity.filter.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1402
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(deps): revert update dependency eslint-plugin-security to v2
  package.json
  pnpm-lock.yaml
Due: install

fix(festival-activity): allow filter on adherent in charge. #1402
  apps/web/components/molecules/festival-event/filter/FestivalEventFilter.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/package.json
  apps/web/pages/fa/index.vue
  apps/web/utils/festival-event/festival-activity.filter.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(web): :sparkles: created gear-recap page and added it to pages-list. #1420
  apps/web/pages/matos/gear-recap.vue
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): change permission so that only admins can get to the page. #1420
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1420
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(web): create gear-recap page and add it to pages-list. #1420
  apps/web/package.json
  apps/web/pages/matos/gear-recap.vue
  apps/web/utils/pages/pages-list.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: install

chore(deps): update dependency @types/supertest to v6
  apps/api/package.json
  apps/api/test/app.e2e-spec.ts
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
