Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(web): fix display and call link to international phone numbers #2641
  apps/api/package.json
  apps/web/components/molecules/festival-event/festival-activity/contractor/ContractorTable.vue
  apps/web/components/molecules/need-help/NeedHelpVolunteerListCard.vue
  apps/web/components/molecules/need-help/NeedHelpVolunteerResumeCalendarHeader.vue
  apps/web/components/molecules/planning/TaskDetailsDialogCard.vue
  apps/web/components/molecules/timeline/TimelineAssignmentDetailsDialogCard.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/components/organisms/volunteer/VolunteerListCard.vue
  apps/web/package.json
  apps/web/pages/registrations/volunteer.vue
  apps/web/pages/volunteers.vue
  apps/web/utils/user/user.utils.ts
  domains/charisma/package.json
  domains/registration/package.json
  domains/registration/src/index.ts
  domains/registration/src/phone-number/phone-number.spec.ts
  domains/registration/src/phone-number/phone-number.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(deps): update dependency typescript to v6
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency vuetify to v4
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 3.51.5
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(planning): add users being part of all of the selected teams instead of any of them in multi planning #2642
  apps/web/components/molecules/multi-planning/MultiPlanningFilterCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2642
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(planning): add users being part of all of the selected teams instead of any of them in multi planning #2642
  apps/web/components/molecules/multi-planning/MultiPlanningFilterCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(festival-task): add collage category #2643
  apps/api/prisma/migrations/20260405154818_add_collage_task_category/migration.sql
  apps/api/prisma/schema.prisma
  apps/web/components/molecules/festival-event/festival-task/CategorizeFormCard.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/utils/assignment/task-category.ts
  constants/festival-event-constants/src/category.ts
  constants/festival-event-constants/src/index.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/assign-task-to-volunteer.test.utils.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignable-volunteer.factory.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #2643
  apps/api/package.json
  apps/web/package.json
  constants/festival-event-constants/package.json
  domains/assignment/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

refactor: categories #2643
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/review/dto/categoryze.request.dto.ts
  apps/web/components/molecules/festival-event/festival-task/CategorizeFormCard.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/utils/assignment/task-category.ts
  constants/festival-event-constants/src/category.ts
  constants/festival-event-constants/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: remove cast
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: constant
  apps/web/utils/assignment/task-category.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(festival-task): add collage category #2643
  apps/api/package.json
  apps/api/prisma/migrations/20260405154818_add_collage_task_category/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/review/dto/categoryze.request.dto.ts
  apps/web/components/molecules/festival-event/festival-task/CategorizeFormCard.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/package.json
  apps/web/utils/assignment/task-category.ts
  constants/festival-event-constants/package.json
  constants/festival-event-constants/src/category.ts
  constants/festival-event-constants/src/index.ts
  domains/assignment/package.json
  domains/assignment/src/assign-task-to-volunteer/test-resources/assign-task-to-volunteer.test.utils.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignable-volunteer.factory.ts
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 3.51.6
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(web): can reduce size of sidebars for assignment and improve ui #2647 #2648
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2647 #2648
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): can reduce size of right sidebar in task-orga #2648
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): can reduce size of sidebars for assignment and improve ui #2647 #2648
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  apps/web/package.json
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(configuration): prevent orga week start from being equal or after event start #2649
  apps/api/prisma/seed.ts
  apps/web/components/organisms/personal-account/AllTransactionsListCard.vue
  apps/web/components/organisms/personal-account/SgSettingsCard.vue
  apps/web/pages/availabilities.vue
  apps/web/pages/configuration.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2649
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: format exports
  constants/festival-event-constants/src/index.ts
  domains/access-manager/src/index.ts
  domains/assignment/src/index.ts
  domains/charisma/src/index.ts
  domains/contribution/src/index.ts
  domains/festival-event/src/index.ts
  domains/logistic/src/index.ts
  domains/personal-account/src/index.ts
  domains/planning/src/index.ts
  domains/registration/src/index.ts
  domains/signa/src/index.ts
  domains/volunteer-availability/src/index.ts
  libraries/geo-location/src/index.ts
  libraries/list/src/index.ts
  libraries/time/src/index.ts
  utils/domain-events/src/index.ts
  utils/http/src/index.ts
  utils/user/src/index.ts
Due: overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(configuration): prevent orga week start from being equal or after event start #2649
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/web/components/organisms/personal-account/AllTransactionsListCard.vue
  apps/web/components/organisms/personal-account/SgSettingsCard.vue
  apps/web/package.json
  apps/web/pages/availabilities.vue
  apps/web/pages/configuration.vue
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.51.7
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(web): scroll in affect lists #2650
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2650
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): scroll in affect lists #2650
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/components/organisms/assignment/list/FilterableTaskList.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.51.8
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(web): close dialog after enrolling volunteer #2651
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): close dialog after enrolling volunteer #2651
  apps/web/package.json
  apps/web/pages/registrations/volunteer.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test
