Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

backend_scan_preprod:
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:pre-prod
    DOCKERFILE_PATH: backend/Dockerfile
  stage: docker-scan

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  script:
  - docker build ./frontend

feat([Affect] Tache-Orga): :sparkles: remove over and move elements in the store
  frontend/components/listFT.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix([Affect] Tache-Orga): :fire: remove hover code
  frontend/components/overCalendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Back): Not working yet
  backend/src/routes/FT.ts
  backend/src/routes/TimeSpan.ts
  backend/src/routes/index.ts
  frontend/components/atoms/MiniUserBadge.vue
  frontend/components/atoms/TeamSearchField.vue
  frontend/components/filtredUsers.vue
  frontend/components/listFT.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/overFT.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(front): filtre fonctionnel
  frontend/components/atoms/TeamSearchField.vue
  frontend/components/overFT.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Feat/ftlist niveau confiance
  backend/src/routes/FT.ts
  backend/src/routes/TimeSpan.ts
  backend/src/routes/index.ts
  frontend/components/atoms/MiniUserBadge.vue
  frontend/components/atoms/TeamSearchField.vue
  frontend/components/filtredUsers.vue
  frontend/components/listFT.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/overFT.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix(Front): :bug: should maybe workWatermark + reduce ft tabs length
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix([Affect] Tache-Orga): :bug: correct some bugs
  frontend/components/overCalendar.vue
  frontend/components/usersList.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

refactor([Affect] Tache-Orga): :recycle: clean + lint
  frontend/components/listFT.vue
  frontend/components/overFT.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "Affectation tâche orga couleur"
  frontend/components/listFT.vue
  frontend/components/overCalendar.vue
  frontend/components/overFT.vue
  frontend/components/unassignDialog.vue
  frontend/components/usersList.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix: :bug: fixe type in miniUserBadge
  frontend/components/atoms/MiniUserBadge.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat([Affect] Tache-Orga): :sparkles: refresh now works
  frontend/components/atoms/MiniUserBadge.vue
  frontend/components/overCalendar.vue
  frontend/components/usersList.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(creneaux): :art: now just title in planning
  frontend/components/ShowCalendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(creneaux): :art: now ft numer in title
  frontend/components/ShowCalendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix([Affect] Tache-Orga): :zap: type correction
  frontend/components/usersList.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat([Affect] Tache-Orga): :sparkles: userIndex in store / unselect user on change mode
  frontend/components/usersList.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix([Affect] Tache-Orga): :bug: dont affect user when no ft selected
  frontend/components/usersList.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat([Affect] Tache-Orga): :sparkles: unselect user when affected
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix([Affect] Tache-Orga): :zap: only unselect in tache-orga
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "bug/refresh timespan tahce-orga"
  frontend/components/atoms/MiniUserBadge.vue
  frontend/components/overCalendar.vue
  frontend/components/usersList.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Affect): :sparkles: Now display friends
  frontend/components/filtredUsers.vue
  frontend/components/molecules/commentsDisplay.vue
  frontend/components/molecules/friendsDisplay.vue
  frontend/components/usersList.vue
  frontend/pages/assignment.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve hidden assigned timespan in planning view
  backend/src/routes/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

style(Affect): :lipstick: adding some borders
  frontend/components/filtredUsers.vue
  frontend/components/molecules/friendsDisplay.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(availabilities): :sparkles: comment box
  frontend/components/listFT.vue
  frontend/components/listTasks.vue
  frontend/components/molecules/commentsDisplay.vue
  frontend/components/molecules/friendsDisplay.vue
  frontend/components/overFT.vue
  frontend/components/overTasks.vue
  frontend/pages/assignment.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Pre pr
  backend/src/routes/FT.ts
  backend/src/routes/TimeSpan.ts
  backend/src/routes/index.ts
  frontend/components/ShowCalendar.vue
  frontend/components/atoms/MiniUserBadge.vue
  frontend/components/atoms/TeamSearchField.vue
  frontend/components/filtredUsers.vue
  frontend/components/listFT.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/overCalendar.vue
  frontend/components/overFT.vue
  frontend/components/unassignDialog.vue
  frontend/components/usersList.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Add the ready status in STATS page
  backend/src/routes/FT.ts
  frontend/components/Needs.vue
  frontend/components/NeedsCard.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(Affect): :sparkles: Disable friends/comments on tache-orga
  frontend/components/molecules/commentsDisplay.vue
  frontend/components/molecules/friendsDisplay.vue
Due: containerize-frontend, merge_requests_containerize-frontend

style(Affect): :lipstick: better borde
  frontend/components/molecules/commentsDisplay.vue
  frontend/components/molecules/friendsDisplay.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Affect): :sparkles: better switch between modes
  frontend/components/molecules/commentsDisplay.vue
  frontend/components/molecules/friendsDisplay.vue
  frontend/components/overCalendar.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "Visualisation Amis + Commentaire sur la page de l'Affect"
  frontend/components/filtredUsers.vue
  frontend/components/listFT.vue
  frontend/components/listTasks.vue
  frontend/components/molecules/commentsDisplay.vue
  frontend/components/molecules/friendsDisplay.vue
  frontend/components/overCalendar.vue
  frontend/components/overFT.vue
  frontend/components/overTasks.vue
  frontend/components/usersList.vue
  frontend/pages/assignment.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(fa): 🔨 added consumables to FA
  frontend/utils/models/FA.ts
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "Page besoin orga" #518 !205
  backend/src/routes/Timeslot.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Resolve "Page besoin orga"
  backend/src/routes/Timeslot.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

QoL updates
  backend/src/routes/FT.ts
  backend/src/routes/Timeslot.ts
  frontend/components/Needs.vue
  frontend/components/NeedsCard.vue
  frontend/components/filtredUsers.vue
  frontend/components/listFT.vue
  frontend/components/listTasks.vue
  frontend/components/molecules/commentsDisplay.vue
  frontend/components/molecules/friendsDisplay.vue
  frontend/components/overCalendar.vue
  frontend/components/overFT.vue
  frontend/components/overTasks.vue
  frontend/components/usersList.vue
  frontend/pages/assignment.vue
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(assignment): 🥳 added driverLicense filter #499
  frontend/components/filtredUsers.vue
  frontend/store/assignment.ts
  frontend/utils/models/repo.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(ft): added easter egg
  frontend/pages/ft/ft_420.vue
  frontend/pages/ft/index.vue
  frontend/static/img/croutard.jpg
  frontend/static/img/memes/home_meme.jpg
Due: containerize-frontend, merge_requests_containerize-frontend

499 advanced affect filter and Easter egg
  frontend/components/filtredUsers.vue
  frontend/pages/ft/ft_420.vue
  frontend/pages/ft/index.vue
  frontend/static/img/croutard.jpg
  frontend/static/img/memes/home_meme.jpg
  frontend/store/assignment.ts
  frontend/utils/models/repo.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat: :sparkles: structure
  frontend/layouts/default.vue
  frontend/pages/export_planning.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Export Planning): :sparkles: front for unique export
  frontend/layouts/default.vue
  frontend/pages/exportPlanning.vue
  frontend/pages/export_planning.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(affect): :rocket: check time slicing
  frontend/pages/ft/_ft.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
