Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(login): play JAUNE audio when connected #2224
  apps/web/layouts/header/Logo.vue
  apps/web/utils/login.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2224
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(login): play JAUNE audio when connected #2224
  apps/web/layouts/header/Logo.vue
  apps/web/package.json
  apps/web/utils/easter-egg/jaune-audio.ts
  apps/web/utils/login.utils.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): check the permission of the right page #2222
  apps/web/utils/navigation/pages/current-event.ts
  apps/web/utils/navigation/pages/festival-event.ts
  apps/web/utils/navigation/pages/logistic.ts
  apps/web/utils/navigation/pages/management.ts
  apps/web/utils/navigation/pages/page-list.ts
  apps/web/utils/navigation/pages/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: planning page url #2222
  apps/web/utils/navigation/pages/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: reorganize files #2222
  apps/web/components/atoms/page/DesktopPageTitle.vue
  apps/web/layouts/header/Header.vue
  apps/web/layouts/navigation/MobileBottomNav.vue
  apps/web/layouts/navigation/SideNavPageItem.vue
  apps/web/layouts/navigation/SideNavPageList.vue
  apps/web/middleware/04.routing.global.ts
  apps/web/stores/preference.ts
  apps/web/utils/navigation/find-page.utils.ts
  apps/web/utils/navigation/page.filter.ts
  apps/web/utils/navigation/pages/current-event.ts
  apps/web/utils/navigation/pages/desktop-summary.ts
  apps/web/utils/navigation/pages/festival-event.ts
  apps/web/utils/navigation/pages/logistic.ts
  apps/web/utils/navigation/pages/management.ts
  apps/web/utils/navigation/pages/mobile-summary.ts
  apps/web/utils/navigation/pages/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/atoms/page/DesktopPageTitle.vue
  apps/web/layouts/navigation/MobileBottomNav.vue
  apps/web/layouts/navigation/SideNavPageItem.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: remove useless path reduce #2222
  apps/web/utils/navigation/find-page.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: imports #2222
  apps/web/layouts/navigation/MobileBottomNav.vue
  apps/web/layouts/navigation/SideNavPageItem.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: find page #2222
  apps/web/utils/navigation/find-page.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2222
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): check the permission of the right page #2222
  apps/web/components/atoms/page/DesktopPageTitle.vue
  apps/web/layouts/header/Header.vue
  apps/web/layouts/navigation/MobileBottomNav.vue
  apps/web/layouts/navigation/SideNavPageItem.vue
  apps/web/layouts/navigation/SideNavPageList.vue
  apps/web/middleware/04.routing.global.ts
  apps/web/package.json
  apps/web/stores/preference.ts
  apps/web/utils/navigation/find-page.utils.ts
  apps/web/utils/navigation/page.filter.ts
  apps/web/utils/navigation/pages/current-event.ts
  apps/web/utils/navigation/pages/desktop-summary.ts
  apps/web/utils/navigation/pages/festival-event.ts
  apps/web/utils/navigation/pages/logistic.ts
  apps/web/utils/navigation/pages/management.ts
  apps/web/utils/navigation/pages/mobile-summary.ts
  apps/web/utils/navigation/pages/volunteer.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.11.3
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish

feat(api): add possibility to close shared meal shotguns #2216
  apps/api/prisma/migrations/20241028164205_add_shotguns_closed/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/shared-meal/dto/shared-meal.response.dto.ts
  apps/api/src/shared-meal/repository/adherents.prisma.ts
  apps/api/src/shared-meal/repository/meals.prisma.ts
  apps/api/src/shared-meal/shared-meal.controller.ts
  apps/api/src/shared-meal/shared-meal.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat(domain): add possibility to close shared meal shotguns #2216
  domains/personal-account/src/meal-sharing/meal-sharing.error.ts
  domains/personal-account/src/meal-sharing/meal-sharing.spec.ts
  domains/personal-account/src/meal-sharing/meal-sharing.ts
  domains/personal-account/src/meal-sharing/meals.model.ts
  domains/personal-account/src/meal-sharing/on-going-shared-meal.builder.ts
  domains/personal-account/src/meal-sharing/past-shared-meal.builder.ts
  domains/personal-account/src/meal-sharing/shared-meals.inmemory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

feat(web): add possibility to close shared meal shotguns #2216
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/repositories/meal-sharing.repository.ts
  apps/web/stores/meal-sharing.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2216
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(shared-meals): rename db column, use kebab case in api and fix a typo #2216
  apps/api/prisma/migrations/20241028164205_add_shotguns_closed/migration.sql
  apps/api/prisma/migrations/20241029093818_add_shotguns_closed_in_shared_meals/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/shared-meal/shared-meal.controller.ts
  apps/web/repositories/meal-sharing.repository.ts
  domains/personal-account/src/meal-sharing/meal-sharing.error.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(shared-meals): fix some typos #2216
  domains/personal-account/src/meal-sharing/meal-sharing.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

feat(shared-meals): add possibility to close shotguns #2216
  apps/api/package.json
  apps/api/prisma/migrations/20241029093818_add_shotguns_closed_in_shared_meals/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/shared-meal/dto/shared-meal.response.dto.ts
  apps/api/src/shared-meal/repository/adherents.prisma.ts
  apps/api/src/shared-meal/repository/meals.prisma.ts
  apps/api/src/shared-meal/shared-meal.controller.ts
  apps/api/src/shared-meal/shared-meal.service.ts
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/package.json
  apps/web/repositories/meal-sharing.repository.ts
  apps/web/stores/meal-sharing.ts
  domains/personal-account/package.json
  domains/personal-account/src/meal-sharing/meal-sharing.error.ts
  domains/personal-account/src/meal-sharing/meal-sharing.spec.ts
  domains/personal-account/src/meal-sharing/meal-sharing.ts
  domains/personal-account/src/meal-sharing/meals.model.ts
  domains/personal-account/src/meal-sharing/on-going-shared-meal.builder.ts
  domains/personal-account/src/meal-sharing/past-shared-meal.builder.ts
  domains/personal-account/src/meal-sharing/shared-meals.inmemory.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(calendar): computed instead of v-if #2223
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/charisma/CharismaPeriodForm.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: revert period lib update #2223
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  libraries/time/src/period/period.ts
Due: overbookd/web_build, overbookd/libraries_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/libraries_unit_test

fix(charisma-period): open editing dialog when clicking on calendar event & correct the display of periods ending at midnight #2223
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/molecules/charisma/CharismaPeriodForm.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/pages/charisma/periods.vue
  libraries/time/src/period/period.ts
Due: overbookd/web_build, overbookd/libraries_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/libraries_unit_test

chore: update versions #2223
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: edit dialog #2223
  apps/web/pages/charisma/periods.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(charisma-period): open editing dialog by calendar #2223
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/molecules/charisma/CharismaPeriodForm.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/package.json
  apps/web/pages/charisma/periods.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): add a confirmation dialog to cancel a shared meal #2238
  apps/web/components/organisms/personal-account/SharedMealCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2238
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): add a confirmation dialog to cancel a shared meal #2238
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(assignment): add AssignmentDetailsDialogCard #2235
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2235
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(assignment): add AssignmentDetailsDialogCard #2235
  apps/web/components/organisms/assignment/card/AssignmentDetailsDialogCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: props #2226
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(assignment): add AssignmentVolunteerList & AssignmentVolunteerResume components #2226
  apps/web/components/molecules/assignment/list/AssignmentVolunteerList.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2226
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(assignment): add AssignmentVolunteerList & AssignmentVolunteerResume components #2226
  apps/web/components/molecules/assignment/list/AssignmentVolunteerList.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: props #2228
  apps/web/components/molecules/assignment/resume/AssignmentResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(assignment): add TaskAssignmentList & AssignmentResume components #2228
  apps/web/components/molecules/assignment/list/TaskAssignmentList.vue
  apps/web/components/molecules/assignment/resume/AssignmentResume.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test
