Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

chore(personal-account): moved displayed name format in user utils. #1351
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/utils/user/user.utils.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1351
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(personal-account): :fire: display payor / payee in transfers between adherents #1351
  apps/api/package.json
  apps/api/src/transaction/dto/my-transaction.response.dto.ts
  apps/api/src/transaction/dto/transaction.response.dto.ts
  apps/api/src/transaction/repository/transaction-repository.prisma.ts
  apps/api/src/transaction/transaction.query.ts
  apps/api/src/transaction/transaction.service.ts
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/package.json
  apps/web/utils/user/user.utils.ts
  domains/personal-account/package.json
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transaction.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(festival-activity): customize reject reason. #1404
  apps/api/src/festival-activity/dto/review.request.dto.ts
  apps/web/components/molecules/festival-event/public-activity/AskPublicDataFormCard.vue
  apps/web/components/molecules/festival-event/review/AskRejectReasonFormCard.vue
  apps/web/components/molecules/festival-event/review/__VLS_template.ts
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/components/organisms/festival-event/festival-activity/with-reject-dialog.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update versions. #1404
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style(festival-activity): change reject FA button icon. #1404
  apps/web/components/molecules/festival-event/review/AskRejectReasonFormCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: remove auto generated file. #1404
  apps/web/components/molecules/festival-event/review/__VLS_template.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/web/components/organisms/festival-event/festival-activity/with-reject-dialog.model.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(festival-activity): move reject logic in parent component. #1404
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/components/organisms/festival-event/festival-activity/with-reject-dialog.model.ts
  apps/web/pages/fa/_faId.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): customize reject reason. #1404
  apps/api/package.json
  apps/api/src/festival-activity/dto/review.request.dto.ts
  apps/web/components/molecules/festival-event/public-activity/AskPublicDataFormCard.vue
  apps/web/components/molecules/festival-event/review/AskRejectReasonFormCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/package.json
  apps/web/pages/fa/_faId.vue
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

prefeat(festival-activity): link drive to inquiry request. #1405
  apps/api/prisma/migrations/20231209175731_add_potential_drive_to_inquiry_request/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-activity/dto/inquiry-request.response.dto.ts
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/festival-activity.builder.ts
  apps/api/src/festival-activity/repository/festival-activity.query.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/sections/inquiry.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1405
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: typo on errror messages. #1405
  apps/api/src/festival-activity/festival-activity.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

prefeat(festival-activity): link drive to inquiry request. #1405
  apps/api/package.json
  apps/api/prisma/migrations/20231209175731_add_potential_drive_to_inquiry_request/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-activity/dto/inquiry-request.response.dto.ts
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/festival-activity.builder.ts
  apps/api/src/festival-activity/repository/festival-activity.query.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/sections/inquiry.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: french accent. #1405
  apps/web/components/molecules/festival-event/logistic/inquiry/FaLinkDriveFormCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(festival-activity): link inquiry request to drive. #1405
  apps/api/src/festival-activity/repository/festival-activity.query.ts
  apps/web/components/molecules/festival-event/logistic/inquiry/FaLinkDriveFormCard.vue
  apps/web/components/molecules/festival-event/logistic/inquiry/InquiryTable.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/utils/festival-event/festival-activity.model.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/sections/inquiry.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(festival-activity): close link form when completed. #1405
  apps/web/components/molecules/festival-event/logistic/inquiry/FaLinkDriveFormCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

ci(triage): remove 0.4 rule
  triage.json
Due: none

feat(festival-activity): link inquiry request to drive. #1405
  apps/api/package.json
  apps/api/src/festival-activity/repository/festival-activity.query.ts
  apps/web/components/molecules/festival-event/logistic/inquiry/FaLinkDriveFormCard.vue
  apps/web/components/molecules/festival-event/logistic/inquiry/InquiryTable.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/package.json
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/utils/festival-event/festival-activity.model.ts
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/sections/inquiry.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update versions #1406
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): add bottom margin in fa listing #1406
  apps/web/pages/fa/index.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): add bottom margin in fa listing #1406
  apps/web/package.json
  apps/web/pages/fa/index.vue
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(release): ⬆️ bump to 2.10.0
  CHANGELOG.md
  package.json
Due: none

test(festival-activity): add signa validation tests #1403
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
Due: install

feat(festival-activity): implement signage assign #1403
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/section-aggregates/signages.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
  domains/festival-activity/src/sections/signa.ts
Due: install

chore: update db #1403
  apps/api/prisma/migrations/20231210222010_add_potential_catalog_item_to_signage_request/migration.sql
  apps/api/prisma/schema.prisma
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): signage dto #1403
  apps/api/src/festival-activity/dto/draft-festival-activity.response.dto.ts
  apps/api/src/festival-activity/dto/reviewable-festival-activity.dto.ts
  apps/api/src/festival-activity/dto/signage.response.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  domains/festival-activity/src/index.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: add missing signage dto #1403
  apps/api/src/festival-activity/dto/signage.response.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: remove unused enum #1403
  apps/api/src/festival-activity/dto/draft-festival-activity.response.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions #1403
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: rename assign to link #1403
  apps/api/src/festival-activity/dto/draft-festival-activity.response.dto.ts
  apps/api/src/festival-activity/dto/reviewable-festival-activity.dto.ts
  apps/api/src/festival-activity/dto/signage.response.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/section-aggregates/signages.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

prefeat(festival-activity): add signage assin in domain #1403
  apps/api/package.json
  apps/api/prisma/migrations/20231210222010_add_potential_catalog_item_to_signage_request/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-activity/dto/draft-festival-activity.response.dto.ts
  apps/api/src/festival-activity/dto/reviewable-festival-activity.dto.ts
  apps/api/src/festival-activity/dto/signage.response.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/section-aggregates/signages.ts
  domains/festival-activity/src/preparation/signa-section-preparation.spec.ts
  domains/festival-activity/src/sections/signa.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(traefik): change to use our domain traefik.me service is now down
  apps/api/src/main.ts
  docker/.env
  docker/docker-compose.yml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(traefik): change to use our domain
  apps/api/src/main.ts
  docker/.env
  docker/docker-compose.yml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: clean remaining traefik.me references
  docker/README.md
  package.json
Due: none

chore(deps): update traefik docker tag to v2.10.7
  docker/docker-compose.yml
Due: none
