Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

backend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - backend_install
  before_script:
  - cd backend
  script:
  - npm run build

frontend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - frontend_install
  before_script:
  - cd frontend
  script:
  - npm run build:ci

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

refactor(Front): :art: Common model update
  frontend/components/atoms/SearchUser.vue
  frontend/components/molecules/PermissionRow.vue
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/GearListing.vue
  frontend/components/organisms/form/CategoryForm.vue
  frontend/components/organisms/form/CommentCard.vue
  frontend/components/organisms/form/FormSummary.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/components/organisms/form/ft/FTDetailCard.vue
  frontend/components/organisms/form/ft/FTGeneralCard.vue
  frontend/components/organisms/form/ft/ParentFACard.vue
  frontend/layouts/default.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
  frontend/pages/ft/index.vue
  frontend/repositories/faRepo.ts
  frontend/repositories/ftRepo.ts
  frontend/repositories/teamRepo.ts
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/store/assignment.ts
  frontend/store/index.ts
  frontend/store/signa.ts
  frontend/store/team.ts
  frontend/store/user.ts
  frontend/utils/fa/faUtils.ts
  frontend/utils/models/FA.ts
  frontend/utils/models/FT.ts
  frontend/utils/models/assignment.ts
  frontend/utils/models/catalog.model.ts
  frontend/utils/models/feedback.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/repo.ts
  frontend/utils/models/review.ts
  frontend/utils/models/team.ts
  frontend/utils/models/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore: Update version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Front): Update FT in DTDetailCard
  frontend/components/molecules/FAChooser.vue
  frontend/components/organisms/form/ft/FTDetailCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

fix(Front): Refactor variable in ParentFACard
  frontend/components/organisms/form/ft/ParentFACard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :art: add computed & refactor timewindow in FormSummary
  frontend/components/organisms/form/FormSummary.vue
  frontend/pages/fa/_fa.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

build(deps-dev): bump cypress from 12.2.0 to 12.3.0 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

build(deps-dev): bump prettier from 2.8.1 to 2.8.2 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

build(deps): bump @prisma/client from 4.8.0 to 4.8.1 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

build(deps-dev): bump @types/passport-local in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

build(deps-dev): bump @typescript-eslint/parser in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

build(deps-dev): bump @typescript-eslint/eslint-plugin in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

build(deps-dev): bump prettier from 2.8.1 to 2.8.2 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

build(deps-dev): bump prisma from 4.8.0 to 4.8.1 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Front): :art: Add FormSidebar
  frontend/components/organisms/form/FormSidebar.vue
  frontend/pages/ft/_ft.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: Add SearchFA for ParentFACard
  frontend/components/atoms/SearchFA.vue
  frontend/components/organisms/form/ft/ParentFACard.vue
  frontend/pages/ft/_ft.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: Add SearchLocations for FTGeneralCard
  frontend/components/atoms/SearchLocations.vue
  frontend/components/organisms/form/ft/FTDetailCard.vue
  frontend/components/organisms/form/ft/FTGeneralCard.vue
  frontend/pages/ft/_ft.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: Add CompleteTimeframeCard in FT
  frontend/pages/ft/_ft.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :fire: Remove FAChooser
  frontend/components/molecules/FAChooser.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor: default text SearchLocations
  frontend/components/atoms/SearchLocations.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore(deps): bump backend dependencies
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

chore(deps): bump frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :art: refactor SignaLocations & add computed in FormSidebar
  frontend/components/atoms/SearchSignaLocations.vue
  frontend/components/organisms/form/FormSidebar.vue
  frontend/components/organisms/form/ft/FTGeneralCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

fix(Front): :art: Change type fa in updateParentFA
  frontend/components/organisms/form/ft/ParentFACard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :art: Form components to FestivalEvent components
  frontend/components/organisms/form/FestivalEventSidebar.vue
  frontend/components/organisms/form/FestivalEventSummary.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

Add Search components for FT front
  frontend/components/atoms/SearchFA.vue
  frontend/components/atoms/SearchSignaLocations.vue
  frontend/components/molecules/FAChooser.vue
  frontend/components/organisms/form/FestivalEventSidebar.vue
  frontend/components/organisms/form/FestivalEventSummary.vue
  frontend/components/organisms/form/ft/FTDetailCard.vue
  frontend/components/organisms/form/ft/FTGeneralCard.vue
  frontend/components/organisms/form/ft/ParentFACard.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: Add TimeWindows model
  frontend/components/organisms/form/ft/FTTimeWindowCard.vue
  frontend/pages/ft/_ft.vue
  frontend/utils/models/ft.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

fix(Front): :bug: timeWindow ft to array
  frontend/components/organisms/form/ft/FTTimeWindowCard.vue
  frontend/store/FT.ts
  frontend/utils/models/ft.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: Add FT TimeWindow components
  frontend/components/molecules/timeframe/FTTimeWindowTable.vue
  frontend/components/organisms/form/ft/FTTimeWindowCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

fix(fa): display last validation team. #768
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/_fa.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): :sparkles: Add FT in menu
  frontend/layouts/default.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

Update schema prisma
  .vscode/project.code-workspace
  backend/prisma/migrations/20230109180943_add_ft/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

build(deps): bump node in /backend
  backend/Dockerfile
  backend/Dockerfile.dev
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

chore: bump to version 1.5.0
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(fa): use the right user endpoint. #771
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore: update version. #771
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(cp): decopled store and component users. #771
  frontend/components/molecules/transferDialog.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

fix(fa): use the right user endpoint. #771
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*
