Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*

fix(Affect): :recycle: rename timespan correctly
  backend/src/ft_reviews/ft_reviews.controller.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/store/FT.ts
  frontend/utils/models/ftTimeSpan.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

rename file correctly
  backend/src/ft_reviews/dto/timespanParameters.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat(Affect): :fire: remove userID from timespans
  backend/prisma/migrations/20230324104537_remove_user_id_from_timespan/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix(Affect): :zap: fix from shagasse
  backend/src/ft_reviews/dto/timeSpanParameters.dto.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/utils/models/ftTimeSpan.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

rename file correctly
  frontend/utils/models/ftTimespan.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Front): :sparkles: finish front for timespan parameters
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/utils/models/TimeSpan.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Front): :sparkles: start adding timespan parameters front
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/models/TimeSpan.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(Affect): :sparkles: review mr
  backend/prisma/schema.prisma
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/store/FT.ts
  frontend/utils/models/TimeSpan.ts
  frontend/utils/models/ftTimeSpan.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: Update version #895
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Affect) :sparkles: Création système de TImeSpan
  .vscode/project.code-workspace
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230324074044_add_priority_and_category/migration.sql
  backend/prisma/migrations/20230324104537_remove_user_id_from_timespan/migration.sql
  backend/prisma/schema.prisma
  backend/src/ft_reviews/dto/timespanParameters.dto.ts
  backend/src/ft_reviews/ft_reviews.controller.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  frontend/components/organisms/form/FestivalEventBottomBar.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
  frontend/utils/models/ftTimespan.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Back): :sparkles: add backend for fa signa needs export
  backend/src/fa/fa.service.ts
  backend/src/fa/fa_types.ts
  backend/src/fa_signa_needs/dto/exportSignaNeedsCsv.dto.ts
  backend/src/fa_signa_needs/fa_signa_needs.controller.ts
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix(Front): :bug: sort comment in computed not data-table #922
  frontend/components/organisms/form/FeedbackCard.vue
  frontend/store/FT.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #922
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Back): :sparkles: complete signa needs dto export
  backend/src/fa_signa_needs/dto/exportSignaNeedsCsv.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat(FA): :sparkles: add front for export signa
  frontend/pages/fa/index.vue
  frontend/repositories/faRepo.ts
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

bump version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(signa) :sparkles: Export besoin signa CSV
  backend/package-lock.json
  backend/package.json
  backend/src/fa/fa.service.ts
  backend/src/fa/fa_types.ts
  backend/src/fa_signa_needs/dto/exportSignaNeedsCsv.dto.ts
  backend/src/fa_signa_needs/fa_signa_needs.controller.ts
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/fa/index.vue
  frontend/repositories/faRepo.ts
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix: Un commentaire créé dans une FT n'est pas affiché au bon endroit
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/form/FeedbackCard.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/store/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps): bump backend deps
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix(User): :bug: remove linereturn in coment
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/humans.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(user): :bug: remove line return in coment.
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/humans.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): :zap: Opti du calendrier et fonctionnalités click molette
  frontend/components/atoms/assignment/VolunteerRequestChip.vue
  frontend/layouts/default.vue
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update version #925
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Apply 1 suggestion(s) to 1 file(s)
  frontend/layouts/default.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat: "Calendrier opti fonctionnalités" #925
  backend/package-lock.json
  backend/package.json
  frontend/components/atoms/assignment/VolunteerRequestChip.vue
  frontend/layouts/default.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/calendar/_calendar.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix: :bug: Stripe key property from time_window list
  backend/src/time_windows/time_windows.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix: 🐛 Stripe key property from time_window list. #923
  backend/package-lock.json
  backend/package.json
  backend/src/time_windows/time_windows.controller.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.11.3
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): :sparkles: sort ft time windows #926
  frontend/components/molecules/timeframe/FTTimeWindowTable.vue
  frontend/components/organisms/form/GearRequestsValidation.vue
  frontend/utils/functions/gearRequest.ts
  frontend/utils/functions/timeWindow.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/gearRequests.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #926
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: Trier les créneaux FT par date #926
  backend/package-lock.json
  backend/package.json
  frontend/components/molecules/timeframe/FTTimeWindowTable.vue
  frontend/components/organisms/form/GearRequestsValidation.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/functions/gearRequest.ts
  frontend/utils/functions/timeWindow.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/gearRequests.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

remove useless exports
  backend/src/ft/ftTypes.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat: :sparkles: Create table Assignment
  backend/prisma/migrations/20230325140526_create_table_assignment/migration.sql
  backend/prisma/schema.prisma
  backend/src/ft/ftTypes.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  backend/src/ft_reviews/timespansGenerator.spec.ts
  backend/src/ft_reviews/timespansGenerator.ts
  backend/src/ft_user_request/dto/ftUserRequestResponse.dto.ts
  backend/src/ft_user_request/ft_user_request.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

refactor: :recycle: Review
  backend/src/ft/ftTypes.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  backend/src/ft_reviews/timespansGenerator.spec.ts
  backend/src/ft_reviews/timespansGenerator.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

Allow multiple assignments for a FtUserRequest
  backend/prisma/migrations/20230326103724_allow_multiple_assignemnts_for_ft_user_request/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

Remove useless check
  backend/src/ft_reviews/timespansGenerator.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

versions
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Resolve test
  backend/src/ft_reviews/timespansGenerator.spec.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat: :sparkles: Create table Assignment
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230325140526_create_table_assignment/migration.sql
  backend/prisma/migrations/20230326103724_allow_multiple_assignemnts_for_ft_user_request/migration.sql
  backend/prisma/schema.prisma
  backend/src/ft/ftTypes.ts
  backend/src/ft_reviews/ft_reviews.service.ts
  backend/src/ft_reviews/timespansGenerator.spec.ts
  backend/src/ft_reviews/timespansGenerator.ts
  backend/src/ft_user_request/dto/ftUserRequestResponse.dto.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): don't show deleted tasks. #928
  backend/src/ft/ft.service.ts
  backend/src/user/user.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend
