Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

preprod_overbookd-api_publish:
  stage: docker-publish
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - apk update
  - apk add jq
  - VERSION_TAG=${VERSION_TAG_PREFIX}$(jq -r '.version' ./${APP_PATH}/package.json)
  ...

preprod_overbookd-web_publish:
  stage: docker-publish
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - apk update
  - apk add jq
  - VERSION_TAG=${VERSION_TAG_PREFIX}$(jq -r '.version' ./${APP_PATH}/package.json)
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

refactor(web): rename volunteer pages #1194
  apps/web/pages/fa/_faId.vue
  apps/web/pages/ft/_ftId.vue
  apps/web/pages/public-animations.vue
  apps/web/pages/volunteers.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): rename pages to camelCase #1194
  apps/web/pages/charisma-period.vue
  apps/web/pages/my-transactions.vue
  apps/web/pages/public-animation.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): rename charisma-period page #1194
  apps/web/pages/charisma-periods.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: Update version #1194
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): Renommer les pages en kebab-case #1194
  apps/web/package.json
  apps/web/pages/charisma-periods.vue
  apps/web/pages/fa/_faId.vue
  apps/web/pages/ft/_ftId.vue
  apps/web/pages/my-transactions.vue
  apps/web/pages/public-animations.vue
  apps/web/pages/volunteers.vue
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(deps): update dependency html-to-pdfmake to v2.4.23
  apps/api/package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat: :wrench: add prisma formatter
  .vscode/settings.json
  apps/api/prisma/schema.prisma
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat: :wrench: add docker-compose formatter
  .vscode/settings.json
Due: none

feat: :wrench: add jsonc formatter for vscod
  .vscode/settings.json
Due: none

ci: :green_heart: fix rules for format and prune jobs
  .gitlab/ci/check.gitlab-ci.yml
  .vscode/settings.json
Due: none

fix(devcontainer): :hammer: add missing extentions
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix(devcontainer): :hammer: add missing extentions
  .devcontainer/devcontainer.json
  .gitlab/ci/check.gitlab-ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/prisma/schema.prisma
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: add line breaks on MR messages. #1201
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

fix: add is member condition on checks. #1201
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

fix(ci): check mr author in ruby. #1201
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
  .gitlab/triage_policies/rules/1.4.no_closed_issues_in_mr.yml
Due: none

refactor(ci): use exposed author variable. #1201
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
  .gitlab/triage_policies/rules/1.4.no_closed_issues_in_mr.yml
Due: none

fix(ci): reword version update message. #1201
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

fix(ci): don't send message on renovate MRs. #1201
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
  .gitlab/triage_policies/rules/1.4.no_closed_issues_in_mr.yml
Due: none

chore: update node in user domain #1166
  domains/user/package.json
Due: install

fix: remove tests in user domain #1166
  apps/api/src/user/user.query.ts
  domains/user/package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

style(Api): ✍ Linted api files
  apps/api/src/assignment/assignment.service.ts
  apps/api/src/assignment/ft-time-span.service.ts
  apps/api/src/assignment/volunteer.service.ts
  apps/api/src/authentication/authentication.service.ts
  apps/api/src/ft-user-request/ft-user-request.service.ts
  apps/api/src/need-help/dto/volunteer.response.dto.ts
  apps/api/src/need-help/need-help.model.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/transaction/transaction.service.ts
  apps/api/src/user/dto/create-user.request.dto.ts
  apps/api/src/user/dto/my-user-information.response.dto.ts
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/dto/user-personnal-data.response.dto.ts
  apps/api/src/user/dto/volunteer-assignment-stat.response.dto.ts
  apps/api/src/user/profile-picture.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/api/src/utils/assignment.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(web): add tsconfig in domain #1166
  domains/user/package.json
  domains/user/tsconfig.build.json
Due: install

chore: Update pnpm version #1166
  domains/user/package.json
Due: install

refactor(Api): remove useless user dto #1166
  apps/api/src/user/dto/my-user-information.response.dto.ts
  apps/api/src/user/dto/user-personnal-data.response.dto.ts
  apps/api/src/user/dto/user-with-teams-and-permissions.response.dto.ts
  apps/api/src/user/dto/user-without-password.response.dto.ts
  apps/api/src/user/profile-picture.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.model.ts
  domains/user/src/userData.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(Api): remove comment #1166
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: user domain type to interface #1166
  domains/user/src/index.ts
  domains/user/src/user.ts
  domains/user/src/userData.ts
  domains/user/src/userRequest.ts
Due: install

refactor(api): rename jwt author var #1166
  apps/api/src/user/user.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: add user workspace in package #1166
  apps/api/package.json
  apps/web/package.json
  domains/user/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: pnpm lock for user domain #1166
  pnpm-lock.yaml
Due: none

chore: Update version #1166
  apps/api/package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(Api): user types in service #1166
  apps/api/src/assignment/assignment.service.ts
  apps/api/src/assignment/ft-time-span.service.ts
  apps/api/src/assignment/volunteer.service.ts
  apps/api/src/authentication/authentication.service.ts
  apps/api/src/ft-user-request/ft-user-request.service.ts
  apps/api/src/need-help/dto/volunteer.response.dto.ts
  apps/api/src/need-help/need-help.model.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/transaction/transaction.service.ts
  apps/api/src/user/dto/volunteer-assignment-stat.response.dto.ts
  apps/api/src/user/profile-picture.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/api/src/utils/assignment.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

style(Api): ✍ Linted api files
  apps/api/src/user/dto/user-personnal-data.response.dto.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(Api): filter updatable user data #1166
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: clean code #1166
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  domains/user/src/index.ts
  domains/user/src/user-form.model.ts
  domains/user/src/user.model.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

style: ✍ run format and lint on all modules
  domains/user/src/user-form.model.ts
  domains/user/src/user.model.ts
Due: install

refactor: clean code for jwt & build cmd #1166
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.service.ts
  domains/user/package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: extract team codes via function. #1166
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(Api): use user domain types #1166
  apps/api/src/user/dto/create-user.request.dto.ts
  apps/api/src/user/dto/my-user-information.response.dto.ts
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/dto/user-personnal-data.response.dto.ts
  apps/api/src/user/dto/volunteer-assignment-stat.response.dto.ts
  apps/api/src/user/profile-picture.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/api/tsconfig.json
  apps/web/tsconfig.json
  domains/user/src/userRequest.ts
  pnpm-lock.yaml
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: clean user domain #1166
  domains/user/src/userData.ts
  domains/user/src/userRequest.ts
Due: install

fix(Api): wrong period interface #1166
  apps/api/src/user/user.model.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
