Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

fix(volunteer-availability): stay on latest period. #1567
  apps/web/components/molecules/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): use native step on date picker to increment minutes by fifteen minutes. #1569
  apps/web/components/atoms/field/date/DateTimeField.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1569
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): use native step on date picker to increment minutes by fifteen minutes. #1569
  apps/web/components/atoms/field/date/DateTimeField.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: broken imports. #1566
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-repository.prisma.ts
  apps/web/components/organisms/logistic/DahsboardGearListing.vue
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

refactor(logistic-dashboard): return gear name with it details. #1566
  apps/api/src/logistic/dashboard/dashboard.controller.ts
  apps/api/src/logistic/dashboard/dashboard.service.ts
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-repository.prisma.ts
  apps/web/repositories/logistic-dashboard.repository.ts
  apps/web/store/logisticDashboard.ts
  utils/http/src/index.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(logistic-dashboard): open detail card when click on graph. #1566
  apps/web/components/organisms/logistic/DahsboardGearListing.vue
  apps/web/components/organisms/logistic/DashboardGearDetailsCard.vue
  apps/web/components/organisms/logistic/DashboardGearDetailsGraph.vue
  apps/web/store/logisticDashboard.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1566
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(logistic-dashboard): open detail card when click on graph. #1566
  apps/api/package.json
  apps/api/src/logistic/dashboard/dashboard.controller.ts
  apps/api/src/logistic/dashboard/dashboard.service.ts
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-repository.prisma.ts
  apps/web/components/organisms/logistic/DahsboardGearListing.vue
  apps/web/components/organisms/logistic/DashboardGearDetailsCard.vue
  apps/web/components/organisms/logistic/DashboardGearDetailsGraph.vue
  apps/web/package.json
  apps/web/repositories/logistic-dashboard.repository.ts
  apps/web/store/logisticDashboard.ts
  package.json
  utils/http/package.json
  utils/http/src/index.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.16.4
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

fix(festival-task): limit mobilizable teams in UI #1576
  apps/web/components/molecules/festival-event/mobilization/AddTeamInMobilizationForm.vue
  apps/web/components/molecules/festival-event/mobilization/CreateMobilizationForm.vue
  apps/web/store/team.ts
  domains/festival-event/src/festival-task/sections/mobilizations.ts
  domains/festival-event/src/index.ts
Due: overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #1578
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): limit mobilizable teams in UI #1576
  apps/api/package.json
  apps/web/components/molecules/festival-event/mobilization/AddTeamInMobilizationForm.vue
  apps/web/components/molecules/festival-event/mobilization/CreateMobilizationForm.vue
  apps/web/package.json
  apps/web/store/team.ts
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/sections/mobilizations.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(festival-task): assign humain reviewer on reviewing task. #1577
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/festival-task.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

chore: update versions. #1577
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

refactor(festival-task): move in memory reviewers to dedicated file. #1577
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/ask-for-review/reviewers.inmemory.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

prefeat(festival-task): assign humain reviewer on reviewing task. #1577
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/ask-for-review/reviewers.inmemory.ts
  domains/festival-event/src/festival-task/festival-task.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(ft): :lipstick: update overflow to make sidebar scrollable
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(ft): simplify des text editor for the description #1571
  apps/web/components/atoms/field/tiptap/TiptapMenu.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1551
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-task): :lipstick: update overflow to make sidebar scrollable
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): slugify tam name on search #1578
  apps/web/components/atoms/field/search/SearchTeam.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1578
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): slugify tam name on search #1578
  apps/web/components/atoms/field/search/SearchTeam.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

refactor(fa): :fire: remove reference to old fa store
  apps/web/components/molecules/logistic/GearRequestsValidation.vue
  apps/web/pages/fa/index.vue
  apps/web/store/fa.ts
  apps/web/store/index.ts
  apps/web/utils/festival-event/festival-activity/fa.utils.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(festival-task): better type usage. #1573
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/volunteer-conflicts.inmemory.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

refactor(festival-task): unique check validity function. #1573
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

prefeat(festival-task): allow update on general and instructions. #1573
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

prefeat(festival-task): allow update on mobilizations #1573
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-mobilizations-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

prefeat(festival-task): unable update on task under review #1573
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.error.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-general-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/volunteer-conflicts.inmemory.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

chore: update versions #1573
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): clean code #1573
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.error.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

fix: remove unused type #1573
  domains/festival-event/src/festival-task/sections/mobilizations.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

fix(festival-task): function name #1573
  apps/api/src/festival-task/sections/instructions/instructions-section.service.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/api_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

prefeat(festival-task): enable update on task under review #1573
  apps/api/package.json
  apps/api/src/festival-task/sections/instructions/instructions-section.service.ts
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/festival-task.factory.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/prepare/prepare-general-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-instructions-section.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare-mobilizations-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
  domains/festival-event/src/festival-task/sections/mobilizations.ts
  domains/festival-event/src/festival-task/volunteer-conflicts.inmemory.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 2.16.5
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update pnpm to v8.15.3
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  docker/Dockerfile
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/permission/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
