Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

backend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - backend_install
  before_script:
  - cd backend
  script:
  - npm run build

frontend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - frontend_install
  before_script:
  - cd frontend
  script:
  - npm run build:ci

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

refactor(Front): :fire: remove unused request and function for user #827
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: add comment & refactor format text function #827
  frontend/components/molecules/users/UserList.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/assignment/FilterableUserList.vue
  frontend/pages/assignment.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: show users and user resume #827
  frontend/components/molecules/users/UserList.vue
  frontend/components/molecules/users/UsersList.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/assignment/FilterableUserList.vue
  frontend/pages/assignment.vue
  frontend/store/user.ts
  frontend/utils/functions/list.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: friend list in assignment #827
  frontend/components/molecules/friends/FriendsDisplay.vue
  frontend/components/molecules/users/UserList.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/assignment/FilterableUserList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Front): :sparkles: filter user list #827
  frontend/components/atoms/SearchUser.vue
  frontend/components/organisms/assignment/FilterableUserList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Front): :sparkles: add assignment store #827
  frontend/components/FiltredUsers.vue
  frontend/components/UsersList.vue
  frontend/components/atoms/SearchFriend.vue
  frontend/components/molecules/friends/FriendsCard.vue
  frontend/components/molecules/friends/FriendsDisplay.vue
  frontend/components/molecules/users/UserList.vue
  frontend/components/organisms/assignment/FilterableUserList.vue
  frontend/components/organisms/assignment/VolunteerResume.vue
  frontend/pages/assignment.vue
  frontend/repositories/assignmentRepo.ts
  frontend/repositories/repoFactory.ts
  frontend/repositories/userRepo.ts
  frontend/store/assignment.ts
  frontend/store/user.ts
  frontend/utils/models/assignment.ts
  frontend/utils/models/user.ts
  frontend/utils/user/userUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :art: filter volunteer function split into methods #827
  frontend/components/organisms/assignment/FilterableUserList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(Front): :sparkles: clean component filteredUsers #827
  frontend/components/atoms/SearchTeams.vue
  frontend/components/molecules/users/UsersList.vue
  frontend/components/organisms/assignment/FilteredUsers.vue
  frontend/layouts/default.vue
  frontend/pages/assignment.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :fire: remove unused variable in user list #827
  frontend/components/molecules/users/UserList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :fire: remove unused assigment components #827
  frontend/components/OverFT.vue
  frontend/components/OverTasks.vue
  frontend/components/atoms/TeamSearchField.vue
  frontend/pages/creneaux.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #827
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore(deps): bump core-js from 3.29.0 to 3.29.1 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump @nuxtjs/eslint-module in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump eslint and @nuxtjs/eslint-config-typescript
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump sass from 1.58.3 to 1.59.2 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps): bump ejs from 3.1.8 to 3.1.9 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps): bump rimraf from 4.3.0 to 4.4.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @types/node from 18.14.6 to 18.15.1 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @typescript-eslint/eslint-plugin in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @typescript-eslint/parser in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump eslint from 8.35.0 to 8.36.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

refactor(Front): :art: user to volunteer variable #827
  frontend/components/molecules/friends/FriendsDisplay.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor(Front): :fire: remove license filter in assignment #827
  frontend/components/organisms/assignment/FilterableUserList.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(front): add user list component in assigment V1
  backend/package-lock.json
  backend/package.json
  frontend/components/FiltredUsers.vue
  frontend/components/OverFT.vue
  frontend/components/OverTasks.vue
  frontend/components/UsersList.vue
  frontend/components/atoms/SearchFriend.vue
  frontend/components/atoms/SearchTeams.vue
  frontend/components/atoms/SearchUser.vue
  frontend/components/atoms/TeamSearchField.vue
  frontend/components/molecules/friends/FriendsCard.vue
  frontend/components/molecules/friends/FriendsDisplay.vue
  frontend/components/molecules/users/UserList.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/assignment/FilterableUserList.vue
  frontend/components/organisms/assignment/VolunteerResume.vue
  frontend/layouts/default.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/assignment.vue
  frontend/pages/creneaux.vue
  frontend/repositories/assignmentRepo.ts
  frontend/repositories/repoFactory.ts
  frontend/repositories/userRepo.ts
  frontend/store/assignment.ts
  frontend/store/user.ts
  frontend/utils/functions/list.ts
  frontend/utils/models/assignment.ts
  frontend/utils/models/user.ts
  frontend/utils/user/userUtils.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: Endpoint get ft user requests by user id
  backend/src/ft_user_request/ft_user_request.controller.ts
  backend/src/ft_user_request/ft_user_request.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat: :construction: Add FT request front
  backend/src/ft_user_request/ft_user_request.controller.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  frontend/pages/calendar/_calendar.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/ft.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Add username in tab title
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor: :recycle: Add event color && Review
  backend/src/ft_user_request/ft_user_request.controller.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/domain/common/status-color.ts
  frontend/pages/calendar/_calendar.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/ft.ts
  frontend/utils/models/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(calendar): add event slot. #886
  frontend/components/atoms/OverCalendarV2.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

Remove event slot to correct event name error
  frontend/components/atoms/OverCalendarV2.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

Review
  frontend/domain/common/status-color.ts
  frontend/pages/calendar/_calendar.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

Add back slot & Make event custom
  frontend/components/atoms/OverCalendarV2.vue
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

versions
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

WTF c'est quoi le bins
  frontend/pages/calendar/_calendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(calendar): display volunteer required fts on calendar. #886
  backend/package-lock.json
  backend/package.json
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/components/atoms/OverCalendarV2.vue
  frontend/domain/common/status-color.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/calendar/_calendar.vue
  frontend/repositories/userRepo.ts
  frontend/store/user.ts
  frontend/utils/models/user.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Front): :bug: show ft filter if necessary #892
  frontend/components/organisms/UserInformation.vue
  frontend/pages/ft/index.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #892
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Front): :art: use permission instead of team #892
  frontend/components/organisms/UserInformation.vue
  frontend/pages/ft/index.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(Front): show ft filter if necessary #892
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/UserInformation.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/ft/index.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(register): :sparkles: send welcome email on registration. #875
  backend/src/mail/mail.service.ts
  backend/src/mail/templates/welcome.ejs
  backend/src/permission/permission.module.ts
  backend/src/team/team.module.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*
