Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

prefeat(logistic-dashboard): implement API in WEB, renaming and organising #1446
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/web/components/organisms/logistic/GearRequestListing.vue
  apps/web/pages/logistic/catalog.vue
  apps/web/pages/logistic/dashboard.vue
  apps/web/pages/logistic/inventory.vue
  apps/web/pages/matos/logistic.vue
  apps/web/repositories/logistic-dashboard.repository.ts
  apps/web/store/index.ts
  apps/web/store/logisticDashboard.ts
  apps/web/utils/pages/pages-list.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

prefeat(logistic-dashboard): add keywords to dashboard page #1446
  apps/web/utils/pages/pages-list.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(logistic-dashboard): implement API in WEB, renaming and organising #1446
  apps/api/package.json
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/web/components/organisms/logistic/GearRequestListing.vue
  apps/web/package.json
  apps/web/pages/logistic/catalog.vue
  apps/web/pages/logistic/dashboard.vue
  apps/web/pages/logistic/inventory.vue
  apps/web/pages/matos/logistic.vue
  apps/web/repositories/logistic-dashboard.repository.ts
  apps/web/store/index.ts
  apps/web/store/logisticDashboard.ts
  apps/web/utils/pages/pages-list.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

refactor(trombinoscope): extract BirthdayCard component. #1337
  apps/web/components/molecules/user/BirthdayCard.vue
  apps/web/pages/trombinoscope.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(trombinoscope): group volunteers. #1337
  apps/web/components/molecules/user/trombinoscope/BirthdayCard.vue
  apps/web/components/molecules/user/trombinoscope/TrombinoscopeCard.vue
  apps/web/components/molecules/user/trombinoscope/TrombinoscopeGroup.vue
  apps/web/pages/trombinoscope.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1337
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(trombinoscope): group volunteers. #1337
  apps/web/components/molecules/user/trombinoscope/BirthdayCard.vue
  apps/web/components/molecules/user/trombinoscope/TrombinoscopeCard.vue
  apps/web/components/molecules/user/trombinoscope/TrombinoscopeGroup.vue
  apps/web/package.json
  apps/web/pages/trombinoscope.vue
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-task): migration with old ft #1472
  apps/api/prisma/migrations/20240119175340_add_new_ft_table/migration.sql
  apps/api/prisma/schema.prisma
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(festival-task): create api & db table
  apps/api/prisma/migrations/20240117163803_add_new_festival_task_table/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/festival-task/common/festival-task-common.module.ts
  apps/api/src/festival-task/common/festival-task-error.filter.ts
  apps/api/src/festival-task/festival-task.module.ts
  apps/api/src/festival-task/sections/general/general-section.controller.ts
  apps/api/src/festival-task/sections/general/general-section.module.ts
  apps/api/src/festival-task/sections/general/general-section.service.ts
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/festival-event/src/index.ts
Due: overbookd/api_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

prefeat(festival-task): add instructions section template in api #1472
  apps/api/src/festival-task/festival-task.module.ts
  apps/api/src/festival-task/sections/instructions/instructions-section.controller.ts
  apps/api/src/festival-task/sections/instructions/instructions-section.module.ts
  apps/api/src/festival-task/sections/instructions/instructions-section.service.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

refactor(festival-task): rename global instruction in db #1472
  apps/api/prisma/migrations/20240118170701_add_new_festival_task_table/migration.sql
  apps/api/prisma/schema.prisma
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(db): ft tables #1472
  apps/api/prisma/migrations/20240118170701_add_new_festival_task_table/migration.sql
  apps/api/prisma/migrations/20240119122421_add_new_festival_task_table/migration.sql
  apps/api/prisma/schema.prisma
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1472
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(ft): contact to volunteer api in migration #1472
  apps/api/prisma/migrations/20240119180441_add_new_ft_table/migration.sql
  apps/api/prisma/schema.prisma
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(festival-task): create api template & db table
  apps/api/package.json
  apps/api/prisma/migrations/20240119180441_add_new_ft_table/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/festival-task/common/festival-task-common.module.ts
  apps/api/src/festival-task/common/festival-task-error.filter.ts
  apps/api/src/festival-task/festival-task.module.ts
  apps/api/src/festival-task/sections/general/general-section.controller.ts
  apps/api/src/festival-task/sections/general/general-section.module.ts
  apps/api/src/festival-task/sections/general/general-section.service.ts
  apps/api/src/festival-task/sections/instructions/instructions-section.controller.ts
  apps/api/src/festival-task/sections/instructions/instructions-section.module.ts
  apps/api/src/festival-task/sections/instructions/instructions-section.service.ts
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(trombinoscope): add profile picture missing alert. #1336
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/repository/profile-picture-alerting.prisma.ts
  apps/web/components/atoms/alerts/ProfilePictureAlert.vue
  apps/web/components/molecules/alerts/AlertListing.vue
  apps/web/components/molecules/user/ProfilePictureDialog.vue
  utils/alerts/src/index.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions. #1336
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/alerts/package.json
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(trombinoscope): add profile picture missing alert. #1336
  apps/api/package.json
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/repository/profile-picture-alerting.prisma.ts
  apps/web/components/atoms/alerts/ProfilePictureAlert.vue
  apps/web/components/molecules/alerts/AlertListing.vue
  apps/web/components/molecules/user/ProfilePictureDialog.vue
  apps/web/package.json
  package.json
  utils/alerts/package.json
  utils/alerts/src/index.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.14.0
  CHANGELOG.md
  package.json
Due: none

fix(trombinoscope): enable on mobile. #1481
  apps/web/utils/pages/pages-list.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1481
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(trombinoscope): enable on mobile. #1481
  apps/web/package.json
  apps/web/utils/pages/pages-list.ts
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

test(signa): add schema a more relevant test cases. #1344
  apps/web/utils/signa-location/geo-json.spec.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: :art: Beautify code
  apps/web/utils/signa-location/distance.ts
  apps/web/utils/signa-location/geo-json.spec.ts
  apps/web/utils/signa-location/line.ts
  apps/web/utils/signa-location/point.ts
  apps/web/utils/signa-location/polygon.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: :bug: Debug
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: :bug: Fix distance error
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/utils/signa-location/distance.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

refactor(signa): switch edit mode with left click. #1344
  apps/web/components/molecules/signa/location/EditLocationCard.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
  apps/web/utils/signa-location/distance.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

refactor: :art: Beautify code
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/utils/signa-location/geo-json.spec.ts
  apps/web/utils/signa-location/line.ts
  apps/web/utils/signa-location/location.ts
  apps/web/utils/signa-location/point.ts
  apps/web/utils/signa-location/polygon.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: :art: Remove finish edit button on signa locations
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: :bug: Rollback debug
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1344
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(signa): default editing according to current geo json. #1344
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(signa): add edition status visual representation. #1344
  apps/web/components/molecules/signa/location/EditLocationCard.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: :art: Remove finish edit button on signa locations
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
  apps/web/package.json
  apps/web/utils/signa-location/distance.ts
  apps/web/utils/signa-location/geo-json.spec.ts
  apps/web/utils/signa-location/line.ts
  apps/web/utils/signa-location/location.ts
  apps/web/utils/signa-location/point.ts
  apps/web/utils/signa-location/polygon.ts
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-activity): find gears according to slug in web. #1480
  apps/web/components/atoms/field/search/SearchGear.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1480
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-activity): find gears according to slug in web. #1480
  apps/web/components/atoms/field/search/SearchGear.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(festival-task): enable add inquiry. #1467
  domains/festival-event/src/festival-activity/preparation/prepare-festival-activity.model.ts
  domains/festival-event/src/festival-task/create/create.spec.ts
  domains/festival-event/src/festival-task/create/create.ts
  domains/festival-event/src/festival-task/festival-task.error.ts
  domains/festival-event/src/festival-task/festival-task.test-util.ts
  domains/festival-event/src/festival-task/festival-task.ts
  domains/festival-event/src/festival-task/prepare/prepare-inquiries-list.spec.ts
  domains/festival-event/src/festival-task/prepare/prepare.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

chore: update versions. #1467
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): typo on gear slug. #1467
  domains/festival-event/src/festival-task/festival-task.test-util.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test
