Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, configurator, frontend_scan, backend_scan, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/web_lint:
  stage: check
  interruptible: true
  image: node:16-alpine
  before_script:
  - apk update
  - apk add openssh git
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  ...

overbookd/api_lint:
  stage: check
  interruptible: true
  image: node:18-alpine
  before_script:
  - apk update
  - apk add openssh git
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  ...

overbookd/api_prune:
  stage: check
  interruptible: true
  image: node:18-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run --filter @overbookd/api find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

feat: add register form state in front #1164
  apps/web/components/organisms/user/personnalAccount/SgConfigForm.vue
  apps/web/package.json
  apps/web/pages/config.vue
  apps/web/pages/register.vue
  apps/web/repositories/configurationRepo.ts
  apps/web/store/configuration.ts
  apps/web/utils/date/dateUtils.ts
  apps/web/utils/models/configuration.ts
  libraries/configuration/src/configuration.constant.ts
  pnpm-lock.yaml
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: white config btn #1164
  apps/web/components/atoms/field/tiptap/TiptapMenuItem.vue
  apps/web/pages/config.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: replace current register description #1164
  apps/api/prisma/seed.ts
  apps/web/pages/register.vue
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(Web): white btn color #1164
  apps/web/components/atoms/field/tiptap/TiptapMenuItem.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

style(Front): ✍ Linted frontend files
  apps/web/pages/config.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: replace registerForm state by description #1164
  apps/api/prisma/seed.ts
  apps/web/pages/config.vue
  apps/web/pages/login.vue
  apps/web/pages/register.vue
  apps/web/store/configuration.ts
  domains/configuration/src/configuration.constant.ts
  domains/configuration/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: code error #1164
  apps/web/pages/register.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

fix: index page after register #1164
  apps/web/pages/register.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

feat: add slot in RichEditor for config #1164
  apps/api/prisma/seed.ts
  apps/web/components/atoms/field/tiptap/RichEditor.vue
  apps/web/components/atoms/field/tiptap/TiptapMenu.vue
  apps/web/components/atoms/field/tiptap/TiptapMenuItem.vue
  apps/web/pages/config.vue
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: domain import #1164
  tsconfig.library-import.json
Due: none

refactor: move configuration in domains #1164
  apps/api/tsconfig.json
  apps/web/tsconfig.json
  domains/configuration/package.json
  domains/configuration/src/configuration.constant.ts
  domains/configuration/src/configuration.ts
  domains/configuration/src/index.ts
  domains/configuration/tsconfig.json
  domains/volunteer-availability/package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.library-import.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(Web): config save function #1164
  apps/web/pages/config.vue
  apps/web/pages/register.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

feat: add registration domain #1164
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/pages/config.vue
  apps/web/store/configuration.ts
  apps/web/tsconfig.json
  domains/registration/package.json
  domains/registration/src/index.ts
  domains/registration/src/registration.constant.ts
  domains/registration/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: Update pnpm version #1164
  domains/configuration/package.json
  domains/registration/package.json
Due: install

chore: Update version #1164
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(web): add v-safe-html #1164
  apps/web/nuxt.config.js
  apps/web/package.json
  apps/web/pages/register.vue
  apps/web/plugins/safe-html.js
  docker/.env
  pnpm-lock.yaml
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: clean code #1173
  apps/api/src/fa-electricity-need/dto/fa-electricity-need.request.dto.ts
  apps/api/src/fa-electricity-need/dto/fa-electricity-need.response.dto.ts
  apps/api/src/fa-signa-need/dto/create-fa-signa-need.request.dto.ts
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
  apps/web/store/fa.ts
  apps/web/utils/models/fa.ts
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: electricity need requests #1173
  apps/api/prisma/migrations/20230803181430_elec_need_required_field/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/fa-electricity-need/dto/fa-electricity-need.request.dto.ts
  apps/api/src/fa-electricity-need/dto/fa-electricity-need.response.dto.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.controller.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.model.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.service.ts
  apps/api/src/fa-time-window/fa-time-window.controller.ts
  apps/api/src/fa/dto/complete-fa.response.dto.ts
  apps/api/src/fa/fa.model.ts
  apps/web/repositories/faRepo.ts
  apps/web/store/fa.ts
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(Api): export elec need select #1173
  apps/api/src/fa-electricity-need/fa-electricity-need.query.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.service.ts
  apps/api/src/fa/faTypes.ts
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

chore: Update version #1173
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(Web): assert type #1173
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

style(Api): ✍ Linted api files
  apps/api/src/fa-electricity-need/fa-electricity-need.query.ts
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

fix(Web): elec label in table #1173
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

fix: error text #1173
  apps/web/utils/rules/faValidationRules.ts
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Web): elec need form & table #1173
  apps/api/src/fa-electricity-need/fa-electricity-need.model.ts
  apps/web/components/molecules/festivalEvent/logistic/ElecLogisticForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
  apps/web/components/organisms/festivalEvent/fa/ElecLogisticCard.vue
  apps/web/components/organisms/festivalEvent/fa/ElectricityNeedCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaCheckBeforeSubmitCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaTimeWindowCard.vue
  apps/web/pages/fa/_fa.vue
  apps/web/store/fa.ts
  apps/web/utils/rules/faValidationRules.ts
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(Api): request dto name #1173
  apps/api/src/fa-electricity-need/dto/upsert-fa-electricity-need.request.dto.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.controller.ts
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(Web): electricity types #1173
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
  apps/web/utils/models/fa.ts
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

style(Web): ✍ Linted web files
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
  apps/web/components/organisms/festivalEvent/fa/FaCheckBeforeSubmitCard.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

fix(Web): revert elec type map #1173
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
  apps/web/utils/models/fa.ts
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Web): lint code #1173
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Web): map elec labels #1173
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
  apps/web/utils/models/fa.ts
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

fix(Api): elec need migration #1173
  apps/api/prisma/migrations/20230803181430_elec_need_required_field/migration.sql
  apps/api/prisma/schema.prisma
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(web): replace elec need labels by map #1173
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
  apps/web/utils/models/fa.ts
Due: @overbookd/web_build, overbookd/web_lint, preprod_overbookd-web_publish, install, overbookd/web_test

fix: remove .env variables #1164
  docker/.env
  domains/registration/src/registration.constant.ts
Due: install

refactor: register page for hard #1164
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/src/configuration/configuration.controller.ts
  apps/api/src/configuration/configuration.model.ts
  apps/api/src/configuration/configuration.service.ts
  apps/api/tsconfig.json
  apps/web/components/atoms/field/tiptap/RichEditor.vue
  apps/web/components/atoms/field/tiptap/TiptapMenu.vue
  apps/web/components/atoms/field/tiptap/TiptapMenuItem.vue
  apps/web/components/organisms/user/personnalAccount/OverTransactions.vue
  apps/web/components/organisms/user/personnalAccount/SgConfigForm.vue
  apps/web/layouts/default.vue
  apps/web/nuxt.config.js
  apps/web/package.json
  apps/web/pages/config.vue
  apps/web/pages/login.vue
  apps/web/pages/mTransactions.vue
  apps/web/pages/register.vue
  apps/web/pages/signup.vue
  apps/web/pages/transactions.vue
  apps/web/plugins/safe-html.js
  apps/web/repositories/configurationRepo.ts
  apps/web/store/configuration.ts
  apps/web/tsconfig.json
  apps/web/utils/date/dateUtils.ts
  apps/web/utils/models/configuration.ts
  domains/configuration/package.json
  domains/configuration/src/configuration.ts
  domains/configuration/src/index.ts
  domains/configuration/tsconfig.json
  domains/registration/package.json
  domains/registration/src/index.ts
  domains/registration/src/registration.constant.ts
  domains/registration/tsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: fa electricity needs #1173
  apps/api/package.json
  apps/api/prisma/migrations/20230803181430_elec_need_required_field/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/fa-electricity-need/dto/create-fa-electricity-need.request.dto.ts
  apps/api/src/fa-electricity-need/dto/fa-electricity-need.response.dto.ts
  apps/api/src/fa-electricity-need/dto/upsert-fa-electricity-need.request.dto.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.controller.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.model.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.query.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.service.ts
  apps/api/src/fa-signa-need/dto/create-fa-signa-need.request.dto.ts
  apps/api/src/fa-time-window/fa-time-window.controller.ts
  apps/api/src/fa/dto/complete-fa.response.dto.ts
  apps/api/src/fa/fa.model.ts
  apps/api/src/fa/faTypes.ts
  apps/web/components/molecules/festivalEvent/logistic/ElecLogisticForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedForm.vue
  apps/web/components/molecules/festivalEvent/logistic/electricityNeed/ElectricityNeedTable.vue
  apps/web/components/organisms/festivalEvent/fa/ElecLogisticCard.vue
  apps/web/components/organisms/festivalEvent/fa/ElectricityNeedCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaTimeWindowCard.vue
  apps/web/package.json
  apps/web/pages/fa/_fa.vue
  apps/web/repositories/faRepo.ts
  apps/web/store/fa.ts
  apps/web/utils/models/fa.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, overbookd/web_lint, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: add missing node updates #1185
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  domains/configuration/package.json
  domains/registration/package.json
Due: install

chore: add missing node updates
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  domains/configuration/package.json
  domains/registration/package.json
Due: install

style(Api): ✍ Linted api files
  apps/api/src/fa-signa-need/dto/fa-signa-need-export-csv.response.dto.ts
  apps/api/src/fa-signa-need/dto/upsert-fa-signa-need.request.dto.ts
  apps/api/src/fa-signa-need/fa-signa-need.model.ts
  apps/api/src/fa-signa-need/fa-signa-need.service.ts
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

fix(Api): migration #1139
  apps/api/prisma/migrations/20230809165825_signa_need_types_update/migration.sql
  apps/api/prisma/migrations/20230809170007_signa_need_remove_old_types/migration.sql
Due: @overbookd/api_build, overbookd/api_lint, overbookd/api_prune, preprod_overbookd-api_publish, install, overbookd/api_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  overbookd/web_lint: any of: apps/web/**/*
  overbookd/api_lint: any of: apps/api/**/*
  overbookd/api_prune: any of: apps/api/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
