Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

fix(registration): send new adherent email
  apps/api/package.json
  apps/api/src/mail/mail.service.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(deps): update pnpm to v8.7.3
  package.json
Due: none

chore(deps): update web dependencies
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  docker/Dockerfile
  domains/configuration/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(deps): update pnpm to v8.7.4
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
Due: install

ci(renovate): :pushpin: group pnpm update
  .pre-commit-config.yaml
  renovate.json
Due: none

chore(deps): update node.js to v20.6.1
  apps/api/package.json
  apps/web/package.json
  domains/configuration/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(deps): update pnpm to v8.7.4
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  .vscode/settings.json
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  docker/Dockerfile
  domains/configuration/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(deps): update web dependencies to v2.1.8
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(deps): update root package dependencies to v6.6.0
  package.json
  pnpm-lock.yaml
Due: install

fix(deps): update dependency nodemailer to v6.9.5
  apps/api/package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: bump v2.0
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: change sql script for data cleanning
  tools/sql-script/clean-data-48e.sql
Due: none

refactor: set charisma to 0
  tools/sql-script/clean-data-48e.sql
Due: none

chore(deps): update dependency webpack to v4.47.0
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(deps): update dependency core-js to v3.32.2
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(deps): update root package dependencies to v0.34.4
  package.json
  pnpm-lock.yaml
Due: install

refactor: replace some hard permissions #1228
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/catalog/category.controller.ts
  apps/api/src/catalog/gear.controller.ts
  apps/api/src/collaborator/collaborator.controller.ts
  apps/api/src/fa-electricity-need/fa-electricity-need.controller.ts
  apps/api/src/fa-feedback/fa-feedback.controller.ts
  apps/api/src/fa-signa-need/fa-signa-need.controller.ts
  apps/api/src/fa-time-window/fa-time-window.controller.ts
  apps/api/src/fa/fa.controller.ts
  apps/api/src/ft-feedback/ft-feedback.controller.ts
  apps/api/src/ft-team-request/ft-team-request.controller.ts
  apps/api/src/ft-time-window/ft-time-window.controller.ts
  apps/api/src/ft-user-request/ft-user-request.controller.ts
  apps/api/src/ft/ft.controller.ts
  apps/api/src/gear-request/gear-request.controller.ts
  apps/api/src/orga-needs/orga-needs.controller.ts
  apps/api/src/permission/permission.controller.ts
  apps/api/src/public-animation/public-animation.controller.ts
  apps/api/src/registration/registration.controller.ts
  apps/api/src/signa-location/signa-location.controller.ts
  apps/api/src/user/user.controller.ts
  apps/web/components/organisms/availabilities/AvailabilitiesStepsCard.vue
  apps/web/components/organisms/logistic/CategoriesTreeView.vue
  apps/web/components/organisms/logistic/GearListing.vue
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/pages/matos/catalog.vue
  apps/web/pages/volunteers.vue
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: remove hard permissions #1228
  apps/api/src/assignment/assignment.controller.ts
  apps/api/src/gear-request/gear-request.controller.ts
  apps/web/layouts/default.vue
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: matos perm #1228
  apps/api/src/catalog/category.controller.ts
  apps/api/src/catalog/gear.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: clean perms #1228
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/catalog/category.controller.ts
  apps/api/src/catalog/gear.controller.ts
  apps/web/components/organisms/logistic/CategoriesTreeView.vue
  apps/web/components/organisms/logistic/GearListing.vue
  apps/web/pages/matos/catalog.vue
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: remove hard permission #1228
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/assignment/assignment.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update version #1228
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: remove admin perm & refactor perm name #1228
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/app.controller.ts
  apps/api/src/assignment/assignment.service.ts
  apps/api/src/assignment/volunteer.service.ts
  apps/api/src/ft-review/ft-review.controller.ts
  apps/api/src/ft-review/ft-review.service.ts
  apps/api/src/ft-user-request/ft-user-request.service.ts
  apps/api/src/ft/ft.controller.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/orga-needs/orga-needs.service.ts
  apps/api/src/permission/permission.controller.ts
  apps/api/src/team/team.controller.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/web/repositories/team.repository.ts
  apps/web/store/user.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: rename cp perm #1228
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/web/pages/index.vue
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: view-stats perm #1228
  apps/api/prisma/seeders/permissions.ts
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat: add view-planning perm #1228
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/signa-location/signa-location.controller.ts
  apps/web/pages/index.vue
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: manage-cp perm #1228
  apps/api/prisma/seeders/permissions.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/user/user.service.ts
  apps/web/pages/volunteers.vue
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: update permissions type in user domain #1228
  apps/api/src/user/dto/my-user-information.response.dto.ts
  domains/user/package.json
  domains/user/src/user.model.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat: add permission domain #1228
  apps/api/package.json
  apps/api/prisma/seeders/permissions.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  domains/permission/package.json
  domains/permission/src/index.ts
  domains/permission/src/permission.ts
  domains/permission/tsconfig.build.json
  domains/permission/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(web): permission type #1228
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/authentication/permissions-auth.guard.ts
  apps/api/src/ft-review/ft-review.service.ts
  apps/api/src/ft/ft.service.ts
  apps/api/src/team/utils/permissions.ts
  apps/api/src/user/user.service.ts
  apps/web/components/molecules/availabilities/AvailabilitiesSumup.vue
  apps/web/components/organisms/festival-event/FestivalEventBottomBar.vue
  apps/web/components/organisms/festival-event/ft/FtDetailCard.vue
  apps/web/components/organisms/logistic/CategoriesTreeView.vue
  apps/web/components/organisms/logistic/GearListing.vue
  apps/web/components/organisms/logistic/SignageListing.vue
  apps/web/components/organisms/planning/PlanningDownloadCard.vue
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
  apps/web/pages/index.vue
  apps/web/pages/matos/catalog.vue
  apps/web/pages/signa/catalog.vue
  apps/web/pages/volunteers.vue
  apps/web/store/user.ts
  apps/web/utils/pages/pages-list.ts
  domains/permission/src/permission.model.ts
  domains/permission/src/permissions.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: add isPermission in domain #1228
  apps/api/src/team/utils/permissions.ts
  apps/api/src/user/user.service.ts
  apps/web/repositories/team.repository.ts
  domains/permission/src/permissions.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(domains): remove confiance in joinableTeams #1228
  domains/registration/src/enroll/joinable-team.ts
Due: install

fix: pnpm-lock #1228
  pnpm-lock.yaml
Due: install

fix(api): wrong perms #1228
  apps/api/src/ft-user-request/ft-user-request.service.ts
  apps/api/src/signa-location/signa-location.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: remove ? #1228
  apps/web/components/organisms/planning/PlanningDownloadCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: check in TeamChip & remove OverChips #1229
  apps/web/components/atoms/chip/OverChips.vue
  apps/web/components/atoms/chip/TeamChip.vue
  apps/web/components/molecules/permission/PermissionRow.vue
  apps/web/components/organisms/team/TeamsCard.vue
  apps/web/components/organisms/user/data/UserCard.vue
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/pages/volunteers.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test
