Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

chore: update versions #2287
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-event): fill adherent filter when refreshing page #2287
  apps/web/components/molecules/festival-event/FestivalEventFilterCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/components/organisms/festival-event/festival-task/FtFilter.vue
  apps/web/package.json
  apps/web/pages/fa/index.vue
  apps/web/pages/ft/index.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.16.0
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish

feat(festival-activities): update list when status change. #2290
  apps/api/src/notification/live/live-notification.controller.ts
  apps/api/src/notification/live/live-notification.service.ts
  apps/web/composable/useLiveNotification.ts
  apps/web/pages/fa/index.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: listen activity created instead of task. #2290
  apps/api/src/notification/live/live-notification.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: use event to update state instead of fetching data. #2290
  apps/web/pages/fa/index.vue
  apps/web/stores/festival-event/festival-activity.ts
  domains/festival-event/src/festival-activity/festival-activity.ts
  domains/festival-event/src/festival-activity/preview-of.spec.ts
  domains/festival-event/src/festival-activity/preview-of.ts
  domains/festival-event/src/index.ts
  utils/domain-events/src/domain-events.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions. #2290
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(festival-activities): update list when status change. #2290
  apps/api/package.json
  apps/api/src/notification/live/live-notification.controller.ts
  apps/api/src/notification/live/live-notification.service.ts
  apps/web/composable/useLiveNotification.ts
  apps/web/package.json
  apps/web/pages/fa/index.vue
  apps/web/stores/festival-event/festival-activity.ts
  domains/festival-event/package.json
  domains/festival-event/src/festival-activity/festival-activity.ts
  domains/festival-event/src/festival-activity/preview-of.spec.ts
  domains/festival-event/src/festival-activity/preview-of.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/domain-events/src/domain-events.ts
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(web): fix inventory csv parse and use code instead of slug to find gears #2263
  apps/web/components/atoms/search/SearchGear.vue
  apps/web/components/molecules/logistic/InventoryRecordForm.vue
  apps/web/components/organisms/logistic/inventory/InventoryImport.vue
  apps/web/domain/inventory/csv-inventory-import-container.ts
  apps/web/domain/inventory/gears.inmemory.ts
  apps/web/domain/inventory/gears.ts
  apps/web/domain/inventory/inventory-import.spec.ts
  apps/web/domain/inventory/inventory-import.ts
  apps/web/domain/inventory/inventory-record.ts
  apps/web/domain/inventory/manual-inventory-record.spec.ts
  apps/web/domain/inventory/manual-inventory-record.ts
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: components name #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/utils/navigation/pages/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/domain/common/planning-events.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(availabilitites): add custom calendar components #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarEvent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: calendar build #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/plugins/vuetify.client.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(availabilities): display periods with charisma #2220
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(calendar): add click event #2220
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/domain/common/planning-events.ts
  apps/web/pages/charisma/periods.vue
  apps/web/pages/fa/[id].vue
  apps/web/utils/calendar/event.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(rich-editor): generate unique id to avoid bugs #2256
  apps/web/components/atoms/field/RichEditor.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2256
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(team): rename soft team to benevole-festival #2273
  apps/api/prisma/seeders/permissions.ts
  apps/api/prisma/seeders/teams.ts
  apps/api/prisma/seeders/users.ts
  apps/api/src/domain-event/domain-event.service.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.controller.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.service.ts
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/volunteer/trombinoscope/Trombinoscope.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/stores/navigation-badge.ts
  apps/web/stores/registration/membership-application.ts
  apps/web/utils/navigation/pages/management.ts
  apps/web/utils/sort/sort-teams.utils.ts
  constants/permission/src/index.ts
  constants/team-constants/src/index.ts
  domains/access-manager/package.json
  domains/access-manager/src/join-teams/join-teams.spec.ts
  domains/access-manager/src/leave-team/leave-team.spec.ts
  domains/access-manager/src/revoke-permission/revoke-permission.spec.ts
  domains/festival-event/src/festival-task/sections/mobilizations.ts
  domains/registration/src/enroll/enroll-candidates.spec.ts
  domains/registration/src/enroll/enroll-candidates.ts
  domains/registration/src/enroll/joinable-team.ts
  domains/registration/src/register-newcomer.spec.ts
  domains/registration/src/register-newcomer.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: pnpm-lock #2273
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.service.ts
  apps/web/components/organisms/volunteer/trombinoscope/Trombinoscope.vue
  apps/web/utils/navigation/pages/management.ts
  apps/web/utils/sort/sort-teams.utils.ts
  domains/access-manager/src/join-teams/join-teams.spec.ts
  domains/access-manager/src/leave-team/leave-team.spec.ts
  domains/access-manager/src/revoke-permission/revoke-permission.spec.ts
  domains/festival-event/src/festival-task/sections/mobilizations.ts
  domains/registration/src/enroll/enroll-candidates.spec.ts
  domains/registration/src/enroll/enroll-candidates.ts
  domains/registration/src/register-newcomer.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: import #2273
  apps/web/utils/sort/sort-teams.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2273
  apps/api/package.json
  apps/web/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: unique id #2256
  apps/web/components/atoms/field/RichEditor.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: make id required #2256
  apps/web/components/atoms/field/RichEditor.vue
  apps/web/components/molecules/festival-event/festival-task/InitInChargeInstructionsCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/pages/configuration.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(rich-editor): generate unique id to avoid bugs #2256
  apps/web/components/atoms/field/RichEditor.vue
  apps/web/components/molecules/festival-event/festival-task/InitInChargeInstructionsCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-task/InstructionsCard.vue
  apps/web/package.json
  apps/web/pages/configuration.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.17.0
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions. #2291
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: update refused activities on approval. #2291
  apps/web/layouts/default.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: update refused activities on approval. #2291
  apps/web/layouts/default.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v9.14.4
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(fa): do not display FAs that are already displayed in the list
  apps/web/stores/festival-event/festival-activity.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #2293
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: return #2293
  apps/web/stores/festival-event/festival-activity.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test
