Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-api_docker_build:
  needs:
  - overbookd-api_docker_pre_build
  variables:
    APP_PATH: apps/api
    APP_NAME: api

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

chore(deps): update gitlab ci dependencies
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v10.5.2
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: rxjs version
  apps/api/src/domain-event/domain-event.service.ts
  pnpm-lock.yaml
  utils/alerts/package.json
  utils/domain-events/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  apps/api/src/domain-event/domain-event.service.ts
  pnpm-lock.yaml
  utils/alerts/package.json
  utils/domain-events/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency jose to v6
  domains/registration/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(festival-task): differentiate mobilizations and assignments in ft calendar and add assignment details when an assignment is clicked #2433 #2413
  apps/web/components/molecules/festival-event/festival-task/FtCalendarDialogCard.vue
  apps/web/pages/ft/[id].vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2433
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(deps): update postgres docker tag to v17
  docker/docker-compose.yml
Due: none

fix(festival-task): differentiate mobilizations and assignments in ft calendar and add assignment details when an assignment is clicked #2433 #2413
  apps/web/components/molecules/festival-event/festival-task/FtCalendarDialogCard.vue
  apps/web/package.json
  apps/web/pages/ft/[id].vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: add arrows #2375
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarHeader.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(availabilities): mobile version #2375
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: visuel #2375
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/pages/availabilities.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2375
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(availabilities): mobile version #2375
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarHeader.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/package.json
  apps/web/pages/availabilities.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: remove useless css variable #2262
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: build #2262
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

prefeat: create OverMultiCalendar #2262
  apps/web/components/organisms/assignment/calendar/OrgaTaskCalendar.vue
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/domain/common/break-events.ts
  apps/web/domain/common/planning-events.ts
  apps/web/utils/calendar/user.ts
  apps/web/utils/calendar/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.37.2
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

prefeat: add plannings #2262
  apps/web/components/molecules/need-help/NeedHelpFilterCard.vue
  apps/web/components/molecules/need-help/NeedHelpFilterCards.vue
  apps/web/components/molecules/need-help/NeedHelpVolunteerListCard.vue
  apps/web/components/molecules/need-help/NeedHelpVolunteerResumeCalendarHeader.vue
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/pages/need-help.vue
  apps/web/stores/need-help.ts
  apps/web/utils/calendar/day.presenter.ts
  apps/web/utils/calendar/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(libs): add pdf-book lib #2432
  libraries/pdf-book/package.json
  libraries/pdf-book/src/index.ts
  libraries/pdf-book/src/pdf-book.ts
  libraries/pdf-book/tsconfig.build.json
  libraries/pdf-book/tsconfig.json
  libraries/pdf-book/tsup.config.json
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat(api): add download planning booklet endpoints #2432
  apps/api/package.json
  apps/api/src/user/planning/planning.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat(web): can download plannings as booklets #2432
  apps/web/components/molecules/planning/DownloadLeafletsCard.vue
  apps/web/components/molecules/planning/DownloadPlanning.vue
  apps/web/repositories/planning.repository.ts
  apps/web/stores/planning.ts
  apps/web/utils/file/download-planning.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2432
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat: create the assignment pref for the volunter #2438
  apps/api/prisma/migrations/20250309192707_add_assignment_preference/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/api/src/user/preference/dto/assignment-preference.dto.ts
  apps/api/src/user/preference/dto/preference.response.dto.ts
  apps/api/src/user/preference/preference.controller.ts
  apps/api/src/user/preference/preference.service.ts
  apps/api/src/user/preference/repository/preferences.prisma.ts
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/repositories/preference.repository.ts
  apps/web/stores/preference.ts
  utils/http/src/index.ts
  utils/http/src/preference.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(planning): can download plannings as booklets for printing #2432
  apps/api/package.json
  apps/api/src/user/planning/planning.controller.ts
  apps/web/components/molecules/planning/DownloadLeafletsCard.vue
  apps/web/components/molecules/planning/DownloadPlanning.vue
  apps/web/package.json
  apps/web/repositories/planning.repository.ts
  apps/web/stores/planning.ts
  apps/web/utils/file/download-planning.utils.ts
  libraries/pdf-book/package.json
  libraries/pdf-book/src/index.ts
  libraries/pdf-book/src/pdf-book.ts
  libraries/pdf-book/tsconfig.build.json
  libraries/pdf-book/tsconfig.json
  libraries/pdf-book/tsup.config.json
  package.json
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
