Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

overbookd-web_docker_pre_build:
  stage: docker-build
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs: []
  script:
  - docker build --target installer --tag $CI_REGISTRY_IMAGE/$APP_NAME:installer --file $APP_PATH/Dockerfile .
  ...

preprod_overbookd-web_docker_build:
  stage: docker-build
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs:
  - overbookd-web_docker_pre_build
  before_script:
  - apk update
  - apk add jq
  - VERSION=$(jq -r '.version' ./${APP_PATH}/package.json)
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

fix: team form link on welcome mail. #1249
  apps/api/src/mail/templates/welcome-adherent.ejs
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1249
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: team form link on welcome mail. #1249
  apps/api/package.json
  apps/api/src/mail/templates/welcome-adherent.ejs
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat: display negative personnal account alert. #1246
  apps/web/pages/index.vue
  apps/web/pages/login.vue
  apps/web/repositories/alert.repository.ts
  apps/web/repositories/repo-factory.ts
  apps/web/store/alert.ts
  apps/web/store/index.ts
  apps/web/tsconfig.json
  domains/personnal-account/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat: alert on negative personnal account. #1246
  domains/personnal-account/package.json
  domains/personnal-account/src/adherents.in-memory.ts
  domains/personnal-account/src/in-debt-alerting.constant.ts
  domains/personnal-account/src/in-debt-alerting.spec.ts
  domains/personnal-account/src/in-debt-alerting.ts
  domains/personnal-account/src/index.ts
  domains/personnal-account/tsconfig.build.json
  domains/personnal-account/tsconfig.json
  pnpm-lock.yaml
Due: install

style: ✍ run format and lint on all modules
  domains/personnal-account/src/adherents.in-memory.ts
  domains/personnal-account/src/in-debt-alerting.constant.ts
Due: install

feat: expose alerts through api. #1246
  apps/api/package.json
  apps/api/src/alert/adherents.prisma.ts
  apps/api/src/alert/alert.controller.ts
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/dto/alert.response.dto.ts
  apps/api/src/app.module.ts
  apps/api/tsconfig.json
  domains/personnal-account/src/in-debt-alerting.ts
  domains/personnal-account/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1246
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: reword alert properties. #1246
  apps/api/src/alert/dto/alert.response.dto.ts
  apps/web/pages/index.vue
  apps/web/store/alert.ts
  domains/personnal-account/src/in-debt-alerting.spec.ts
  domains/personnal-account/src/in-debt-alerting.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat: alert on negative personnal account. #1246
  apps/api/package.json
  apps/api/src/alert/adherents.prisma.ts
  apps/api/src/alert/alert.controller.ts
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/dto/alert.response.dto.ts
  apps/api/src/app.module.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/pages/index.vue
  apps/web/pages/login.vue
  apps/web/repositories/alert.repository.ts
  apps/web/repositories/repo-factory.ts
  apps/web/store/alert.ts
  apps/web/store/index.ts
  apps/web/tsconfig.json
  domains/personnal-account/package.json
  domains/personnal-account/src/adherents.in-memory.ts
  domains/personnal-account/src/in-debt-alerting.constant.ts
  domains/personnal-account/src/in-debt-alerting.spec.ts
  domains/personnal-account/src/in-debt-alerting.ts
  domains/personnal-account/src/index.ts
  domains/personnal-account/tsconfig.build.json
  domains/personnal-account/tsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: better layout colors
  apps/web/layouts/default.vue
  apps/web/layouts/parts/header.vue
  apps/web/layouts/parts/side-nav.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

test: add shadow
  apps/web/layouts/parts/side-nav.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: :art: layout color
  apps/web/assets/variables.scss
  apps/web/layouts/parts/side-nav.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: sidenav color
  apps/web/assets/variables.scss
  apps/web/layouts/parts/side-nav.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: better layout colors
  apps/web/assets/variables.scss
  apps/web/layouts/default.vue
  apps/web/layouts/parts/header.vue
  apps/web/layouts/parts/side-nav.vue
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: ⬆️ bump to 2.1.0
  package.json
Due: none

fix: remove balance from user personnal data. #1236
  apps/api/src/user/dto/consumer.response.dto.ts
  apps/api/src/user/dto/my-user-information.response.dto.ts
  apps/api/src/user/dto/user-personnal-data.response.dto.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/components/organisms/user/personnalAccount/PersonnalAccountCard.vue
  apps/web/pages/SG.vue
  apps/web/pages/volunteers.vue
  apps/web/repositories/user.repository.ts
  apps/web/store/user.ts
  apps/web/utils/models/user.model.ts
  domains/user/src/user.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update version. #1236
  apps/api/package.json
  apps/web/package.json
  domains/user/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: remove balance from user personnal data. #1236
  apps/api/package.json
  apps/api/src/user/dto/consumer.response.dto.ts
  apps/api/src/user/dto/my-user-information.response.dto.ts
  apps/api/src/user/dto/user-personnal-data.response.dto.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/components/organisms/user/personnalAccount/PersonnalAccountCard.vue
  apps/web/package.json
  apps/web/pages/SG.vue
  apps/web/pages/volunteers.vue
  apps/web/repositories/user.repository.ts
  apps/web/store/user.ts
  apps/web/utils/models/user.model.ts
  domains/user/package.json
  domains/user/src/user.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat: manual bump version pipeline. #1250
  .gitlab-ci.yml
  .gitlab/ci/bump-version.gitlab-ci.yml
  .gitlab/ci/deploy.gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
  package.json
Due: none

fix(ci): missing conditions on manual trigger. #1250
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
Due: none

chore: update version. #1250
  package.json
Due: none

fix(ci): missing conditions on manual trigger. #1250
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
  package.json
Due: none

fix(ci): ci compatible release command. #1252
  package.json
Due: none

chore: update versions. #1252
  package.json
Due: none

chore: ⬆️ bump to 2.1.1
  package.json
Due: none

fix: seeder user teams #1253
  apps/api/prisma/seed.ts
  apps/api/prisma/seeders/permissions.ts
  apps/api/prisma/seeders/teams.ts
  apps/api/prisma/seeders/users.ts
  apps/web/store/registration.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update version #1253
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(seeder): add caps in team names #1253
  apps/api/prisma/seeders/teams.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(Seeder): Corriger les rôles du seeder #1253
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/prisma/seeders/permissions.ts
  apps/api/prisma/seeders/teams.ts
  apps/api/prisma/seeders/users.ts
  apps/web/package.json
  apps/web/store/registration.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(profile): readonly email and optional nickname. #1254
  apps/api/package.json
  apps/api/src/user/dto/update-profile.request.dto.ts
  apps/web/components/organisms/user/data/UserCard.vue
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(profile): allow reset comment and nickname. #1254
  apps/web/components/organisms/user/data/UserCard.vue
  domains/user/src/user.model.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1254
  apps/api/package.json
  apps/web/package.json
  domains/user/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(profile): allow reset comment and nickname. #1254
  apps/api/package.json
  apps/web/components/organisms/user/data/UserCard.vue
  apps/web/package.json
  domains/user/package.json
  domains/user/src/user.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: personnal account alert generation and display. #1246
  apps/api/src/alert/alert.controller.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/dto/personnal-account.response.dto.ts
  apps/web/components/atoms/alerts/PersonnalAccount.vue
  apps/web/components/molecules/alerts/AlertListing.vue
  apps/web/pages/index.vue
  apps/web/repositories/alert.repository.ts
  apps/web/store/alert.ts
  domains/personnal-account/src/in-debt-alerting.spec.ts
  domains/personnal-account/src/in-debt-alerting.ts
  domains/personnal-account/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(personnal-account): Add current balance alert. #1246
  domains/personnal-account/src/adherents.in-memory.ts
  domains/personnal-account/src/adherents.ts
  domains/personnal-account/src/current-balance/current-balance-alert.ts
  domains/personnal-account/src/current-balance/current-balance.constant.ts
  domains/personnal-account/src/current-balance/index.ts
  domains/personnal-account/src/in-debt-alerting.constant.ts
  domains/personnal-account/src/in-debt-alerting.spec.ts
  domains/personnal-account/src/in-debt-alerting.ts
  domains/personnal-account/src/in-debt/in-debt-alert.ts
  domains/personnal-account/src/in-debt/in-debt-alerting.constant.ts
  domains/personnal-account/src/in-debt/index.ts
  domains/personnal-account/src/index.ts
  domains/personnal-account/src/personnal-account-alert.ts
  domains/personnal-account/src/personnal-account-alerting.spec.ts
  domains/personnal-account/src/personnal-account-alerting.ts
Due: install

feat: display in debt or current balance alerts. #1246
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/dto/personnal-account.response.dto.ts
  apps/web/components/atoms/alerts/PersonnalAccount.vue
  apps/web/components/molecules/alerts/AlertListing.vue
  apps/web/package.json
  apps/web/repositories/alert.repository.ts
  apps/web/store/alert.ts
  domains/personnal-account/src/index.ts
  pnpm-lock.yaml
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update versions. #1246
  apps/api/package.json
  apps/web/package.json
  domains/personnal-account/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: ✍ run format and lint on all modules
  domains/personnal-account/src/adherents.ts
Due: install

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
