Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*

ci(triage): :bug: fix comment even if Closes message
  .gitlab/triage_policies/rules/1.4.no_closed_issues_in_mr.yml
Due: none

ci(triage):
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

chore: :bookmark: update front & back version
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(User): accept suggestion
  backend/src/user/dto/common.ts
  backend/src/user/dto/userCreation.dto.ts
  frontend/pages/signup.vue
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

fix(Front): :art: change css class name of lost gif
  frontend/layouts/error.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): ✍ Linted frontend files
  frontend/pages/signup.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :bug: no comment in form
  backend/src/user/dto/userCreation.dto.ts
  backend/src/user/dto/userModification.dto.ts
  frontend/pages/signup.vue
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

ci(triage): :bug: fix none apropriate comment
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

style(Back): :monocle_face: no use as in user creation
  backend/src/user/dto/common.ts
  backend/src/user/dto/userCreation.dto.ts
  backend/src/user/dto/userModification.dto.ts
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(User): :art: add password verification on backend
  backend/src/user/dto/userCreation.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(User): :memo: update user DTO
  backend/src/user/dto/common.ts
  backend/src/user/dto/userModification.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style(Front): :art: improve error pages UI
  frontend/layouts/error.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(User): accept suggestion
  backend/src/user/dto/common.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(Front): :bug: no comment in form
  backend/src/user/dto/userModification.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style(Back): :monocle_face: no use as in user creation
  backend/src/user/dto/common.ts
  backend/src/user/dto/userCreation.dto.ts
  backend/src/user/dto/userModification.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(User): :art: correct usage of class-validator
  backend/src/user/dto/common.ts
  backend/src/user/dto/userCreation.dto.ts
  backend/src/user/dto/userModification.dto.ts
  frontend/pages/signup.vue
  frontend/repositories/userRepo.ts
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

fix(User): :recycle: nickname can be null
  backend/prisma/migrations/20221110124701_no_required_nickname/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

chore(Front): :bookmark: update front version
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(User): :technologist: remove empty string
  backend/src/user/user.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style: :lock: fix ReDos in common.ts
  backend/src/user/dto/common.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

chore: :memo: adding author, license, home page in package.json
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

ci(Secu): :lock: scheduled security scans
  .gitlab/ci/security_rules.gitlab-ci.yml
Due: none

feat(Back): :sparkles: add nodemailer
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/mail/dto/mailTest.dto.ts
  backend/src/mail/mail.service.ts
  backend/src/mail/templates/mailTest.ejs
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(User): :pencil2: correct regex
  backend/src/user/dto/common.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(Auth): :sparkles: add recovery password
  backend/prisma/migrations/20221111194804_unique_reset_password_token/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/resetPassword.dto.ts
  backend/src/mail/dto/mailResetPassword.dto.ts
  backend/src/mail/mail.service.ts
  backend/src/mail/templates/resetPassword.ejs
  backend/src/user/dto/userEmail.dto.ts
  backend/src/user/user.service.ts
  frontend/pages/forgot.vue
  frontend/pages/reset/_token.vue
  frontend/repositories/authRepo.ts
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

style(Auth): :art: move clean code
  backend/src/app.module.ts
  backend/src/mail/dto/mailResetPassword.dto.ts
  backend/src/mail/mail.service.ts
  frontend/pages/forgot.vue
  frontend/pages/login.vue
  frontend/pages/reset/_token.vue
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

fix(FA): :bug: make number of pass really optional
  backend/src/security_pass/dto/create-security_pass.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style: :zap: improve vscode settings
  .vscode/project.code-workspace
Due: none

feat(FA): :sparkles: add fa/ft validator in teams
  backend/prisma/migrations/20221112105322_add_fa/migration.sql
  backend/prisma/schema.prisma
  backend/src/team/dto/teamFormRequest.dto.ts
  backend/src/team/dto/teamResponse.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend
