Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

backend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - backend_install
  before_script:
  - cd backend
  script:
  - npm run build

frontend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - frontend_install
  before_script:
  - cd frontend
  script:
  - npm run build:ci

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

fix(calendar): wrap event text when too long. #902
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/assignment/AssignmentCalendar.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/calendar/_calendar.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(assignment): display timespan with underlying team tasks. #946
  backend/src/assignment/assignment.service.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/team/underlyingTeams.utils.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: update versions. #946
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(assignment): display timespan with underlying team tasks. #946
  backend/package-lock.json
  backend/package.json
  backend/src/assignment/assignment.service.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/team/underlyingTeams.utils.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: Ajout du conflit "Déjà affcté" #927
  backend/src/ft_reviews/ft_reviews.service.ts
  backend/src/ft_user_request/dto/ftUserRequestResponse.dto.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  frontend/assets/style.scss
  frontend/assets/variables.scss
  frontend/components/atoms/assignment/VolunteerRequestChip.vue
  frontend/utils/models/ft.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Apply 1 suggestion(s) to 1 file(s)
  backend/src/ft_user_request/ft_user_request.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: Ajout du conflit "Déjà affcté" #927
  backend/package-lock.json
  backend/package.json
  backend/src/ft_reviews/ft_reviews.service.ts
  backend/src/ft_user_request/dto/ftUserRequestResponse.dto.ts
  backend/src/ft_user_request/ft_user_request.service.ts
  frontend/assets/style.scss
  frontend/assets/variables.scss
  frontend/components/atoms/assignment/VolunteerRequestChip.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/models/ft.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Back): :bug: already assigned conflict #947
  backend/src/ft_user_request/ft_user_request.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: Update version #947
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Back): already assigned conflict #947
  backend/package-lock.json
  backend/package.json
  backend/src/ft_user_request/ft_user_request.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): availabilty interval. #961
  frontend/components/organisms/assignment/AssignmentCalendar.vue
  frontend/pages/calendar/_calendar.vue
  frontend/utils/date/dateUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update versions. #961
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): availabilty interval. #961
  backend/package-lock.json
  backend/package.json
  frontend/components/organisms/assignment/AssignmentCalendar.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/calendar/_calendar.vue
  frontend/utils/date/dateUtils.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.11.6
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(signa): add amphi capelle location. #944
  tools/signaLocations/update-location_2023_04_02.py
Due: none

fix(Back): show all volunteer available with teams #964
  backend/src/assignment/volunteer.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: Update version #964
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(assignment): display all volunteers available for a timespan. #964
  backend/package-lock.json
  backend/package.json
  backend/src/assignment/volunteer.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Back): :art: filter ft with timespans if no team request #948
  backend/src/assignment/dto/ftTimespanResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/ftTimespanTypes.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat(Front): :sparkles: filter fts if no team request #948
  frontend/components/organisms/assignment/FilterableFtList.vue
  frontend/store/assignment.ts
  frontend/utils/models/ftTimespan.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: Update version #948
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor: move counter in team request and opti funcitons #948
  backend/src/assignment/dto/ftTimespanResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/ftTimespanTypes.ts
  frontend/store/assignment.ts
  frontend/utils/models/ftTimespan.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor(Back): :art: on line #948
  backend/src/assignment/ftTimespan.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

feat: [Affect] (Tache-Orga) Ne pas afficher les taches où il n'y a pas ou plus de demandes de benevoles
  backend/package-lock.json
  backend/package.json
  backend/src/assignment/dto/ftTimespanResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/ftTimespanTypes.ts
  backend/src/assignment/types/volunteerTypes.ts
  backend/src/assignment/volunteer.service.ts
  frontend/components/organisms/assignment/FilterableFtList.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/store/assignment.ts
  frontend/utils/models/ftTimespan.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): :sparkles: show stat text in volunteer resume #951
  frontend/components/atoms/TeamIconChip.vue
  frontend/components/molecules/assignment/FtList.vue
  frontend/components/molecules/assignment/FtTimespanList.vue
  frontend/components/molecules/assignment/VolunteerList.vue
  frontend/components/molecules/assignment/VolunteerResume.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps): bump @nestjs/jwt from 10.0.2 to 10.0.3 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps): bump @nestjs/swagger from 6.2.1 to 6.3.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps): bump @prisma/client from 4.11.0 to 4.12.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps): bump nuxt from 2.15.8 to 3.3.3 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump @nestjs/schematics from 9.0.4 to 9.1.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @types/node from 18.15.10 to 18.15.11 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @nuxt/typescript-build in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore(deps-dev): bump @typescript-eslint/eslint-plugin in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump @typescript-eslint/parser in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump eslint from 8.36.0 to 8.37.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump prisma from 4.11.0 to 4.12.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump tsconfig-paths from 4.1.2 to 4.2.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump typescript and @nestjs/schematics in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump eslint and @nuxtjs/eslint-config-typescript
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*
