Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

feat(transfer): Implémentation des virements dans l'api #1247
  apps/api/package.json
  apps/api/prisma/migrations/20231012211947_refactor_transaction/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/registration/repository/member-repository.prisma.ts
  apps/api/src/transaction/dto/create-transfer.request.dto.ts
  apps/api/src/transaction/dto/my-transaction.response.dto.ts
  apps/api/src/transaction/dto/transaction.response.dto.ts
  apps/api/src/transaction/repository/member-repository.prisma.ts
  apps/api/src/transaction/repository/transaction-repository.prisma.ts
  apps/api/src/transaction/repository/transfer-repository.prisma.ts
  apps/api/src/transaction/transaction.controller.ts
  apps/api/src/transaction/transaction.module.ts
  apps/api/src/transaction/transaction.query.ts
  apps/api/src/transaction/transaction.service.ts
  apps/api/src/transaction/transfer.service.ts
  apps/web/components/organisms/personal-account/OverTransactions.vue
  apps/web/components/organisms/personal-account/TransactionListing.vue
  apps/web/package.json
  apps/web/pages/my-personal-account.vue
  apps/web/pages/transactions.vue
  apps/web/repositories/transaction.repository.ts
  apps/web/store/transaction.ts
  domains/personal-account/package.json
  domains/personal-account/src/index.ts
  domains/personal-account/src/transaction/index.ts
  domains/personal-account/src/transaction/transaction.model.ts
  domains/personal-account/src/transaction/transfer/index.ts
  domains/personal-account/src/transaction/transfer/payor.ts
  domains/personal-account/src/transaction/transfer/transfer.spec.ts
  domains/registration/package.json
  domains/registration/src/forget-member/index.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: open personal account page
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update version
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(personal-account): Show personal account page
  apps/web/package.json
  apps/web/utils/pages/pages-list.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(release): ⬆️ bump to 2.4.0
  CHANGELOG.md
  package.json
Due: none

refactor: :recycle: Make the frontend handle creation
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
  apps/web/store/signa.ts
  apps/web/utils/models/signa-location.model.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat: :construction: Create LatLng type & Display location on LocationMap
  apps/api/src/signa-location/signa-location.model.ts
  apps/web/components/molecules/signa/location/LocationMap.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/pages/signa/location.vue
  apps/web/utils/models/signa-location.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: :art: Make the location map editor works
  apps/web/components/molecules/signa/location/LocationMap.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/pages/signa/location.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: :construction: Small changes
  apps/api/src/authentication/dto/login.request.dto.ts
  apps/api/src/main.ts
  apps/api/src/signa-location/dto/update-signa-location.request.dto.ts
  apps/web/components/molecules/signa/location/LocationMap.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/ModifyLocationCard.vue
  apps/web/utils/models/signa-location.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat: :recycle: Make the backend works
  apps/api/src/signa-location/dto/create-signa-location.request.dto.ts
  apps/api/src/signa-location/dto/update-signa-location.request.dto.ts
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: :construction: WIP
  apps/api/prisma/migrations/20231012211312_add_coordinates_field_to_signa_location_table/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/fa/dto/complete-fa.response.dto.ts
  apps/api/src/fa/fa.model.ts
  apps/api/src/ft/dto/ft.response.dto.ts
  apps/api/src/signa-location/dto/create-signa-location.request.dto.ts
  apps/api/src/signa-location/signa-location.controller.ts
  apps/api/src/signa-location/signa-location.model.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: :recycle: Make the UI work properly
  apps/web/components/molecules/signa/location/ModifyLocationCard.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
  apps/web/pages/signa/location.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: :art: Beautify types
  apps/api/prisma/migrations/20231012211312_add_coordinates_field_to_signa_location_table/migration.sql
  apps/api/prisma/migrations/20231012211312_add_geo_json_field_to_signa_location_table/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/fa/dto/complete-fa.response.dto.ts
  apps/api/src/fa/fa.model.ts
  apps/api/src/signa-location/dto/create-signa-location.request.dto.ts
  apps/api/src/signa-location/dto/update-signa-location.request.dto.ts
  apps/api/src/signa-location/signa-location.model.ts
  apps/web/components/atoms/field/search/SearchSignaLocation.vue
  apps/web/components/molecules/signa/location/LocationMap.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/ModifyLocationCard.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
  apps/web/components/organisms/festival-event/fa/SignaCard.vue
  apps/web/components/organisms/festival-event/ft/FtGeneralCard.vue
  apps/web/pages/signa/location.vue
  apps/web/repositories/signa-location.repository.ts
  apps/web/store/signa.ts
  apps/web/utils/models/fa.model.ts
  apps/web/utils/models/ft.model.ts
  apps/web/utils/models/signa-location.model.ts
  apps/web/utils/rules/fa-validation.rules.ts
  apps/web/utils/rules/ft-validation.rules.ts
  domains/signa/src/index.ts
  domains/signa/src/location/location.model.ts
  domains/signa/src/signage/signage-form.model.ts
  domains/signa/src/signage/signage.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(signa): :construction: Try nuxt-leaflet
  apps/web/components/molecules/signa/location/LocationMap.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/components/molecules/signa/location/NewLocationCard.vue
  apps/web/nuxt.config.js
  apps/web/pages/signa/location.vue
  apps/web/tsconfig.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: :construction: WIP
  apps/web/components/molecules/signa/location/LocationMap.vue
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/utils/signa-location/geo-json.spec.ts
  apps/web/utils/signa-location/line.ts
  apps/web/utils/signa-location/point.ts
  apps/web/utils/signa-location/polygon.ts
  domains/signa/src/index.ts
  domains/signa/src/location/location.model.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(signa): geoJson binding synced with action. #1268
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: :bug: Fix reference bug
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/pages/signa/location.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/api/src/signa-location/dto/update-signa-location.request.dto.ts
  apps/api/src/signa-location/signa-location.model.ts
  apps/web/utils/signa-location/line.ts
  apps/web/utils/signa-location/polygon.ts
  domains/signa/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: :art: Beautify logic
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/pages/signa/location.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): display profile picture. #1284
  apps/web/repositories/user.repository.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1284
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): display profile picture. #1284
  apps/web/package.json
  apps/web/repositories/user.repository.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(signa): use location instead of point, line and polygone. #1268
  apps/web/components/molecules/signa/location/LocationMapEditor.vue
  apps/web/utils/signa-location/line.ts
  apps/web/utils/signa-location/point.ts
  apps/web/utils/signa-location/polygon.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/api/src/signa-location/dto/update-signa-location.request.dto.ts
  apps/api/src/signa-location/signa-location.model.ts
  domains/signa/src/index.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: add location file
  apps/api/src/signa-location/dto/update-signa-location.request.dto.ts
  apps/api/src/signa-location/signa-location.model.ts
  apps/web/utils/signa-location/location.ts
  domains/signa/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(festival-activity): enable creation. #1165
  domains/festival-activity/package.json
  domains/festival-activity/src/creation/creation.spec.ts
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/creation/festival-activity.factory.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/tsconfig.build.json
  domains/festival-activity/tsconfig.json
  pnpm-lock.yaml
Due: install

chore: add festival activity scope. #1165
  .vscode/settings.json
Due: none

chore: update versions. #1165
  domains/festival-activity/package.json
  package.json
Due: install

fix(festival-activity): remove unuesed imports. #1165
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/creation/festival-activity.factory.ts
Due: install

feat(festival-activity): enable creation. #1165
  .vscode/settings.json
  domains/festival-activity/package.json
  domains/festival-activity/src/creation/creation.spec.ts
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/creation/festival-activity.factory.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/tsconfig.build.json
  domains/festival-activity/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: install

test(ci): install packages before runing semantic-release. #1280
  .gitlab/ci/release.gitlab-ci.yml
Due: none

chore(ci): setup semantic-release. #1280
  .gitlab-ci.yml
  .gitlab/ci/create-release.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .releaserc.json
  .versionrc.json
  package.json
  pnpm-lock.yaml
Due: install

chore(ci): setup variable in config. #1280
  .gitlab/ci/release.gitlab-ci.yml
Due: none

test(ci): set env variables in same command than semantic release is called. #1280
  .gitlab/ci/release.gitlab-ci.yml
Due: none

test(ci): set env variables in variables. #1280
  .gitlab/ci/release.gitlab-ci.yml
Due: none

fix(ci): set up git before release. #1280
  .gitlab/ci/release.gitlab-ci.yml
Due: none

fix(ci): remove unused functions. #1268
  domains/signa/src/location/location.model.ts
Due: install

chore(personal-account): move alerting use case in dedicated folder. #1283
  domains/personal-account/src/alerting/adherents.in-memory.ts
  domains/personal-account/src/alerting/adherents.ts
  domains/personal-account/src/alerting/personal-account-alert.ts
  domains/personal-account/src/alerting/personal-account-alerting.spec.ts
  domains/personal-account/src/alerting/personal-account-alerting.ts
  domains/personal-account/src/current-balance/current-balance-alert.ts
  domains/personal-account/src/in-debt/in-debt-alert.ts
  domains/personal-account/src/index.ts
Due: install
