Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-frontend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs:
  - lintage-frontend
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE/frontend:builder || true
  ...

lintage-frontend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

lintage-backend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

fix(Front): 🎨 new user team adaptation in sg vue
  frontend/pages/SG.vue
  frontend/pages/humans.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: bring back FA in menu
  frontend/layouts/default.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :fire: remove old FA
  frontend/pages/-_fa_old.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :fire: remove duplicate
  frontend/layouts/default.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(FA): :art: lint
  frontend/components/organisms/form/fa/FAGeneralCard.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(FA): :art: lint
  frontend/components/organisms/form/fa/FADetailCard.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(FA): :bug: patch waiting new store
  frontend/components/molecules/logistics/LogisticsTable.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Front): :art: lint lint ++
  frontend/components/organisms/form/LogisticsCard.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(FA): :art: lint + key error
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): ✍ Linted frontend files
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/ModificationCard.vue
  frontend/components/organisms/form/FormSidebar.vue
  frontend/components/organisms/form/LogisticsCard.vue
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/PassSecuCard.vue
  frontend/components/organisms/form/fa/PrestaCard.vue
  frontend/components/organisms/form/fa/SecurityCard.vue
  frontend/components/organisms/form/fa/SignaCard.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
  frontend/pages/fa/index.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(Front): :sparkles: Add onglet title + fix regex in PrestaCard
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/PrestaCard.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(FA): :art: adapt front to new store
  frontend/components/organisms/form/fa/WaterLogisticCard.vue
  frontend/pages/fa/index.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

feat(FA): :sparkles: beginning of the new store
  frontend/store/FA.ts
  frontend/store/_FA.ts
  frontend/utils/models/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(FA): :recycle: rename resource to have same convention
  backend/prisma/migrations/20221122190153_add_fa/migration.sql
  backend/prisma/schema.prisma
  backend/src/fa/fa.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(Back): :truck: rework all fa in snake case
  backend/prisma/migrations/20221122190153_add_fa/migration.sql
  backend/prisma/migrations/20221122194432_add_fa/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/fa/dto/update-fa.dto.ts
  backend/src/fa/fa.controller.ts
  backend/src/fa/fa.service.spec.ts
  backend/src/fa/fa.service.ts
  backend/src/fa/testData.ts
  backend/src/fa_signa_needs/dto/create-fa_signa_need.dto.ts
  backend/src/fa_signa_needs/dto/update-fa_signa_need.dto.ts
  backend/src/fa_signa_needs/fa_signa_needs.controller.ts
  backend/src/fa_signa_needs/fa_signa_needs.module.ts
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
  frontend/utils/models/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

style(Back): ✍ Linted backend files
  backend/src/fa_signa_needs/fa_signa_needs.controller.ts
  backend/src/fa_signa_needs/fa_signa_needs.module.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style(FA): :art: lint
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :memo: add apitags
  backend/src/fa_signa_needs/fa_signa_needs.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

ci(triage): :bug: fix label with space problem
  .gitlab/ci/unconfidentializer.gitlab-ci.yml
Due: none

style(Front): 🔒 3rd try to fix 'Code Injection'
  frontend/package-lock.json
  frontend/package.json
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/utils/store/index.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :art: try fix 'Code Injection'
  frontend/store/FT.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Apply 1 suggestion(s) to 1 file(s)
  frontend/store/FT.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :lock: second try to fix 'Code Injection'
  frontend/store/FT.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :art: fix 'Code injection' in square braquet
  frontend/store/FT.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style: :lock: remove gitlab token
  tools/moveIssues.py
Due: none

style(Auth): :lock: Observable Timing Discrepancy on password verification
  backend/src/auth/auth.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

style: :lock: fix security problems
  .gitlab/ci/unconfidentializer.gitlab-ci.yml
  backend/src/auth/auth.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/store/FA.ts
  frontend/store/FT.ts
  frontend/utils/store/index.ts
  tools/moveIssues.py
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

feat(FA): :zap: nullable comments
  backend/prisma/migrations/20221123070614_add_fa/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

refactor(Front): :zap: Store FA REFUSE & VALIDE & STATUS
  frontend/pages/fa/_fa.vue
  frontend/pages/fa/index.vue
  frontend/store/FA.ts
  frontend/utils/models/FA.ts
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

test(Front): :sparkles: Test Timeframe
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  frontend/components/organisms/form/fa/TimeframeTable.vue
Due: containerize-backend, merge_requests_containerize-backend, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

fix(Front): :bug: v-calendar error
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

fix(Front): :sparkles: Add users list in_charge
  frontend/components/molecules/logistics/LogisticsSelector.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(Front): :zap: Change $axios to $accessor in_charge
  frontend/components/organisms/form/fa/FAGeneralCard.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

style(Front): :art: Correct lint FA
  frontend/components/molecules/transferDialog.vue
  frontend/components/organisms/form/fa/FAGeneralCard.vue
  frontend/components/organisms/form/fa/PrestaCard.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
  frontend/pages/fa/_fa.vue
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(Back): :zap: snake_case in back
  backend/prisma/migrations/20221123191108_add_fa/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :sparkles: add signa needs
  backend/src/fa/dto/update-fa.dto.ts
  backend/src/fa/fa.service.ts
  backend/src/fa_signa_needs/dto/create-fa_signa_need.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

test(FA): :white_check_mark: add test for signa
  backend/src/fa/fa.service.spec.ts
  backend/src/fa/testData.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :sparkles: create fa_commetn resource
  backend/src/app.module.ts
  backend/src/fa_comment/dto/create-fa_comment.dto.ts
  backend/src/fa_comment/dto/update-fa_comment.dto.ts
  backend/src/fa_comment/fa_comment.controller.ts
  backend/src/fa_comment/fa_comment.module.ts
  backend/src/fa_comment/fa_comment.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :sparkles: implement fa_comment
  backend/src/fa/dto/update-fa.dto.ts
  backend/src/fa/fa.service.ts
  backend/src/fa/testData.ts
  backend/src/fa_comment/dto/create-fa_comment.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

feat(FA): :sparkles: generate time_windows resource
  backend/src/app.module.ts
  backend/src/time_windows/dto/create-time_window.dto.ts
  backend/src/time_windows/dto/update-time_window.dto.ts
  backend/src/time_windows/time_windows.controller.ts
  backend/src/time_windows/time_windows.module.ts
  backend/src/time_windows/time_windows.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan, lintage-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
