Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/constants_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{constants/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-web_docker_pre_build:
  variables:
    APP_PATH: apps/web
    APP_NAME: web

feat(web): improve friends home card ui
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(web): rework profile home card UX #2799
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2799
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(web): rework profile home card UX #2799
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(api): don't update zitadel profile if they don't have one #2801
  apps/api/src/user/user.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #2801
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(api): don't update zitadel profile if they don't have one #2801
  apps/api/package.json
  apps/api/src/user/user.service.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(web): user can log out from registration form #2800
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/atoms/alert/VolunteerRegistrationClosedAlert.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/layouts/header/HeaderProfile.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2800
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): user can log out from registration form #2800
  apps/web/components/atoms/alert/StaffLinkExpiredAlert.vue
  apps/web/components/atoms/alert/VolunteerRegistrationClosedAlert.vue
  apps/web/components/organisms/registration/RegistrationStepper.vue
  apps/web/layouts/header/HeaderProfile.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(colunteer-list): display firstName, lastName and nickname in 3 different columns #2803
  apps/web/components/organisms/volunteer/VolunteerListCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2803
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: adjust column order #2803
  apps/web/components/organisms/volunteer/VolunteerListCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(colunteer-list): display firstName, lastName and nickname in 3 different columns #2803
  apps/web/components/organisms/volunteer/VolunteerListCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): remove emoji from empty shared meals message #2802
  apps/web/pages/shared-meals/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): full width mobile buttons and restore multiple shotguns label #2802
  apps/web/components/molecules/personal-account/OfferSharedMealFormCard.vue
  apps/web/pages/shared-meals/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(web): rework shared meals UI/UX #2802
  apps/api/src/shared-meal/dto/shared-meal.response.dto.ts
  apps/api/src/shared-meal/repository/meals.prisma.ts
  apps/web/components/atoms/page/BottomActionBar.vue
  apps/web/components/molecules/personal-account/OfferSharedMealFormCard.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/pages/shared-meals/index.vue
  apps/web/utils/string.utils.ts
  domains/personal-account/src/meal-sharing/adherent.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(web): use profile picture placeholder and show friends pictures #2802
  apps/api/src/friend/dto/friend.response.dto.ts
  apps/api/src/friend/friend.service.ts
  apps/web/components/atoms/image/UserAvatar.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/pages/shared-meals/index.vue
  apps/web/repositories/user.repository.ts
  apps/web/stores/user.ts
  apps/web/utils/string.utils.ts
  utils/user/src/index.ts
  utils/user/src/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2802
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(web): rework shared meals UI/UX #2802
  apps/api/package.json
  apps/api/src/friend/dto/friend.response.dto.ts
  apps/api/src/friend/friend.service.ts
  apps/api/src/shared-meal/dto/shared-meal.response.dto.ts
  apps/api/src/shared-meal/repository/meals.prisma.ts
  apps/web/components/atoms/image/UserAvatar.vue
  apps/web/components/atoms/page/BottomActionBar.vue
  apps/web/components/molecules/personal-account/OfferSharedMealFormCard.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/package.json
  apps/web/pages/shared-meals/index.vue
  apps/web/repositories/user.repository.ts
  apps/web/stores/user.ts
  domains/personal-account/package.json
  domains/personal-account/src/meal-sharing/adherent.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
  utils/user/src/index.ts
  utils/user/src/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

prefeat(festival-event): add stats in config #2804
  apps/api/prisma/seed.ts
  apps/api/prisma/seeders/teams.ts
  apps/web/pages/configuration.vue
  utils/configuration/src/index.ts
  utils/configuration/src/keys.ts
  utils/configuration/src/permissions.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  utils/configuration/src/keys.ts
  utils/configuration/src/permissions.ts
Due: none

feat: add stats list in config #2804
  apps/api/prisma/seed.ts
  apps/api/prisma/seeders/teams.ts
  apps/web/components/organisms/festival-event/CreateFestivalEventStatForm.vue
  apps/web/components/organisms/festival-event/FestivalEventStatList.vue
  apps/web/pages/configuration.vue
  apps/web/pages/stats.vue
  apps/web/stores/configuration.ts
  apps/web/utils/festival-event/past-year.constant.ts
  utils/configuration/src/index.ts
  utils/configuration/src/types.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/pages/configuration.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: config #2804
  apps/web/components/organisms/festival-event/CreateFestivalEventStatForm.vue
  apps/web/components/organisms/festival-event/FestivalEventStatList.vue
  apps/web/pages/configuration.vue
  apps/web/pages/stats.vue
  constants/team-code/src/index.ts
Due: overbookd/web_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2804
  apps/api/package.json
  apps/web/package.json
  constants/team-code/package.json
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/registration/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

feat(festival-event): add last edition stats in config #2804
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/prisma/seeders/teams.ts
  apps/web/components/organisms/festival-event/CreateFestivalEventStatForm.vue
  apps/web/components/organisms/festival-event/FestivalEventStatList.vue
  apps/web/package.json
  apps/web/pages/configuration.vue
  apps/web/pages/stats.vue
  apps/web/stores/configuration.ts
  apps/web/utils/festival-event/past-year.constant.ts
  constants/team-code/package.json
  constants/team-code/src/index.ts
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/registration/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/configuration/src/index.ts
  utils/configuration/src/keys.ts
  utils/configuration/src/permissions.ts
  utils/configuration/src/types.ts
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

docs(api): remove prisma schema generation #2806
  .pre-commit-config.yaml
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/prisma/README.md
  apps/api/prisma/schema.prisma
  apps/api/prisma/schema.puml
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update version s#2806
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

docs(api): remove prisma schema generation #2806
  .pre-commit-config.yaml
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/prisma/README.md
  apps/api/prisma/schema.prisma
  apps/api/prisma/schema.puml
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

feat: add alerts components #2758
  apps/web/components/atoms/alert/ContributionAlert.vue
  apps/web/components/atoms/alert/PersonalAccountAlert.vue
  apps/web/components/atoms/alert/ProfilePictureAlert.vue
  apps/web/components/molecules/alerts/AlertListing.vue
  apps/web/pages/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: ci #2758
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/dto/alerts.response.dto.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: ci #2758
  apps/web/components/atoms/alert/ContributionAlert.vue
  apps/web/components/atoms/alert/PersonalAccountAlert.vue
  apps/web/components/atoms/alert/ProfilePictureAlert.vue
  apps/web/components/molecules/alerts/AlertListing.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/atoms/alert/ContributionAlert.vue
  apps/web/components/atoms/alert/PersonalAccountAlert.vue
  apps/web/components/atoms/alert/ProfilePictureAlert.vue
  apps/web/components/molecules/alerts/AlertListing.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(alerts): clean useless alerts #2758
  apps/api/src/alert/alert.module.ts
  apps/api/src/alert/alert.service.ts
  apps/api/src/alert/dto/alerts.response.dto.ts
  apps/api/src/alert/dto/contribution.response.dto.ts
  apps/api/src/alert/dto/personal-account.response.dto.ts
  apps/api/src/alert/repository/friends-alerting.prisma.ts
  apps/api/src/alert/repository/not-yet-volunteer-alerting.prisma.ts
  apps/api/src/alert/repository/profile-picture-alerting.prisma.ts
  apps/web/pages/index.vue
  utils/alerts/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/molecules/alerts/AlertListing.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: ci #2758
  apps/web/components/atoms/alert/ContributionAlert.vue
  apps/web/components/atoms/alert/PersonalAccountAlert.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
