Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, containerize-frontend, merge_requests_containerize-frontend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker-backend
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker-backend
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker-frontend
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker-frontend
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

feat(triage): :sparkles: comment if priority label not set
  .gitlab/triage_policies/rules/0.4.no_priority_label.yml
Due: none

feat(triage): :sparkles: forbidden Doing label on assigned issues
  .gitlab/triage_policies/rules/0.3.assigned_issues.yml
Due: none

Fixing FA selection #338
  frontend/components/organisms/FAChooser.vue
Due: none

Fix FTInfoCard display
  frontend/components/FTInfoCard.vue
Due: none

Fix #341 #342 #347
  frontend/pages/ft/_ft.vue
  frontend/pages/ft/index.vue
  frontend/store/FT.ts
  frontend/utils/FT.ts
Due: none

Fix #339 #346
  frontend/components/organisms/form/CompleteTimeframeTable.vue
Due: none

Resolve "Fixing several bugs on FTs"
  frontend/components/FTInfoCard.vue
  frontend/components/organisms/FAChooser.vue
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/pages/ft/_ft.vue
  frontend/pages/ft/index.vue
  frontend/store/FT.ts
  frontend/utils/FT.ts
Due: none

✨ v0.21 GET READY FOR WEFT
  backend/Dockerfile.dev
  config/config.json
  docker/docker-compose-dev.yml
  frontend/Dockerfile.dev
  frontend/components/FTInfoCard.vue
  frontend/components/organisms/FAChooser.vue
  frontend/components/organisms/form/CompleteTimeframeCard.vue
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/components/organisms/form/timeframeSelector.vue
  frontend/layouts/default.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/ft/_ft.vue
  frontend/pages/ft/index.vue
  frontend/pages/planning.vue
  frontend/static/img/memes/home_meme.jpg
  frontend/store/FT.ts
  frontend/utils/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, configurator, containerize-frontend, merge_requests_containerize-frontend

revert node version
  backend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend

Hotfix dockerfile
  backend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend

Revert changes on backend
  backend/Dockerfile
  backend/Dockerfile.dev
Due: containerize-backend, merge_requests_containerize-backend

Fix node version in prod
  backend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend

Update config and add editorconfig
  .editorconfig
  config/config.json
Due: configurator

Resolve "Autoriser les + dans la regex des emails"
  .editorconfig
  config/config.json
Due: configurator

ci(trigger): :art: better sequence
  .gitlab-ci.yml
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/buildxSetup.gitlab-ci.yml
  .gitlab/ci/container_scan.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  .gitlab/ci/security_rules.gitlab-ci.yml
Due: none

feat(triage): :sparkles: triage setup
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/triage.gitlab-ci.yml
  .gitlab/triage_policies/generate.sh
  .gitlab/triage_policies/head.yml
Due: none

fix(triage): :art: change token name
  .gitlab/ci/triage.gitlab-ci.yml
Due: none

feat(triage): :zap: closed & opened issue
  .gitlab/triage_policies/rules/0.0.issues_head.yml
  .gitlab/triage_policies/rules/0.1.opened_issues.yml
  .gitlab/triage_policies/rules/0.2.closed_issues.yml
  .gitlab/triage_policies/rules/1.0.mr_head.yml
  .gitlab/triage_policies/rules/1.1.closed_mr.yml
  .gitlab/triage_policies/rules/1.2.merged_mr.yml
Due: none

style(triage): :art: add forbidden labels in closed & merged issues/MR
  .gitlab/triage_policies/rules/0.2.closed_issues.yml
  .gitlab/triage_policies/rules/1.1.closed_mr.yml
  .gitlab/triage_policies/rules/1.2.merged_mr.yml
Due: none

perf(backend): :construction_worker: multi-stage docker
  backend/.dockerignore
  backend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend

perf(frontend): :construction_worker: multi-satge docker
  frontend/.dockerignore
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend

fix(front & back): :green_heart: correct node image tag
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend

fix(front & back): 💚 correct node image tag V2
  backend/Dockerfile
  frontend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend, containerize-frontend, merge_requests_containerize-frontend

style(docker): :zap: best practice
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend

fix: :bug: encoding
  config/config.json
Due: configurator

perf(backend): :construction_worker: multi-stage docker
  backend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend

perf(frontend): :construction_worker: multi-satge docker
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "Labels automation"
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/buildxSetup.gitlab-ci.yml
  .gitlab/ci/container_scan.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  .gitlab/ci/security_rules.gitlab-ci.yml
  .gitlab/ci/triage.gitlab-ci.yml
  .gitlab/triage_policies/generate.sh
  .gitlab/triage_policies/head.yml
  .gitlab/triage_policies/rules/0.0.issues_head.yml
  .gitlab/triage_policies/rules/0.1.opened_issues.yml
  .gitlab/triage_policies/rules/0.2.closed_issues.yml
  .gitlab/triage_policies/rules/0.3.assigned_issues.yml
  .gitlab/triage_policies/rules/0.4.no_priority_label.yml
  .gitlab/triage_policies/rules/1.0.mr_head.yml
  .gitlab/triage_policies/rules/1.1.closed_mr.yml
  .gitlab/triage_policies/rules/1.2.merged_mr.yml
Due: none

Path conditions:
  containerize-backend: any of: backend/*
  merge_requests_containerize-backend: any of: backend/*
  configurator: any of: config/config.json
  containerize-frontend: any of: frontend/*
  merge_requests_containerize-frontend: any of: frontend/*
