Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

fix: remove unused mFA #1360
  apps/web/components/organisms/festival-event/festival-activity/FaFeedbackCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: add const #1360
  apps/api/src/festival-activity/repository/festival-activity.query.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(festival-activity): add feedbacks in web #1360
  apps/api/package.json
  apps/api/src/festival-activity/repository/festival-activity.query.ts
  apps/web/components/organisms/festival-event/festival-activity/FaFeedbackCard.vue
  apps/web/package.json
  apps/web/pages/fa/_faId.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): add request in web to update #1372
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: api repo name #1372
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/repository/adherent.prisma.ts
  apps/api/src/festival-activity/repository/adherent.query.ts
  apps/api/src/festival-activity/repository/festival-activity.query.ts
  apps/api/src/festival-activity/repository/location.prisma.ts
  apps/api/src/festival-activity/repository/location.query.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: rename repo name in api #1372
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/repository/adherent.query.ts
  apps/api/src/festival-activity/repository/adherents.prisma.ts
  apps/api/src/festival-activity/repository/create-festival-activities.prisma.ts
  apps/api/src/festival-activity/repository/festival-activity.query.ts
  apps/api/src/festival-activity/repository/location.query.ts
  apps/api/src/festival-activity/repository/locations.prisma.ts
  apps/api/src/festival-activity/repository/prepare-festival-activities.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: add trim #1372
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): set nullable value to null when empty. #1372
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update versions #1372
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: toPublish update #1372
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): time window form #1373
  apps/api/src/festival-activity/dto/period.dto.ts
  apps/web/components/atoms/field/date/DateTimeField.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowForm.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowTable.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  libraries/period/src/period.spec.ts
  libraries/period/src/period.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(festival-activity): signage form #1373
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update versions #1373
  apps/api/package.json
  apps/web/package.json
  domains/contribution/package.json
  domains/festival-activity/package.json
  domains/registration/package.json
  domains/volunteer-availability/package.json
  libraries/period/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(festival-activity): time window & signage form #1373
  apps/api/package.json
  apps/api/src/festival-activity/dto/period.dto.ts
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/web/components/atoms/field/date/DateTimeField.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowForm.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowTable.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/package.json
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  domains/contribution/package.json
  domains/festival-activity/package.json
  domains/registration/package.json
  domains/volunteer-availability/package.json
  libraries/period/package.json
  libraries/period/src/period.spec.ts
  libraries/period/src/period.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): add contractor form #1357
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/festival-event/contractor/ContractorTable.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  domains/festival-activity/src/index.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): nullable contractor fields #1357
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/repositories/festival-activity.repository.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1357
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): add contractor form #1357
  apps/api/package.json
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/festival-event/contractor/ContractorTable.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/package.json
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): implement inquiry endpoints. #1374
  apps/api/package.json
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/inquiries.prisma.ts
  apps/api/src/festival-activity/repository/inquiry.query.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): implement contractors in api #1377
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): contractor form param #1377
  apps/web/components/molecules/festival-event/contractor/ContractorTable.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1377
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): implement contractors in api #1377
  apps/api/package.json
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/web/components/molecules/festival-event/contractor/ContractorTable.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: rename ele texts #1375
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyTable.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(festival-acticity): implement supply form #1902
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/web/components/molecules/festival-event/logistic/supply/ElectricityNeedForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyTable.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowTable.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/utils/festival-event/festival-activity.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: rename message #1375
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyTable.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1375
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-acticity): implement supply form #11375
  apps/api/package.json
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/web/components/molecules/festival-event/logistic/supply/ElectricityNeedForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyTable.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowTable.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/package.json
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/utils/festival-event/festival-activity.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): implements feedback endpoints. #1374
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1374
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(festival-activity): implements feedback endpoints. #1374
  apps/api/package.json
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(festival-activity): feedbacks & some fixes #1379
  apps/web/components/atoms/field/tiptap/RichEditor.vue
  apps/web/components/atoms/field/tiptap/TiptapMenuItem.vue
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/festival-event/contractor/ContractorTable.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/organisms/festival-event/FestivalEventSummary.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFeedbackCard.vue
  apps/web/pages/fa/index.vue
  apps/web/repositories/festival-activity.repository.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1379
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(festival-activity): feedbacks & some fixes #1379
  apps/web/components/atoms/field/tiptap/RichEditor.vue
  apps/web/components/atoms/field/tiptap/TiptapMenuItem.vue
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/festival-event/contractor/ContractorTable.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/organisms/festival-event/FestivalEventSummary.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFeedbackCard.vue
  apps/web/package.json
  apps/web/pages/fa/index.vue
  apps/web/repositories/festival-activity.repository.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(fesitval-activity): remove old components #1378
  apps/web/components/molecules/festival-event/logistic/FALogisticsTable.vue
  apps/web/components/molecules/festival-event/logistic/LogisticTimeWindow.vue
  apps/web/components/organisms/festival-event/festival-activity/CollaboratorCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaLogisticsCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaTimeWindowCard.vue
  apps/web/components/organisms/festival-event/festival-activity/WaterLogisticCard.vue
  apps/web/pages/fa/_faId.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1378
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(fesitval-activity): remove old components #1378
  apps/web/components/molecules/festival-event/logistic/FALogisticsTable.vue
  apps/web/components/molecules/festival-event/logistic/LogisticTimeWindow.vue
  apps/web/components/organisms/festival-event/festival-activity/CollaboratorCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaLogisticsCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaTimeWindowCard.vue
  apps/web/components/organisms/festival-event/festival-activity/WaterLogisticCard.vue
  apps/web/package.json
  apps/web/pages/fa/_faId.vue
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(fesitval-activity): add keydown enter on form #1382
  apps/web/components/atoms/field/date/DateTimeField.vue
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageForm.vue
  apps/web/components/molecules/festival-event/logistic/supply/ElectricitySupplyForm.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowForm.vue
  apps/web/components/molecules/festival-event/time-window/FaTimeWindowTable.vue
  apps/web/components/organisms/festival-event/festival-activity/FaFeedbackCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test
