Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fix(assignment): dto query #1786
  apps/api/src/assignment/common/assignment.controller.ts
  domains/assignment/src/assign-task-to-volunteer/assignment.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

refactor(assignment): function declaration #1786
  apps/api/src/assignment/common/assignment.service.ts
  apps/api/src/assignment/common/repository/assignments.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

refactor: c'est plus joli #1786
  apps/api/src/assignment/common/assignment.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

style: ✍ run format and lint on all modules
  apps/api/src/assignment/common/assignment.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(assignment): Implement get assignment details from api #1786
  apps/api/package.json
  apps/api/src/assignment/common/assignment.controller.ts
  apps/api/src/assignment/common/assignment.service.ts
  apps/api/src/assignment/common/dto/assignment-details.response.dto.ts
  apps/api/src/assignment/common/dto/assignment.response.dto.ts
  apps/api/src/assignment/common/dto/team-demanded.response.dto.ts
  apps/api/src/assignment/common/repository/assignment.query.ts
  apps/api/src/assignment/common/repository/assignments.prisma.ts
  apps/web/package.json
  domains/assignment/package.json
  domains/assignment/src/assign-task-to-volunteer/assignment.ts
  domains/assignment/src/index.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(web): showing timestamp in logs for debugging #1792
  apps/web/pages/fa/dashboard/security.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

ci: patch version for prefeat release
  .releaserc.json
Due: none

fix(assignment): add missed permission to unassign #1799
  apps/api/src/assignment/common/assignment.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1799
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(log): add salle crl-a location
  domains/festival-event/src/common/inquiry-request.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(log): add location in Drive
  domains/festival-event/src/common/inquiry-request.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(log): fix exportation
  domains/festival-event/src/index.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(log): add salle crl-a location
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/common/inquiry-request.ts
  domains/festival-event/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 2.26.1
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

feat(assignment): :sparkles: display main informations in details
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/components/organisms/assignment/card/TimeSpanDetails.vue
  apps/web/pages/assignment/task-orga.vue
  domains/assignment/src/assign-task-to-volunteer/assignment.ts
  domains/assignment/src/index.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/domains_unit_test

fix: details request #1786
  apps/api/src/assignment/common/assignment.controller.ts
  apps/web/components/organisms/assignment/card/AssignmentDetails.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: rename component #1786
  apps/web/components/organisms/assignment/card/AssignmentDetails.vue
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

prefeat(assignment): add details in store #1786-2
  apps/web/repositories/assignment/assignments.repository.ts
  apps/web/store/assignTaskToVolunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(assignment): :sparkles: pass identifier correctly
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/pages/assignment/task-orga.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1786
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(assignment): display details #1786
  apps/api/package.json
  apps/api/src/assignment/common/assignment.controller.ts
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/components/organisms/assignment/card/AssignmentDetails.vue
  apps/web/package.json
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/repositories/assignment/assignments.repository.ts
  apps/web/store/assignTaskToVolunteer.ts
  domains/assignment/package.json
  domains/assignment/src/assign-task-to-volunteer/assignment.ts
  domains/assignment/src/index.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: return
  domains/assignment/src/assign-task-to-volunteer/repositories/assignments.inmemory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(assignment): add method template in api #1787
  apps/api/src/assignment/common/repository/assignments.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(assignment): add missing request in web #1787
  apps/web/repositories/assignment/assignments.repository.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: tests #1787
  domains/assignment/src/assign-task-to-volunteer/unassign.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  domains/assignment/src/assign-task-to-volunteer/unassign.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor(assignment): folder name #1787
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.spec.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.test-utils.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/assign-task-to-volunteer.test.utils.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignable-volunteer.factory.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignment-summary.factory.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignment.builder.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/task.factory.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/task.fake.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: tests again #1787
  domains/assignment/src/assign-task-to-volunteer/unassign.spec.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

prefeat(assignment): unassign a volunteer #1787
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.spec.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assignments.inmemory.ts
  domains/assignment/src/assign-task-to-volunteer/repositories/assignments.inmemory.ts
  domains/assignment/src/assign-task-to-volunteer/repositories/assignments.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.spec.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.ts
  domains/assignment/src/index.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(assignment): implement unassign in api #1787
  apps/api/src/assignment/common/assignment.controller.ts
  apps/api/src/assignment/common/assignment.service.ts
  apps/api/src/assignment/common/repository/assignments.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(assignments): implements unassing in web
  apps/web/components/organisms/assignment/card/AssignmentDetails.vue
  apps/web/repositories/assignment/assignments.repository.ts
  apps/web/store/assignTaskToVolunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(unassing) : finish implementing unassign
  apps/web/store/assignTaskToVolunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1787
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(assignment): unassign a volunteer #1787
  apps/api/package.json
  apps/api/src/assignment/common/assignment.controller.ts
  apps/api/src/assignment/common/assignment.service.ts
  apps/api/src/assignment/common/repository/assignments.prisma.ts
  apps/web/components/organisms/assignment/card/AssignmentDetails.vue
  apps/web/package.json
  apps/web/repositories/assignment/assignments.repository.ts
  apps/web/store/assignTaskToVolunteer.ts
  domains/assignment/package.json
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.spec.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.spec.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.test-utils.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assignments.inmemory.ts
  domains/assignment/src/assign-task-to-volunteer/repositories/assignments.inmemory.ts
  domains/assignment/src/assign-task-to-volunteer/repositories/assignments.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/assign-task-to-volunteer.test.utils.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignable-volunteer.factory.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignment-summary.factory.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignment.builder.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/task.factory.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/task.fake.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.spec.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.ts
  domains/assignment/src/index.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(assignment): add task assignments repo for orga task #1789
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.spec.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.ts
  domains/assignment/src/assign-volunteer-to-task/repositories/task-assignments.inmemory.ts
  domains/assignment/src/assign-volunteer-to-task/repositories/volunteers.inmemory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor(assignment): add common folder in domain #1789
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.spec.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.ts
  domains/assignment/src/assign-task-to-volunteer/repositories/assignable-volunteers.inmemory.ts
  domains/assignment/src/assign-task-to-volunteer/task.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.spec.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.ts
  domains/assignment/src/common/repositories/assignments.inmemory.ts
  domains/assignment/src/common/repositories/assignments.ts
  domains/assignment/src/index.ts
  domains/assignment/src/task.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

prefeat(assignment): add function to get assignments #1789
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.spec.ts
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.test-utils.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/candidate.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/state-machine.ts
  domains/assignment/src/assign-task-to-volunteer/task.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignment-summary.factory.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignment.builder.ts
  domains/assignment/src/assign-task-to-volunteer/unassign.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.spec.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.ts
  domains/assignment/src/assign-volunteer-to-task/repositories/task-assignments.inmemory.ts
  domains/assignment/src/common/assignment.ts
  domains/assignment/src/common/repositories/assignments.inmemory.ts
  domains/assignment/src/common/repositories/assignments.ts
  domains/assignment/src/common/repositories/tasks.inmemory.ts
  domains/assignment/src/common/repositories/tasks.ts
  domains/assignment/src/index.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(assignment): filter missing teams #1789
  domains/assignment/src/assign-task-to-volunteer/assign-task-to-volunteer.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/state-machine.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.ts
  domains/assignment/src/common/repositories/assignments.inmemory.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: add some tests #1789
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.test-utils.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.spec.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.test-utils.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
