Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*

feat(soft): :sparkles: ajout du bouton d'aide dans le layout
  frontend/layouts/default.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix: :ambulance: correction du mail
  frontend/layouts/default.vue
  frontend/pages/login.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(back): :sparkles: Adding new logic for TimeFrames conflicts
  backend/src/entities/Conflict.ts
  backend/src/entities/FT.ts
  backend/src/routes/Conflict.ts
  backend/src/routes/index.ts
  backend/src/services/conflict.ts
  backend/src/services/conflicts.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(back): :test_tube: Adding boilerplate and setup for conflicts test
  backend/__tests__/unit/routes/config.old.ts
  backend/__tests__/unit/routes/transaction.old.ts
  backend/__tests__/unit/services/tfconflicts.test.ts
  backend/src/routes/Conflict.ts
  backend/src/services/conflict.ts
  docker/.gitignore
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(calendrier_dispo): :sparkles: mise en forme
  frontend/pages/humans.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(dispo): :sparkles: format de date plus compréhensible
  frontend/components/organisms/TimeslotTable.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(dispo): :lipstick: nouveau label pour le bouton
  frontend/components/organisms/TimeslotTable.vue
Due: containerize-frontend, merge_requests_containerize-frontend

test(back): :test_tube: Adding tests for conflict logic functions
  backend/__tests__/unit/services/tfconflicts.test.ts
  backend/__tests__/unit/services/timeFrames_sample.json
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(dispo): :recycle: meiilleur écriture de la date (merci tit)
  frontend/components/organisms/TimeslotTable.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(dispo): :recycle: ajout de l'année
  frontend/components/organisms/TimeslotTable.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(assignment): 📆 slicing simple timeframes #368
  backend/src/entities/FT.ts
  backend/src/entities/TimeSpan.ts
  backend/src/routes/FT.ts
  backend/src/routes/index.ts
  backend/src/services/slicing.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(assignment): 📆 slicing error handling #368
  backend/src/routes/FT.ts
  backend/src/services/slicing.ts
  frontend/components/usersList.vue
  frontend/package-lock.json
  frontend/repositories/ftRepo.ts
  frontend/store/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(assignment): 📆 save timespans in DB #368
  backend/src/entities/TimeSpan.ts
  backend/src/routes/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(assignment): 📆 mark FT as ready #368
  frontend/store/FT.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(assignment): 📆 display available FTs in Affect #328
  frontend/components/listTasks.vue
  frontend/components/organisms/TimeslotAdder.vue
  frontend/components/overTasks.vue
  frontend/pages/assignment.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
  frontend/utils/models/TimeSpan.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(back): :card_file_box: Add database migrations to fix inconsistence with previous timeframes versions
  backend/migrate-mongo-config.ts
  backend/migrations/20220223212624-ensure-all-timeframes-has-id.ts
  backend/migrations/20220224005739-delete-all-required-users-without-users.ts
  backend/package-lock.json
  backend/package.json
  backend/src/entities/Timeslot.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(back): :construction: TimeFrames conflict detection for all conflicts
  backend/src/routes/Conflict.ts
  backend/src/services/timeFrame.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(Front): :bug: Correction logic trie des teams pour ft
  frontend/pages/ft/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(Front): :bug: Correction logic tri des teams pour ft
  frontend/pages/ft/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(ft): 🏃‍ speed up FTs
  frontend/pages/ft/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(assignment): 📆 click on Task To affect #368
  frontend/components/listTasks.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(assignment): 📆 slice timeslot per requirement #368
  backend/src/entities/TimeSpan.ts
  backend/src/routes/FT.ts
  backend/src/services/slicing.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Stats vue
  frontend/components/Needs.vue
  frontend/components/NeedsCard.vue
  frontend/pages/stats.vue
  frontend/repositories/faRepo.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(back): :art: Improving conflict related data fetching
  backend/src/entities/Conflict.ts
  backend/src/routes/Conflict.ts
  backend/src/routes/FT.ts
  backend/src/services/FT.ts
  backend/src/services/timeFrame.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(Back): :sparkles: Try adding notifications
  backend/src/routes/Users.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(Back): :sparkles: Availabilities now adds charisma
  backend/src/routes/Users.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(dispo): :lipstick: retour en arrière
  frontend/pages/humans.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(dispo): :lipstick: nouveau design userInformation
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(dispo): :lipstick: enlevé cp et cotisation pour les softs
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

getFAsNumber function ok - WIP view
  .gitignore
  backend/src/entities/FA.ts
  backend/src/routes/FA.ts
  backend/src/routes/index.ts
  docker/data/prod/images/.gitkeep
  docker/data/prod/keycloak/.gitkeep
  docker/data/prod/mongo/configdb/.gitkeep
  docker/data/prod/mongo/db/.gitkeep
  docker/docker-compose-dev.yml
  frontend/components/Needs.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(dispo): :sparkles: déplacememnt de la validation dans la page d'info
  frontend/components/organisms/userInformation.vue
  frontend/pages/humans.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(back): :sparkles: Fetching conflict by FTId
  backend/src/routes/Conflict.ts
  backend/src/services/timeFrame.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(back): :art: Use FT count instead of _id in conflict route
  backend/src/routes/Conflict.ts
  backend/src/routes/index.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(front): :sparkles: Display user chips red is there is a conflict
  frontend/pages/ft/_ft.vue
  frontend/repositories/conflictsRepo.ts
  frontend/repositories/repoFactory.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(front): :sparkles: Conflict displayed on orgas chip
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/pages/ft/_ft.vue
  frontend/store/conflict.ts
  frontend/store/index.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix(back): :bug: Fix typo in generation of conflicts
  backend/src/routes/Conflict.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(Front): :sparkles: Page for availabilities edition
  frontend/components/organisms/TimeslotTable.vue
  frontend/layouts/default.vue
  frontend/pages/createavailibility.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Front): :sparkles: Conditional showing of action tab for availabilities
  frontend/components/organisms/TimeslotTable.vue
Due: containerize-frontend, merge_requests_containerize-frontend
