Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

refactor(api): better switch case and cast. #1391
  apps/api/src/festival-activity/repository/festival-activity.builder.ts
  apps/api/src/festival-activity/repository/reviewing-festival-activities.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1391
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/api/src/festival-activity/repository/reviewing-festival-activities.prisma.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

prefeat(api): allow festival-activity approval. #1391
  apps/api/package.json
  apps/api/src/authentication/entities/jwt-util.entity.ts
  apps/api/src/festival-activity/dto/approve.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/festival-activity.builder.ts
  apps/api/src/festival-activity/repository/reviewing-festival-activities.prisma.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(release): ⬆️ bump to 2.8.3
  CHANGELOG.md
  package.json
Due: none

feat(festival-activity): allow approval for admins. #1391
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/store/festivalActivity.ts
  apps/web/utils/festival-event/festival-activity.utils.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style(web): display review status color. #1391
  apps/web/assets/style.scss
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/utils/festival-event/festival-activity.utils.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): display reviews buttons. #1391
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/store/user.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): default case. #1391
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(festival-activity): approval for admin only. #1391
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1391
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(festival-activity): allow approval. #1391
  apps/web/assets/style.scss
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/package.json
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  apps/web/store/user.ts
  apps/web/utils/festival-event/festival-activity.utils.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

prefeat(api): allow festival-activity rejection. #1391
  apps/api/src/festival-activity/dto/approve.request.dto.ts
  apps/api/src/festival-activity/dto/review.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1391
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(festival-activity): typo in reason description. #1391
  apps/api/src/festival-activity/dto/review.request.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(festival-activity): missing decorator on rejection dto. #1391
  apps/api/src/festival-activity/dto/review.request.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

prefeat(api): allow festival-activity rejection. #1391
  apps/api/package.json
  apps/api/src/festival-activity/dto/approve.request.dto.ts
  apps/api/src/festival-activity/dto/review.request.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1391
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(festival-activity): allow rejection. #1391
  apps/api/src/festival-activity/dto/review.request.dto.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  utils/http/src/festival-activity.model.ts
  utils/http/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): french accents. #1391
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(festival-activity): allow rejection. #1391
  apps/api/package.json
  apps/api/src/festival-activity/dto/review.request.dto.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/web/components/organisms/festival-event/festival-activity/FaGeneralCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInChargeCard.vue
  apps/web/components/organisms/festival-event/festival-activity/FaInquiryCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SecurityCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SignaCard.vue
  apps/web/components/organisms/festival-event/festival-activity/SupplyCard.vue
  apps/web/package.json
  apps/web/repositories/festival-activity.repository.ts
  apps/web/store/festivalActivity.ts
  package.json
  utils/http/package.json
  utils/http/src/festival-activity.model.ts
  utils/http/src/index.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update versions. #1395
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): filter on page load. #1395
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): filter on page load. #1395
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): filter on review status. #1396
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/pages/fa/index.vue
  apps/web/utils/festival-event/festival-activity.filter.ts
  apps/web/utils/festival-event/festival-activity.utils.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1396
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(festival-activity): filter on review status. #1396
  apps/web/components/organisms/festival-event/festival-activity/FaFilter.vue
  apps/web/package.json
  apps/web/pages/fa/index.vue
  apps/web/utils/festival-event/festival-activity.filter.ts
  apps/web/utils/festival-event/festival-activity.utils.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(signa): :art: rename function
  apps/web/repositories/catalog-signage.repository.ts
  apps/web/store/catalogSignage.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(api): :art: put filter on top
  apps/api/src/catalog-signage/catalog-signage.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat(api): :art: finalize uploading an image
  apps/api/src/catalog-signage/catalog-signage.controller.ts
  apps/web/components/molecules/signa/SignaImageDialog.vue
  apps/web/components/organisms/logistic/SignageListing.vue
  apps/web/repositories/catalog-signage.repository.ts
  apps/web/store/catalogSignage.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(web): :art: mutualise getting an image
  apps/web/repositories/catalog-signage.repository.ts
  apps/web/repositories/user.repository.ts
  apps/web/utils/image/image.repository.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(api): :bug: fix lack of file service in module
  apps/api/src/catalog-signage/catalog-signage.module.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: :bug: fix to get it to run
  apps/api/src/catalog-signage/catalog-signage.controller.ts
  apps/api/src/catalog-signage/catalog-signage.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(web): :lipstick: make image slighty bigger
  apps/web/components/organisms/logistic/SignageListing.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): :fire: remove export for some functions
  apps/web/utils/rules/file-image.rules.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(signa): :sparkles: start copying trombi architecture
  apps/api/src/catalog-signage/catalog-signage.controller.ts
  apps/api/src/catalog-signage/catalog-signage.service.ts
  apps/web/components/molecules/signa/SignaImageDialog.vue
  apps/web/components/organisms/logistic/SignageListing.vue
  apps/web/repositories/catalog-signage.repository.ts
  apps/web/store/catalogSignage.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

feat(signa): :sparkles: add delete, hot state reload
  apps/api/src/catalog-signage/catalog-signage.controller.ts
  apps/api/src/catalog-signage/repository/catalog-signage-repository.prisma.ts
  apps/web/components/molecules/signa/SignaImageDialog.vue
  apps/web/components/organisms/logistic/SignageListing.vue
  apps/web/repositories/catalog-signage.repository.ts
  apps/web/store/catalogSignage.ts
  apps/web/utils/models/catalog-signa.model.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix(web): :bug: export image rule as const
  apps/web/components/molecules/signa/SignaImageDialog.vue
  apps/web/components/molecules/user/ProfilePictureDialog.vue
  apps/web/utils/rules/file-image.rules.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(web): :art: remove useless comment
  apps/web/utils/rules/file-image.rules.ts
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test
