Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

chore(deps): update dependency pnpm to v10.14.0
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: build errors
  apps/web/domain/inventory/csv-inventory-import-container.ts
  apps/web/tsconfig.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore(deps): update web dependencies (major)
  apps/web/domain/inventory/csv-inventory-import-container.ts
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

fix(prisma): add prisma config & fix warnings
  apps/api/package.json
  apps/api/prisma.config.ts
  apps/api/src/contribution/contribution.controller.ts
  apps/api/src/contribution/dto/adherent-with-contribution.response.dto.ts
  apps/api/src/contribution/dto/adherent.response.dto.ts
  apps/api/src/festival-event/activity/common/dto/draft/draft-inquiry.response.dto.ts
  apps/api/src/festival-event/activity/common/dto/inquiry-request.response.dto.ts
  apps/api/src/festival-event/activity/common/dto/reviewable/reviewable-festival-activity.dto.ts
  apps/api/src/festival-event/activity/common/dto/reviewable/reviewable-inquiry.response.dto.ts
  apps/api/src/festival-event/activity/overview/festival-activity-overview.controller.ts
  apps/api/src/festival-event/activity/preview/dto/preview-in-review.response.dto.ts
  apps/api/src/festival-event/activity/preview/dto/preview-refused.response.dto.ts
  apps/api/src/festival-event/activity/preview/dto/preview-validated.response.dto.ts
  apps/api/src/festival-event/activity/review/dto/review.request.dto.ts
  apps/api/src/festival-event/activity/review/dto/reviews.response.dto.ts
  apps/api/src/festival-event/activity/review/festival-activity-review.controller.ts
  apps/api/src/festival-event/activity/sections/general-section/dto/update-general.request.dto.ts
  apps/api/src/festival-event/activity/sections/general-section/general-section.controller.ts
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.controller.ts
  apps/api/src/festival-event/common/dto/inquiry-request.response.dto.ts
  apps/api/src/festival-event/task/common/dto/draft/draft-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/dto/festival-activity.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-mobilization.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviews.response.dto.ts
  apps/api/src/festival-event/task/overview/festival-task-overview.controller.ts
  apps/api/src/festival-event/task/preview/dto/preview-festival-task-in-review.response.dto.ts
  apps/api/src/festival-event/task/preview/dto/preview-festival-task-refused.response.dto.ts
  apps/api/src/festival-event/task/preview/dto/preview-festival-task-validated.response.dto.ts
  apps/api/src/festival-event/task/review/dto/review.request.dto.ts
  apps/api/src/festival-event/task/review/festival-task-review.controller.ts
  apps/api/src/festival-event/task/sections/general/dto/update-general.request.dto.ts
  apps/api/src/festival-event/task/sections/general/general-section.controller.ts
  apps/api/src/user/planning/dto/planning-task.response.dto.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: prune
  apps/api/package.json
  apps/api/prisma.config.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

style: ✍ run format and lint on all modules
  apps/api/src/festival-event/activity/common/dto/reviewable/reviewable-inquiry.response.dto.ts
  apps/api/src/festival-event/activity/overview/festival-activity-overview.controller.ts
  apps/api/src/festival-event/activity/review/dto/reviews.response.dto.ts
  apps/api/src/festival-event/activity/review/festival-activity-review.controller.ts
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.controller.ts
  apps/api/src/festival-event/common/dto/inquiry-request.response.dto.ts
  apps/api/src/festival-event/task/common/dto/draft/draft-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/dto/festival-activity.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/overview/festival-task-overview.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(deps): update dependency jose to v6
  domains/registration/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies to v6.14.0
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v10.15.0
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(web): spelling mistake #2573
  apps/web/components/organisms/home-dashboard/PersonalFtHomeCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2573
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): spelling mistake #2573
  apps/web/components/organisms/home-dashboard/PersonalFtHomeCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: remove borrows for tuto
  apps/api/src/logistic/borrow/borrow.controller.ts
  apps/api/src/logistic/borrow/borrow.module.ts
  apps/api/src/logistic/borrow/borrow.service.ts
  apps/api/src/logistic/borrow/dto/borrow.response.dto.ts
  apps/api/src/logistic/borrow/dto/init-borrow.request.dto.ts
  apps/api/src/logistic/borrow/dto/plan-borrow.request.dto.ts
  apps/api/src/logistic/borrow/repository/borrow.query.ts
  apps/api/src/logistic/borrow/repository/cancel-borrows.prisma.ts
  apps/api/src/logistic/borrow/repository/init-borrows.prisma.ts
  apps/api/src/logistic/borrow/repository/plan-borrows.prisma.ts
  apps/api/src/logistic/borrow/repository/view-borrows.prisma.ts
  apps/api/src/logistic/logistic.module.ts
  apps/web/components/organisms/logistic/borrow/BorrowTableCard.vue
  apps/web/components/organisms/logistic/borrow/InitBorrowDialogCard.vue
  apps/web/pages/logistic/borrow/[borrowId].vue
  apps/web/pages/logistic/borrow/index.vue
  apps/web/repositories/logistic/borrow.repository.ts
  apps/web/stores/logistic/borrow.ts
  apps/web/utils/navigation/pages/logistic.ts
  domains/logistic/src/borrow/borrow.error.ts
  domains/logistic/src/borrow/borrow.fake.ts
  domains/logistic/src/borrow/cancel/borrow.inmemory.ts
  domains/logistic/src/borrow/cancel/cancel.spec.ts
  domains/logistic/src/borrow/cancel/cancel.ts
  domains/logistic/src/borrow/init/borrow.inmemory.ts
  domains/logistic/src/borrow/init/init.spec.ts
  domains/logistic/src/borrow/init/init.ts
  domains/logistic/src/borrow/plan/borrow.inmemory.ts
  domains/logistic/src/borrow/plan/plan.spec.ts
  domains/logistic/src/borrow/plan/plan.ts
  domains/logistic/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: ignore prisma config build
  apps/api/package.json
  apps/api/tsconfig.build.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(prisma): add file path to deploy cmd
  apps/api/package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: copy file in docker image
  apps/api/Dockerfile
  apps/api/package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(prisma): copy prisma.config.ts in docker image
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/tsconfig.build.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(sso): implement zitadel connection #2569
  apps/web/.gitignore
  apps/web/components/molecules/volunteer/ForgotPasswordDialogCard.vue
  apps/web/middleware/01.auth.global.ts
  apps/web/middleware/02.user.global.ts
  apps/web/middleware/03.membership-application.global.ts
  apps/web/middleware/04.routing.global.ts
  apps/web/middleware/05.store-data.global.ts
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/pages/login.vue
  apps/web/utils/navigation/pages/unauthenticated.ts
  docker/.env
  docker/docker-compose.yml
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: tests #2569
  apps/api/test/app.e2e-spec.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: add env vars in dockerfile #2569
  apps/web/Dockerfile
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: update api url #2569
  apps/api/src/app.controller.spec.ts
  apps/api/src/app.service.ts
  apps/api/src/main.ts
  apps/web/composable/useLiveNotification.ts
  apps/web/middleware/01.auth.global.ts
  apps/web/nuxt.config.ts
  apps/web/utils/http/http-client.ts
  apps/web/utils/http/image.repository.ts
  docker/docker-compose.yml
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(deps): update traefik docker tag to v3.5.2
  docker/docker-compose.yml
Due: none

chore(deps): update dependency pnpm to v10.15.1
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/preference/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/csv/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update docker docker tag to v28.4.0
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: oidc auth #2569
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  apps/web/nuxt.config.ts
  apps/web/package.json
  apps/web/plugins/init-auth.client.ts
  docker/docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test
