Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*

style: ✍ run format and lint on all modules
  apps/api/src/personal-account/dto/adjust-barrel-price.request.dto.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

prefeat(personal-account): update barrel dtos to CRUD. #1324
  apps/api/package.json
  apps/api/prisma/migrations/20231112194126_add_barrel_table/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/personal-account/dto/adjust-barrel-price.request.dto.ts
  apps/api/src/personal-account/dto/barrel.response.dto.ts
  apps/api/src/personal-account/dto/create-barrel.request.dto.ts
  apps/api/src/personal-account/personal-account-error.filter.ts
  apps/api/src/personal-account/personal-account.controller.ts
  apps/api/src/personal-account/personal-account.module.ts
  apps/api/src/personal-account/personal-account.service.ts
  apps/api/src/personal-account/repository/barrels.prisma.ts
  apps/web/components/organisms/personal-account/SgConfigForm.vue
  apps/web/package.json
  apps/web/pages/SG.vue
  apps/web/repositories/personal-account.repository.ts
  apps/web/store/personalAccount.ts
  domains/personal-account/package.json
  domains/personal-account/src/barrel-prices/define-barrel-price.ts
  domains/personal-account/src/index.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

prefeat(festival-activity): contractor add tests #1329
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

fix: contractor add tests #1329
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
Due: install

chore(festival-activity): update in charge section #1329
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

chore(festival-activity): add contractor remove & update #1329
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

fix: tests #1329
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
Due: install

chore: update versions #1329
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

prefeat(festival-activity): Implement InCharge section for In review FA in domain #1329
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/preparation/in-charge-section-preparation.spec.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(festival-activity): add security in InReview FA #1331
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/security-section-preparation.spec.ts
Due: install

chore: update versions #1331
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update security tests #1331
  domains/festival-activity/src/preparation/security-section-preparation.spec.ts
Due: install

fix: remove optional security need #1331
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/security-section-preparation.spec.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: clean code #1331
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

prefeat(festival-activity): Implement Security section for In review FA in domain #1331
  apps/api/package.json
  apps/api/src/festival-activity/dto/update-festival-activity.request.dto.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/index.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.model.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  domains/festival-activity/src/preparation/security-section-preparation.spec.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

alpha(personal-account): manage barrels individually. #1324
  apps/web/components/organisms/personal-account/BarrelsForm.vue
  apps/web/pages/SG.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/web/components/organisms/personal-account/BarrelsForm.vue
  apps/web/pages/SG.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): use ref() on defineComponent based component. #1324
  apps/web/components/organisms/personal-account/BarrelsForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style(web): better display on barrel form. #1324
  apps/web/components/organisms/personal-account/BarrelsForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): better variable names. #1324
  apps/web/components/organisms/personal-account/BarrelsForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(web): move from defineComponent to Vue.extend. #1324
  apps/web/components/organisms/personal-account/BarrelsForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions. #1324
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style(web): reword button label. #1324
  apps/web/pages/SG.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

alpha(personal-account): manage barrels individually. #1324
  apps/web/components/organisms/personal-account/BarrelsForm.vue
  apps/web/package.json
  apps/web/pages/SG.vue
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): cleaner solution
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update versions #1307
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): Remove cross to delete role for normal users #1307
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(release): ⬆️ bump to 2.6.1
  CHANGELOG.md
  package.json
Due: none

prefeat(festival-activity): allow inquiry initialisation. #1333
  domains/festival-activity/src/preparation/inquiries.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

chore: update versions. #1333
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(web): allow implicit returns. #1333
  apps/web/tsconfig.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fixup! chore(web): allow implicit returns. #1333
  apps/web/tsconfig.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): pass build. #1333
  apps/web/repositories/fa.repository.ts
  apps/web/store/fa.ts
  apps/web/store/planning.ts
  apps/web/tsconfig.json
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style(festival-activity): better messages on error and tests. #1333
  domains/festival-activity/src/preparation/inquiries.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
Due: install

prefeat(festival-activity): allow inquiry initialisation. #1333
  apps/api/package.json
  apps/web/package.json
  apps/web/repositories/fa.repository.ts
  apps/web/store/fa.ts
  apps/web/store/planning.ts
  apps/web/tsconfig.json
  domains/festival-activity/package.json
  domains/festival-activity/src/preparation/inquiries.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-draft-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-festival-activity.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

prefeat(festival-activity): handle add and remove timewindos on inquiry for in review activity. #1333
  domains/festival-activity/src/preparation/inquiries.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
Due: install

style(festival-activity): add french accents on error messages. #1333
  domains/festival-activity/src/preparation/inquiries.ts
Due: install

prefeat(festival-activity): handle add and remove time windows on inquiry for in review activity. #1333
  apps/api/package.json
  apps/web/package.json
  domains/festival-activity/package.json
  domains/festival-activity/src/preparation/inquiries.ts
  domains/festival-activity/src/preparation/inquiry-section-preparation.spec.ts
  domains/festival-activity/src/preparation/preparation.test-utils.ts
  domains/festival-activity/src/preparation/prepare-in-review-festival-activity.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test
