Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

chore: install dependencies. #1155
  pnpm-lock.yaml
Due: none

chore: setup vitest on volunteer-availability. #1155
  domains/volunteer-availability/package.json
  domains/volunteer-availability/src/volunteer-availability.ts
  libraries/period/src/duration.constant.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: install

chore: set some deps as global. #1155
  apps/api/package.json
  domains/volunteer-availability/package.json
  libraries/list/package.json
  libraries/period/package.json
  package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fixup! feat: extract volunteer-availability as domain package. #1155
  apps/api/src/volunteer-planning/domain/storedTask.ts
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResumeCalendarHeader.vue
  apps/web/components/organisms/assignment/calendar/OrgaTaskCalendar.vue
  apps/web/components/organisms/logistic/InventoryImport.vue
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/pages/calendar/_calendar.vue
  apps/web/pages/orga-needs.vue
  apps/web/store/needHelp.ts
  apps/web/store/timeline.ts
  apps/web/store/volunteerAvailability.ts
  apps/web/utils/models/team.ts
  apps/web/utils/shift/shift.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fixup! chore: set some deps as global. #1155
  domains/volunteer-availability/tsconfig.json
  libraries/list/tsconfig.json
  libraries/period/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.package.json
Due: install

fix: web usage of volunteer availability. #1155
  apps/web/components/organisms/festivalEvent/FestivalEventBottomBar.vue
  apps/web/components/organisms/user/data/UserInformation.vue
  apps/web/store/user.ts
  apps/web/utils/models/user.ts
  domains/volunteer-availability/package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat(ci): run tests on libraries and domains. #1155
  .gitlab/ci/test.gitlab-ci.yml
  domains/volunteer-availability/package.json
Due: install

style(Back): ✍ Linted backend files
  apps/api/src/orga-needs/orga-needs.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat(ci): run tests on libraries and domains. #1155
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

fix(ci): ignore dependencies on ts-prune. #1155
  apps/api/package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(ci): docker images. #1155
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: update versions. #1155
  apps/api/package.json
  apps/web/package.json
  domains/volunteer-availability/package.json
  libraries/list/package.json
  libraries/period/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: teams in seeder
  apps/api/package.json
  apps/api/prisma/seed.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: controller decorators in assignment and catalog #1158
  apps/api/src/assignment/assignment.controller.ts
  apps/api/src/catalog/category.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(web): fa time window form #1122
  apps/api/prisma/seed.ts
  apps/web/components/molecules/festivalEvent/timeWindow/FATimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FTTimeWindowForm.vue
  apps/web/components/organisms/festivalEvent/fa/FATimeWindowCard.vue
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(web): fa time window table #1122
  apps/web/components/molecules/festivalEvent/timeWindow/FATimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FATimeWindowTable.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FTTimeWindowTable.vue
  apps/web/components/organisms/festivalEvent/fa/FATimeWindowCard.vue
  apps/web/components/organisms/festivalEvent/ft/FTTimeWindowCard.vue
  apps/web/store/fa.ts
  apps/web/utils/functions/timeWindow.ts
  apps/web/utils/models/fa.ts
  apps/web/utils/models/ft.ts
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: Update version #1122
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor(Web): composants time window des FA"
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/web/components/molecules/festivalEvent/timeWindow/FATimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FATimeWindowTable.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FTTimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FTTimeWindowTable.vue
  apps/web/components/organisms/festivalEvent/fa/FATimeWindowCard.vue
  apps/web/components/organisms/festivalEvent/ft/FTTimeWindowCard.vue
  apps/web/package.json
  apps/web/store/fa.ts
  apps/web/utils/functions/timeWindow.ts
  apps/web/utils/models/fa.ts
  apps/web/utils/models/ft.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: component file name #1159
  apps/web/components/atoms/field/search/SearchFa.vue
  apps/web/components/molecules/festivalEvent/creation/NewFtCard.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FaTimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FaTimeWindowTable.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FtTimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FtTimeWindowTable.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FtVolunteerRequirementForm.vue
  apps/web/components/molecules/timeline/TimelineEvents.vue
  apps/web/components/organisms/festivalEvent/FestivalEventBottomBar.vue
  apps/web/components/organisms/festivalEvent/fa/ChildFtCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaCheckBeforeSubmitCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaDetailCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaGeneralCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaLogisticsCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaTimeWindowCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtCheckBeforeSubmitCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtDetailCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtGeneralCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtLogisticsCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtTimeSpanDetails.vue
  apps/web/components/organisms/festivalEvent/ft/FtTimeWindowCard.vue
  apps/web/components/organisms/festivalEvent/ft/ParentFaCard.vue
  apps/web/pages/fa/_fa.vue
  apps/web/pages/ft/_ft.vue
  apps/web/pages/ft/index.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: Update version #1159
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Web): Renommer les composants des FA et FT
  apps/web/components/atoms/field/search/SearchFa.vue
  apps/web/components/molecules/festivalEvent/creation/NewFtCard.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FaTimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FaTimeWindowTable.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FtTimeWindowForm.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FtTimeWindowTable.vue
  apps/web/components/molecules/festivalEvent/timeWindow/FtVolunteerRequirementForm.vue
  apps/web/components/molecules/timeline/TimelineEvents.vue
  apps/web/components/organisms/festivalEvent/FestivalEventBottomBar.vue
  apps/web/components/organisms/festivalEvent/fa/ChildFtCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaCheckBeforeSubmitCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaDetailCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaGeneralCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaLogisticsCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaTimeWindowCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtCheckBeforeSubmitCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtDetailCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtGeneralCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtLogisticsCard.vue
  apps/web/components/organisms/festivalEvent/ft/FtTimeSpanDetails.vue
  apps/web/components/organisms/festivalEvent/ft/FtTimeWindowCard.vue
  apps/web/components/organisms/festivalEvent/ft/ParentFaCard.vue
  apps/web/package.json
  apps/web/pages/fa/_fa.vue
  apps/web/pages/ft/_ft.vue
  apps/web/pages/ft/index.vue
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: bot version comment
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

refactor: ça va mieux marcher avec la bonne doc #1160
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

refactor: Ne pas envoyer de commentaire de version dans les MR draft
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

feat: add draft properties in no_closed_issues alert #1162
  .gitlab/triage_policies/rules/1.4.no_closed_issues_in_mr.yml
Due: none

fix(ci): copy all private overbookd packages. #1156
  apps/api/Dockerfile
  apps/api/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(ci): expose prisma schema on api image. #1156
  apps/api/Dockerfile
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(Web): calendar to planning page #1163
  apps/web/components/atoms/chip/VolunteerRequestChip.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
  apps/web/components/molecules/need-help/NeedHelpVolunteerList.vue
  apps/web/components/organisms/assignment/card/TimeSpanDetails.vue
  apps/web/components/organisms/festivalEvent/ft/FtTimeSpanDetails.vue
  apps/web/pages/humans.vue
  apps/web/pages/planning/_planning.vue
  apps/web/pages/planning/index.vue
  apps/web/utils/pages/pagesList.ts
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat: add routing middleware #1163
  apps/web/middleware/routing.ts
  apps/web/middleware/team.ts
  apps/web/middleware/user.ts
  apps/web/nuxt.config.js
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Web): create index calendar page #1163
  apps/web/components/organisms/planning/PlanningDownloadCard.vue
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/pages/calendar/index.vue
  apps/web/pages/index.vue
  apps/web/utils/pages/pagesList.ts
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Web): move page list #1163
  apps/web/layouts/default.vue
  apps/web/middleware/routing.ts
  apps/web/utils/pages/pagesList.ts
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: clean perm check in calendar #1163
  apps/web/pages/calendar/_calendar.vue
  apps/web/pages/calendar/index.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix: calendar link #1163
  apps/web/pages/calendar/_calendar.vue
  apps/web/utils/pages/pagesList.ts
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: planning page arg #1163
  apps/web/pages/planning/_userId.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(Web): remove old planning pages #1163
  apps/web/pages/planning.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor: pages list import #1163
  apps/web/layouts/default.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: update version #1163
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat: Créer un middleware pour contrôler l'accès aux pages #1163
  apps/web/components/atoms/chip/VolunteerRequestChip.vue
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
  apps/web/components/molecules/need-help/NeedHelpVolunteerList.vue
  apps/web/components/organisms/assignment/card/TimeSpanDetails.vue
  apps/web/components/organisms/festivalEvent/ft/FtTimeSpanDetails.vue
  apps/web/components/organisms/planning/PlanningDownloadCard.vue
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/layouts/default.vue
  apps/web/middleware/routing.ts
  apps/web/middleware/team.ts
  apps/web/middleware/user.ts
  apps/web/nuxt.config.js
  apps/web/package.json
  apps/web/pages/humans.vue
  apps/web/pages/index.vue
  apps/web/pages/planning.vue
  apps/web/pages/planning/_userId.vue
  apps/web/pages/planning/index.vue
  apps/web/utils/pages/pagesList.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

refactor(web): refactor fa general update #1119
  apps/web/components/organisms/festivalEvent/fa/FaDetailCard.vue
  apps/web/components/organisms/festivalEvent/fa/FaGeneralCard.vue
  apps/web/components/organisms/festivalEvent/fa/SecurityCard.vue
  apps/web/components/organisms/festivalEvent/fa/WaterLogisticCard.vue
  apps/web/pages/fa/_fa.vue
  apps/web/repositories/faRepo.ts
  apps/web/store/fa.ts
  apps/web/store/ft.ts
  apps/web/utils/models/fa.ts
  apps/web/utils/models/snack.ts
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
