Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/constants_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{constants/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-web_docker_pre_build:
  variables:
    APP_PATH: apps/web
    APP_NAME: web

feat(orga-task): allow break periods to be added and removed #2560
  apps/web/components/organisms/assignment/calendar/OrgaTaskCalendar.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/domain/common/break-events.ts
  apps/web/package.json
  apps/web/pages/assignment/orga-task.vue
  apps/web/stores/assignment/volunteer-to-task.ts
  apps/web/stores/planning.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.53.0
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(web): fix calendar shortcuts condition #2682
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2682
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): fix calendar shortcuts condition #2682
  apps/web/components/organisms/assignment/calendar/TaskOrgaCalendar.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/package.json
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.53.1
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(orga-task): display confiance assignments for vieux and orga #2688
  apps/api/src/assignment/common/extend-teams.ts
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteers.prisma.ts
  apps/api/src/assignment/volunteer-to-task/repository/available-assignments.prisma.ts
  domains/assignment/src/candidate-teams.ts
  domains/assignment/src/index.ts
Due: overbookd/api_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

chore: update versions #2688
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(orga-task): display confiance assignments for vieux and orga #2688
  apps/api/package.json
  apps/api/src/assignment/common/extend-teams.ts
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteers.prisma.ts
  apps/api/src/assignment/volunteer-to-task/repository/available-assignments.prisma.ts
  apps/web/package.json
  domains/assignment/package.json
  domains/assignment/src/candidate-teams.ts
  domains/assignment/src/index.ts
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(web): restrict friends to current edition #2683
  apps/api/src/assignment/common/repository/assignment.query.ts
  apps/api/src/friend/friend.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(assignment): fix type for tests #2683
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.test-utils.ts
  domains/assignment/src/assign-task-to-volunteer/test-resources/factory/assignable-volunteer.factory.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.test-utils.ts
  domains/assignment/src/friends.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(orga-task): display candidate friends count #2683
  apps/api/src/assignment/common/dto/friend-count.response.dto.ts
  apps/api/src/assignment/common/dto/volunteer-with-assignment-stats.response.dto.ts
  apps/api/src/assignment/common/repository/assignments.prisma.ts
  apps/api/src/assignment/common/repository/friend.query.ts
  apps/api/src/assignment/task-to-volunteer/dto/assignable-volunteer.reponse.dto.ts
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteer.query.ts
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteers.prisma.ts
  apps/api/src/assignment/volunteer-to-task/dto/volunteer-with-assignment-duration.response.dto.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteer.query.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteers.prisma.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/atoms/assignment/AssignmentVolunteerIcons.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  domains/assignment/src/assign-task-to-volunteer/assignable-volunteer.ts
  domains/assignment/src/assign-volunteer-to-task/assign-volunteer-to-task.ts
  domains/assignment/src/friends.ts
  domains/assignment/src/index.ts
  utils/http/src/assignment.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(web): different color for candidate friends in orga-task #2683
  apps/web/components/atoms/assignment/AssignmentVolunteerIcons.vue
  apps/web/components/molecules/assignment/card/AssignmentVolunteerFriendsCard.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  apps/web/stores/assignment/volunteer-to-task.ts
  apps/web/utils/assignment/volunteer.select.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(api): fix volunteer for current edition condition #2683
  apps/api/src/user/user.query.ts
  apps/web/components/atoms/assignment/AssignmentVolunteerIcons.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(web): make icons a tiny bit prettier #2683
  apps/web/components/molecules/assignment/resume/AssignmentResume.vue
  apps/web/utils/vuetify/theme/common.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(assignment): don't consider users with no membership application for the current edition in assignment stats. And split between volunteer and candidate friends #2683
  apps/api/src/assignment/common/dto/volunteer-with-assignment-stats.response.dto.ts
  apps/api/src/assignment/common/repository/assignments.prisma.ts
  apps/api/src/assignment/common/repository/friend.query.ts
  apps/api/src/friend/friend.service.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/molecules/volunteer/AssignmentVolunteerStats.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/components/organisms/home-dashboard/ToDoAsVolunteerHomeCard.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/stores/user.ts
  apps/web/utils/sort/sort-stats.utils.ts
  domains/festival-event/src/festival-activity/preparation/preparation.test-utils.ts
  utils/http/src/assignment.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix: typo #2683
  apps/web/stores/user.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: pluralize #2683
  apps/web/components/atoms/assignment/AssignmentVolunteerIcons.vue
  apps/web/components/molecules/multi-planning/MultiPlanningFilterCard.vue
  apps/web/components/molecules/planning/TaskDetailsDialogCard.vue
  apps/web/components/molecules/volunteer/AssignmentVolunteerStats.vue
  apps/web/components/organisms/home-dashboard/ProfileHomeCard.vue
  apps/web/components/organisms/personal-account/SharedMealCard.vue
  apps/web/components/organisms/volunteer/VolunteerStatsCard.vue
  apps/web/utils/plural.utils.ts
  domains/personal-account/src/transaction/barrel/create-barrel-transactions.ts
  domains/personal-account/src/transaction/provisions/create-provisions-transactions.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #2683
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  domains/festival-event/package.json
  domains/personal-account/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 3.53.2
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(web): only display friendable volunters when searching for them #2689
  apps/api/src/friend/friend.controller.ts
  apps/api/src/friend/friend.service.ts
  apps/web/components/atoms/search/SearchFriend.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/repositories/user.repository.ts
  apps/web/stores/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(web): display candidate friends in a different color for user managers #2689
  apps/api/src/assignment/common/repository/assignment.query.ts
  apps/api/src/assignment/common/repository/friend.query.ts
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteer.query.ts
  apps/api/src/assignment/volunteer-to-task/repository/available-assignments.prisma.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteer.query.ts
  apps/api/src/common/query/user.query.ts
  apps/api/src/contribution/repository/contribution.query.ts
  apps/api/src/friend/dto/friend.response.dto.ts
  apps/api/src/friend/friend.service.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/team/team.service.ts
  apps/api/src/timeline/timeline.service.ts
  apps/api/src/user/planning/repository/planning-volunteers.prisma.ts
  apps/web/components/atoms/chip/TeamChip.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/stores/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(web): add tooltip for candidate friends #2689
  apps/web/components/atoms/search/SearchFriend.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/stores/user.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2689
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): display candidate friends in a different color for user managers #2689
  apps/api/package.json
  apps/api/src/assignment/common/repository/assignment.query.ts
  apps/api/src/assignment/common/repository/friend.query.ts
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteer.query.ts
  apps/api/src/assignment/volunteer-to-task/repository/available-assignments.prisma.ts
  apps/api/src/assignment/volunteer-to-task/repository/volunteer.query.ts
  apps/api/src/common/query/user.query.ts
  apps/api/src/contribution/repository/contribution.query.ts
  apps/api/src/friend/dto/friend.response.dto.ts
  apps/api/src/friend/friend.controller.ts
  apps/api/src/friend/friend.service.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/team/team.service.ts
  apps/api/src/timeline/timeline.service.ts
  apps/api/src/user/planning/repository/planning-volunteers.prisma.ts
  apps/web/components/atoms/chip/TeamChip.vue
  apps/web/components/atoms/search/SearchFriend.vue
  apps/web/components/organisms/home-dashboard/FriendsHomeCard.vue
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  apps/web/package.json
  apps/web/repositories/user.repository.ts
  apps/web/stores/user.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(pdf): update purple cocktail generation and add image asset
  apps/api/assets/purple_cocktail.png
  apps/api/src/user/planning/render/pdf-render-strategy.ts
  apps/api/src/user/planning/render/pdf/purple-cocktail.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: cocktail purple in pdf render strategy #2687
  apps/api/src/user/planning/render/pdf-render-strategy.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #2687
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: update coocktail purple in paper planning #2687
  apps/api/assets/purple_cocktail.png
  apps/api/package.json
  apps/api/src/user/planning/render/pdf-render-strategy.ts
  apps/api/src/user/planning/render/pdf/purple-cocktail.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #2694
  apps/api/prisma/seed.ts
  apps/api/prisma/seeders/signa-locations.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #2694
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(api): add default location to signe locations from seeder #2694
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/prisma/seeders/signa-locations.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(web): display fa / ft that needs to be fixed or finished first on homepage #2696
  apps/web/components/organisms/home-dashboard/PersonalFaHomeCard.vue
  apps/web/components/organisms/home-dashboard/PersonalFtHomeCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2696
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): display fa / ft that needs to be fixed or finished first on homepage #2696
  apps/web/components/organisms/home-dashboard/PersonalFaHomeCard.vue
  apps/web/components/organisms/home-dashboard/PersonalFtHomeCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(planning): cleaner task separator & remove blank page after purple cocktail #2695
  apps/api/src/user/planning/render/pdf-render-strategy.ts
  apps/api/src/user/planning/render/pdf/five-d-method.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(web): prevent keyboard shortcuts when writing in a text input for availabilities and funnel calendars #2666
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/organisms/assignment/card/AssignmentFunnelDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2695
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
