Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, configurator, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-frontend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs:
  - lintage-frontend
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE/frontend:builder || true
  ...

lintage-frontend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

lintage-backend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

fix(fa): approve gear request.
  backend/package-lock.json
  backend/package.json
  backend/src/fa/gear-requests/dto/gearRequestApproveFormRequest.dto.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(fa): display gear request drive. #737
  backend/src/fa/gear-requests/dto/gearRequestResponse.dto.ts
  backend/src/fa/gear-requests/gearRequests.service.spec.ts
  backend/src/fa/gear-requests/repositories/gearRequest.repository.inmemory.ts
  backend/src/fa/gear-requests/repositories/gearRequest.repository.prisma.ts
  docker/docker-compose.yml
  frontend/components/molecules/logistics/LogisticsTable.vue
  frontend/components/organisms/form/fa/GearRequestsValidation.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

chore: update package version. #737
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(fa): display gear request drive. #737
  backend/package-lock.json
  backend/package.json
  backend/src/fa/gear-requests/dto/gearRequestResponse.dto.ts
  backend/src/fa/gear-requests/gearRequests.service.spec.ts
  backend/src/fa/gear-requests/repositories/gearRequest.repository.inmemory.ts
  backend/src/fa/gear-requests/repositories/gearRequest.repository.prisma.ts
  docker/docker-compose.yml
  frontend/components/molecules/logistics/LogisticsTable.vue
  frontend/components/organisms/form/fa/GearRequestsValidation.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(catalog): display reference code. #671
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/dto/gearResponse.dto.ts
  backend/src/catalog/gearReferenceCode.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/in-memory/gear.repository.inmemory.ts
  backend/src/catalog/repositories/prisma/gear.repository.prisma.ts
  frontend/components/organisms/GearListing.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

chore: update package version. #671
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

feat(catalog): display reference code. #671
  backend/package-lock.json
  backend/package.json
  backend/src/catalog/catalog.service.spec.ts
  backend/src/catalog/dto/gearResponse.dto.ts
  backend/src/catalog/gearReferenceCode.service.ts
  backend/src/catalog/interfaces.ts
  backend/src/catalog/repositories/in-memory/gear.repository.inmemory.ts
  backend/src/catalog/repositories/prisma/gear.repository.prisma.ts
  frontend/components/organisms/GearListing.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

build(deps): bump node in /frontend
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

build(deps-dev): bump eslint and @nuxtjs/eslint-config-typescript
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

build(deps): bump rxjs from 7.6.0 to 7.8.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump @types/express from 4.17.14 to 4.17.15 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump @types/node from 18.11.13 to 18.11.17 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump @types/passport-jwt in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump @typescript-eslint/parser in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump @typescript-eslint/eslint-plugin in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump eslint from 8.29.0 to 8.30.0 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump backend deps
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_scan, lintage-backend, ts-prune-backend

build(deps-dev): bump cypress from 12.0.2 to 12.1.0 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(ci): simplify ts-prune job. #734
  .gitlab/ci/check.gitlab-ci.yml
Due: none

fix(ci): set image to node-16-alpine. #734
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

feat(ci): improve ci. #734
  .gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
  .gitlab/ci/docker.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/security_rules.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/ts-prune.gitlab-ci.yml
Due: none

fix(ci): pass BASE_URL to docker build. #734
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/docker.gitlab-ci.yml
Due: none

fix(ci): remove unused variables. #734
  .gitlab-ci.yml
Due: none

fix(ci): use jq to get version. #734
  .gitlab/ci/docker.gitlab-ci.yml
Due: none

fix(ci): remove mr tags from registery. #734
  .gitlab/ci/docker-scan.gitlab-ci.yml
Due: none

feat(ci): pass docker images via artifact. #734
  .gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
  .gitlab/ci/docker.gitlab-ci.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

fix(ci): optional docker stages on mr. #734
  .gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
Due: none

fix(ci): install ssh and git for lint job. #734
  .gitlab/ci/check.gitlab-ci.yml
Due: none

fix(ci) deploy workflow. #734
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

feat(ci): deploy once published. #734
  .gitlab-ci.yml
  .gitlab/ci/deploy.gitlab-ci.yml
Due: none

fix(ci): add build stage. #734
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
Due: none

fix(ci): better docker stages. #734
  .gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
Due: none

fix(ci): apply reviews. #734
  .gitlab-ci.yml
  .gitlab/ci/clean_up_pipelines.gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
Due: none

feat(ci): improve ci. #734
  .gitlab-ci.yml
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/clean_up_pipelines.gitlab-ci.yml
  .gitlab/ci/deploy.gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  .gitlab/ci/install.gitlab-ci.yml
  .gitlab/ci/security_rules.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .gitlab/ci/ts-prune.gitlab-ci.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: containerize-backend, merge_requests_containerize-backend, backend-test, frontend_scan, backend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, ts-prune-backend

fix(ci) skip docker stages on scheduled. #734
  .gitlab/ci/deploy.gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-scan.gitlab-ci.yml
Due: none

fix(ci): display header response fron watchtower. #734
  .gitlab/ci/deploy.gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/deploy.gitlab-ci.yml
Due: none

build(deps-dev): bump sass from 1.56.2 to 1.57.0 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

build(deps-dev): bump frontend deps
  frontend/package-lock.json
  frontend/package.json
Due: frontend_scan, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  ts-prune-backend: any of: backend/**/*
