Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

backend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - backend_install
  before_script:
  - cd backend
  script:
  - npm run build

frontend_build:
  stage: build
  interruptible: true
  image: node:16.17.1-alpine3.16
  needs:
  - frontend_install
  before_script:
  - cd frontend
  script:
  - npm run build:ci

frontend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_lint:
  stage: check
  interruptible: true
  image: node
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

backend_ts-prune:
  stage: check
  interruptible: true
  image: node
  needs:
  - backend_install
  script:
  - cd backend
  - npm run find-deadcode

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

refactor(Back): :art: split function #1049
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

refactor(Planning): 🎨 add volunteer limit in pdf planning #1049
  backend/package-lock.json
  backend/package.json
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.14.0
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Front): :sparkles: add new page and components for current tasks #1054
  frontend/components/molecules/currentTask/CurrentTaskCard.vue
  frontend/components/molecules/currentTask/CurrentTaskFilters.vue
  frontend/components/molecules/currentTask/CurrentTaskList.vue
  frontend/layouts/default.vue
  frontend/pages/currentTasks.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

feat(planning): add black line as task separator in pdf. #1057.
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: update versions. #1057
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): add black line as task separator in pdf. #1057.
  backend/package-lock.json
  backend/package.json
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(availability): send every date with Paris timezone. #1058
  frontend/components/molecules/availabilities/AvailabilitiesPickCalendar.vue
  frontend/components/molecules/availabilities/AvailabilitiesSumup.vue
  frontend/utils/date/dateUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

[WIP]: set all dates in Paris timezone. #1058
  frontend/components/molecules/availabilities/AvailabilitiesPickCalendar.vue
  frontend/components/molecules/availabilities/AvailabilitiesSumup.vue
  frontend/utils/availabilities/availabilities.ts
  frontend/utils/availabilities/period.ts
  frontend/utils/date/dateUtils.ts
  frontend/utils/shift/shift.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(planning): disable download planning buton. #1059
  frontend/components/organisms/planning/PlanningCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

chore: update version. #1059
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

style(Front): ✍ Linted frontend files
  frontend/components/organisms/planning/PlanningCard.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

fix(planning): use permission guard. #1059
  backend/src/user/user.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix(planning): disable download planning button. #1059
  backend/package-lock.json
  backend/package.json
  backend/src/user/user.controller.ts
  frontend/components/organisms/planning/PlanningCard.vue
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

chore: bump to version 1.14.1
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Back): :bug: export signa #1055
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: Update version #1055
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix: export signa CSV pour les FA validées par la signa
  backend/package-lock.json
  backend/package.json
  backend/src/fa_signa_needs/fa_signa_needs.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): center plan image. #1060
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix(planning): add security plan page. #1060
  backend/assets/security_plan.png
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

fix(Back): display security in landscape page #1060
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: Update version #1060
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): add security plan page. #1060
  backend/assets/security_plan.png
  backend/package-lock.json
  backend/package.json
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: Display timespan in FT calendar if ft READY & Open TimespanDetails dialog on click
  backend/src/assignment/assignment.controller.ts
  backend/src/assignment/types/ftTimespanTypes.ts
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/ftTypes.ts
  frontend/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
  frontend/components/organisms/assignment/card/TimespanDetails.vue
  frontend/utils/models/ft.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor
  backend/src/assignment/assignment.service.ts
  backend/src/ft/ftTypes.ts
  frontend/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

refactor
  frontend/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

refactor
  frontend/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
  frontend/utils/models/ft.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

Rework types
  backend/src/assignment/dto/ftTimespanResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/ftTimespanTypes.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

refactor
  backend/src/assignment/dto/ftTimespanResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/ftTimespanTypes.ts
  frontend/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
  frontend/components/organisms/user/data/UserInformation.vue
  frontend/utils/user/userUtils.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

opti
  backend/src/assignment/ftTimespan.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

remove code
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

remove TimespanDetails changes
  frontend/components/organisms/assignment/card/TimespanDetails.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

last refactor
  backend/src/assignment/ftTimespan.service.ts
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

style(Front): ✍ Linted frontend files
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

better phone links
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
  frontend/components/organisms/user/data/UserInformation.vue
  frontend/pages/humans.vue
  frontend/utils/user/userUtils.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, frontend_install, lintage-frontend, frontend_test

version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: Display timespan in FT calendar if ft READY & Open TimespanDetails dialog on click
  backend/package-lock.json
  backend/package.json
  backend/src/assignment/assignment.controller.ts
  backend/src/assignment/assignment.service.ts
  backend/src/assignment/dto/ftTimespanResponse.dto.ts
  backend/src/assignment/ftTimespan.service.ts
  backend/src/assignment/types/ftTimespanTypes.ts
  backend/src/ft/dto/ft-response.dto.ts
  backend/src/ft/ftTypes.ts
  frontend/components/molecules/festivalEvent/timeWindow/FestivalEventCalendar.vue
  frontend/components/organisms/festivalEvent/ft/FTTimespanDetails.vue
  frontend/components/organisms/user/data/UserInformation.vue
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/humans.vue
  frontend/utils/models/ft.ts
  frontend/utils/user/userUtils.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(planning): add introduction page in pdf. #1060
  backend/package-lock.json
  backend/src/volunteer-planning/render/PdfRenderStrategy.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, backend_install, lintage-backend, backend_test, ts-prune-backend

chore: update versions. #1060
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, backend_install, frontend_install, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  backend_install: any of: backend/**/*
  frontend_install: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*
