Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

backend_scan_preprod:
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:pre-prod
    DOCKERFILE_PATH: backend/Dockerfile
  stage: docker-scan

containerize-frontend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-frontend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

Add a 0 in front of day number in order that the sort works well
  frontend/components/organisms/TimeslotTable.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "Export pass sécu csv"
  backend/src/routes/PassSecu.ts
  backend/src/routes/index.ts
  frontend/layouts/default.vue
  frontend/pages/SG.vue
  frontend/pages/passsecu.vue
  frontend/utils/models/Data.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(ft): 🔨 disable validating if ready and linting
  frontend/components/Needs.vue
  frontend/components/atoms/TimeslotSnackBar.vue
  frontend/components/molecules/friendsCard.vue
  frontend/components/organisms/TimeslotAdder.vue
  frontend/components/organisms/TimeslotTable.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/form/CompleteTimeframeCard.vue
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/components/organisms/userInformation.vue
  frontend/components/overCalendar.vue
  frontend/layouts/default.vue
  frontend/pages/availabilities.vue
  frontend/pages/ft/_ft.vue
  frontend/pages/listeconflits.vue
  frontend/pages/planning.vue
  frontend/store/assignment.ts
  frontend/utils/models/Assignment.ts
  frontend/utils/models/FT.ts
  frontend/utils/models/timeframe.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Front&Back): :sparkles: Now detects availability problems (or at least it should if no bugs)
  backend/src/entities/Conflict.ts
  backend/src/services/conflict.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(Front&Back): :sparkles: New all conflicts page, with compute all conflict btn for human
  backend/src/entities/Conflict.ts
  backend/src/services/conflict.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(assignment): ✨ update assignment store
  backend/src/routes/Assignment.ts
  backend/src/routes/FT.ts
  backend/src/routes/TimeSpan.ts
  frontend/components/listTasks.vue
  frontend/components/organisms/TimeslotAdder.vue
  frontend/components/overTasks.vue
  frontend/pages/assignment.vue
  frontend/pages/ft/index.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
  frontend/utils/models/Assignment.ts
  frontend/utils/models/FT.ts
  frontend/utils/models/TimeSpan.ts
  frontend/utils/models/timeframe.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(assignment): ✨ update assignment store
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

fix(Front): :bug: Qui a changé ça ???
  frontend/components/organisms/TimeslotAdder.vue
Due: containerize-frontend, merge_requests_containerize-frontend

329 orga task mode fully functional
  backend/src/entities/TimeSpan.ts
  backend/src/routes/FT.ts
  backend/src/routes/TimeSpan.ts
  backend/src/services/slicing.ts
  frontend/components/listTasks.vue
  frontend/components/overCalendar.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix(assignment): 🔨 No need to refresh to update #329
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Front): :fire: Fix filter and scrolling, add future chip component
  frontend/components/atoms/overChipsLight.vue
  frontend/components/usersList.vue
  frontend/store/assignment.ts
Due: containerize-frontend, merge_requests_containerize-frontend

feat(assignment): 🔨 auto assign
  backend/package-lock.json
  backend/src/routes/TimeSpan.ts
  backend/src/services/slicing.ts
  frontend/package-lock.json
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(Front): :sparkles: Creation of new user list for simplification
  backend/src/routes/TimeSpan.ts
  frontend/components/organisms/UserResume.vue
  frontend/components/usersList.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Resolve "Mettre numéro FT dans le titre d'onglet"
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "Pouvoir ajouter un créneau à un groupe de créneaux"
  backend/src/routes/Timeslot.ts
  frontend/components/atoms/TimeslotSnackBar.vue
  frontend/components/organisms/TimeslotTable.vue
  frontend/pages/createavailibility.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Resolve "423-creer-dispo-visible-que-par-les-hard"
  backend/src/entities/Timeslot.ts
  frontend/components/organisms/TimeslotAdder.vue
  frontend/pages/availabilities.vue
  frontend/utils/models/repo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

chore(patch): ✨ update version v0.22
  frontend/package.json
Due: containerize-frontend, merge_requests_containerize-frontend

Unassign
  backend/src/routes/TimeSpan.ts
  backend/src/routes/index.ts
  frontend/components/overCalendar.vue
  frontend/components/unassignDialog.vue
  frontend/pages/assignment.vue
  frontend/repositories/timeSpanRepo.ts
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Resolve small issues
  frontend/components/Needs.vue
  frontend/components/organisms/TimeslotTable.vue
  frontend/pages/stats.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(log): :sparkles: add inventory export
  frontend/pages/inventory.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(log): :hammer: build & TS
  frontend/pages/inventory.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Change after rebase
  backend/src/routes/FT.ts
  backend/src/routes/index.ts
  frontend/layouts/default.vue
  frontend/pages/planning.vue
  frontend/repositories/ftRepo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix(ft): 🔨 correct bug
  backend/src/routes/TimeSpan.ts
  frontend/components/organisms/TimeslotTable.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/form/CompleteTimeframeCard.vue
  frontend/pages/availabilities.vue
  frontend/pages/ft/_ft.vue
  frontend/pages/planning.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

fix(ft): 🔨 linting
  frontend/components/organisms/TimeslotAdder.vue
  frontend/components/organisms/UserResume.vue
  frontend/pages/availabilities.vue
  frontend/pages/planning.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(Back): :bug: fox type problems
  backend/src/services/slicing.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Resolve duplicate timeslots in the planning
  backend/src/routes/FT.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Resolve duplicate users because the group on ID doesn't work well
  backend/src/routes/FT.ts
  frontend/pages/planning.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Resolve duplicate timeslot planning
  backend/src/routes/FT.ts
  frontend/pages/planning.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Display the planning of an FT even if it's validated. But no modification available
  frontend/components/organisms/form/CompleteTimeframeCard.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(ft): ⚠️ fix ready for affect displaying for everybody
  frontend/pages/ft/_ft.vue
Due: containerize-frontend, merge_requests_containerize-frontend

☣️ fix critical bug
  backend/src/routes/FT.ts
  backend/src/services/slicing.ts
  frontend/components/organisms/form/CompleteTimeframeCard.vue
  frontend/pages/ft/_ft.vue
  frontend/pages/planning.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Change the redirection for the stats page
  frontend/pages/stats.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(user): :bug: now driver license date is show
  backend/src/entities/User.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Change pagination of ft, fa and orga in ft
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/pages/fa/index.vue
  frontend/pages/ft/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Change pagination of ft, fa and orga in ft
  frontend/components/ShowCalendar.vue
  frontend/pages/planning.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Pre prod
  backend/src/entities/User.ts
  frontend/components/organisms/form/CompleteTimeframeTable.vue
  frontend/pages/fa/index.vue
  frontend/pages/ft/index.vue
  frontend/pages/stats.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Add the possibility to see the planning of everyone
  frontend/components/ShowCalendar.vue
  frontend/pages/planning.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(Back): :sparkles: Add get by assigned route in timespan
  backend/src/routes/TimeSpan.ts
  backend/src/routes/index.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
