Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(web): autocomplete my email fields. #1644
  apps/web/components/molecules/festival-event/contractor/ContractorForm.vue
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/components/organisms/user/UserCard.vue
  apps/web/package.json
  apps/web/pages/forget/index.vue
  apps/web/pages/forgot.vue
  apps/web/pages/login.vue
  apps/web/pages/register.vue
  apps/web/pages/registrations/volunteer.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.22.0
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

fix(registrations): transformed soft message to singular #1647
  apps/web/store/registration.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1647
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(registrations): transformed soft message to singular #1647
  apps/web/package.json
  apps/web/store/registration.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(profile): add link to profile picture alert catch phrase. #1648
  apps/web/components/atoms/alerts/ProfilePictureAlert.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1648
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(profile): add link to profile picture alert catch phrase. #1648
  apps/web/components/atoms/alerts/ProfilePictureAlert.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(volunteer-availability): add helper text about entire day selection. #1646
  apps/web/pages/availabilities.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1646
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(volunteer-availability): add helper text about entire day selection. #1646
  apps/web/package.json
  apps/web/pages/availabilities.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style(festival-activity): signa listing take all width available. #1650
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1650
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

style(festival-activity): signa listing take all width available. #1650
  apps/web/components/molecules/festival-event/logistic/signage/FaSignageTable.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.22.1
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update docker docker tag to v25.0.4
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

fix(registration): display alert on invalid link. #1310
  apps/web/components/organisms/user/UserCard.vue
  apps/web/pages/register.vue
  domains/registration/src/invite-new-adherents/index.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions. #1310
  apps/api/package.json
  apps/web/package.json
  domains/registration/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): display alert on invalid link. #1310
  apps/api/package.json
  apps/web/components/organisms/user/UserCard.vue
  apps/web/package.json
  apps/web/pages/register.vue
  domains/registration/package.json
  domains/registration/src/invite-new-adherents/index.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): staff link generation with perm #1652
  apps/api/src/registration/registration.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(registration): save invite staff link in get request #1652
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.module.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/configuration-repository.prisma.ts
  apps/api/src/registration/repository/configurations.repository.ts
  apps/web/store/registration.ts
  domains/configuration/src/configuration.ts
  domains/configuration/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

refactor: new link request type #1652
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.module.ts
  apps/api/src/registration/registration.service.ts
  apps/web/repositories/registration.repository.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #1652
  apps/api/package.json
  apps/web/package.json
  domains/configuration/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(registration): add fetch request to get staff link #1652
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/configuration-repository.prisma.ts
  apps/api/src/registration/repository/configurations.repository.ts
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
  domains/configuration/src/configuration.ts
  domains/configuration/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions. #1640
  apps/api/package.json
  apps/web/package.json
  domains/registration/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(db): rename adherent to staff. #1640
  apps/api/prisma/migrations/20240312121421_change_adherent_to_staff/migration.sql
  apps/api/prisma/migrations/20240312125654_remove_adherent_membership/migration.sql
  apps/api/prisma/schema.prisma
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(mail): rename adherent to staff. #1640
  apps/api/src/mail/mail.service.ts
  apps/api/src/mail/templates/welcome-staff.ejs
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(registration): rename adherent to staff. #1640
  apps/api/prisma/migrations/20240312113054_add_staff_membership/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/domain-event/domain-event.service.ts
  apps/api/src/mail/mail.service.ts
  apps/api/src/notification/notification.service.ts
  apps/api/src/registration/dto/newcomer.response.dto.ts
  apps/api/src/registration/registration.controller.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.query.ts
  apps/api/src/registration/repository/enroll-newcomers.repository.ts
  apps/api/src/registration/repository/notification-repository.prisma.ts
  apps/web/components/molecules/registration/RegistrationConfiguration.vue
  apps/web/layouts/default.vue
  apps/web/pages/register.vue
  apps/web/pages/registrations/staff.vue
  apps/web/pages/registrations/volunteer.vue
  apps/web/repositories/registration.repository.ts
  apps/web/store/registration.ts
  domains/registration/src/index.ts
  domains/registration/src/invite-new-adherents/index.ts
  domains/registration/src/invite-staff/index.ts
  domains/registration/src/invite-staff/invite-staff.spec.ts
  domains/registration/src/invite-staff/invite-staff.ts
  domains/registration/src/newcomer-repository.inmemory.ts
  domains/registration/src/newcomer.ts
  domains/registration/src/notification-repository.inmemory.ts
  domains/registration/src/register-newcomer.spec.ts
  domains/registration/src/register-newcomer.ts
  utils/domain-events/src/domain-events.ts
  utils/domain-events/src/index.ts
  utils/domain-events/src/registration.ts
  utils/http/src/index.ts
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

style: ✍ run format and lint on all modules
  apps/web/layouts/default.vue
  domains/registration/src/invite-staff/invite-staff.spec.ts
  utils/domain-events/src/domain-events.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test, overbookd/domains_unit_test

chore(notification): rename adherent to staff. #1640
  apps/api/src/notification/notification.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: return type #1652
  apps/api/src/registration/repository/configuration-repository.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: stringify configuration response #1652
  apps/api/src/registration/repository/configuration-repository.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(registration): init availabilities display on festival date week. #1649
  apps/web/components/molecules/availabilities/AvailabilitiesSumupV2.vue
  apps/web/components/molecules/registration/VolunteerDetails.vue
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1649
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(registration): init availabilities display on festival date week. #1651
  apps/web/components/molecules/availabilities/AvailabilitiesSumupV2.vue
  apps/web/components/molecules/registration/VolunteerDetails.vue
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1651
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test
