Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(planning): make multiplanning events clickable #2698 #2707 #2710
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/domain/common/break-events.ts
  apps/web/package.json
  apps/web/pages/multi-planning.vue
  apps/web/utils/planning/event.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(assignment): save volunteer list filters in url #2713
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/utils/assignment/assignment.utils.ts
  apps/web/utils/assignment/filters/assignment-filters.constant.ts
  apps/web/utils/assignment/filters/assignment-volunteers.filter.ts
  apps/web/utils/assignment/filters/friend-filter.utils.ts
  apps/web/utils/assignment/filters/orga-task.filter.ts
  apps/web/utils/assignment/filters/task-orga.filter.ts
  apps/web/utils/assignment/volunteer.select.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2713
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

style: ✍ run format and lint on all modules
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/utils/assignment/filters/assignment-volunteers.filter.ts
  apps/web/utils/assignment/filters/friend-filter.utils.ts
  apps/web/utils/assignment/filters/orga-task.filter.ts
  apps/web/utils/assignment/filters/task-orga.filter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: remove console.log #2713
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: remove useless watch #2713
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(assignment): save volunteer list filters in url #2713
  apps/web/components/molecules/assignment/filter/AssignmentVolunteerFilters.vue
  apps/web/components/organisms/assignment/list/FilterableVolunteerList.vue
  apps/web/package.json
  apps/web/pages/assignment/orga-task.vue
  apps/web/pages/assignment/task-orga.vue
  apps/web/utils/assignment/assignment.utils.ts
  apps/web/utils/assignment/filters/assignment-filters.constant.ts
  apps/web/utils/assignment/filters/assignment-volunteers.filter.ts
  apps/web/utils/assignment/filters/friend-filter.utils.ts
  apps/web/utils/assignment/filters/orga-task.filter.ts
  apps/web/utils/assignment/filters/task-orga.filter.ts
  apps/web/utils/assignment/volunteer.select.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(orga-task): prevent volunteer from being assigned when not available for the task's period #2704
  apps/api/src/assignment/common/repository/assignments.prisma.ts
  apps/web/pages/assignment/orga-task.vue
  domains/assignment/src/assignment.error.ts
  domains/assignment/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore: update versions #2704
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 3.53.5
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update traefik docker tag to v3.6.15
  docker/docker-compose.yml
Due: none

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

docs(start-here): write the newcomer journey end-to-end
  docs/start-here/01-prerequisites.md
  docs/start-here/02-local-setup.md
  docs/start-here/03-repo-tour.md
  docs/start-here/04-first-feature.md
  docs/start-here/05-troubleshooting.md
Due: none

docs(architecture, operations): write technical reference
  docs/architecture/api-anatomy.md
  docs/architecture/data-model.md
  docs/architecture/dependency-hierarchy.md
  docs/architecture/domain-driven-layout.md
  docs/architecture/request-lifecycle.md
  docs/architecture/web-anatomy.md
  docs/operations/database.md
  docs/operations/deployment-topology.md
  docs/operations/local-dev-gotchas.md
  docs/operations/release-process.md
Due: none

docs(conventions, reference): write recipes and lookup tables
  docs/conventions/adding-a-domain.md
  docs/conventions/adding-a-web-page.md
  docs/conventions/adding-an-api-endpoint.md
  docs/conventions/code-style.md
  docs/conventions/commits-and-branches.md
  docs/conventions/merge-requests.md
  docs/conventions/testing.md
  docs/reference/environment-variables.md
  docs/reference/scripts.md
  docs/reference/tooling.md
Due: none

docs(business): draft glossary and per-domain pages (validation needed)
  docs/business/domains/access-manager.md
  docs/business/domains/assignment.md
  docs/business/domains/charisma.md
  docs/business/domains/contribution.md
  docs/business/domains/festival-event.md
  docs/business/domains/logistic.md
  docs/business/domains/personal-account.md
  docs/business/domains/registration.md
  docs/business/domains/signa.md
  docs/business/domains/volunteer-availability.md
  docs/business/glossary.md
Due: none

docs: stamp section indexes as reviewed; verify navigation
  docs/architecture/README.md
  docs/business/README.md
  docs/conventions/README.md
  docs/operations/README.md
  docs/reference/README.md
Due: none

docs: require Mermaid plugin and document install for VS Code/WebStorm
  .vscode/extensions.json
  docs/01-start-here/01-prerequisites.md
  docs/README.md
Due: none

fix: add css
  apps/web/assets/style.scss
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: use localhost in dev mode
  apps/web/package.json
  docker/.env
  docker/data/traefik/tls.yml
  docker/docker-compose.yml
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: use localhost in dev and revert to nuxt v4.4.2 #2735
  .devcontainer/devcontainer.json
  apps/web/package.json
  docker/.env
  docker/README.md
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions #2735
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore: use localhost in dev and revert to nuxt v4.4.2 #2735
  .devcontainer/devcontainer.json
  apps/web/package.json
  docker/.env
  docker/README.md
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(planning): add break periods to multiplanning #2729 #2731
  apps/api/src/assignment/common/dto/break-period.response.dto.ts
  apps/api/src/user/planning/dto/multi-planning-volunteer.response.dto.ts
  apps/api/src/user/planning/planning.controller.ts
  apps/api/src/user/planning/planning.service.ts
  apps/web/pages/multi-planning.vue
  apps/web/stores/planning.ts
  utils/http/src/planning/volunteer.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(planning): add bbreak period creation and deletion in multiplanning #2729 #2731
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/pages/multi-planning.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): propagate calendar period click even with no availabilities #2729 #2731
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2729 #2731
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(planning): add break periods to multiplanning #2729 #2731
  apps/api/package.json
  apps/api/src/assignment/common/dto/break-period.response.dto.ts
  apps/api/src/user/planning/dto/multi-planning-volunteer.response.dto.ts
  apps/api/src/user/planning/planning.controller.ts
  apps/api/src/user/planning/planning.service.ts
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/organisms/calendar/OverMultiCalendar.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/package.json
  apps/web/pages/multi-planning.vue
  apps/web/stores/planning.ts
  package.json
  utils/http/package.json
  utils/http/src/planning/volunteer.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(fa): fix logistic dashboard slug search #2733
  apps/web/pages/fa/dashboard/logistic.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(fa): remove unnecessary trim #2733
  apps/web/pages/fa/dashboard/logistic.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2733
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(fa): fix logistic dashboard slug search #2733
  apps/web/package.json
  apps/web/pages/fa/dashboard/logistic.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(festival-task): display team name instead of team code in filter buttons #2701
  apps/web/pages/ft/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: get ft teams #2701
  apps/web/pages/ft/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2701
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: general condition #2701
  apps/web/pages/ft/index.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(festival-task): display team name instead of team code in filter buttons #2701
  apps/web/package.json
  apps/web/pages/ft/index.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test
