Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, configurator, frontend_scan, backend_scan, frontend_docker_pre_build, preprod_frontend_docker_build, prod_frontend_docker_build, backend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  backend_build: any of: backend/**/*
  frontend_build: any of: frontend/**/*
  frontend_lint: any of: frontend/**/*
  backend_lint: any of: backend/**/*
  backend_ts-prune: any of: backend/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  frontend_docker_pre_build: (not (any of: frontend/**/*)) and (any of: frontend/**/*)
  preprod_frontend_docker_build: any of: frontend/**/*
  prod_frontend_docker_build: any of: frontend/**/*
  backend_docker_build: (not (any of: backend/**/*)) and (any of: backend/**/*)
  preprod_backend_publish: any of: backend/**/*
  preprod_frontend_publish: any of: frontend/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  backend_test: any of: backend/**/*
  frontend_test: any of: frontend/**/*
  ts-prune-backend: any of: backend/**/*

chore(deps-dev): bump prettier from 2.8.3 to 2.8.4 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump prisma from 4.9.0 to 4.10.1 in /backend
  backend/package-lock.json
  backend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

chore(deps-dev): bump eslint and @nuxtjs/eslint-config-typescript
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore(deps-dev): bump jest from 29.4.1 to 29.4.2 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore(deps-dev): bump jest-environment-jsdom in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore(deps-dev): bump prettier from 2.8.3 to 2.8.4 in /frontend
  frontend/package-lock.json
  frontend/package.json
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

fix: :bug: Move export button to manage-users card in /humans
  frontend/pages/humans.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

versions
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

Resolve "Permettre aux humains d'exporter les utilisateurs"
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/humans.vue
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Back): check if ft is deleted in userRequest conflict #582
  backend/src/ft_user_request/ft_user_request.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

chore: Update version #582
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

fix(Back): check if ft is deleted in userRequest for conflict #582
  backend/package-lock.json
  backend/package.json
  backend/src/ft_user_request/ft_user_request.service.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat: :sparkles: add volunteer availabilities #819
  frontend/domain/volunteer-availability/volunteer-availability.spec.ts
  frontend/domain/volunteer-availability/volunteer-availability.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

fix(availability): adding period rules. #819
  frontend/domain/volunteer-availability/volunteer-availability.error.ts
  frontend/domain/volunteer-availability/volunteer-availability.spec.ts
  frontend/domain/volunteer-availability/volunteer-availability.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat: ✨ add volunteer availabilities #819
  frontend/domain/volunteer-availability/volunteer-availability.error.ts
  frontend/domain/volunteer-availability/volunteer-availability.spec.ts
  frontend/domain/volunteer-availability/volunteer-availability.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Availabilities): :sparkles: generate resource charisma group
  backend/src/app.module.ts
  backend/src/charisma_group/charisma_group.controller.ts
  backend/src/charisma_group/charisma_group.module.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Availabilities): :sparkles: add dtos charisma group
  backend/src/charisma_group/dto/charismaGroupResponse.dto.ts
  backend/src/charisma_group/dto/createCharsimaGroup.dto.ts
  backend/src/charisma_group/dto/updateCharismaGroup.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

chore(version): :memo: bump version
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(Availabilities): :sparkles: fill charisma group service
  backend/src/charisma_group/charisma_group.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Availabilities): :sparkles: Complete Charisma Group DTO
  backend/src/charisma_group/charisma_group.controller.ts
  backend/src/charisma_group/charisma_group.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Availabilities): :sparkles: better permission handling
  backend/src/charisma_group/charisma_group.controller.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Availabilities): :fire: better naming
  backend/prisma/migrations/20230211130906_add_availabilities/migration.sql
  backend/prisma/migrations/20230214173339_add_availabilities/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(Availabilities): :fire: Rename charisma group to period
  backend/src/app.module.ts
  backend/src/charisma_group/charisma_group.controller.ts
  backend/src/charisma_group/charisma_group.module.ts
  backend/src/charisma_group/charisma_group.service.ts
  backend/src/charisma_group/dto/updateCharismaGroup.dto.ts
  backend/src/charisma_period/charisma_period.controller.ts
  backend/src/charisma_period/charisma_period.module.ts
  backend/src/charisma_period/charisma_period.service.ts
  backend/src/charisma_period/dto/charismaPeriodResponse.dto.ts
  backend/src/charisma_period/dto/createCharismaPeriod.dto.ts
  backend/src/charisma_period/dto/updateCharismaPeriod.dto.ts
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

fix(Availabilities): :zap: improve model
  backend/prisma/migrations/20230211130906_add_availabilities/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Availabilities): :sparkles: create model
  .vscode/project.code-workspace
  backend/prisma/migrations/20230211090858_add_availabilities/migration.sql
  backend/prisma/schema.prisma
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, backend_lint, backend_ts-prune, backend_scan, preprod_backend_publish, m-r_backend_container, preprod_backend_container, lintage-backend, backend_test, ts-prune-backend

feat(Availabilities): :sparkles: create availability system
  .vscode/project.code-workspace
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20230214173339_add_availabilities/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/charisma_period/charisma_period.controller.ts
  backend/src/charisma_period/charisma_period.module.ts
  backend/src/charisma_period/charisma_period.service.ts
  backend/src/charisma_period/dto/charismaPeriodResponse.dto.ts
  backend/src/charisma_period/dto/createCharismaPeriod.dto.ts
  backend/src/charisma_period/dto/updateCharismaPeriod.dto.ts
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend

feat(availability): manage user availabilities from a registery. #819
  frontend/domain/volunteer-availability/volunteer-availability.registery.spec.ts
  frontend/domain/volunteer-availability/volunteer-availability.registery.ts
  frontend/domain/volunteer-availability/volunteer-availability.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: Init components Availabilities #819
  frontend/components/molecules/timeframe/AvailabilitiesCreationCalendar.vue
  frontend/components/molecules/timeframe/AvailabilitiesCreationForm.vue
  frontend/components/molecules/timeframe/AvailabilitiesCreationTable.vue
  frontend/layouts/default.vue
  frontend/pages/createAvailibility.vue
  frontend/pages/createavailibility.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :art: remove id from update charisma period #819
  frontend/repositories/charismaPeriodRepo.ts
  frontend/store/charismaPeriod.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: add Availabilities Creation Table #819
  frontend/components/molecules/timeframe/AvailabilitiesCreationTable.vue
  frontend/pages/createAvailibility.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: add calendar check #819
  frontend/components/molecules/timeframe/AvailabilitiesCreationCalendar.vue
  frontend/components/molecules/timeframe/AvailabilitiesCreationForm.vue
  frontend/components/molecules/timeframe/AvailabilitiesCreationTable.vue
  frontend/components/molecules/timeframe/FestivalEventCalendar.vue
  frontend/pages/createAvailibility.vue
  frontend/store/calendar.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :art: item in default #819
  frontend/layouts/default.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

style(Front): :art: change datefield style #819
  frontend/components/molecules/timeframe/CharismaPeriodForm.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: add charisma get requests and fix errors #819
  frontend/components/molecules/timeframe/CharismaPeriodCalendar.vue
  frontend/components/molecules/timeframe/CharismaPeriodForm.vue
  frontend/components/molecules/timeframe/CharismaPeriodTable.vue
  frontend/pages/charismaPeriod.vue
  frontend/repositories/charismaPeriodRepo.ts
  frontend/store/charismaPeriod.ts
  frontend/utils/models/charismaPeriod.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :art: refactor createAvailability link #819
  frontend/layouts/default.vue
  frontend/pages/createAvailability.vue
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: add model, store, repo for Charisma Period #819
  frontend/repositories/availabilityRepo.ts
  frontend/repositories/charismaPeriodRepo.ts
  frontend/repositories/repoFactory.ts
  frontend/store/charismaPeriod.ts
  frontend/store/index.ts
  frontend/utils/models/charismaPeriod.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :art: charisma period model & files # 819
  frontend/components/molecules/timeframe/AvailabilitiesCreationForm.vue
  frontend/components/molecules/timeframe/CharismaPeriodCalendar.vue
  frontend/components/molecules/timeframe/CharismaPeriodForm.vue
  frontend/components/molecules/timeframe/CharismaPeriodTable.vue
  frontend/layouts/default.vue
  frontend/pages/charismaPeriod.vue
  frontend/pages/createAvailability.vue
  frontend/repositories/charismaPeriodRepo.ts
  frontend/store/charismaPeriod.ts
  frontend/utils/models/charismaPeriod.ts
  frontend/utils/rules/inputRules.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

feat(Front): :sparkles: add availabilities creation calendar #819
  frontend/components/molecules/timeframe/AvailabilitiesCreationCalendar.vue
  frontend/components/molecules/timeframe/AvailabilitiesCreationForm.vue
  frontend/components/molecules/timeframe/AvailabilitiesCreationTable.vue
  frontend/components/molecules/timeframe/FestivalEventCalendar.vue
  frontend/store/calendar.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

refactor(Front): :lipstick: charisma period calendar colors #819
  frontend/components/molecules/timeframe/CharismaPeriodCalendar.vue
  frontend/store/charismaPeriod.ts
Due: frontend_build, frontend_lint, frontend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_frontend_publish, m-r_frontend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, frontend_test

chore: Update version #819
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: containerize-backend, merge_requests_containerize-backend, backend-test, backend_build, frontend_build, frontend_lint, backend_lint, backend_ts-prune, frontend_scan, backend_scan, preprod_frontend_docker_build, prod_frontend_docker_build, preprod_backend_publish, preprod_frontend_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend, backend_test, frontend_test, ts-prune-backend
