Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

preprod_overbookd-api_publish:
  stage: docker-publish
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - apk update
  - apk add jq
  - VERSION_TAG=${VERSION_TAG_PREFIX}$(jq -r '.version' ./${APP_PATH}/package.json)
  ...

preprod_overbookd-web_publish:
  stage: docker-publish
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - apk update
  - apk add jq
  - VERSION_TAG=${VERSION_TAG_PREFIX}$(jq -r '.version' ./${APP_PATH}/package.json)
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

style: ✍ run format and lint on all modules
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat: user domain creation #1166
  domains/user/package.json
  domains/user/src/index.ts
  domains/user/src/user.ts
  domains/user/tsconfig.json
Due: install

feat: Add User domain and implement it in Api #1166
  apps/api/package.json
  apps/api/src/assignment/assignment.service.ts
  apps/api/src/assignment/ft-time-span.service.ts
  apps/api/src/assignment/volunteer.service.ts
  apps/api/src/authentication/authentication.service.ts
  apps/api/src/ft-user-request/ft-user-request.service.ts
  apps/api/src/need-help/dto/volunteer.response.dto.ts
  apps/api/src/need-help/need-help.model.ts
  apps/api/src/need-help/volunteer.repository.prisma.ts
  apps/api/src/transaction/transaction.service.ts
  apps/api/src/user/dto/create-user.request.dto.ts
  apps/api/src/user/dto/my-user-information.response.dto.ts
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/dto/user-personnal-data.response.dto.ts
  apps/api/src/user/dto/user-with-teams-and-permissions.response.dto.ts
  apps/api/src/user/dto/user-without-password.response.dto.ts
  apps/api/src/user/dto/volunteer-assignment-stat.response.dto.ts
  apps/api/src/user/profile-picture.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.model.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/api/src/utils/assignment.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  domains/user/package.json
  domains/user/src/index.ts
  domains/user/src/user-form.model.ts
  domains/user/src/user.model.ts
  domains/user/tsconfig.build.json
  domains/user/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: expose ci:init to set up precommit. #1176
  package.json
Due: none

fix(ci): also install conventional commit related hook in precommit. #1176
  package.json
Due: none

fix(ci): install pre commit properly on dev in container. #1176
  .devcontainer/devcontainer.json
Due: none

chore: bump conventional-pre-commit to v2.4.0. #1176
  .pre-commit-config.yaml
Due: none

feat(ci): enable renovate on pre-commit. #1176
  renovate.json
Due: none

chore: expose ci:init to set up precommit. #1176
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  package.json
  renovate.json
Due: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v3.4.0
  .pre-commit-config.yaml
Due: none

fix(ci): use get-pip.py to install pip. #1176
  package.json
Due: none

chore(deps): update dependency @types/node to v20.5.1
  apps/api/package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore(deps): update typescript-eslint monorepo to v6.4.1
  package.json
  pnpm-lock.yaml
Due: none

fix: pages link #1204
  apps/web/components/organisms/user/personnalAccount/PersonnalAccountCard.vue
  apps/web/pages/charisma-periods.vue
  apps/web/pages/my-transactions.vue
  apps/web/pages/public-animations.vue
  apps/web/pages/volunteers.vue
  apps/web/utils/pages/pages-list.ts
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore: Update version #1204
  apps/web/package.json
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(web): les liens vers les pages renommées #1204
  apps/web/components/organisms/user/personnalAccount/PersonnalAccountCard.vue
  apps/web/package.json
  apps/web/pages/charisma-periods.vue
  apps/web/pages/my-transactions.vue
  apps/web/pages/public-animations.vue
  apps/web/pages/volunteers.vue
  apps/web/utils/pages/pages-list.ts
  package.json
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

feat: inject and display root version on api and web. #1191
  .gitlab/ci/docker-build.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/src/app.service.ts
  apps/web/Dockerfile
  apps/web/layouts/default.vue
  apps/web/nuxt.config.js
  apps/web/pages/login.vue
  docker/docker-compose.yml
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style(web): display version on white on login screen. #1191
  apps/web/pages/login.vue
Due: @overbookd/web_build, preprod_overbookd-web_publish, install, overbookd/web_test

fix(ci): default to WEB_VERSION on build phase. #1191
  .gitlab/ci/docker-build.gitlab-ci.yml
Due: none

fix(ci): set OVERBOOKD_VERSION for dev in container. #1191
  .devcontainer/devcontainer.json
Due: none

fix(ci): enable pnpm dev commands on M1 core. #1191
  package.json
Due: none

refactor(docker): :whale: export OVERBOOKD_VERSION at launch
  .devcontainer/devcontainer.json
  .vscode/settings.json
  docker/Dockerfile
  docker/docker-compose.yml
  package.json
Due: none

feat(docker): :whale: restart container when version is updated
  apps/api/package.json
  apps/web/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: restart all containers on version bump. #1191
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

fix: commands and config for M1 core. #1191
  .npmrc
Due: none

chore: update version. #1191
  apps/api/package.json
  apps/web/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

perf: restart only api and web containers. #1191
  package.json
Due: none

feat: inject and display root version on api and web. #1191
  .gitlab/ci/docker-build.gitlab-ci.yml
  .npmrc
  .vscode/settings.json
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/app.service.ts
  apps/web/Dockerfile
  apps/web/layouts/default.vue
  apps/web/nuxt.config.js
  apps/web/package.json
  apps/web/pages/login.vue
  docker/Dockerfile
  docker/docker-compose.yml
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

style: ✍ run format and lint on all modules
  apps/api/src/catalog/catalog.service.spec.ts
  libraries/string/src/slugify.utils.ts
  libraries/string/src/string.utils.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: add slugify function #1196
  libraries/slugify/src/slugify.ts
Due: install

feat: add string lib #1196
  libraries/string/package.json
  libraries/string/src/index.ts
  libraries/string/src/slugify.utils.ts
  libraries/string/tsconfig.json
Due: install

style(Api): ✍ Linted api files
  apps/api/src/catalog/catalog.service.ts
  apps/api/src/catalog/category.service.ts
  apps/api/src/inventory/inventory.service.spec.ts
  apps/api/src/inventory/inventory.service.ts
  apps/api/src/team/team.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: impement slugify lib in api #1196
  apps/api/package.json
  apps/api/prisma/seed.ts
  apps/api/src/catalog/catalog.service.spec.ts
  apps/api/src/catalog/catalog.service.ts
  apps/api/src/catalog/category.service.spec.ts
  apps/api/src/catalog/category.service.ts
  apps/api/src/common/common.module.ts
  apps/api/src/common/services/slugify.service.ts
  apps/api/src/inventory/inventory.service.spec.ts
  apps/api/src/inventory/inventory.service.ts
  apps/api/src/permission/permission.module.ts
  apps/api/src/team/team.service.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.library-import.json
  vitest.config.ts
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

refactor: add readonly #1196
  libraries/slugify/src/slugify.ts
Due: install

feat: add string utils #1196
  libraries/string/src/index.ts
  libraries/string/src/slugify.utils.ts
  libraries/string/src/string.utils.ts
Due: install

fix: build cmd #1196
  libraries/string/package.json
Due: install

refactor: add applyOnOptional for slugify lib #1196
  apps/api/src/catalog/catalog.service.ts
  apps/api/src/catalog/category.service.ts
  apps/api/src/inventory/inventory.service.ts
  libraries/slugify/src/slugify.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(web): add tsconfig in lib #1196
  libraries/string/package.json
  libraries/string/tsconfig.build.json
Due: install

fix(api): use slugify with optional arg #1196
  apps/api/src/catalog/catalog.service.ts
  apps/api/src/catalog/category.service.ts
  apps/api/src/inventory/inventory.service.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
