Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(web): fetch middleware store data only if needed #2530
  apps/web/middleware/05.store-data.global.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2530
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): fetch middleware store data only if needed #2530
  apps/web/middleware/05.store-data.global.ts
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(assignment): icon visible in task orga #2527
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteer.query.ts
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2527
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(assignment): show preference icons in task-orga mode #2527
  apps/api/package.json
  apps/api/src/assignment/task-to-volunteer/repository/assignable-volunteer.query.ts
  apps/web/components/molecules/assignment/resume/AssignmentVolunteerResume.vue
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.46.0
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix: add filters #2519
  apps/api/prisma/seeders/permissions.ts
  apps/web/pages/fa/dashboard/logistic.vue
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: remove duplicate seeder #2528
  apps/api/prisma/seeders/permissions.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: filters in api #2528
  apps/api/src/festival-event/activity/common/festival-activity-common.model.ts
  apps/api/src/festival-event/activity/common/logistic/filter-activities-by-gear-inquiry.spec.ts
  apps/api/src/festival-event/activity/common/logistic/filter-activities-by-gear-inquiry.ts
  apps/api/src/festival-event/activity/common/repository/previews.prisma.ts
  apps/api/src/festival-event/activity/common/repository/previews.query.ts
  apps/api/src/festival-event/activity/preview/dto/for-logistic-preview.response.dto.ts
  apps/api/src/festival-event/activity/preview/dto/gear-inquiry-search-options.request.dto.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.controller.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.service.ts
  apps/web/components/molecules/logistic/GearFilter.vue
  apps/web/pages/fa/dashboard/logistic.vue
  apps/web/repositories/festival-event/festival-activity.repository.ts
  apps/web/stores/festival-event/festival-activity.ts
  apps/web/utils/http/http-param.ts
  utils/http/src/festival-event/festival-activity.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: update versions #2528
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: empty http params #2528
  apps/api/src/festival-event/activity/common/logistic/filter-activities-by-gear-inquiry.spec.ts
  apps/web/pages/fa/dashboard/logistic.vue
  apps/web/utils/http/http-param.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: slugify values #2528
  apps/api/src/festival-event/activity/common/logistic/filter-activities-by-gear-inquiry.spec.ts
  apps/api/src/festival-event/activity/common/logistic/filter-activities-by-gear-inquiry.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: move condition in prisma request #2528
  apps/api/src/festival-event/activity/common/logistic/filter-activities-by-gear-inquiry.spec.ts
  apps/api/src/festival-event/activity/common/logistic/filter-activities-by-gear-inquiry.ts
  apps/api/src/festival-event/activity/common/repository/previews.prisma.ts
  apps/api/src/festival-event/activity/common/repository/previews.query.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: move code in new function #2528
  apps/api/src/festival-event/activity/common/repository/previews.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

refactor: condition #2528
  apps/api/src/festival-event/activity/common/repository/previews.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(fa): add filters on fa logistic dashboard #2519
  apps/api/package.json
  apps/api/src/festival-event/activity/common/festival-activity-common.model.ts
  apps/api/src/festival-event/activity/common/repository/previews.prisma.ts
  apps/api/src/festival-event/activity/common/repository/previews.query.ts
  apps/api/src/festival-event/activity/preview/dto/for-logistic-preview.response.dto.ts
  apps/api/src/festival-event/activity/preview/dto/gear-inquiry-search-options.request.dto.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.controller.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.service.ts
  apps/web/components/molecules/logistic/GearFilter.vue
  apps/web/package.json
  apps/web/pages/fa/dashboard/logistic.vue
  apps/web/repositories/festival-event/festival-activity.repository.ts
  apps/web/stores/festival-event/festival-activity.ts
  apps/web/utils/http/http-param.ts
  package.json
  utils/http/package.json
  utils/http/src/festival-event/festival-activity.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.46.1
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

feat(planning): add tooltip for confirm button and handle keyboard events in dialog #2522
  apps/web/components/atoms/card/ConfirmationDialogCard.vue
  apps/web/components/molecules/planning/CreateBreakPeriodDialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(planning): delete useless key event and tabindex
  apps/web/components/atoms/card/ConfirmationDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: fix mistakes
  apps/web/components/molecules/planning/DeleteBreakPeriodFialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(planning): fix event listener
  apps/web/components/atoms/card/ConfirmationDialogCard.vue
  apps/web/components/atoms/card/DialogCard.vue
  apps/web/components/molecules/planning/CreateBreakPeriodDialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: refactor ConfirmationDialog
  apps/web/components/atoms/card/ConfirmationDialogCard.vue
  apps/web/components/molecules/planning/DeleteBreakPeriodFialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: add style
  apps/web/components/molecules/planning/DeleteBreakPeriodFialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(planning): handle keyboard events in dialog #2522
  apps/web/components/atoms/card/ConfirmationDialogCard.vue
  apps/web/components/atoms/card/DialogCard.vue
  apps/web/components/molecules/planning/CreateBreakPeriodDialogCard.vue
  apps/web/components/molecules/planning/DeleteBreakPeriodFialogCard.vue
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

test(assignment): add missing use case. #2517
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.spec.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.test-utils.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(chip): add padding to v-chip for better spacing
  apps/web/components/atoms/chip/TeamChip.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

test(assignment): add more tests to check state. #2517
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteer-funnel.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix(assignment): naive approach to fix test. #2517
  domains/assignment/src/assign-task-to-volunteer/funnel/funnel-shared-logic.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions #2517
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(assignment): don't count already assigned volunteers when checking remaning demands. #2517
  apps/api/package.json
  apps/web/components/atoms/chip/TeamChip.vue
  apps/web/package.json
  domains/assignment/package.json
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteer-funnel.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.spec.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/assign-volunteers-funnel.test-utils.ts
  domains/assignment/src/assign-task-to-volunteer/funnel/funnel-shared-logic.ts
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(assignment): refresh volunteer data on assignment changes #25
  apps/web/components/molecules/assignment/list/TaskAssignmentList.vue
  apps/web/components/organisms/assignment/calendar/OrgaTaskCalendar.vue
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/pages/assignment/orga-task.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2532
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(assignment): refresh volunteer data on assignment changes #2532
  apps/web/components/molecules/assignment/list/TaskAssignmentList.vue
  apps/web/components/organisms/assignment/calendar/OrgaTaskCalendar.vue
  apps/web/components/organisms/assignment/list/FilterableTaskAssignmentList.vue
  apps/web/package.json
  apps/web/pages/assignment/orga-task.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(planning): changed prisma request to use Period classe
  apps/api/src/assignment/common/repository/assignments.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(planning): changed volunteer selection mean to account for edge cases
  apps/api/src/assignment/common/repository/assignments.prisma.ts
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  utils/http/src/planning/task.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(planning): minor refactor
  apps/api/src/assignment/common/repository/assignments.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat(planning): Added volunteer list in popup for assignement
  apps/api/src/assignment/common/dto/task-for-calendar.response.dto.ts
  apps/api/src/assignment/common/repository/assignments.prisma.ts
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  utils/http/src/planning/task.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

refactor: prisma selection #2514
  apps/api/src/assignment/common/repository/assignments.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test
