Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-api_docker_build:
  needs:
  - overbookd-api_docker_pre_build
  variables:
    APP_PATH: apps/api
    APP_NAME: api

chore(deps): update dependency jose to v6
  domains/registration/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: remove useless decorators #757
  apps/api/src/charisma-period/charisma-period.controller.ts
  apps/api/src/friend/friend.controller.ts
  apps/api/src/notification/live/live-notification.controller.ts
  apps/api/src/notification/notification.controller.ts
  apps/api/src/registration/index/registration.controller.ts
  apps/api/src/registration/membership-application/staff/staff-membership-application.controller.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.controller.ts
  apps/api/src/user/preference/preference.controller.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/volunteer-availability/volunteer-availability.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: test and decorators #757
  apps/api/src/app.controller.ts
  apps/api/src/assignment/task-to-volunteer/task-to-volunteer.controller.ts
  apps/api/src/assignment/volunteer-to-task/volunteer-to-task.controller.ts
  apps/api/src/catalog-signage/catalog-signage.controller.ts
  apps/api/src/charisma-event/charisma-event.controller.ts
  apps/api/src/charisma-period/charisma-period.controller.ts
  apps/api/src/configuration/configuration.controller.ts
  apps/api/src/contribution/contribution.controller.ts
  apps/api/src/festival-event/activity/overview/festival-activity-overview.controller.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.controller.ts
  apps/api/src/festival-event/activity/review/festival-activity-review.controller.ts
  apps/api/src/festival-event/activity/sections/general-section/general-section.controller.ts
  apps/api/src/festival-event/activity/sections/in-charge-section/in-charge-section.controller.ts
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.controller.ts
  apps/api/src/festival-event/activity/sections/security-section/security-section.controller.ts
  apps/api/src/festival-event/activity/sections/signa-section/signa-section.controller.ts
  apps/api/src/festival-event/activity/sections/supply-section/supply-section.controller.ts
  apps/api/src/festival-event/task/overview/festival-task-overview.controller.ts
  apps/api/src/festival-event/task/preview/festival-task-preview.controller.ts
  apps/api/src/festival-event/task/review/festival-task-review.controller.ts
  apps/api/src/festival-event/task/sections/general/general-section.controller.ts
  apps/api/src/festival-event/task/sections/inquiry/inquiry-section.controller.ts
  apps/api/src/festival-event/task/sections/instructions/instructions-section.controller.ts
  apps/api/src/festival-event/task/sections/mobilization/mobilization-section.controller.ts
  apps/api/src/friend/friend.controller.ts
  apps/api/src/location/location.controller.ts
  apps/api/src/logistic/borrow/borrow.controller.ts
  apps/api/src/need-help/need-help.controller.ts
  apps/api/src/notification/notification.controller.ts
  apps/api/src/registration/membership-application/staff/staff-membership-application.controller.ts
  apps/api/src/registration/membership-application/volunteer/volunteer-membership-application.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #757
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat(timeline): add current time marker #1080
  apps/web/components/molecules/timeline/TimelineAxis.vue
  apps/web/components/molecules/timeline/TimelineFormCards.vue
  apps/web/utils/number.utils.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: increase timer delay #1080
  apps/web/components/molecules/timeline/TimelineAxis.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: reactive #1080
  apps/web/components/molecules/timeline/TimelineAxis.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #1080
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(timeline): add current time marker #1080
  apps/web/components/molecules/timeline/TimelineAxis.vue
  apps/web/components/molecules/timeline/TimelineFormCards.vue
  apps/web/package.json
  apps/web/utils/number.utils.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(transactions): display username with nickname on page with all transactions #2553
  apps/web/components/organisms/personal-account/AllTransactionsListCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2553
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(transactions): display username with nickname on page with all transactions #2553
  apps/web/components/organisms/personal-account/AllTransactionsListCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(borrow): throw an error if period has no duration #2415
  apps/api/src/main.ts
  apps/api/src/period.filter.ts
  domains/logistic/src/borrow/borrow.error.ts
  domains/logistic/src/borrow/init/init.spec.ts
  domains/logistic/src/borrow/init/init.ts
  domains/logistic/src/borrow/plan/plan.spec.ts
  domains/logistic/src/borrow/plan/plan.ts
  libraries/time/src/index.ts
  libraries/time/src/period/period.error.ts
  libraries/time/src/period/period.ts
Due: overbookd/api_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: update versions #2415
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/volunteer-availability/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: test message #2415
  domains/logistic/src/borrow/init/init.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: remove useless export #2415
  domains/logistic/src/borrow/borrow.error.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

fix: imports #2415
  libraries/time/src/period/period.spec.ts
Due: overbookd/libraries_build, overbookd/format, overbookd/prune, install, overbookd/libraries_unit_test

fix(borrow): throw an error if period has no duration #2415
  apps/api/package.json
  apps/api/src/main.ts
  apps/api/src/period.filter.ts
  apps/web/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/logistic/src/borrow/borrow.error.ts
  domains/logistic/src/borrow/init/init.spec.ts
  domains/logistic/src/borrow/init/init.ts
  domains/logistic/src/borrow/plan/plan.spec.ts
  domains/logistic/src/borrow/plan/plan.ts
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/volunteer-availability/package.json
  libraries/time/package.json
  libraries/time/src/index.ts
  libraries/time/src/period/period.error.ts
  libraries/time/src/period/period.spec.ts
  libraries/time/src/period/period.ts
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(charisma): update charisma after adding an event #2248
  apps/web/components/organisms/charisma/CharismaEventParticipantTableCard.vue
  apps/web/pages/charisma/events/manage.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2248
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(charisma): update charisma after adding an event #2248
  apps/web/components/organisms/charisma/CharismaEventParticipantTableCard.vue
  apps/web/package.json
  apps/web/pages/charisma/events/manage.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: field label #2488
  apps/web/components/organisms/logistic/purchase/PurchaseTableCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(logistic): add search field on borrow and purchase lists #2488
  apps/web/components/organisms/logistic/borrow/BorrowTableCard.vue
  apps/web/components/organisms/logistic/purchase/PurchaseTableCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2488
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(logistic): add search field on borrow and purchase lists #2488
  apps/web/components/organisms/logistic/borrow/BorrowTableCard.vue
  apps/web/components/organisms/logistic/purchase/PurchaseTableCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: height #2346
  apps/web/pages/fa/[id].vue
  apps/web/pages/ft/[id].vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: nav divider thickness #2346
  apps/web/layouts/navigation/SideNavHelpItemList.vue
  apps/web/layouts/navigation/SideNavPageList.vue
  apps/web/layouts/navigation/side-nav-list.scss
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(festival-event): add page loading #2436
  apps/web/components/organisms/volunteer/trombinoscope/Trombinoscope.vue
  apps/web/pages/fa/[id].vue
  apps/web/pages/ft/[id].vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2346
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(festival-event): add page loading #2346
  apps/web/components/organisms/volunteer/trombinoscope/Trombinoscope.vue
  apps/web/layouts/navigation/SideNavHelpItemList.vue
  apps/web/layouts/navigation/SideNavPageList.vue
  apps/web/layouts/navigation/side-nav-list.scss
  apps/web/package.json
  apps/web/pages/fa/[id].vue
  apps/web/pages/ft/[id].vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(festival-task): prevent task administrator from being a humain reviewer #2555
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/festival-task.fake.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

chore: update versions #2555
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): prevent task administrator from being a humain reviewer #2555
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/festival-task.fake.ts
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(planning): improves code to optimize database calls #1913
  apps/api/src/user/planning/planning.controller.ts
  apps/api/src/user/planning/planning.module.ts
  apps/api/src/user/planning/planning.service.ts
  apps/api/src/user/planning/render/pdf-render-strategy.ts
  apps/api/src/user/planning/render/pdf/talkie-frequencies.ts
  apps/api/src/user/planning/render/render-strategy.ts
  apps/api/src/user/planning/repository/volunteers.prisma.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1913
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
