Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update node.js to v20.11.1
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/release.gitlab-ci.yml
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

prefeat(festival-task): implement ask-for-review in api #1580
  apps/api/prisma/schema.prisma
  apps/api/src/festival-activity/common/festival-activity-common.module.ts
  apps/api/src/festival-task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-task/common/festival-task-common.module.ts
  apps/api/src/festival-task/common/repository/ask-for-review.prisma.ts
  apps/api/src/festival-task/common/repository/festival-task.builder.ts
  apps/api/src/festival-task/common/repository/festival-task.query.ts
  apps/api/src/festival-task/common/repository/notifications.prisma.ts
  apps/api/src/festival-task/common/repository/reviewers.prisma.ts
  apps/api/src/festival-task/common/repository/reviews.query.ts
  apps/api/src/festival-task/review/festival-task-review.controller.ts
  apps/api/src/festival-task/review/festival-task-review.module.ts
  apps/api/src/festival-task/review/festival-task-review.service.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/index.ts
  utils/domain-events/src/domain-events.ts
  utils/domain-events/src/festival-task.ts
Due: overbookd/api_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix(festival-task): add missing event listen #1580
  apps/api/src/domain-event/domain-event.service.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  utils/domain-events/src/index.ts
Due: overbookd/api_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix(festival-task): add migration #1580
  apps/api/prisma/migrations/20240219184247_add_task_reviews/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/festival-task/common/repository/festival-task.builder.ts
  apps/api/src/festival-task/common/repository/festival-task.query.ts
  apps/api/src/festival-task/common/repository/reviews.query.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(festival-task): upsert in review #1580
  apps/api/src/festival-task/common/repository/ask-for-review.prisma.ts
  apps/api/src/festival-task/common/repository/festival-task.builder.ts
  apps/api/src/festival-task/common/repository/festival-task.query.ts
  domains/festival-event/src/festival-task/ask-for-review/in-review-specification.ts
Due: overbookd/api_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix: inject right module #1580
  apps/api/src/festival-task/review/festival-task-review.module.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: remove useless const
  apps/api/src/festival-task/common/repository/festival-task.query.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1580
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): add missing dto #1580
  apps/api/src/festival-task/common/dto/base-mobilization.response.dto.ts
  apps/api/src/festival-task/common/dto/draft/draft-festival-task.response.dto.ts
  apps/api/src/festival-task/common/dto/draft/draft-mobilization.response.dto.ts
  apps/api/src/festival-task/common/dto/feedback.response.dto.ts
  apps/api/src/festival-task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-task/common/dto/reviewable/reviewable-general.response.dto.ts
  apps/api/src/festival-task/common/dto/reviewable/reviewable-instructions.response.dto.ts
  apps/api/src/festival-task/common/dto/reviewable/reviewable-mobilization.response.dto.ts
  apps/api/src/festival-task/common/dto/reviewable/reviews.response.dto.ts
  apps/api/src/festival-task/common/dto/team-mobilization.response.dto.ts
  apps/api/src/festival-task/common/dto/volunteer-with-conflicts.response.dto.ts
  apps/api/src/festival-task/review/festival-task-review.service.ts
  domains/festival-event/src/festival-task/sections/instructions.ts
  domains/festival-event/src/festival-task/sections/mobilizations.ts
  domains/festival-event/src/index.ts
  utils/domain-events/src/festival-task.ts
Due: overbookd/api_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

fix: app module imports #1580
  apps/api/src/app.module.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

style: ✍ run format and lint on all modules
  apps/api/src/festival-event/activity/sections/signa-section/signa-section.service.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-mobilization.response.dto.ts
  apps/api/src/festival-event/task/sections/mobilization/dto/add-mobilization.request.dto.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: imports #1580
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.service.ts
  apps/api/src/festival-event/activity/sections/signa-section/signa-section.service.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

style: ✍ run format and lint on all modules
  apps/api/src/festival-event/task/sections/mobilization/dto/add-mobilization.request.dto.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: dto types #1580
  apps/api/src/festival-event/activity/common/dto/draft/draft-inquiry.response.dto.ts
  apps/api/src/festival-event/activity/sections/general-section/general-section.controller.ts
  apps/api/src/festival-event/activity/sections/inquiry-section/dto/init-inquiry.request.dto.ts
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.controller.ts
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.service.ts
  apps/api/src/festival-event/common/dto/period.request.dto.ts
  apps/api/src/festival-event/common/dto/period.response.dto.ts
  apps/api/src/festival-event/common/dto/time-window.response.dto.ts
  apps/api/src/festival-event/task/common/dto/draft/draft-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/dto/draft/draft-general.response.dto.ts
  apps/api/src/festival-event/task/common/dto/draft/draft-instructions.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-general.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-instructions.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviews.response.dto.ts
  apps/api/src/festival-event/task/review/festival-task-review.controller.ts
  apps/api/src/festival-event/task/sections/mobilization/dto/add-mobilization.request.dto.ts
  apps/api/src/festival-event/task/sections/mobilization/dto/update-mobilization.request.dto.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

refactor(festival-task): use objects in service params #1580
  apps/api/src/festival-event/task/overview/festival-activity-overview.module.ts
  apps/api/src/festival-event/task/overview/festival-activity-overview.service.ts
  apps/api/src/festival-event/task/review/festival-task-review.module.ts
  apps/api/src/festival-event/task/review/festival-task-review.service.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(planning): display mobilzation user is part of on it calendar. #1572
  apps/api/src/user/user.controller.ts
  apps/api/src/volunteer-planning/domain/planning.spec.ts
  apps/api/src/volunteer-planning/domain/planning.ts
  apps/api/src/volunteer-planning/domain/task.repository.inmemory.ts
  apps/api/src/volunteer-planning/dto/planning-task.response.dto.ts
  apps/api/src/volunteer-planning/task.repository.prisma.ts
  apps/api/src/volunteer-planning/volunteer-planning.service.ts
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/repositories/user.repository.ts
  apps/web/store/assignment.ts
  apps/web/store/user.ts
  apps/web/utils/models/user.model.ts
  utils/http/src/index.ts
  utils/http/src/planning.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(web): handle events without link. #1572
  apps/web/components/molecules/calendar/OverCalendar.vue
  apps/web/components/organisms/planning/UserCalendar.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): calendar event types. #1572
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/utils/models/calendar.model.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1572
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(web): remove commented code. #1572
  apps/web/components/organisms/planning/UserCalendar.vue
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(planning): display mobilzations user is part of on it calendar. #1572
  apps/api/package.json
  apps/api/src/user/user.controller.ts
  apps/api/src/volunteer-planning/domain/planning.spec.ts
  apps/api/src/volunteer-planning/domain/planning.ts
  apps/api/src/volunteer-planning/domain/task.repository.inmemory.ts
  apps/api/src/volunteer-planning/dto/planning-task.response.dto.ts
  apps/api/src/volunteer-planning/task.repository.prisma.ts
  apps/api/src/volunteer-planning/volunteer-planning.service.ts
  apps/web/components/molecules/calendar/OverCalendar.vue
  apps/web/components/organisms/planning/UserCalendar.vue
  apps/web/package.json
  apps/web/repositories/user.repository.ts
  apps/web/store/assignment.ts
  apps/web/store/user.ts
  apps/web/utils/models/calendar.model.ts
  apps/web/utils/models/user.model.ts
  package.json
  utils/http/package.json
  utils/http/src/index.ts
  utils/http/src/planning.ts
Due: overbookd/api_build, overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(api): remove dev logs. #1587
  apps/api/src/volunteer-availability/volunteer-availability.service.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions. #1587
  apps/api/package.json
  package.json
Due: overbookd/api_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(api): remove dev logs. #1587
  apps/api/package.json
  apps/api/src/volunteer-availability/volunteer-availability.service.ts
  package.json
Due: overbookd/api_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(api): dto definition. #1588
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-instructions.response.dto.ts
Due: overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions. #1588
  apps/api/package.json
  package.json
Due: overbookd/api_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(api): dto definition. #1588
  apps/api/package.json
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-festival-task.response.dto.ts
  apps/api/src/festival-event/task/common/dto/reviewable/reviewable-instructions.response.dto.ts
  package.json
Due: overbookd/api_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat(festival-task): implement ask for review in web #1583
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/repositories/festival-task.repository.ts
  apps/web/store/festivalTask.ts
  apps/web/utils/festival-event/festival-activity/festival-activity.utils.ts
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix: dto in controller #1583
  apps/api/src/festival-event/activity/overview/festival-activity-overview.controller.ts
  apps/api/src/festival-event/activity/preview/festival-activity-preview.controller.ts
  apps/api/src/festival-event/activity/review/festival-activity-review.controller.ts
  apps/api/src/festival-event/activity/sections/general-section/general-section.controller.ts
  apps/api/src/festival-event/activity/sections/in-charge-section/in-charge-section.controller.ts
  apps/api/src/festival-event/activity/sections/inquiry-section/inquiry-section.controller.ts
  apps/api/src/festival-event/activity/sections/security-section/security-section.controller.ts
  apps/api/src/festival-event/activity/sections/signa-section/signa-section.controller.ts
  apps/api/src/festival-event/activity/sections/supply-section/supply-section.controller.ts
  apps/api/src/festival-event/common/festival-event-error.filter.ts
  apps/api/src/festival-event/task/common/festival-task-common.module.ts
  apps/api/src/festival-event/task/overview/festival-activity-overview.module.ts
  apps/api/src/festival-event/task/overview/festival-task-overview.controller.ts
  apps/api/src/festival-event/task/preview/dto/preview-festival-task-draft.response.dto.ts
  apps/api/src/festival-event/task/preview/dto/preview-festival-task-in-review.response.dto.ts
  apps/api/src/festival-event/task/preview/festival-task-preview.controller.ts
  apps/api/src/festival-event/task/review/festival-task-review.controller.ts
  apps/api/src/festival-event/task/review/festival-task-review.module.ts
  apps/api/src/festival-event/task/sections/general/general-section.controller.ts
  apps/api/src/festival-event/task/sections/inquiry/inquiry-section.controller.ts
  apps/api/src/festival-event/task/sections/instructions/instructions-section.controller.ts
  apps/api/src/festival-event/task/sections/mobilization/mobilization-section.controller.ts
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  domains/festival-event/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): translate ft after ask for review #1583
  apps/api/src/festival-event/task/common/festival-task-common.module.ts
  apps/api/src/festival-event/task/common/repository/festival-task.builder.ts
  apps/api/src/festival-event/task/festival-task.module.ts
  apps/api/src/festival-event/task/overview/festival-task-overview.controller.ts
  apps/api/src/festival-event/task/overview/festival-task-overview.module.ts
  apps/api/src/festival-event/task/overview/festival-task-overview.service.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-task/volunteer-conflicts.ts
Due: overbookd/api_build, overbookd/domains_build, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/domains_unit_test

chore: update versions #1583
  apps/api/package.json
  apps/web/package.json
  domains/festival-event/package.json
  package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

fix(festival-task): tests #1583
  domains/festival-event/src/festival-task/festival-task.test-util.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

refactor: common isDraft function #1583
  apps/api/src/festival-event/task/common/festival-task-common.module.ts
  apps/api/src/festival-event/task/common/repository/ask-for-review.prisma.ts
  apps/api/src/festival-event/task/common/repository/festival-task.query.ts
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/utils/festival-event/festival-task/festival-task.utils.ts
  domains/festival-event/src/festival-activity/ask-for-review/ask-for-review.ts
  domains/festival-event/src/festival-activity/festival-activity.factory.ts
  domains/festival-event/src/festival-activity/festival-activity.ts
  domains/festival-event/src/festival-activity/preparation/festival-activities.inmemory.ts
  domains/festival-event/src/festival-activity/preparation/general-section-preparation.spec.ts
  domains/festival-event/src/festival-activity/preparation/prepare-festival-activity.ts
  domains/festival-event/src/festival-activity/reviewing/reviewing.ts
  domains/festival-event/src/festival-event.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.spec.ts
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
  domains/festival-event/src/index.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

refactor: add return type #1583
  domains/festival-event/src/festival-task/ask-for-review/ask-for-review.ts
Due: overbookd/domains_build, install, overbookd/domains_unit_test

fix(festival-task): display reviewers color in list #1586
  apps/web/pages/ft/index.vue
  apps/web/utils/festival-event/festival-task/festival-task.filter.ts
  apps/web/utils/festival-event/festival-task/festival-task.model.ts
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1586
  apps/web/package.json
  package.json
Due: overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test
