Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, @overbookd/api_build, @overbookd/web_build, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_test, overbookd/web_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

@overbookd/api_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

@overbookd/web_build:
  stage: build
  interruptible: true
  image: node:16-alpine
  script:
  - pnpm i --filter ${PNPM_WORKSPACE}
  - pnpm run --filter ${PNPM_WORKSPACE} build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

frontend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-frontend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: frontend/Dockerfile
  after_script:
  ...

backend_scan:
  interruptible: true
  stage: docker-scan
  before_script:
  - sudo apt update
  - sudo apt install curl -y
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  after_script:
  ...

overbookd-web_docker_pre_build:
  stage: docker-build
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs: []
  script:
  - docker build --target installer --tag $CI_REGISTRY_IMAGE/$APP_NAME:installer --file $APP_PATH/Dockerfile .
  ...

preprod_overbookd-web_docker_build:
  stage: docker-build
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  needs:
  - overbookd-web_docker_pre_build
  before_script:
  - apk update
  - apk add jq
  - VERSION=$(jq -r '.version' ./${APP_PATH}/package.json)
  ...

install:
  stage: install
  script:
  - pnpm i
  artifacts:
    paths:
    - .pnpm-store
    - pnpm-lock.yaml
    - node_modules
    expire_in: 1 hour

feat(personal-account): allow meal sharing. #1283
  domains/personal-account/src/meal-sharing/adherent.ts
  domains/personal-account/src/meal-sharing/adherents.inmemory.ts
  domains/personal-account/src/meal-sharing/meal-sharing.error.ts
  domains/personal-account/src/meal-sharing/meal-sharing.spec.ts
  domains/personal-account/src/meal-sharing/meal-sharing.ts
  domains/personal-account/src/meal-sharing/meal.ts
  domains/personal-account/src/meal-sharing/meals.model.ts
  domains/personal-account/src/meal-sharing/past-meal.ts
  domains/personal-account/src/meal-sharing/shared-meal.ts
  domains/personal-account/src/meal-sharing/shared-meals.inmemory.ts
Due: install

fix(personal-account): wrong import. #1283
  domains/personal-account/src/meal-sharing/adherent.ts
Due: install

chore(personal-account): expose close shared meal event. #1283
  domains/personal-account/src/meal-sharing/adherent.ts
  domains/personal-account/src/meal-sharing/meal-sharing.spec.ts
  domains/personal-account/src/meal-sharing/meal-sharing.ts
  domains/personal-account/src/meal-sharing/meals.model.ts
  domains/personal-account/src/meal-sharing/past-meal.ts
  domains/personal-account/src/meal-sharing/shared-meal.ts
Due: install

feat(personal-account): compute shared meal distribution and related transactions. #1283
  domains/personal-account/src/transaction/shared-meal/shared-meal.spec.ts
  domains/personal-account/src/transaction/shared-meal/shared-meal.ts
  domains/personal-account/src/transaction/transaction.model.ts
Due: install

chore: clean imports. #1283
  domains/personal-account/src/transaction/transaction.model.ts
Due: install

fix(personal-account): don't expose non mandatory types. #1283
  domains/personal-account/src/transaction/transaction.model.ts
Due: install

style: ✍ run format and lint on all modules
  domains/personal-account/src/meal-sharing/adherents.inmemory.ts
  domains/personal-account/src/meal-sharing/meal-sharing.ts
  domains/personal-account/src/meal-sharing/meal.ts
  domains/personal-account/src/transaction/shared-meal/shared-meal.ts
Due: install

chore: update versions. #1283
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore: french accents. #1283
  domains/personal-account/src/meal-sharing/past-meal.ts
Due: install

feat(personal-account): allow meal sharing. #1283
  apps/api/package.json
  apps/web/package.json
  domains/personal-account/package.json
  domains/personal-account/src/alerting/adherents.in-memory.ts
  domains/personal-account/src/alerting/adherents.ts
  domains/personal-account/src/alerting/personal-account-alert.ts
  domains/personal-account/src/alerting/personal-account-alerting.spec.ts
  domains/personal-account/src/alerting/personal-account-alerting.ts
  domains/personal-account/src/current-balance/current-balance-alert.ts
  domains/personal-account/src/in-debt/in-debt-alert.ts
  domains/personal-account/src/index.ts
  domains/personal-account/src/meal-sharing/adherent.ts
  domains/personal-account/src/meal-sharing/adherents.inmemory.ts
  domains/personal-account/src/meal-sharing/meal-sharing.error.ts
  domains/personal-account/src/meal-sharing/meal-sharing.spec.ts
  domains/personal-account/src/meal-sharing/meal-sharing.ts
  domains/personal-account/src/meal-sharing/meal.ts
  domains/personal-account/src/meal-sharing/meals.model.ts
  domains/personal-account/src/meal-sharing/past-meal.ts
  domains/personal-account/src/meal-sharing/shared-meal.ts
  domains/personal-account/src/meal-sharing/shared-meals.inmemory.ts
  domains/personal-account/src/transaction/shared-meal/shared-meal.spec.ts
  domains/personal-account/src/transaction/shared-meal/shared-meal.ts
  domains/personal-account/src/transaction/transaction.model.ts
  package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(deps): update traefik docker tag to v2.10.5
  docker/docker-compose.yml
Due: none

chore(deps): update pnpm to v8.9.0
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  docker/Dockerfile
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-activity/package.json
  domains/permission/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(deps): pin dependencies
  package.json
  pnpm-lock.yaml
Due: install

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

chore(deps): update node.js to v20.8.1
  apps/api/package.json
  apps/web/package.json
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-activity/package.json
  domains/permission/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
Due: @overbookd/api_build, @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_test, overbookd/web_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: change merge requested template
  .gitlab/merge_request_templates/auto-asign.md
  .gitlab/merge_request_templates/merge_to_master.md
  .gitlab/merge_request_templates/merge_to_preprod.md
Due: none

chore: Gitlab template to automatically add reviewers
  .gitlab/merge_request_templates/auto-asign.md
  .gitlab/merge_request_templates/merge_to_master.md
  .gitlab/merge_request_templates/merge_to_preprod.md
Due: none

fix(festival-activity): use only draft fa type #1285
  apps/api/src/festival-activity/dto/preview-festival-activity.reponse.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
  apps/api/src/festival-activity/repository/festival-activity.repository.ts
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/index.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): json test & unused export #1285
  domains/festival-activity/src/creation/creation.spec.ts
  domains/festival-activity/src/creation/draft-festival-activity.ts
Due: install

fix: import #1285
  apps/api/src/festival-activity/festival-activity.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): find request #1285
  apps/api/src/app.module.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/repository/adherent-repository.prisma.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): in memory save # 1285
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

feat(festival-activity): add creation in api #1285
  apps/api/src/festival-activity/dto/create-festival-activity.request.dto.ts
  apps/api/src/festival-activity/dto/preview-festival-activity.reponse.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/adherent-repository.prisma.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
  apps/api/src/festival-activity/repository/festival-activity.repository.ts
  domains/festival-activity/src/creation/creation.spec.ts
  domains/festival-activity/src/creation/festival-activity.factory.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/index.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): update type #1285
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/festival-activity.model.ts
Due: install

feat(festival-activity): add repo in api to find all #1285
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/festival-activity/dto/lite-festival-activity.reponse.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
  apps/api/src/festival-activity/repository/festival-activity.repository.ts
  domains/festival-activity/src/creation/creation.spec.ts
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/creation/festival-activity.factory.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/index.ts
  tsconfig.all-modules-import.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): create type & dto file name #1285
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
  apps/api/src/festival-activity/repository/festival-activity.repository.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: module poviders #1285
  apps/api/src/festival-activity/festival-activity.module.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions #1285
  apps/api/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: pnpm-lock & unused type #2185
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
  domains/festival-activity/src/festival-activity.model.ts
  pnpm-lock.yaml
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(festival-activity): type & example in dto #1285
  apps/api/src/festival-activity/dto/preview-festival-activity.reponse.dto.ts
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/festival-activity.model.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix: add dto in request body #1285
  apps/api/src/festival-activity/festival-activity.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor(festival-activity): Utiliser le domain pour la creation dans l'api #1285
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/festival-activity/dto/create-festival-activity.request.dto.ts
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.module.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  apps/api/src/festival-activity/repository/adherent-repository.prisma.ts
  apps/api/src/festival-activity/repository/festival-activity-repository.inmemory.ts
  apps/api/src/festival-activity/repository/festival-activity.repository.ts
  domains/festival-activity/package.json
  domains/festival-activity/src/creation/creation.spec.ts
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/creation/festival-activity.factory.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/index.ts
  package.json
  pnpm-lock.yaml
  tsconfig.all-modules-import.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(api): define festival activity dto. #1290
  apps/api/package.json
  apps/api/src/festival-activity/dto/adherent.response.dto.ts
  apps/api/src/festival-activity/dto/create-festival-activity.request.dto.ts
  apps/api/src/festival-activity/dto/draft-festival-activity.response.dto.ts
  apps/api/src/festival-activity/dto/preview-festival-activity.response.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  domains/festival-activity/package.json
  domains/festival-activity/src/creation/draft-festival-activity.ts
  domains/festival-activity/src/index.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(api): use type instead of class on controller signature. #1290
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/index.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

chore: update versions. #1290
  apps/api/package.json
  domains/festival-activity/package.json
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

refactor: rename draft festival activity dto. #1290
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(api): use type instead of class on controller signature. #1290
  apps/api/package.json
  apps/api/src/festival-activity/dto/draft-festival-activity.dto.ts
  apps/api/src/festival-activity/festival-activity.controller.ts
  apps/api/src/festival-activity/festival-activity.service.ts
  domains/festival-activity/package.json
  domains/festival-activity/src/festival-activity.model.ts
  domains/festival-activity/src/index.ts
  package.json
Due: @overbookd/api_build, preprod_overbookd-api_publish, install, overbookd/api_test

fix(transfer): transferable user list #1287
  apps/web/components/organisms/personal-account/CreateTransferForm.vue
  apps/web/pages/my-personal-account.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

style(transfer): clean page #1287
  apps/web/components/organisms/personal-account/CreateTransferForm.vue
  apps/web/pages/my-personal-account.vue
Due: @overbookd/web_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  @overbookd/api_build: any of: apps/api/**/*
  @overbookd/web_build: any of: apps/web/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*
  preprod_overbookd-web_publish: any of: apps/web/**/*
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_test: any of: apps/api/**/*
  overbookd/web_test: any of: apps/web/**/*
  ts-prune-backend: any of: backend/**/*
