Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-web_docker_pre_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, overbookd-api_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.11.1-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

fix(borrow): implement it in web #1721
  apps/web/pages/logistic/borrow/_borrowId.vue
  apps/web/pages/logistic/borrow/index.vue
  apps/web/repositories/borrow.repository.ts
  apps/web/store/borrow.ts
  apps/web/store/index.ts
  apps/web/utils/pages/pages-list.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

feat(borrow): add init form #1721
  apps/api/prisma/migrations/20240324115518_delete_borrow_gear_on_cascade/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/logistic/borrow/borrow.service.ts
  apps/web/components/organisms/logistic/borrow/BorrowTable.vue
  apps/web/components/organisms/logistic/borrow/InitBorrowCard.vue
  apps/web/pages/logistic/borrow/_borrowId.vue
  apps/web/pages/logistic/borrow/index.vue
  apps/web/store/borrow.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

prefeat(borrow): add fileds in selected borrow page #1721
  apps/web/pages/logistic/borrow/_borrowId.vue
  apps/web/store/borrow.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions #1721
  apps/api/package.json
  apps/web/package.json
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore: create new nuxt project #1688
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
  .prettierignore
  apps/new-web/.browserslistrc
  apps/new-web/.editorconfig
  apps/new-web/.eslintrc.json
  apps/new-web/.gitignore
  apps/new-web/Dockerfile
  apps/new-web/README.md
  apps/new-web/app.vue
  apps/new-web/middleware/auth.global.ts
  apps/new-web/nuxt.config.ts
  apps/new-web/package.json
  apps/new-web/pages/index.vue
  apps/new-web/pages/login.vue
  apps/new-web/plugins/vuetify.ts
  apps/new-web/public/Constat-Choppe.pdf
  apps/new-web/public/audio/jaune.m4a
  apps/new-web/public/favicon.ico
  apps/new-web/public/img/croutard.jpg
  apps/new-web/public/img/log/plugs.png
  apps/new-web/public/img/logo/Pastis.png
  apps/new-web/public/img/logo/Ricard.png
  apps/new-web/public/img/logo/logo_desktop.png
  apps/new-web/public/img/logo/logo_home_black.png
  apps/new-web/public/img/logo/logo_home_white.png
  apps/new-web/public/img/logo/logo_mobile.png
  apps/new-web/public/img/memes/submit_FT.gif
  apps/new-web/repositories/auth.repository.ts
  apps/new-web/stores/auth.ts
  apps/new-web/tsconfig.json
  apps/new-web/utils/http/http-request.ts
  apps/new-web/utils/http/http-stringified.ts
  docker/docker-compose.yml
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(new-web): :zap: adjust dockerfile and ci
  .dockerignore
  .gitlab-ci.yml
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/check.gitlab-ci.yml
  .gitlab/ci/docker-build.gitlab-ci.yml
  .vscode/settings.json
  apps/api/src/main.ts
  apps/new-web/Dockerfile
  apps/new-web/utils/http/http-request.ts
  apps/web/nuxt.config.js
  docker/docker-compose.yml
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

feat(web): :art: add a tag
  apps/api/prisma/seeders/teams.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

feat(borrow): implement it in web #1721
  apps/api/package.json
  apps/api/prisma/migrations/20240324115518_delete_borrow_gear_on_cascade/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/logistic/borrow/borrow.service.ts
  apps/web/components/organisms/logistic/borrow/BorrowTable.vue
  apps/web/components/organisms/logistic/borrow/InitBorrowCard.vue
  apps/web/package.json
  apps/web/pages/logistic/borrow/_borrowId.vue
  apps/web/pages/logistic/borrow/index.vue
  apps/web/repositories/borrow.repository.ts
  apps/web/store/borrow.ts
  apps/web/store/index.ts
  apps/web/utils/pages/pages-list.ts
  package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(festival-task): display assign conflicts. #1715
  apps/web/components/atoms/chip/VolunteerWithConflictsChip.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1715
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(festival-task): display assign conflicts. #1715
  apps/web/components/atoms/chip/VolunteerWithConflictsChip.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 2.24.0
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v8.15.5
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  docker/Dockerfile
  domains/configuration/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/permission/package.json
  domains/personal-account/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/user/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/list/package.json
  libraries/period/package.json
  libraries/slugify/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(web): rich editor style via header buttons. #1710
  apps/web/components/atoms/field/tiptap/RichEditor.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore: update versions. #1710
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

fix(web): rich editor style via header buttons. #1710
  apps/web/components/atoms/field/tiptap/RichEditor.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/web_unit_test

chore(deps): update docker docker tag to v25.0.5
  .gitlab/ci/docker-build.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(orga-needs): ignore volunteers if ft is deleted #1726
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(orga-needs): ignore volunteers if ft is deleted #1726
  apps/api/package.json
  apps/api/src/orga-needs/orga-needs.service.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(orga-needs): ignore deleted volunteer availabilities #1727
  apps/api/src/orga-needs/orga-needs.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1727
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(orga-needs): ignore deleted volunteer availabilities #1727
  apps/api/package.json
  apps/api/src/orga-needs/orga-needs.service.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: dto description #1656
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/user.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: message #1656
  apps/api/src/registration/registration.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(user): update & fetch note #1656
  apps/api/prisma/migrations/20240322151909_add_user_note/migration.sql
  apps/api/src/team/team.service.ts
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/molecules/registration/VolunteerDetails.vue
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/store/user.ts
  apps/web/utils/models/user.model.ts
  domains/user/src/user-form.model.ts
  domains/user/src/user.model.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(registration): add volunteer note #1656
  apps/api/prisma/schema.prisma
  apps/api/src/registration/dto/newcomer.response.dto.ts
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.query.ts
  apps/web/components/molecules/registration/VolunteerDetails.vue
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(user): note return in api #1656
  apps/api/src/team/team.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1656
  apps/api/package.json
  apps/web/package.json
  domains/user/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat(registration): add volunteer note #1656
  apps/api/package.json
  apps/api/prisma/migrations/20240322151909_add_user_note/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/registration/dto/newcomer.response.dto.ts
  apps/api/src/registration/registration.service.ts
  apps/api/src/registration/repository/enroll-newcomers-repository.prisma.ts
  apps/api/src/registration/repository/enroll-newcomers.query.ts
  apps/api/src/user/dto/update-user.request.dto.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/molecules/registration/VolunteerDetails.vue
  apps/web/components/molecules/user/VolunteerPersonalDataForm.vue
  apps/web/package.json
  apps/web/store/user.ts
  apps/web/utils/models/user.model.ts
  domains/user/package.json
  domains/user/src/user-form.model.ts
  domains/user/src/user.model.ts
  package.json
  utils/http/package.json
  utils/http/src/registration.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 2.24.1
  CHANGELOG.md
  package.json
Due: preprod_overbookd-api_publish, preprod_overbookd-web_publish

prefeat(logistic-dashboard): implement borrows #1728
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.model.ts
  apps/api/src/logistic/dashboard/repository/dashboard.query.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #1728
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

prefeat(logistic-dashboard): implement borrows in preview #1728
  apps/api/package.json
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.model.ts
  apps/api/src/logistic/dashboard/repository/dashboard.query.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, preprod_overbookd-web_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(dashboard-logistic): implement borrow in details in api #1729
  apps/api/src/logistic/dashboard/repository/dashboard-gear-inquiry.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock-discrepancy.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.ts
  apps/api/src/logistic/dashboard/repository/dashboard.spec.ts
  utils/http/src/logistic/dashboard.model.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: GearBorrow type & dto #1729
  apps/api/src/logistic/dashboard/dto/gear-details.response.dto.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear-stock.ts
  apps/api/src/logistic/dashboard/repository/dashboard-gear.test-utils.ts
  utils/http/src/index.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, preprod_overbookd-api_publish, install, overbookd/api_unit_test, overbookd/api_e2e_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-web_docker_pre_build: (not (any of: apps/web/**/*)) and (any of: apps/web/**/*)
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  overbookd-api_docker_build: (not (any of: apps/api/**/*)) and (any of: apps/api/**/*)
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
