Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-backend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

backend_scan_preprod:
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:pre-prod
    DOCKERFILE_PATH: backend/Dockerfile
  stage: docker-scan

containerize-frontend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  ...

merge_requests_containerize-frontend:
  image: docker
  needs:
  - buildx
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - mkdir -p ~/.docker/cli-plugins
  - mv buildx ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  script:
  ...

feat: :sparkles: auto clean up old pipelines
  .gitlab-ci.yml
  .gitlab/ci/clean.sh
  .gitlab/ci/clean_up_pipelines.gitlab-ci.yml
Due: none

style(ci): :art: better rules for clean up & triage
  .gitlab/ci/clean_up_pipelines.gitlab-ci.yml
  .gitlab/ci/triage.gitlab-ci.yml
Due: none

feat(back): :art: Remove todos and add auth
  backend/src/entities/Conflict.ts
  backend/src/routes/Conflict.ts
  backend/src/routes/index.ts
  backend/src/services/timeFrame.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(back): :bug: TS error for conflict route param type
  backend/src/routes/Conflict.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

feat(back): :sparkles: Deleted FTs does not compute conflicts
  backend/src/entities/FT.ts
  backend/src/routes/Conflict.ts
  backend/src/routes/FT.ts
  backend/src/services/conflict.ts
  backend/src/services/timeFrame.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

fix(info_soft): :zap: afficahge du nom + prénom complet
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(info_soft): :zap: encore meilleur afficahge
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(calendrier_dispo): :zap: centrage du calendrier sur la manif
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve "information soft"
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(Back): :bug: Hotfix charisme, n'est plus infini
  backend/src/routes/Users.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

Correctifs soft
  backend/src/routes/Users.ts
  frontend/components/organisms/userInformation.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Merge modifs
  .gitignore
  docker/data/prod/images/.gitkeep
  docker/data/prod/mongo/configdb/.gitkeep
  docker/data/prod/mongo/db/.gitkeep
  docker/data/prod/mongo/db/keycloak/.gitkeep
  frontend/pages/stats.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Merge modifs
  docker/data/prod/keycloak/.gitkeep
  docker/docker-compose-dev.yml
Due: none

Resolve "[Analyse] Page Statistique FA/FT"
  backend/src/entities/FA.ts
  backend/src/routes/FA.ts
  backend/src/routes/FT.ts
  backend/src/routes/index.ts
  frontend/components/Needs.vue
  frontend/components/NeedsCard.vue
  frontend/pages/stats.vue
  frontend/repositories/faRepo.ts
  frontend/repositories/ftRepo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Resolve some artefacts
  backend/src/routes/FA.ts
  frontend/components/FTChart.vue
  frontend/utils/charts/BarChart.js
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

Hot fix inscription
  config/config.json
  frontend/layouts/default.vue
  frontend/pages/login.vue
  frontend/pages/signup.vue
Due: configurator, containerize-frontend, merge_requests_containerize-frontend

Inscription_soft
  config/config.json
  frontend/components/organisms/userInformation.vue
  frontend/components/organisms/userNotifications.vue
  frontend/config/configs.json
  frontend/layouts/default.vue
  frontend/pages/humans.vue
  frontend/pages/index.vue
  frontend/pages/signup.vue
  frontend/utils/roles/index.ts
Due: configurator, containerize-frontend, merge_requests_containerize-frontend

Resolve "fix inscription soft"
  config/config.json
  frontend/pages/humans.vue
  frontend/pages/signup.vue
Due: configurator, containerize-frontend, merge_requests_containerize-frontend

Remove unuse lines
  backend/src/routes/FA.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod

add base horizontal chart
  frontend/components/FTChart.vue
  frontend/pages/stats.vue
  frontend/utils/charts/BarChart.js
Due: containerize-frontend, merge_requests_containerize-frontend

Stats vue
  frontend/components/Needs.vue
  frontend/components/NeedsCard.vue
  frontend/pages/stats.vue
  frontend/repositories/faRepo.ts
Due: containerize-frontend, merge_requests_containerize-frontend

getFAsNumber function ok - WIP view
  .gitignore
  backend/src/entities/FA.ts
  backend/src/routes/FA.ts
  backend/src/routes/index.ts
  docker/data/prod/images/.gitkeep
  docker/data/prod/keycloak/.gitkeep
  docker/data/prod/mongo/configdb/.gitkeep
  docker/data/prod/mongo/db/.gitkeep
  docker/docker-compose-dev.yml
  frontend/components/Needs.vue
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

FT & FA views work
  backend/src/routes/FA.ts
  backend/src/routes/FT.ts
  backend/src/routes/index.ts
  frontend/components/Needs.vue
  frontend/pages/stats.vue
  frontend/repositories/ftRepo.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

history ok
  frontend/components/Needs.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Resolve index problems
  backend/src/routes/index.ts
  frontend/components/FTChart.vue
  frontend/utils/charts/BarChart.js
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

feat(assignment): fix more store assignment isssues #368
  backend/src/routes/TimeSpan.ts
  backend/src/routes/index.ts
  backend/src/services/slicing.ts
  frontend/components/listTasks.vue
  frontend/store/assignment.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend

chore(patch): 🎉 v0.20.2
  frontend/package.json
  frontend/static/img/memes/home_meme.jpg
Due: containerize-frontend, merge_requests_containerize-frontend

fix(ci): :bug: oublie d'enlever le before_script
  .gitlab/ci/triage.gitlab-ci.yml
Due: none

feat(dispo): :sparkles: Custom calendar to display availabilities
  frontend/components/molecules/AvailabilitiesCalendar.vue
  frontend/components/organisms/userInformation.vue
Due: containerize-frontend, merge_requests_containerize-frontend

feat(dispo): :sparkles: adding availabilities calendar to the index
  frontend/pages/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

fix(dispo): :zap: invert calendar and CP on index
  frontend/pages/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

style(calendrier_dispo): :lipstick: little css Fix
  frontend/pages/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

reduce number of ft per page
  frontend/pages/ft/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Watermark + reduce ft tabs length
  frontend/layouts/default.vue
  frontend/pages/ft/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
