Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*

fix(nav): clean search field after navigation #2349
  apps/web/layouts/navigation/DesktopSideNav.vue
  apps/web/layouts/navigation/SideNavPageItem.vue
  apps/web/layouts/navigation/SideNavPageList.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.24.1
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

refactor: des trucs #2220
  apps/web/utils/calendar/calendar.presenter.spec.ts
  apps/web/utils/calendar/calendar.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: type #2220
  apps/web/utils/calendar/calendar.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: vraiment cette fois #2220
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: overlapping events #2220
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/utils/calendar/calendar-mode.ts
  apps/web/utils/calendar/calendar.presenter.spec.ts
  apps/web/utils/calendar/calendar.presenter.ts
  apps/web/utils/calendar/calendar.utils.ts
  apps/web/utils/calendar/day.presenter.spec.ts
  apps/web/utils/calendar/day.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: lint #2220
  apps/web/components/molecules/calendar/CalendarManager.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: calendar #2220
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/utils/calendar/calendar.presenter.spec.ts
  apps/web/utils/calendar/calendar.presenter.ts
  apps/web/utils/calendar/day.presenter.spec.ts
  apps/web/utils/calendar/day.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: oups j'ai oublié un truc #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

refactor: des trucs #2220
  apps/web/utils/calendar/calendar.presenter.ts
  apps/web/utils/calendar/day.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

refactor: pitié valide
  apps/web/utils/calendar/calendar.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: add hard option in contributions filter #2351
  apps/web/components/organisms/contribution/ContributionsTableCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2351
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: add hard option in contributions filter #2351
  apps/web/components/organisms/contribution/ContributionsTableCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(web): Add dropdown menu for mobile
  apps/web/layouts/header/HeaderProfile.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

style(web): change the way to add the menu on mobile #2332
  apps/web/layouts/header/HeaderProfile.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: Update versions. #2332
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: components name #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/utils/navigation/pages/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: availabilities #2220
  apps/web/assets/style.scss
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarEvent.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/utils/availabilities/calendar-event-periods.ts
  apps/web/utils/calendar/calendar.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

prefeat(availabilitites): add custom calendar components #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarEvent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: calendar build #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/plugins/vuetify.client.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: v-model #2220
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/pages/charisma/periods.vue
  apps/web/pages/fa/[id].vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

refactor(calendar): add calendar event presenter #2220
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarEvent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/utils/calendar/calendar-mode.ts
  apps/web/utils/calendar/calendar.presenter.spec.ts
  apps/web/utils/calendar/calendar.presenter.ts
  apps/web/utils/calendar/calendar.utils.ts
  apps/web/utils/calendar/day.presenter.spec.ts
  apps/web/utils/calendar/day.presenter.ts
  libraries/time/src/date/date.spec.ts
  libraries/time/src/date/date.ts
  libraries/time/src/duration/duration.ts
  libraries/time/src/period/period.ts
Due: overbookd/web_build, overbookd/libraries_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/libraries_unit_test

prefeat(calendar): add click event #2220
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

refactor: merge components #2220
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarEvent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: tests #2220
  domains/volunteer-availability/src/select.spec.ts
Due: overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/domains_unit_test

refactor: move function #2220
  apps/web/utils/calendar/calendar.presenter.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: use OverDate #2220
  apps/web/components/molecules/calendar/CalendarEvent.vue
  apps/web/components/molecules/calendar/CalendarManager.vue
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarEvent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilititesCalendarManager.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/components/organisms/volunteer/trombinoscope/Trombinoscope.vue
  apps/web/pages/charisma/periods.vue
  apps/web/pages/fa/[id].vue
  apps/web/pages/index.vue
  apps/web/stores/configuration.ts
  apps/web/utils/availabilities/calendar-event-periods.ts
  apps/web/utils/calendar/calendar.utils.ts
  libraries/time/src/date/date.spec.ts
  libraries/time/src/date/date.ts
Due: overbookd/web_build, overbookd/libraries_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/libraries_unit_test

feat: availabilities on desktop #2220
  apps/web/components/molecules/calendar/DailyCalendarHeader.vue
  apps/web/components/molecules/calendar/WeeklyCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarEvent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesCalendarHeader.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/stores/volunteer-availability.ts
  apps/web/utils/availabilities/calendar-event-periods.ts
  domains/volunteer-availability/src/availabilities.ts
  domains/volunteer-availability/src/date.ts
Due: overbookd/web_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test, overbookd/domains_unit_test

prefeat: fix stepper #2220
  apps/web/components/molecules/calendar/DailyCalendarContent.vue
  apps/web/components/molecules/calendar/WeeklyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesDailyCalendarContent.vue
  apps/web/components/molecules/calendar/availabilities/AvailabilitiesMultiDayCalendarContent.vue
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
  apps/web/pages/charisma/periods.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

prefeat(availabilities): display periods with charisma #2220
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/calendar/OverCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix: calendar event creation #2220
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2220
  apps/api/package.json
  apps/web/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/volunteer-availability/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/domain-events/package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

prefeat(planning): create pages #2260
  apps/web/components/organisms/planning/VolunteerPlanningCalendar.vue
  apps/web/pages/planning/[userId].vue
  apps/web/pages/planning/index.vue
  apps/web/utils/navigation/pages/volunteer.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): simplify profile menu behavior and improve dropdown visibility
  apps/web/layouts/header/HeaderProfile.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v9.15.3
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update traefik docker tag to v3.3.1
  docker/docker-compose.yml
Due: none
