Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:20.11.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-api_docker_build:
  needs:
  - overbookd-api_docker_pre_build
  variables:
    APP_PATH: apps/api
    APP_NAME: api

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update api dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: pnpm 10.6.4
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v10.6.3
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dependency pnpm to v10.6.4
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 3.40.1
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

chore: update versions #2454
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: registration picture #2454
  apps/web/domain/login/pictures.ts
  apps/web/pages/register.vue
  apps/web/public/img/glass.jpg
  apps/web/public/img/orga-49.jpg
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(registration): membership application for first login
  apps/web/stores/registration/membership-application.ts
  apps/web/stores/user.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(registration): membership application for first login
  apps/web/package.json
  apps/web/stores/registration/membership-application.ts
  apps/web/stores/user.ts
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.40.2
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(preferance): update no rest preference label
  utils/http/src/preference.ts
Due: none

chore: update versions
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix: label
  utils/http/src/preference.ts
Due: none

fix(preference): update no rest preference label
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
  utils/http/src/preference.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(release): ⬆️ bump to 3.40.3
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

chore(deps): update dependency jose to v6
  domains/registration/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update dockerfile dependencies
  docker/docker-compose.yml
Due: none

feat(web): show assignment preference in information dialog card #2447
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  utils/user/src/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(deps): update dependency pnpm to v10.6.5
  .gitlab/ci/setup-pnpm.gitlab-ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  constants/festival-event-constants/package.json
  constants/permission/package.json
  constants/team-constants/package.json
  constants/web-page/package.json
  docker/Dockerfile
  domains/access-manager/package.json
  domains/assignment/package.json
  domains/charisma/package.json
  domains/contribution/package.json
  domains/festival-event/package.json
  domains/logistic/package.json
  domains/personal-account/package.json
  domains/planning/package.json
  domains/registration/package.json
  domains/signa/package.json
  domains/volunteer-availability/package.json
  libraries/event/package.json
  libraries/geo-location/package.json
  libraries/list/package.json
  libraries/money/package.json
  libraries/pdf-book/package.json
  libraries/slugify/package.json
  libraries/time/package.json
  package.json
  utils/alerts/package.json
  utils/configuration/package.json
  utils/domain-events/package.json
  utils/http/package.json
  utils/team/package.json
  utils/user/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update docker docker tag to v28.0.2
  .gitlab/ci/docker-build-base.gitlab-ci.yml
  .gitlab/ci/docker-publish.gitlab-ci.yml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): update web dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore: replace jest by vitest in api #1984
  apps/api/README.md
  apps/api/package.json
  apps/api/src/app.controller.spec.ts
  apps/api/src/authentication/authentication.service.spec.ts
  apps/api/src/hashing-utils/hashing-utils.service.spec.ts
  apps/api/src/logistic/catalog/catalog.service.spec.ts
  apps/api/src/logistic/catalog/category.service.spec.ts
  apps/api/src/logistic/dashboard/domain/dashboard.spec.ts
  apps/api/src/logistic/inventory/inventory.service.spec.ts
  apps/api/src/user/planning/domain/planning.spec.ts
  apps/api/test/app.e2e-spec.ts
  apps/api/test/jest-e2e.json
  apps/api/test/team.e2e-spec.ts
  apps/api/test/vitest-ci.e2e-config.ts
  apps/api/test/vitest.e2e-config.ts
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix: prune & unit tests #1984
  apps/api/package.json
  apps/api/src/app.controller.spec.ts
  apps/api/src/app.controller.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix: e2e ci command #1984
  apps/api/package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(web): change fetching data logic
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.query.ts
  apps/api/src/user/user.service.ts
  apps/web/components/organisms/volunteer/VolunteerInformationDialogCard.vue
  utils/user/src/user.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
