Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, backend-test, overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd/format, overbookd/prune, configurator, frontend_scan, backend_scan, overbookd-api_docker_pre_build, overbookd-api_docker_build, overbookd-web_docker_pre_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, m-r_backend_container, m-r_frontend_container, preprod_backend_container, preprod_frontend_container, containerize-frontend, merge_requests_containerize-frontend, install, lintage-frontend, lintage-backend, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test, ts-prune-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

backend-test:
  stage: test
  interruptible: true
  image: node
  script:
  - cd backend
  - npm install
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit: backend/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage/cobertura-coverage.xml

overbookd/api_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/api'

overbookd/web_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '@overbookd/web'

overbookd/libraries_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{libraries/**}'

overbookd/domains_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{domains/**}'

overbookd/constants_build:
  stage: build
  interruptible: true
  image: node:22.18.0-alpine
  script:
  - pnpm i --filter "${PNPM_WORKSPACE}..."
  - pnpm run --filter "${PNPM_WORKSPACE}..." build:ci
  needs:
  - install
  variables:
    PNPM_WORKSPACE: '{constants/**}'

overbookd/format:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  before_script:
  - - .setup-git
    - script
  - - .setup-pnpm
    - before_script
  - git checkout -b $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME ssh_origin/$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  needs:
  - install
  script:
  - pnpm run format
  - pnpm run lint
  ...

overbookd/prune:
  stage: check
  interruptible: true
  image: node:20.17.0-alpine
  needs:
  - install
  before_script:
  - corepack enable
  - corepack prepare pnpm@latest-8 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm i
  script:
  - pnpm run prune

overbookd-api_docker_pre_build:
  variables:
    APP_PATH: apps/api
    APP_NAME: api

overbookd-web_docker_pre_build:
  variables:
    APP_PATH: apps/web
    APP_NAME: web

chore(deps): update root package dependencies
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

fix(deps): add conventional-changelog-writer
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

revert: conventional-changelog-writer
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(deps): pin conventional-changelog
  package.json
  pnpm-lock.yaml
Due: overbookd/api_build, overbookd/web_build, overbookd/libraries_build, overbookd/domains_build, overbookd/constants_build, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test, overbookd/libraries_unit_test, overbookd/domains_unit_test

chore(release): ⬆️ bump to 4.0.0
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(user): skip duplicates when adding teams to guest user #2792
  apps/api/src/user/user.service.ts
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, preprod_overbookd-api_publish, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore: update versions #2792
  apps/api/package.json
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

fix(api): skip duplicates when adding teams to guest user #2792
  apps/api/package.json
  apps/api/src/user/user.service.ts
  package.json
Due: overbookd/api_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test

chore(release): ⬆️ bump to 4.0.1
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

fix(web): update image max size to match zitadel #2793
  apps/web/utils/rules/input.rules.ts
  utils/http/src/image.ts
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2793
  apps/api/package.json
  apps/web/package.json
  package.json
  utils/http/package.json
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

fix(web): update image max size to match zitadel #2793
  apps/api/package.json
  apps/web/package.json
  apps/web/utils/rules/input.rules.ts
  package.json
  utils/http/package.json
  utils/http/src/image.ts
Due: overbookd/api_build, overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/api_unit_test, overbookd/api_e2e_test, overbookd/web_unit_test

chore(release): ⬆️ bump to 4.0.2
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

chore: update clean data sql script #2790
  tools/sql-script/clean-data-49e.sql
Due: none

chore: add scripts to update profile information and add zitadel roles #2790
  tools/python-script/add_zitadel_roles_to_past_organizers.py
  tools/python-script/migrate_accounts_to_zitadel.py
  tools/python-script/update_zitadel_profile_information.py
Due: none

chore: add script to find duplicate zitadel accounts #2790
  tools/python-script/find_duplicate_zitadel_users.py
Due: none

chore: update scripts #2790
  tools/python-script/add_zitadel_roles_to_past_organizers.py
  tools/python-script/update_zitadel_profile_information.py
Due: none

chore: fix overookd prod project id #2790
  tools/python-script/find_duplicate_zitadel_users.py
  tools/python-script/migrate_accounts_to_zitadel.py
Due: none

chore: add scripts to update Zitadel information and roles #2790
  tools/python-script/add_zitadel_roles_to_past_organizers.py
  tools/python-script/find_duplicate_zitadel_users.py
  tools/python-script/migrate_accounts_to_zitadel.py
  tools/python-script/update_zitadel_profile_information.py
  tools/sql-script/clean-data-49e.sql
Due: none

fix(configuration): add details on event dates #2794
  apps/web/package.json
  apps/web/pages/configuration.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): festival event validation icon height #2797
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2797
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): use gaps instead of margins #2797
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(we): display only if there are reviewers #2797
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

fix(web): festival event validation icon height #2797
  apps/web/components/organisms/festival-event/FestivalEventSidebar.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

chore(release): ⬆️ bump to 4.0.3
  CHANGELOG.md
  package.json
Due: overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan

feat(web): add google maps redirection icon on task details
  apps/web/components/molecules/planning/TaskDetailsDialogCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(web): add google maps redirection icon on task details #2761
  apps/web/components/molecules/planning/TaskDetailsDialogCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): inclusive wording on admission pages #2796
  apps/web/pages/registrations/staff.vue
  apps/web/pages/registrations/volunteer.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2796
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): inclusive wording on admission pages #2796
  apps/web/package.json
  apps/web/pages/registrations/staff.vue
  apps/web/pages/registrations/volunteer.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(web): profile picture preview layout on edit profile dialog
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix(web): corrections des commentaires
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(web): improve edit profile dialog layout
  apps/web/components/organisms/volunteer/EditProfileDialogCard.vue
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

feat(web): rework availabilities page UI/UX #2798
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/pages/availabilities.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

chore: update versions #2798
  apps/web/package.json
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

fix: retours polo
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-web_publish, overbookd-web_scan, install, overbookd/web_unit_test

feat(web): rework availabilities page UI/UX #2798
  apps/web/components/organisms/availabilities/AvailabilitiesPickCalendar.vue
  apps/web/components/organisms/availabilities/AvailabilitiesStepper.vue
  apps/web/package.json
  apps/web/pages/availabilities.vue
  package.json
Due: overbookd/web_build, overbookd/format, overbookd/prune, overbookd-api_docker_build, overbookd-web_docker_build, preprod_overbookd-web_docker_build, prod_overbookd-web_docker_build, preprod_overbookd-api_publish, preprod_overbookd-web_publish, overbookd-web_scan, overbookd-api_scan, install, overbookd/web_unit_test

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  backend-test: any of: backend/**/*
  overbookd/api_build: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_build: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_build: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_build: any of: domains/**/*, pnpm-lock.yaml
  overbookd/constants_build: any of: constants/**/*, pnpm-lock.yaml
  overbookd/format: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  overbookd/prune: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*
  configurator: any of: config/config.json
  frontend_scan: any of: frontend/**/*
  backend_scan: any of: backend/**/*
  overbookd-api_docker_pre_build: any of: apps/api/Dockerfile
  overbookd-api_docker_build: (any of: apps/api/**/*, package.json) or ((not (any of: apps/api/**/*)) and (any of: apps/api/**/*))
  overbookd-web_docker_pre_build: (any of: apps/web/Dockerfile) or ((not (any of: apps/web/**/*)) and (any of: apps/web/**/*))
  overbookd-web_docker_build: any of: apps/web/**/*, package.json
  preprod_overbookd-web_docker_build: any of: apps/web/**/*
  prod_overbookd-web_docker_build: any of: apps/web/**/*
  preprod_overbookd-api_publish: any of: apps/api/**/*, package.json
  preprod_overbookd-web_publish: any of: apps/web/**/*, package.json
  overbookd-web_scan: any of: apps/web/**/*, package.json
  overbookd-api_scan: any of: apps/api/**/*, package.json
  m-r_backend_container: any of: backend/**/*
  m-r_frontend_container: any of: frontend/**/*
  preprod_backend_container: any of: backend/**/*
  preprod_frontend_container: any of: frontend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  install: any of: apps/**/*, libraries/**/*, domains/**/*, constants/**/*, pnpm-lock.yaml
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
  overbookd/api_unit_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/api_e2e_test: any of: apps/api/**/*, pnpm-lock.yaml
  overbookd/web_unit_test: any of: apps/web/**/*, pnpm-lock.yaml
  overbookd/libraries_unit_test: any of: libraries/**/*, pnpm-lock.yaml
  overbookd/domains_unit_test: any of: domains/**/*, pnpm-lock.yaml
  ts-prune-backend: any of: backend/**/*
