Repository 24HeuresINSA/Overbookd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

containerize-backend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-backend:
  interruptible: true
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA ./backend
  ...

configurator:
  stage: configurator
  services:
  - name: docker:dind
    command:
    - --experimental
  image: ubuntu
  before_script:
  - apt update
  - apt install curl -y
  script:
  - sh ./.gitlab/ci/configurator.sh

backend_scan_preprod:
  interruptible: true
  needs:
  - merge_requests_containerize-backend
  variables:
    DOCKER_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
    DOCKERFILE_PATH: backend/Dockerfile
  stage: docker-scan

containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

merge_requests_containerize-frontend:
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  stage: docker
  script:
  - docker build ./frontend

lintage-frontend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

lintage-backend:
  interruptible: true
  image: node
  stage: lintage
  before_script:
  - eval $(ssh-agent -s)
  - mkdir ~/.ssh/
  - echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - echo "Host gitlab.com" >> ~/.ssh/config
  - echo "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
  ...

doc(teams): :memo: factorize dtos. #627
  backend/src/team/dto/createTeam.dto.ts
  backend/src/team/dto/linkTeamUser.dto.ts
  backend/src/team/dto/teamFormRequest.dto.ts
  backend/src/team/dto/teamResponse.ts
  backend/src/team/team.controller.ts
  backend/src/team/team.service.ts
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, lintage-backend

refactor(frontend): :art: End Rework FA
  frontend/pages/fa/_fa.vue
  frontend/pages/fa/index.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Change team from config for teams from DB
  backend/prisma/migrations/20221031202924_add_id_on_team/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/auth/entities/JwtPayload.entity.ts
  backend/src/auth/team-auth.guard.ts
  backend/src/config/config.service.ts
  backend/src/team/dto/createTeam.dto.ts
  backend/src/team/dto/linkTeamUser.dto.ts
  backend/src/team/dto/teamFormRequest.dto.ts
  backend/src/team/dto/teamResponse.ts
  backend/src/team/team.controller.ts
  backend/src/team/team.service.ts
  backend/src/user/user.service.ts
  config/config.json
  frontend/components/atoms/MiniUserBadge.vue
  frontend/components/atoms/TeamSearchField.vue
  frontend/components/atoms/overChips.vue
  frontend/components/atoms/overChipsLight.vue
  frontend/components/atoms/validators-icons.vue
  frontend/components/filtredUsers.vue
  frontend/components/molecules/notificationBroadcastDialog.vue
  frontend/components/organisms/UserResume.vue
  frontend/components/organisms/userInformation.vue
  frontend/components/overField.vue
  frontend/middleware/team.js
  frontend/nuxt.config.js
  frontend/pages/fa/_fa.vue
  frontend/pages/fa/index.vue
  frontend/pages/ft/_ft.vue
  frontend/pages/ft/ft_420.vue
  frontend/pages/ft/index.vue
  frontend/pages/humans.vue
  frontend/store/config.ts
  frontend/store/index.ts
  frontend/store/team.ts
  frontend/utils/models/repo.ts
  tools/teamUpdate/readme.md
  tools/teamUpdate/setTeamTable.py
  tools/teamUpdate/setUserTeamTable.py
  tools/teamUpdate/teamConfig.json
Due: containerize-backend, merge_requests_containerize-backend, configurator, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

ci: :art: add var to chose witch jobs to run in schedule
  .gitlab/ci/clean_up_pipelines.gitlab-ci.yml
  .gitlab/ci/security_rules.gitlab-ci.yml
  .gitlab/ci/triage.gitlab-ci.yml
  .gitlab/ci/unconfidentializer.gitlab-ci.yml
Due: none

ci(triage): :wrench: Daly QoL message on issues
  .gitlab/triage_policies/rules/0.6.0.add_QoL_milestone.yml
Due: none

ci(triage): :boom: add no closed issue comment
  .gitlab/triage_policies/rules/1.4.no_closed_issues_in_mr.yml
Due: none

ci(Docker): :mute: auto remove MR images on registry
  .gitlab/ci/container_scan.gitlab-ci.yml
Due: none

ci: :art: no file needs fot after_script
  .gitlab/ci/container_scan.gitlab-ci.yml
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
Due: none

style(Docker): :art: Update node version, non-root images & refacto docker back
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/package.json
  docker/compose.sh
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: containerize-backend, merge_requests_containerize-backend, backend_scan_preprod, containerize-frontend, merge_requests_containerize-frontend, lintage-frontend, lintage-backend

ci(Config): :fire: remove config files and configurator
  .gitlab/ci/configurator.gitlab-ci.yml
  .gitlab/ci/configurator.sh
  config/config.json
Due: configurator

ci(Config): :fire: remove config files and configurator
  .gitlab-ci.yml
Due: none

ci: :art: rename docker scan jobs
  .gitlab/ci/container_scan.gitlab-ci.yml
Due: none

ci(Docker): :zap: using docker cache
  .gitlab/ci/backend_containerize.gitlab-ci.yml
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

ci: :art: tagging image for front
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
Due: none

ci(triage): :construction_worker: adding verisonning helper
  .gitlab/triage_policies/rules/1.3.no_version_update.yml
  .vscode/project.code-workspace
Due: none

style(Secu): :lock: remove critical secu issues
  tools/migrateUsers.py
Due: none

style(Docker): :art: Update node version, non-root images & refacto docker back
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

ci(Docker): :zap: using docker cache
  .gitlab/ci/frontend_containerize.gitlab-ci.yml
  frontend/Dockerfile
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

fix(ci): :bug: correct registry id
  .gitlab/ci/container_scan.gitlab-ci.yml
Due: none

refactor(Front): :art: Début tri components
  frontend/components/README.md
  frontend/components/filtredUsers.vue
  frontend/components/molecules/friends/FriendsCard.vue
  frontend/components/molecules/friends/FriendsDisplay.vue
  frontend/components/molecules/logistics/LogisticsSelector.vue
  frontend/components/molecules/logistics/LogisticsTable.vue
  frontend/components/molecules/notifications/NotificationBroadcastDialog.stories.js
  frontend/components/molecules/notifications/NotificationBroadcastDialog.vue
  frontend/components/molecules/notifications/NotificationCard.stories.js
  frontend/components/molecules/notifications/NotificationCard.vue
  frontend/components/molecules/snack/SnackNotificationContainer.stories.js
  frontend/components/molecules/snack/SnackNotificationContainer.vue
  frontend/components/molecules/timeframe/CompleteTimeframeTable.vue
  frontend/components/molecules/timeframe/TimeframeSelector.vue
  frontend/components/molecules/timeslot/TimeslotAdder.vue
  frontend/components/molecules/timeslot/TimeslotEditor.vue
  frontend/components/molecules/timeslot/TimeslotTable.vue
  frontend/components/organisms/equipment/EquipmentDialog.vue
  frontend/components/organisms/equipment/EquipmentInformations.vue
  frontend/components/organisms/equipment/EquipmentProposalDialog.vue
  frontend/components/organisms/equipment/EquipmentProposalDialogPage.vue
  frontend/components/organisms/equipment/EquipmentProposalTable.vue
  frontend/components/organisms/equipment/EquipmentProposalValidationDialog.vue
  frontend/components/organisms/form/CompleteTimeframeSelector.vue
  frontend/components/organisms/form/LogisticsCard.vue
  frontend/components/organisms/form/fa/ElecLogisticCard.vue
  frontend/components/organisms/form/fa/FTCard.vue
  frontend/components/organisms/form/fa/OverSigna.vue
  frontend/components/organisms/form/fa/PassSecuCard.vue
  frontend/components/organisms/form/fa/TimeframeTable.vue
  frontend/components/organisms/form/ft/CompleteTimeframeCard.vue
  frontend/components/organisms/userNotifications.vue
  frontend/pages/fa/_fa.vue
  frontend/pages/ft/_ft.vue
  frontend/pages/ft/index.vue
  frontend/pages/index.vue
  frontend/pages/inventory.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

refactor(Front): :art: Add PrestaCard (front only)
  frontend/components/organisms/form/fa/PrestaCard.vue
Due: containerize-frontend, merge_requests_containerize-frontend, lintage-frontend

Path conditions:
  containerize-backend: any of: backend/**/*
  merge_requests_containerize-backend: (any of: backend/**/*) or (any of: backend/*)
  configurator: any of: config/config.json
  backend_scan_preprod: any of: backend/**/*
  containerize-frontend: any of: frontend/**/*
  merge_requests_containerize-frontend: any of: frontend/**/*
  lintage-frontend: any of: frontend/**/*
  lintage-backend: any of: backend/**/*
